<div class="row">
    <aside id="side-nav" class="col-12 col-lg-2 bg-dark vh-100 text-light position-fixed p-3" style="border: 3px solid rgb(172, 184, 255); border-top: none;">
        <ul>
            <li>
                Day 3:
                <ul>
                    <li>
                        <a>Assignment 1</a>
                    </li>
                    <li>
                        <a>Practice 1</a>
                    </li>
                    <li>
                        <a>Practice 2</a>
                    </li>
                </ul>
            </li>
        </ul>
    </aside>
    <div class="col-10">

    </div>
</div>