.main-container1{
    height: 1000px;
    width: auto;
    background-color: aquamarine;
    border: 4px solid black;
    position: static;
    
}
h1{
    margin-block-start: 0em;
    margin-block-end: 0em;
}
h2{
    margin-block-start: 0em;
    margin-block-end: 0em;
}
header{
    height: 50px;
    width: auto;
    position: sticky;
    top: 0;
    background-color: crimson;
    color: black;
    border: 3px solid black;
    text-align: center;
    padding: 10px;
}
.left-section{
    height: 300px;
    width:300px;
    float: left;
    position: relative;
    top:50px;
    left: 30px;
    border: 3px solid black;
}
.middle-section{
    height: 300px;
    width:750px;
    float: left;
    position: relative;
    top:50px;
    left: 60px;
    border: 3px solid black;
}
.absolute-section-1{
    float: left;
    height: 150px;
    width:350px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    border: 2px solid black;
    overflow: hidden;
}
.absolute-section-2{
    float: left;
    height: 150px;
    width:350px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    border: 2px solid black;
    overflow: auto;
    overflow-x: hidden;
}
.right-section{
    height: 300px;
    width:300px;
    float: right;
    position: relative;
    top:50px;
    right: 30px;
    border: 3px solid black;

}
.fixed-section{
    height: 50px;
    width: 350px;
    border: 2px solid black;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.pimg{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1;
}



