<div class="Container">
    <p>Photo Gallery</p>
    <div class="Images">
        <img src="../../assets/imagesDay7Assignment/pic01.jpg" alt="image1">
        <img src="../../assets/imagesDay7Assignment/pic02.jpg" alt="image2">
        <img src="../../assets/imagesDay7Assignment/pic03.jpg" alt="image3">
        <img src="../../assets/imagesDay7Assignment/pic04.jpg" alt="image4">
    </div>
    <div class="Images">
        <img src="../../assets/imagesDay7Assignment/pic01.jpg" alt="image1">
        <img src="../../assets/imagesDay7Assignment/pic02.jpg" alt="image2">
        <img src="../../assets/imagesDay7Assignment/pic03.jpg" alt="image3">
        <img src="../../assets/imagesDay7Assignment/pic04.jpg" alt="image4">
    </div>
    <div class="Images">
        <img src="../../assets/imagesDay7Assignment/pic01.jpg" alt="image1">
        <img src="../../assets/imagesDay7Assignment/pic02.jpg" alt="image2">
        <img src="../../assets/imagesDay7Assignment/pic03.jpg" alt="image3">
        <img src="../../assets/imagesDay7Assignment/pic04.jpg" alt="image4">
    </div>
    <div class="Images">
        <img src="../../assets/imagesDay7Assignment/pic01.jpg" alt="image1">
        <img src="../../assets/imagesDay7Assignment/pic02.jpg" alt="image2">
        <img src="../../assets/imagesDay7Assignment/pic03.jpg" alt="image3">
        <img src="../../assets/imagesDay7Assignment/pic04.jpg" alt="image4">
    </div>
</div>