<div class="container">
  <h2 class="display1">
    Assignment
  </h2>
  <div class="row">
    <div class="col">
        <app-rectangle></app-rectangle>
        
    </div>
    <div class="col">
      <app-circle></app-circle>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <app-leftbar></app-leftbar>
    </div>
    <div class="col-md-8">
      <app-login></app-login>
    </div>
   
  </div>
  <div class="row">
    <div class="col-md-4">
      <app-leftbar></app-leftbar>
    </div>
    <div class="col-md-8">
      <app-signup></app-signup>
    </div>
  </div>
</div>