/* You can add global styles to this file, and also import other style files */
li{
    list-style: none;
    display: block;
}
#left ul{
   
        transition-property: height, width;
        transition-delay: 2s;}
   #left li a:hover{
       text-decoration: none;
    transition-property: height, width;
    transition-delay: 2s;
        color: rgb(55, 55, 140);
        background-color: rgb(126, 190, 213);
        height: 40px;
        width: 200px;
        

    }
    
