<app-ng-if></app-ng-if>
<app-ng-for></app-ng-for>
<div class="container">
<h1>Repeating components using NgFor:</h1>
</div>
<app-ng-for *ngFor="let item of productList"></app-ng-for>

<!--<div class="m-3">
    <button class="btn btn-primary" id="getJSONAPIBtn">click to get external JSON data of Cities</button>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>CityId</th>
                <th>RegionId</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody id="getJSONAPITbody">

        </tbody>
    </table>   
</div> -->


