<h1>Artical </h1>
<article>
    <h1>Latest news</h1>
    <section>
        <h2>Covid19</h2>
        <p>Coronavirus disease 2019 (COVID-19) is a contagious disease caused by <b>severe acute respiratory syndrome coronavirus 2</b> (SARS-CoV-2). The first case was identified in <b style="color: blueviolet;"> Wuhan</b>,<b> China</b>, in December 2019. It has since spread worldwide, leading to an ongoing pandemic.</p>

    </section>
    <section>
        <h2>Upcoming T20 Men's Cricket Worldcup</h2>
        <p>The ICC had, in August, confirmed that this year's T20 World Cup will be held in <b> Australia </b>in 2022. </p>

            <p>    India had hosted the previous T20 World Cup, back in 2016 which was won by West Indies.</p>
            
                <p>   The sport's governing body has said that it will take necessary precautions for <b>Covid-19 </b>if the crisis does not abate.</p>
    </section>
</article>

<h1>Horizontalbar</h1>

<h1>Created Horizontal Menu</h1>
    <nav>
        <a href="https://www.google.com">HOME</a> |
        <a href="https://www.yahoo.com">ABOUT US </a> |
        <a href="https://www.w3schools.com">CONTACT US</a>
    </nav>

<h1>Hr</h1>

<h2>Hirarchy</h2>
    <h3>CEO</h3>
    <ul>
        <li>Finance Team
            <ol type="A">
                <li>Finace Manager</li>
                <li>Senior Manager</li>
                <li type="I">Assistant Manager</li>
                <li>Staff</li>
            </ol>
        </li>

        <li>Technical Team
            <ul>
                <dl>
                    <dt>Finace Manager</dt>
                    <dd>-Discription list</dd>
                </dl>
                <li>Senior Manager</li>
                <li>Assistant Manager</li>
                <li>Staff</li>
            </ul>
        </li>
        <li>HR Team
            <ol>
                <li>Finace Manager</li>
                <li>Senior Manager</li>
                <li>Assistant Manager</li>
                <li>Staff</li>
            </ol>
        </li>
        <li>Administrator Team
            <ul style="list-style-type:square;">
                <li style="list-style-type: decimal;">Finace Manager</li>
                <li>Senior Manager</li>
                <li>Assistant Manager</li>
                <li><a href="reportcard.html">Staff</a></li>
            </ul>
        </li>
    </ul>
    

<h1>Jevik</h1>

<form id="myform">
    <label for= "date-input">Please choose a date: </label>
    <input type="date" id="date-input">

    <label for= "time-input">Please enter a time:</label>
    <input type="time" id="time-input">

    <label for="month-input">Please choose month:</label>
    <input type="month" id="month-input">

    <label for="week-input">Please choose week:</label>
    <input type="week" id="week-input">

    <br>

    <label for="range-data">Range:</label>
    <input type="range" id="range-data" min="1" max="10">


    <label for="search-data">Search:</label>
    <input type="search" id="search-data" placeholder="Enter search item" > 

    <label for="tel-data">Telephone:</label>
    <input type="tel" id="tel-data" required>
    <input type="submit" value="submit">

    <label for="email-data">Email:</label>
    <input type="email" id="email-data" required multiple  >

    <label for="cololr-data">Color:</label>
    <input type="color" id="color-data">

    <label for="data-list">Data list:</label>
    <input type="text" list="myDatalist">
   <datalist  id="myDatalist">
       <option label="Mr." value="Mr."></option>
       <option label="Mrs." value="Mrs."></option>
       <option label="Ms." value="Ms."></option>
   </datalist>

   <label for="progress-bar">Progressbar:</label>
   <progress value="5" max="15">   </progress>

   <label for="meter-data">meter:  </label>
   <meter id="meter-data" min="10" max="100" value="65" low="20" high="70" optimum="50"> </meter>  


</form>

<label for="outsidetext-data">Other text:</label>
<input type="text" id="outsidetext-data" form="myform" >

<h1>login</h1>
<form >
    <label for="user-data">Username:</label>
    <input type="text" id="user-data" placeholder="jevikraiyani12" require>
    <br>    <br>
    <label for="password">Password:</label>
    <input type="text" id="password" required placeholder="********" minlength="8">
    <input type="Submit">
</form>

<h1>Reportcard</h1>

<table style="width:40%" id="t1" >
    <caption>GSEC</caption>
    <tr>
        <th>Name: Savasaiya Tirath Rameshbhai</th>
        <th>Year Of Passing: 2021  </th> 
    </tr>
    <tr>
        <th>Rollno: B345724</th>
        <th>Grade: A</th>
    </tr>
    <tr>
      <table style="width:40%" id="t2">
        <tr>
          <th id="th2"> Subject</th>
          <th id="th2">Marks</th>
        </tr>
        <tr>
            <td>Mathematics</td>
            <td>92</td>
        </tr>
        <tr>
            <td>Physics</td>
            <td>85</td>
        </tr>
        <tr>
            <td>Chemestry</td>
            <td>95</td>
        </tr>
      </table>
    </tr>
</table>