<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Welcome to university of mumbai</h2>
            <p>please login to start exam</p>
            <form>
                <div class="form-group">
                    <input type="text" placeholder="Enter Roll no" class="form-control" required> 
                </div>
                
                <div class="form-group">
                    <input type="password" placeholder="Enter passowrd provided" class="form-control" required>
                    
                </div>
            </form>
                
                    <button type="submit" class="btn btn-success" onclick="start()">start exam</button>
                    <button type="reset" class="btn btn-danger">reset cardentials</button>
                
        </div>
        <div class="col-md-4">
            <p id="timestart"></p>
        </div>
    </div>
</div>