html {
  scroll-behavior: smooth; }

.navbar {
  border-bottom: 3px solid #00aaff;
  opacity: 0.8; }

#intro {
  background: url("../img/home.jpg");
  background-size: cover;
  background-attachment: fixed; }
  #intro .form-card {
    background-color: #00aaff; }
  #intro #intro-form button {
    color: white;
    border: 1px solid white; }
  #intro .intro-inner {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%; }
  #intro .fa {
    color: #00aaff;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 30px; }

#explore button {
  color: white;
  border: 1px solid white; }

#explore .fa {
  padding: 5px;
  border-radius: 5px;
  font-size: 50px; }

#create #create-head {
  background-color: #00aaff; }

#create button {
  color: white;
  border: 1px solid white; }

#create .fa {
  color: #00aaff;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 30px; }

#share #share-head {
  background-color: #00aaff; }

#share button {
  color: white;
  border: 1px solid white; }

#share .fa {
  color: white;
  background-color: #333;
  padding: 5px;
  border-radius: 5px;
  font-size: 30px; }

#footer button {
  background-color: #00aaff; }

.modal .modal-footer button {
  background-color: #00aaff; }

#side-nav {
  height: 85vh;
  position: fixed;
  overflow: scroll; }

@media (max-width: 991px) {
  #side-nav {
    height: 30vh !important; }
  #body-content {
    margin-top: 250px !important;
    z-index: -1; } }
