<html>
    <head>
        <table>Flex Item row-reverse</table>
        <style>
            .flex-container{
            display: flex;
            flex-direction: row-reverse;
            background-color: orangered;
            }
            .first{
                background-color: #f1f1f1;
                margin: 10px;
                padding: 20px;
                font-size: 30px;
            }
        </style>
    </head>
    <body>
        <div class="flex-container">
            <div class="first">1</div>
            <div class="first">2</div>
            <div class="first">3</div>
            <div class="first">4</div>  
          </div>
    </body>
</html>