* {
   
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 1fr 1fr 1fr 1fr 0.8fr 0.8fr 0.8fr 0.8fr 1fr 0.8fr 1.2fr 1.5fr 1.5fr 1fr;
    grid-template-areas: "logo nav" "banner banner" " content1 content1" "f f" "h h" "l l" "p1 p1" "p2 p2" "p3 p3" "p4 p4 " "ep1 ep1" "latest latest" "client client" "logo1 logo1" "post post" "links links" "cont cont"
}
.header{
    grid-area: logo;
}