// Main Sass File
$bg-color:#333;
$font-color:#fff;
$primary-color:#008ed6;
$dark-overlay: rgba(0,0,0,0.7);
$icon-size:30px;
body{
    background: $bg-color;
    color: $font-color;
 }
 .navbars{
     border-bottom: $primary-color 3px solid;
     opacity: 0.8;
 }
 
 #home{
     background: url("../img/home.jpg");
     background-attachment: fixed;
     background-size: cover;
     min-height: 700px;
     #home .home-inner{
        padding-top: 120px;
     }
     #home .dark-overlay{
         background-color: $dark-overlay;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
        min-height: 700px ;
     }
     #home .card-form{
         opacity: 0.8;
     }
     #home .fa{
         color:$primary-color;
         background: #fff;
         padding: 4px;
         border-radius: 5px;
         font-size:  $icon-size;
     }
 }
 #explore-section{
     .fa{
         color: white;
         background: #333;
         padding:4px;
         border-radius: 5px;
         font-size: $icon-size;
        }
 }
 #create-section{
    .fa{
        color:$primary-color;
        background: #fff;
        padding: 4px;
        border-radius: 5px;
        font-size:  $icon-size;
    }
 }
 #share-section
 {
    .fa{
        color: white;
        background: #333;
        padding:4px;
        border-radius: 5px;
        font-size: $icon-size;
       }
 }