.wrapper{
    text-align: center;
    border: 5px solid red;
}
.wrapper-breakpoint{
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    background-color: darkolivegreen;
    color: white;
    font-size: small;
}
.hide-element{
    
    display: none;
}
@media only screen and (min-width: 500px){
    .wrapper{
        border: 5px solid blue;
    }
    .wrapper-breakpoint{
        background-color: brown;
        font-size: medium;
    }
}

@media only screen and (min-width: 700px){
    .wrapper-breakpoint{
        background-color: blueviolet;
        font-size: large;
    }
}
@media only screen and (min-width: 900px){
    .wrapper-breakpoint{
        background-color: dimgrey;
        font-size: x-large;
    }
}
@media only screen and (min-width:1000px){
    .wrapper-breakpoint{
        background-color: darkgoldenrod;
        font-size: xx-large;
    }
}
@media only screen and (min-width:500px){
    .hide-element{
        display: block;
        text-align: center;
        background-color: dodgerblue;
        margin-top: 20px;
        padding: 20px;
    }
}
