<div class="wrapper">
    <!-- Page Content -->
    <div id="content" class="w-100">
        
       
        <div class="container">
            <p id="demo1"></p>
            <p id="demo2"></p>
            <p id="demo3"></p>
            <p id="demo4"></p>
            <p id="demo5"></p>
            <p id="demo6"></p>
            <p id="demo7"></p>
            <p id="demo8"></p>
            <p id="demo9"></p>
            <p id="demo10"></p>
            <p id="demo11"></p>
            <p id="demo12"></p>
            <p id="demo13"></p>

            <button class="btn btn-primary" onclick="displayDate()">The time is?</button>
            <p id="demo14"></p>
            <br>

            <p>Input your age and click the button:</p>
            <input type="text" id="age" value="18" class="form-control">
            <button class="btn btn-primary mt-2" onclick="myAgeFunction()">Check</button>
            <p id="demo15"></p>

            <p>For In Loop:</p>
            <p id="demo16"></p>

            <p>For Each Loop:</p>
            <p id="demo17"></p>

            <p>For Of Loop:</p>
            <p id="demo18"></p>
        </div>
    </div>
</div>
