<app-studentdemo></app-studentdemo>
<div>hello working appcommponnet</div>
<div *ngFor="let item of list">
    <span>{{item.ID}}</span><span>{{item.Name}}</span>
    </div>
<input type="text" [(ngModel)]="student.ID">
<input type="text" [(ngModel)]="student.Name">
<input type="text" [(ngModel)]="student.Address">
<input type="button" value="click" (click)="submitdata()">
<div>------------------------------------Hello Assingment-----------------------------------</div>
<app-studnetassignment></app-studnetassignment>