<div class="card ">
    <div class="card-header text-center">
        <p class="text-muted" style="font-size: 35px;">Area Of Rectengle</p>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="">Enter Length of Rectengle :-</label>
            <input type="number" class="form-control" [(ngModel)]="Length">
            <label for="">Enter width of Rectegle :- </label>
            <input type="text" class="form-control" [(ngModel)]="Width">
            <button class="btn btn-primary  my-3" (click)="GetArea()">Calculate</button>

            <pre class="text-danger" style="font-size: 20px;">
    Area of Rectengle=Length*Width
                     ={{Length}}*{{Width}}
                     ={{Calculate}}
             </pre>




        </div>
    </div>

</div>