header,body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header *{
    /* width: 100%; */
    margin: 0;
}

header .social-media {
    padding-left: 75%;
    height: 45px;
    left: 30%;
    background-color: rgb(197, 197, 197);
}

header .social-media a {
    margin: 5px 0;
    height: 50px;
    width: 50px;
    font-size: 30px;
    color: rgb(99, 98, 98);
    display: inline-block;
}

.nav-bar-div {
    display: flex;
    justify-content: center;
    background-color: yellow;
    border-top: black;
    border-bottom: black;
    border-left: yellow;
    border-right: yellow;
    border-style: dashed;
    border-width:    2px;
    height: 65px;
}

nav {
    display: flex;
    justify-content: center;
    height: 100%;
}

nav a,a::after {
    width: auto;
    text-decoration: none;
    font-size: 10px;
    margin: -2px 5px;
    color: black;
    height: 40px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-weight: bold;
}

.active {
    background-color: white;
}

.heading {
    display: flex;
    justify-content: center;
}

.company-name {
    width: 50%;
}

.heading {
    display: flex;

}

.banner-div {
    background-image: url("../../../../assets/img/css-d6pe/Lyle-apparel_homepage_v3-copy_02.jpg");
    /* background-repeat: no-repeat; */
    height: 350px;
    /* background-size: cover; */
}

.banner-div * {
    color: white;
    display: inline-block;
}

.banner-div .banner-information {
    color: white;
    width: 25%;
    margin-left: 25%;
}


.banner-div .banner-information h1 {
    font-size: 80px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-shadow: black;
}

.banner-div img{
    margin-top: 30px;
}

