<p class="lead text-center">The Data are Stord Using set items method show in inspect section</p>
    <p class="lead text-center">Now we Will try to print the data on the browser</p>
    <p id="show" class="text-danger text-center"></p>
    <p id="show1" class="text-success text-center"></p>
    <p id="show2" class="text-primary text-center"></p>
    <p id="show3" class="text-warning text-center"></p>
    <p id="show4" class="text-info text-center"></p>
    <p id="show5" class="text-danger text-center"></p>

    