    .title {
        background-color: rgba(204, 129, 0, .9);
        text-shadow: 0px 2px 5px #f9c800;
        color: transparent;
        -webkit-background-clip: text;
    }
    
    .red {
        box-shadow: 5px 10px 50px 10px rgb(0, 0, 0) inset, 5px 5px 50px 10px rgb(58, 0, 0) inset;
        border: 1px solid rgb(58, 0, 0);
    }
    
    .blue {
        box-shadow: 5px 10px 50px 10px rgb(0, 0, 0) inset, 5px 5px 50px 10px rgb(0, 4, 58) inset;
        border: 1px solid rgb(0, 4, 58);
    }
    
    .green {
        box-shadow: 5px 10px 50px 10px rgb(0, 0, 0) inset, 5px 5px 50px 10px rgb(7, 58, 0) inset;
        border: 1px solid rgb(7, 58, 0);
    }
    
    .black {
        box-shadow: 5px 10px 50px 10px rgb(0, 0, 0) inset;
        border: 1px solid black;
    }
    
    .failure {
        color: red;
    }
    
    .success {
        color: green
    }