<div class="m-3">
    <h5>Recruiters</h5>
    <div class="card p-4 mb-4 shadow">
        <h6>New Recruiter Messages</h6>
        <hr>
        <a href="" class="text-end text-decoration-none">VIEW ALL</a>
    </div>
    <div class="card p-4 mb-4 shadow">
        <h6>Recruiter Connections</h6>
        <hr>
        <div class="row">
            <div class="col"></div>
            <div class="col-9">
                <p>Buy recruiter connections credits to contact more recruiters hiring in your domain.</p>
                <a href="" class="btn btn-primary text-center text-decoration-none">BUY CREDITS</a>
            </div>
        </div>
    </div>
    <div class="card p-4 mb-4 shadow" style="height: 174px;">
        <h6>Recruiters hiring for candidates like you</h6>
        <hr>
        <a href="" class="text-end text-decoration-none">VIEW ALL</a>
    </div>
</div>
