<div class="mt-2">
    <div class="card shadow-sm p-4">
        <h5 class="mb-4">Top Skill</h5>
        <a href="">Mechanical Engineering Jobs</a>
        <a href="">BPO Jobs</a>
        <a href="">Networking Jobs</a>
        <a href="">Java Jobs</a>
        <a href="">Online Marketing Jobs</a>
        <a href="">Animation Jobs</a>
        <a href="">Design Engineer Jobs</a>
        <a href="">Analytics Jobs</a>
        <a href="">UI/UX Jobs</a>
        <a href="">NLP Jobs</a>
        <a href="">Banking Jobs</a>
        <a href="">MBA Jobs</a>
        <a href="">Teaching Jobs</a>
        <a href="">Marketing Jobs</a>
        <a href="">Accounting Jobs</a>
        <a href="">Retail Jobs</a>
        <a href="">Travel Jobs</a>
        <a href="">Merchandiser Jobs</a>
        <a href="">Architecture Jobs</a>
        <a href="" class="pt-3 font-weight-bold">View All Skills</a>
    </div>
</div>
