<section id="footer" class="py-2 mt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-9 px-3">
                <nav class="navbar">
                    <!-- <ul class="navbar-nav mr-auto flex-row"> -->
                        <ul class="nav nav-pills nav-fill">
                        <li class="nav-item ">
                            <a   class="nav-link">INDIA NEWS</a>
                        </li>
                        <li class="nav-item">
                            <a   class="nav-link">STATE NEWS</a>
                        </li>
                        <li class="nav-item ">
                            <a   class="nav-link">WORLD NEWS</a>
                        </li>
                        <li class="nav-item ">
                            <a   class="nav-link">SPORTS NEWS</a>
                        </li>
                        <li class="nav-item ">
                            <a   class="nav-link">CRICKET NEWS</a>
                        </li>
                       

                    </ul>
                    <!-- <ul class="navbar-nav mr-auto flex-row"> -->
                        <ul class="nav nav-pills nav-fill">
                        <li class="nav-item ">
                            <a   class="nav-link">ENTERTAINMENT NEWS</a>
                        </li>
                        <li class="nav-item ">
                            <a   class="nav-link">TECHNOLOGY NEWS</a>
                        </li>
                        <li class="nav-item ">
                            <a   class="nav-link">HEALTH NEWS</a>
                        </li>
                        <li class="nav-item ">
                            <a   class="nav-link">DIGITAL NEWS</a>
                        </li>
                        <li class="nav-item ">
                            <a   class="nav-link">COVID NEWS</a>
                        </li>
                     
                        
                    </ul>


                </nav>
              
                <h3>Trending topics</h3>
                <button class="btn btn-dark">NARENDRA MODI</button>
                <button class="btn btn-dark">BOLLYWOOD NEWS</button>
                <button class="btn btn-dark">BHOJPURI VIDEO</button>
            </div>
            <div class="col-sm-3 col-md-3 mt-3">
                <img src="../assets/Pictures/zeenewslogo_nav.webp" alt="">
                <div class="mt-3 text-center  ">
                    <strong class="mt-2">FOLLOW US</strong>
                   
                </div>
                <div class="d-flex flex-row justify-content-center">
s
                    <div class="px-2">
                        <a  >
                            <i class="fa fa-facebook"></i>
                        </a>
                    </div>
                    <div class="px-2">
                        <a  >
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <div class="px-2">
                        <a  >
                            <i class="fa fa-twitter"></i>
                        </a>
                    </div>
                    <div class="px-2">
                        <a  >
                            <i class="fa fa-google"></i>
                        </a>
                    </div>
                </div>
                <div class="mt-3 text-center  ">
                    <strong class="mt-2">Mobile Apps</strong>
                </div>
                <div class="d-flex flex-row justify-content-center">

                    <div class="px-2">
                        <a  >
                            <i class="fa fa-android"></i>
                        </a>
                    </div>
                    <div class="px-2">
                        <a  >
                            <i class="fa fa-apple"></i>
                        </a>
                    </div>


                </div>
            </div>
        </div>
    </div>



</section>