
    <article>
        <h1>ARTICAL 1:-</h1>
        <p>Whether in a crowded library or a dark bedroom, few experiences feel as personal as reading a book. Books are about eye and page, about one human brain in conversation with another.

            Yet the business of books is never quite about these airy virtues. And like any big business, publishing must always center on the mass: What do the most people want? What will the most people buy? What do people respond to?</p>
            <h1>ARTICAL2 :-</h1>
            <p>Between these two, there is a strange relationship. Companies collect and analyze this data, but rarely do readers get to see it.

                New data from Amazon, released to The Atlantic, gives us a peek at what, specifically, readers connect with. These are the most popular highlights in some of the service’s most popular books.
                
                Amazon doesn’t release sales data for Kindles, so the question of what makes the list of most-popular highlights is somewhat interesting. It takes more than 4,000 highlights to make something the most popular passage in Pride and Prejudice, but only about 650 for something to be the most popular highlight in The Lion, the Witch, and the Wardrobe.</p>
    </article>
