* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



header {
    grid-area: header;
}

.banner_img {
    display: block;
    grid-area: banner;
}

.download {
    grid-area: download;
}

#technology1 {
    grid-area: tech1;
}

#technology2 {
    grid-area: tech2;
}

#technology3 {
    grid-area: tech3;
}

#recent_works {
    grid-area: recentwork;
}

#project1 {
    grid-area: project1;
}

#project2 {
    grid-area: project2;
}

#project3 {
    grid-area: project3;
}

#project4 {
    grid-area: project4;
}

.welcome_msg_container {
    grid-area: welcome_msg;
}

.latest_container {
    grid-area: latest_shot;
}

.clients_container {
    grid-area: clients;
}

.logo_desc_container {
    grid-area: logo-desc;
    background-color: #353839;
}

.latest_posts_container {
    grid-area: latest_posts;
    background-color: #353839;
}

.footer_links {
    grid-area: footer_links;
    background-color: #353839;
}

.contact_container {
    grid-area: contact;
    background-color: #353839;
}

.copyright_sec {
    grid-area: copyright;
}

.menu {
    overflow: hidden;
}

.header_right {
    float: right;
}

.menu a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding-top: 17px;
    font-size: 22px;
    height: 50px;
    padding-left: 12px;
    padding-right: 12px;
}

    .menu a:hover {
        background-color: lightgray;
        color: black;
    }

    .menu a:active {
        background-color: lightgrey;
        color: black;
    }

    .menu a.icon {
        display: none;
    }

@media only screen and (max-width : 827px) {
    .menu a:not(:first-child) {
        display: none;
    }

    .header_right {
        float: none;
        margin-right: 0px;
    }

    .menu .header_right a {
        display: none;
    }

    .menu a.icon {
        float: right;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding-right: 12px;
        padding-left: 12px;
    }

    .menu.res_menu a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .menu.res_menu {
        position: relative;
    }

        .menu.res_menu a {
            float: none;
            display: block;
            text-align: center;
            width: auto;
        }
}

#banner_img img {
    display: block;
}

.download {
    padding: 0px 20px 20px 20px;
    border-bottom: 3px solid lightgray;
}

.download_header {
    margin-top: 30px;
    font-size: 30px;
    text-align: left;
}

.download_desc {
    margin-top: 20px;
}

.download_button {
    margin-top: 20px;
    font-size: 20px;
    padding: 5px 15px 10px;
    background-color: limegreen;
    color: white;
    border: 1px solid limegreen;
    border-radius: 10px;
}

.download_icon {
    padding-right: 8px;
}

.technologies_container {
    padding: 0px 20px 20px 20px;
}

.technology_header {
    margin: 0px 20px;
    margin-top: 30px;
    font-size: 30px;
    text-align: left;
}

.technology_desc {
    margin: 0px 20px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.projects_header {
    padding: 0px 20px 0px 20px;
    margin-top: 40px;
    font-size: 30px;
    text-align: left;
}

.hr_line {
    margin: 0px 20px 0px 20px;
    border-bottom: 3px solid lightgray;
}

.project {
    padding: 0px 20px 20px 20px;
}

.project_img {
    margin-top: 30px;
    text-align: center;
    height: 200px;
    width:350px;
}

.project_header {
    text-align: center;
    margin-top: 18px;
    font-size: 20px;
}

.project_desc {
    margin-top: 18px;
    text-align: center;
}

.welcome_msg {
    padding: 0px 20px 0px 20px;
    margin-top: 40px;
    font-size: 30px;
    text-align: left;
}

.welcome_img {
    margin-top: 30px;
    text-align: center;
    height: 200px;
    width: 350px;
}

.welcome_body {
    padding: 0px 20px 20px 20px;
}

.welcome_desc {
    margin-top: 15px;
    text-align: left;
}

.welcome_msg_container ul {
    list-style-type: none;
    margin: 15px;
}

.true_sign {
    font-weight: bolder;
    color: limegreen;
    margin-right: 6px;
}

.ceo {
    border-left: 3px solid lightgray;
}

.ceo_msg {
    margin-left: 15px;
}

.ceo_name {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 18px;
}

.latest_header {
    padding: 0px 20px 0px 20px;
    margin-top: 40px;
    font-size: 30px;
    text-align: left;
}

.latest_img {
    margin-top: 30px;
    text-align: center;
    height: 200px;
    width: 350px;
}

.client_header {
    padding: 30px 20px 0px 20px;
    margin-top: 40px;
    font-size: 30px;
    text-align: left;
}

.client_images {
    margin: 0px 20px;
}

    .client_images img {
        margin: 0 2%;
        padding: 1.5% 0;
    }

.client_images_ipad {
    display: none;
}

.client_images_desktop {
    display: none;
}

#footer {
    background-color: #353839;
}

.logo_desc_container {
    padding: 25px 20px 0px 20px;
}

.footer_logo {
    padding-bottom: 25px;
    font-size: 30px;
    text-align: left;
    color: limegreen;
}

.footer_logo_desc {
    padding-bottom: 25px;
    text-align: left;
    color: white;
}

.latest_posts_container {
    padding: 25px 20px 0px 20px;
}

.latest_post_header {
    font-size: 25px;
    text-align: left;
    color: white;
}

.hr_line_dotted {
    border-bottom: 3px dotted lightgray;
}

.inc_content {
    padding-top: 12px;
    color: white;
    font-size: 18px;
}

.inc_date {
    padding: 8px 0px;
    color: darkgray;
}

.footer_hr_line {
    border-bottom: 3px solid lightgray;
}

.link_header {
    font-size: 25px;
    text-align: left;
    color: white;
}

.footer_links {
    padding: 25px 20px 0px 20px;
}

.link div {
    margin-top: 12px;
}

    .link div a {
        font-size: 18px;
        text-decoration: none;
        color: darkgray;
    }

.contact_container {
    padding: 25px 20px 0px 20px;
}

.contact_header {
    font-size: 25px;
    text-align: center;
    color: white;
}

.add_container {
    padding: 15px 0px;
}

    .add_container p {
        font-size: 15px;
        padding: 4px;
        text-align: center;
        color: white;
        font-weight: 400;
    }

.phone {
    font-size: 15px;
    padding: 4px;
    text-align: center;
    color: white;
    font-weight: 400;
}

.copyright_sec {
    background-color: black;
    color: white;
    padding: 15px 25px;
    text-align: center;
}

.end_nav nav a {
    padding: 6px;
    color: limegreen;
    text-decoration: none;
}




@media only screen and (min-width : 827px) {
    .menu a.icon {
        display: none;
    }
}

@media only screen and (min-width : 768px) {
    .main_container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
        grid-template-areas: "header header" "banner banner" "download download" "tech1 tech1" "tech2 tech2" "tech3 tech3" "recentwork recentwork" "project1 project2" "project3 project4" "welcome_msg welcome_msg" "latest_shot latest_shot" "clients clients" "logo-desc logo-desc" "latest_posts footer_links" "contact contact" "copyright copyright";
    }

    .project_header {
        text-align: left;
    }

    .project_desc {
        text-align: left;
    }

    .welcome_img {
        float: left;
        width: 55%;
        height: 250px;
        margin-right: 30px;
    }

    .welcome_desc {
        padding-top: 25px;
    }

    .welcome_body ul {
        margin-top: 20px;
    }

        .welcome_body ul li {
            margin: 10px;
        }

    .ceo {
        margin-top: 30px;
    }

    .latest_img {
        height: 350px;
    }
}

@media only screen and (min-width : 992px) {
    .main_container {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
        grid-template-areas: "header header header header header header header header header header header header" "banner banner banner banner banner banner banner banner banner banner banner banner" "download download download download download download download download download download download download" "tech1 tech1 tech1 tech1 tech2 tech2 tech2 tech2 tech3 tech3 tech3 tech3" "recentwork recentwork recentwork recentwork recentwork recentwork recentwork recentwork recentwork recentwork recentwork recentwork" "project1 project1 project1 project2 project2 project2 project3 project3 project3 project4 project4 project4" "welcome_msg welcome_msg welcome_msg welcome_msg welcome_msg welcome_msg welcome_msg latest_shot latest_shot latest_shot latest_shot latest_shot" "clients clients clients clients clients clients clients clients clients clients clients clients" "logo-desc logo-desc logo-desc latest_posts latest_posts latest_posts footer_links footer_links footer_links contact contact contact" "copyright copyright copyright copyright copyright copyright copyright copyright copyright copyright copyright copyright";
    }


    .download_desktop {
        display: flex;
    }

    .download_desc {
        width: 75%;
    }

    .download_button_container {
        margin: 0 2% 0 2%;
    }

    .technology .footer_hr_line {
        display: none;
    }

    .latest_img {
        margin-top: 45px;
        height: 73%;
    }
}
