<div class="col-sm-3">
    <ul class="list-unstyled h3 text-left">
        <li>Day 15</li>
        <li><a routerLink="Day15pra1"routerLinkActive="text-dark">Practicl 1</a></li>
        <li><a routerLink="Day15pra2">Practicl 2</a></li>
        <li><a routerLink="Day15assignment">Assingment</a></li>
        <li>Day 16</li>
        <li><a routerLink="Day16pra1"routerLinkActive="text-dark">Practicl 1</a></li>
        <li><a routerLink="Day16pra2">Practicl 2</a></li>
        <li><a routerLink="Day16pra3">Practicl 3</a></li>
        <li><a routerLink="Day16pra4">Practicl 4</a></li>
        <li><a routerLink="Day16pra5">Practicl 5</a></li>
        <li><a routerLink="Day16assingment">Assingment</a></li>
    </ul>
  </div>
  <div class="col-sm-9">
    <router-outlet></router-outlet>
  </div>