/* To align the table data of student report card */
th, td {
    text-align: center;
}

/* Dummy paragraph border */
p {
    border-style: dotted;
}

/* h1 and h2 in blue */
h1, h2{
    color: blue;
}

/* universal selector to apply blue color to a page */
* {
    background-color: lightsteelblue;
}

/* Horizontal list of cities using display properties */
li {
    display: inline;
}