<div class="container-fluid bg-light">

    <div class="container">

        

        <form action="" [formGroup]="CheckinDetails" (ngSubmit)="submitCheckIn()">
            <p class="text-center text-muted pt-5" style="font-size: 25px;">Check In Details</p>
        <div class="row">
            
            <div class="col-lg-4">
                <div class="form-group mt-5">
                    <label for="" class="font-weight-bold">PNR Number</label>
                    <input type="text" class="form-control"  formControlName="PNRNumber" [ngClass]="{'is-invalid':PNRNumbers?.errors && (PNRNumbers.touched || PNRNumbers.dirty)}">
                    <div class="invalid-feedback"
                                    *ngIf="PNRNumbers?.errors && (PNRNumbers.touched || PNRNumbers.dirty)">
                                    <div *ngIf="PNRNumbers.errors.required">PNR Number is Required Fild</div>
                                    <div *ngIf="(PNRNumbers.errors.maxlength  || PNRNumbers.errors.minlength)">
                                        PNRNumber Must Be 8 Digit Only</div>
                                </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="form-group mt-5">
                <label for="" class="font-weight-bold">Email Address</label>
                <input type="text"  class="form-control" formControlName="Email" [ngClass]="{'is-invalid':Emails?.errors &&  (Emails.touched || Emails.dirty)}">
                <div class="invalid-feedback"
                *ngIf="Emails?.errors && (Emails.touched || Emails.dirty)">
                <div *ngIf="Emails.errors.required">Email is Required Fild</div>
                <div *ngIf="Emails.errors.email">Please Enter Valid Email</div>
            </div>
            </div>
            </div>
            <div class="col-lg-4">
                <button class="btn ml-5 mt-5" type="submit"     [disabled]="CheckinDetails.invalid" ><img class="rounded-circle" src="../../../assets/Images/Search Flight.jpg" height="60px" width="60px" alt=""></button>
            <div class="ml-5" style="font-weight: 500; color: cadetblue;">SEARCH</div>
            </div>
        </div>
    </form>
       
    </div>
</div>