@media only screen and (max-width: 575px) {
    #booking-history{
        margin-top: 68px;
        margin-bottom: 80px;
    }
} 

@media (max-width: 992px) and (min-width: 576px) {
    #booking-history{
        margin-bottom: 90px;
    }
}