* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    color: grey;
    letter-spacing: 0.5px;
    width: 100%;
    padding: 0;
    font-size: 13px;
}

p {
    letter-spacing: 0.5px;
    word-spacing: 2px;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'header-line1 nav-div';
}

.header-line1 {
    grid-area: header-line1;
}

.nav-div {
    grid-area: nav-div;
}


.header-line1 h2, footer .footer-info .footer-logo {
    color: rgb(0, 223, 0);
    font-weight: lighter;
    margin: 10px;
    width: 100%;
    padding: 0;
}

.header-line1 button {
    display: none;
}

.nav-div p {
    color: gray;
    font-size: 10px;
    text-align: right;
    padding-right: 10px;
}

    .nav-div p a {
        color: gray;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: normal;
    }

nav {
    display: inline-block;
    text-align: right;
    width: 100%;
    margin-bottom: 10px;
}

    nav a {
        text-decoration: none;
        color: gray;
        padding: 10px;
        text-transform: uppercase;
        letter-spacing: normal;
    }

.banner-img {
    width: 100%;
}

.intro, .info, .recent-works, .welcome-block, .latest-shots {
    margin: 40px 30px;
    margin-bottom: 100px;
}

.intro {
    display: grid;
    grid-template-columns: 0.8fr 0.2fr;
    grid-template-rows: auto;
    grid-template-areas: 'intro-content download';
    align-items: center;
}

.intro-content {
    grid-area: intro-content;
}

.download-button {
    grid-area: download;
    text-align: center;
}

.btn {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

.btn-green {
    color: #FFFFFF;
    background-color: #4CAF50;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    grid-gap: 50px;
}

    .info hr {
        display: none;
    }


.project-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    grid-gap: 50px;
}


.recent-works h1 {
    padding-bottom: 5px;
}

.projects img, .latest-shots img {
    width: 100%;
}

.welcome-and-shots {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: baseline;
    grid-template-rows: auto;
    grid-template-areas: 'welcome welcome shots';
    grid-gap: 50px;
}

.welcome-block {
    grid-area: welcome;
}

.latest-shots {
    grid-area: shots;
}

.welcome-content img {
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
}

.welcome-content .quote {
    border-left: solid;
    clear: left;
    padding-left: 10px;
}

.welcome-content ul {
    list-style: none;
    padding: 0;
    margin: 10px auto;
}

    .welcome-content ul li::before {
        content: '✓ ';
        color: rgb(0, 196, 0);
        font-weight: 900;
    }


.welcome-content .quote span {
    font-size: 20px;
}

.clients {
    margin: 20px;
}

    .clients .images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        height: 75px;
        grid-gap: 50px;
        align-items: center;
    }

        .clients .images img {
            width: 100%;
            float: left;
        }

footer {
    background-color: rgb(41, 40, 40);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 50px;
    padding: 20px;
}

    footer .footer-info .footer-logo {
        width: 100% !important;
        margin-left: 0;
    }

    footer h2, footer p {
        color: white;
    }

.latest-post .posts p {
    font-size: 12px;
    margin: 5px 0px;
    color: gray !important;
}

.latest-post .posts h6 {
    font-size: 13px;
    margin: 5px 0px;
    color: white;
}

.useful-links a {
    text-decoration: none;
    color: gray;
    text-transform: uppercase;
    font-size: 12px;
}

.contact-us h5 {
    font-size: 12px;
    margin: 10px 0px;
    color: white;
}

.end-bar {
    background-color: black;
    text-align: center;
    color: white;
    width: 100%;
    margin: 0;
    padding-top: 15px;
}

    .end-bar p {
        background-color: black;
        text-align: center;
        font-size: 12px;
        color: white;
        margin: 0;
    }

        .end-bar p a {
            text-decoration: none;
            color: rgb(0, 161, 0);
            ;
        }

    .end-bar div {
        display: flex;
        justify-content: center;
        color: gray;
        text-decoration: none;
        padding: auto 10px;
        font-size: 20px;
    }

        .end-bar div a {
            display: inline-block;
            color: gray;
            text-decoration: none;
            margin: 10px 10px;
            font-size: 20px;
        }

hr {
    background-color: gray;
}

@media only screen and (min-width:600px) and (max-width:1024px) {

    header {
        grid-template-columns: 0.22fr 0.78fr;
    }

    .intro {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: 'intro-content' 'download';
    }

    .intro-content {
        grid-area: intro-content;
    }

    .download-button {
        grid-area: download;
        text-align: left;
    }

    .intro, .info, .recent-works, .welcome-block, .latest-shots {
        margin: 40px 30px;
        margin-bottom: 50px;
    }

    .info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        align-items: baseline;
        grid-gap: 50px;
    }

        .info hr {
            display: block;
        }

    .project-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        align-items: center;
        grid-gap: 50px;
    }

    .welcome-and-shots {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 'welcome' 'shots';
        grid-gap: 0;
    }

        .welcome-and-shots div {
            margin-bottom: 20px;
            margin-top: 10px;
        }

    .images img:nth-child(6),
    .images img:nth-child(7) {
        display: none;
    }

    .clients .images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        height: 60px;
        grid-gap: 50px;
    }

    footer {
        background-color: rgb(41, 40, 40);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-gap: 50px;
        padding: 20px;
        grid-template-areas: 'footer-info footer-info' 'latest-post latest-post' 'links contactus';
    }

        footer .footer-info .footer-logo {
            width: 100% !important;
            margin-left: 0;
        }

    .footer-info {
        grid-area: footer-info;
    }

    .latest-post {
        grid-area: latest-post;
    }

    .useful-links {
        grid-area: links;
    }

    .contact-us {
        grid-area: contactus;
    }
}

@media only screen and (max-width:599px) {

    .header-line1 h2 {
        float: left;
        width: 70%;
    }

    .header-line1 button {
        margin: 10px;
        display: inline;
        float: right;
    }

    header {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 'header-line1' 'nav-div';
    }

    nav {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: rgb(216, 216, 216);
        margin: 0;
        width: 100%;
    }

        nav a {
            text-decoration: none;
            color: gray;
            padding: 10px;
            text-transform: uppercase;
            letter-spacing: normal;
            text-align: left;
        }

    .intro {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: 'intro-content' 'download';
    }

    .intro-content {
        grid-area: intro-content;
    }

    .download-button {
        grid-area: download;
        text-align: left;
    }

    .intro, .info, .recent-works, .welcome-block, .latest-shots {
        margin: 40px 30px;
        margin-bottom: 50px;
    }

    .info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        align-items: baseline;
        grid-gap: 50px;
    }

        .info hr {
            display: block;
        }

    .project-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        align-items: center;
        grid-gap: 50px;
        text-align: center;
    }

    .welcome-content img {
        width: 100%;
    }

    .welcome-and-shots {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 'welcome' 'shots';
        grid-gap: 0;
    }

        .welcome-and-shots div {
            margin-bottom: 20px;
            margin-top: 10px;
        }

    .images img:nth-child(5),
    .images img:nth-child(6),
    .images img:nth-child(7) {
        display: none;
    }

    .clients .images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        height: 60px;
        grid-gap: 10px;
    }

    footer {
        background-color: rgb(41, 40, 40);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-gap: 50px;
        padding: 20px;
        grid-template-areas: 'footer-info' 'latest-post' 'links' 'contactus';
    }

        footer .footer-info .footer-logo {
            width: 100% !important;
            margin-left: 0;
        }

    .footer-info {
        grid-area: footer-info;
    }

    .latest-post {
        grid-area: latest-post;
    }

    .useful-links {
        grid-area: links;
    }

    .contact-us {
        grid-area: contactus;
        text-align: center;
    }
}
