*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #efefef;
    font-size: 15px;
    color: #777;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1200px; 
    margin: 0 auto;
    width: 100%;

}
.navbar{
    display: block;
    margin-bottom: 15px 0;
    background-color: #03a9f4;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0,0.3);
    border-radius: 3px;

}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}

.navbar li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: #def1f0;    
}

.navbar li a{
    padding: 15px 20px;
    font-size: 14px;
    color: #def1f0;
    display: inline-block;
    outline: 0;
    font-weight: 400;
}

.navbar li:hover ul.dropdown {display: block;}

.navbar li ul.dropdown{
    position: absolute;
    display: none;
    width: 200px;
    background: #2980B9;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0,0.3);
    padding-top: 0%;
}

.navbar li ul.dropdown li{
    display: block;
    list-style-type: none;
}

.navbar li ul.dropdown li a{
    padding: 15px 20px;
    font-size: 15px;
    color: #fff;
    display: block;
    font-weight: 400;
}

.navbar li ul.dropdown li:last-child a{
    border-bottom: none;
}
.navbar li:hover a{
    background: #2980B9;
    color: #fff !important;
}

.navbar li:first-child:hover a{
    border-radius: 3px 0 0 3px;

}
.navbar li ul.dropdown li:hover a{
    background: rgba(0, 0, 0,0.1);
}
.navbar li ul.dropdown li:first-child:hover a{ border-radius: 0;}

.navbar li:hover .arrow-down{ border-top: 5px solid #fff;}

.arrow-down{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #def1f0;
    position: relative;
    top: 15px;
    right: -5px;
    content: '';

}