<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <title>This is my personalized Resume</title>
    <style>
        a:hover {
            color: hotpink;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        * {
            font-family: Arial, Helvetica, sans-serif;
            text-align: left;
        }

        div.header {
            background-color: lightgray;
        }

        div.section {
            background-color: lightgray;
            border: 1px solid black;
            color: black;
            padding: 0.5px;
            margin-top: 10px;
            margin-bottom: 10px;
            padding-top: 1px;
            padding-right: 1px;
            padding-bottom: 1px;
            padding-left: 1px;
            font-family: "Lucida Console", "Courier New", monospace;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="col-lg-8">
            <div class="header">
                <h3>
                    Charmi Atul Tanna<br>
                    <a href="charmitanna12@gmail.com">Email ID:charmitanna12@gmail.com</a><br>
                    Contact No:9999999999<br>
                    Ahmedabad-384200,Gujarat,India
                </h3><br>
            </div>
            <hr>
            <div class="section">
                <h2><u>CAREER OBJECTIVE</u></h2>
                <h3>
                    To pursue a challenging career and be a part of progressive organization that gives a scope to
                    enhance my knowledge and utilizing my skills towards the growth of the organization.
                </h3>
            </div>

            <div class="section">
                <h2><u>CORE COMPETENCIES</u></h2>
                <ul>
                    <h3>
                        <li>Strong debugging and problem solving skills.</li>
                        <li>Good analytical and logical thinking.</li>
                        <li>Strong written and verbal communication.</li>
                        <li>Hardworking.</li>
                    </h3>
                </ul>
            </div>


            <div class="section">
                <h2><u>KEY EXPERTISE / SKILLS</u></h2>
            </div>
            <ul>
                <h3>
                    <li>Programming Languages: Java ,C ,C++ ,html ,css ,Javascript</li>
                    <li>Database System: SQL</li>
                </h3>
            </ul>

            <div class="section">
                <h2><u>ACADEMIC QUALIFICATION</u></h2>
                <table style="border:5 ;width:1000">
                    <tr>
                        <th>Qualification</th>
                        <th>Board/University</th>
                        <th>School/College</th>
                        <th>Year of Pasing</th>
                        <th>Percentage/Grade</th>
                    </tr>
                    <tr>
                        <th>MCA</th>
                        <th>Nirma University</th>
                        <th>Institute of Technology</th>
                        <th>2021</th>
                        <th>80.8%</th>
                    </tr>
                    <tr>
                        <th>Bcom</th>
                        <th>Gujarat University</th>
                        <th>Shree Sahjanad Vanijya Mahavidyalaya</th>
                        <th>2018</th>
                        <th>57.92%</th>
                    </tr>
                    <tr>
                        <th>12th</th>
                        <th>GHSEB</th>
                        <th>Shree Narayana Guru Vidyalaya</th>
                        <th>2015</th>
                        <th>67.2%</th>
                    </tr>
                    <tr>
                        <th>10th</th>
                        <th>GSEB</th>
                        <th>Shree Narayana Guru Vidyalaya</th>
                        <th>2013</th>
                        <th>59%</th>
                    </tr>
                </table>
            </div>
            <div class="section">
            <h2><u>PROJECTS</u></h2>
            <h3><u>Building All Weather Vehicle Route Recommendation System</u></h3>
            <h4>
                Mentor: Dr. Saurin Parikh | Team Size: 2<br>
                January 20, 2020 – April 25, 2020<br>
                Technologies Used: ArduinoIDE, Node MCU, Ultrasonic Sensor<br>
                Summary: This project is IOT based which will sense the waterlogging and will send data on cloud which
                can be used for route recommendation using google maps.
            </h4>

            <h3><u>Online Quiz System</u></h3>
            <h4>
                Mentor: Prof. Deepika Shukla | Team Size: 3<br>
                July 15, 2019 - November 25, 2019<br>
                Technologies Used: Core Java<br>
                Summary: In this project using various basic concepts of java developed a quiz system similar to
                KBC(Kaun Banega Crorepati).
            </h4>

            <h3><u>Canteen Order Management System</u></h3>
            <h4>
                Mentor: Prof. Rasendu Mishra | Team Size: 2<br>
                January 25, 2019 - April 20, 2019<br>
                Technologies Used: C# ,VB.Net ,My SQL<br>
                Summary: This project serves various activities like managing orders, managing staff, maintaining stock
                details, prepare reports which item sold the most and the least, helps in
                decision making. It avoids manual work.
            </h4>
        </div>

            <video controls width="200" height="200" src="Video/video.mp4"></video><br>
            <div class="section">
                <u>CERTIFICATIONS</u>
                <ul>
                    <h3>
                        <li>Code Swap<br>Participated in “Code Swap” in the State Level Event TechKaushalya 2020.</li>
                        <li>Technical Quiz<br>Participated in Gujarat Quiz held at Nirma University 2019.</li>
                        <li>IOT Workshop<br>Participated in IOT Workshop at Nirma University 2019.</li>
                    </h3>
                </ul>
            </div>

            <div class="section">
                <u>PERSONAL INTERESTS/HOBBIES</u>

                <h3>
                    <ul>
                        <li>Writing</li>
                        <li>Public Speaking</li>
                        <li>Explore(Travel and learn new things</li>
                        <li>Cooking</li>
                        <li>Listening music</li>
                        <li>Reading</li>
                    </ul>
                </h3>
            </div>

            <div class="section">
                <h2><u>PERSONAL DETAILS</u></h2>
                <ul>
                    <h3>
                        Gender:Female<br>
                        Merital Status:Unmarried<br>
                        Current Address:B-12 XYZ Appartment, near Mangal Appartment,Navrangpura,Ahmedabad,384200.<br>
                        Date of Birth:August 12,1998<br>
                        Known Languages:English,Hindi,Gujarati<br>
                        Phone Number:9999999999<br>
                        Personal ID:<a href="charmitanna12@gmail.com">charmitanna12@gmail.com</a><br>
                    </h3>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>