.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row: 0.5 1.2fr 0.5fr 1fr 0.8fr 1.2fr 0.6fr 1.2fr 0.3fr;
  grid-template-areas:
    "header header header header"
    "banner banner banner banner"
    "arcana arcana arcana arcana"
    "content1 content1 content1 content1"
    "content2 content2 content2 content2"
    "content3 content3 content3 content3"
    "content4 content4 content4 content4"
    "content5 content5 content5 content5"
    "footer footer footer footer";
}

/* mobile view */

header {
  grid-area: header;
}
#logo-section {
  text-align: center;
}

#logo-text {
  padding: 10px;
  color: blue;
}

nav {
  background-color: rgb(49, 49, 49);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.nav-item {
  text-decoration: none;
  font-family: sans-serif;
  padding: 5px;
  color: white;
  border: 1px solid rgb(77, 76, 76);
  font-weight: bold;
}

.nav-item:hover {
  background-color: rgb(95, 94, 94);
}

#banner {
  grid-area: banner;
}
#arcana {
  background-color: rgb(49, 49, 49);
  height: 45px;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  grid-area: arcana;
}

#arcana-text {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#sub-text {
  display: inline;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
}

#html5 {
  text-decoration: underline;
  font-weight: 300;
}

button {
  background-color: rgb(56, 195, 250);
  height: 30px;
  width: 110px;
  border: none;
  border-radius: 3px;
  margin-left: 10px;
  color: white;
  font-weight: 300;
  font-size: 12;
  cursor: pointer;
}

.section-1 {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: content1;
}

.icon-div {
  text-align: center;
}

#title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
}

#section-2 {
  text-align: center;
  background-color: rgb(240, 240, 240);
  padding-top: 20px;
  padding-bottom: 20px;
  grid-area: content2;
}

hr {
  color: rgb(194, 193, 193);
}

#section-2-heading {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#section-2-subheading {
  color: rgb(194, 193, 193);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#section-3 {
  margin-top: 10px;
  margin-bottom: 10px;
  grid-area: content3;
}
.div-1 {
  height: 120px;
}

#icon {
  border-radius: 5px;
  float: left;
  margin-right: 20px;
}

#section-4 {
  width: 100%;
  background-color: rgb(102, 204, 245);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  grid-area: content4;
}

#heading-2 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 40px;
  display: inline;
}

#button-2 {
  background-color: white;
  height: 30px;
  width: 110px;
  border: none;
  border-radius: 3px;
  margin-left: 10px;
  color: black;
  font-weight: 300;
  font-size: 12;
}

#section-5 {
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  grid-area: content5;
}

.sub-section {
  margin-left: 15px;
  margin-bottom: 10px;
}

.sub-div {
  height: 100%;
  width: 40%;
  float: left;
  margin-left: 6%;
}

.input-container {
  height: 25px;
  width: 40%;
  border-radius: 3px;
  border: none;
  margin-right: 3%;
  background-color: white;
}

#message {
  width: 85%;
  margin-top: 20px;
  border-radius: 3px;
  border: none;
}

#button-3 {
  background-color: rgb(68, 67, 67);
  margin-left: 0;
  font-size: 14;
  margin-top: 20px;
  height: 40px;
  width: 150px;
}
#section-6 {
  height: 100px;
  width: 100%;
  text-align: center;
  padding-top: 40px;
  background-color: rgb(240, 240, 240);
  grid-area: footer;
}

.footer-icon {
  margin-right: 20px;
}

@media screen and (max-width: 600px) {
  #banner {
    display: none;
  }
  #arcana {
    height: 60px;
  }
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-row: 1.2fr 0.5fr 3fr 1fr 1.5fr 0.8fr 1.5fr 0.3fr;
    grid-template-areas:
      "header"
      "arcana"
      "content1"
      "content2"
      "content3"
      "content4"
      "content5"
      "footer";
  }
}
/* ipad view*/
@media screen and (min-width: 768px) {
  nav {
    flex-direction: row;
    justify-content: center;
  }
  .nav-item {
    padding: 10px;
  }
  .section-1 {
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #section-5 {
    flex-direction: row;
    height: 300px;
    padding-bottom: 20px;
  }
  .sub-section {
    width: 50%;
  }
  .sub-section-2 {
    width: 50%;
  }
}

/* desktop view*/
@media screen and (min-width: 1000px) {
  nav {
    flex-direction: row;
    justify-content: center;
  }
  .nav-item {
    padding: 15px;
    border: none;
  }
  #logo-text {
    padding: 10px;
    font-size: large;
  }
  hr {
    margin-left: 10%;
    margin-right: 10%;
  }
  #section-3 {
    height: 300px;
    width: 100%;
    background-color: white;
  }

  .div-1 {
    height: 120px;
    width: 40%;
    float: left;
    margin-left: 6%;
    margin-top: 20px;
  }

  #icon {
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    float: left;
    margin-right: 20px;
  }
  #section-5 {
    flex-direction: row;
    height: 300px;
    padding-bottom: 20px;
  }
  .sub-section {
    width: 40%;
    margin-left: 10%;
  }
  .sub-section-2 {
    width: 40%;
    margin-left: 10%;
  }
}
