
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-stripped">
                    <thead>
                        <th>ProductID</th>
                        <th>ProductName</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </thead>
                    <tbody id="data">

                    </tbody>
                </table>
                <button onclick="getFetchData()" class="btn btn-outline-info btn-dark">Cart Summery</button>
            </div>
        </div>
    </div>       
