<div class="wrapper">
    <!-- Page Content -->
    <div id="content" class="w-100">
        
        <div class="container mt-3">
            <h1 class="h4">Enter a Date for Validation</h1>
            <form>
                <div class="form-group">
                    <label for="date">Enter date:</label>
                    <input type="text" name="" id="date" required>
                    <span class="text-muted">Date Format: 12-31-1999</span>
                </div>
            </form>
            <button class="btn btn-primary" type="submit" onclick="return checkDate()">Check</button>
        </div>
    </div>
</div>
