<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        
</head>

<script>
    var array = [];

    function getData(id,name,price,qty)
    {
        var obj = {"ProductID":id,"ProductName":name,"Price":price,"Quntity":qty}
        array.push(JSON.stringify(obj));
        localStorage.setItem("key",array); 
        
       
    }
    
    function getFetchData()
    {
        console.log(localStorage.getItem("key"));
    }

    
    getArrayData("item.json");
    async function getArrayData(file)
    {
        let x = await fetch(file);
        let y = await x.json();
        var tmp = "";
        for(var i=0;i<y.length;i++)
        {
            tmp += "<tr>";
            tmp += "<td>"+ y[i].ProductID +"</td>";
            tmp += "<td>"+ y[i].ProductName +"</td>";
            tmp += "<td>"+ y[i].Price +"</td>";
            tmp += "<td>"+ y[i].Quantity +"</td>";
            tmp += '<td><button class="btn btn-success" onclick="getData('+"'"+y[i].ProductID+"'"+','+"'"+y[i].ProductName+"'"+','+"'"+y[i].Price+"'"+','+"'"+y[i].Quantity+"'"+')">Add Cart</button></td></tr>';
             tmp += "<tr>";
        }
        document.getElementById("data").innerHTML = tmp;
        localStorage.clear();
    }
</script>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-stripped">
                    <thead>
                        <th>ProductID</th>
                        <th>ProductName</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </thead>
                    <tbody id="data">

                    </tbody>
                </table>
                <button onclick="getFetchData()" class="btn btn-outline-info btn-dark">Cart Summery</button>
            </div>
        </div>
    </div>       
</body>
</html>