<span id="timer" class="position-absolute h5 m-3" style="right: 0;"></span>
<h1 class="display-3 text-center">Semester Exam</h1>
<h1 class="h3 text-center">University of Mumbai</h1>
<div class="container my-3">
    <div class="card" data-aos="fade-up">
        <div class="card-header bg-info"><h3>Question 1:</h3></div>
        <div class="card-body">
            <h6>This is the sample question.</h6>
            <label for=""><input type="radio" name="q1"> A. option 1</label><br>
            <label for=""><input type="radio" name="q1"> B. option 2</label><br>
            <label for=""><input type="radio" name="q1"> C. option 3</label><br>
            <label for=""><input type="radio" name="q1"> D. option 4</label><br>
            <label for=""><input type="radio" name="q1" checked> NO ANSWER</label>
            <hr>
            <a class="btn btn-outline-primary" href="exam.html">Next Question</a>
        </div>
    </div>
</div>