<ul>
    <li style="float: left;">Cities</li>
        
            <li>Ahemdabad</li>
            <li>Baroda</li>
            <li>Nadiad</li>
            <li>Ankleshwar</li>
            <li>Mehsana</li>
            <li>Gandhinagr</li>
        
</ul>
<p class="p-3"> “THE  UNINTENTIONAL  CONSEQUENCE  HAS  BEEN  TO  HALT  THE  NATURAL  ERADICATION  OF UNDERBRUSH, NOW THE PRIMARY FUEL FOR MEGA FIRES.”   IN THE PAST, THE US FOREST SERVICE HAD A POLICY OF CUTTING THIS ‘BRUSH’ – THE PLANTS THAT GROW BENEATH THE TREES.  HOWEVER, THE SERVICE DID NOT REALIZE THEN THAT IF THIS BRUSH WAS ERADICATED NATURALLY BY FIRES, THEN THIS NATURAL PROCESS WOULD BE MORE EFFECTIVE. WITHOUT REALISING THIS, AS A RESULT OF THEIR POLICY, THE BRUSH GREW MORE QUICKLY AND STRONGLY, PROVIDING MORE FUEL TO START FIRES.</p>
<h1> This is practice work</h1>
<h2> This is practice work</h2>
<div>

    <h1>Heading1</h1>

    <h2>Sub Heading</h2>

    <h1>Heading2</h1>

    <h2>Sub heading</h2>

</div>