<div id="leftBar">
    <div class="card">
        <!--Property binding for img url-->
        <img [src]="ImgUrl1" class="card-img-top"
            alt="..." class="img-fluid">
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <!--String interpolation-->
            <p class="card-text">{{dummyText}}</p>
            <a href="#" class="btn btn-primary">Click</a>
        </div>
    </div>

    <div class="card mt-3">
        <!--Property binding for img url-->
        <img [src]="ImgUrl2"
            class="card-img-top" alt="..." class="img-fluid">
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <!--String interpolation-->
            <p class="card-text">{{dummyText}}</p>
            <a href="#" class="btn btn-primary">Click</a>
        </div>
    </div>
</div>