

@media only screen and (min-device-width : 768px) and (max-device-width : 986px) {
    #nav{
.container{
    padding: 0;
}
        img{
            padding: 0;
            height: 50px;
            width: 100px;
        }
        li{
            padding: 0;
            a{
                padding: 0;
            }
        }
        
       
    }

#searchBox{
    width: 100%;
}
#searchBtn{
    width: 50%;
    padding: 0;
}
    }
    