
<h3 class="display1 text-center">Template-DrivenForm</h3>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8">
            <form class="form" (ngSubmit)="onSubmit()"#f="ngForm">
                <div id="user-data" ngModelGroup="userdata" #userdata="ngModelGroup">
                    <div class="form-group">
                        <label for="username" class="form-label">UserName</label>
                        <input type="text" id="userName" class="form-control"
                         minlength="4" appForbiddenName="bobby"
                        ngModel name="username" required  #name="ngModel">
                        </div>
                        <div *ngIf="name.invalid && (name.dirty || name.touched)"
                        class="alert">
                    
                      <div *ngIf="name.errors.required">
                        Name is required.
                      </div>
                      <div *ngIf="name.errors.minlength">
                        Name must be at least 4 characters long.
                      </div>
                      <div *ngIf="name.errors.forbiddenName">
                        Name cannot be Bobby.
                      </div>
                    
                    </div>
                        <button class="btn btn-default" type="button" (click)="suggestuserName()">SuggestUserName</button>
                    </div>
                   
                    <div class="form-group">
                        <label for="Email" class="form-label">Email</label>
                        <input type="email" id="email"class="form-control" ngModel name="email" required email #email="ngModel">
                    </div>
                    <small class="help-block" *ngIf="email.invalid && email.touched">Please Enter Valid Email</small>
                    <p *ngIf="userdata.invalid && userdata.touched">  userData invalid</p>
                    <div class="form-group">
                        <label for="secret" class="form-lable">SecretQuestion</label>
                        <select class="form-control" id="secret" [ngModel]="defaultQuestion" name="secret">
                            <option value="pet">your first Pet?</option>
                            <option value="teacher">your first Teacher?</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea  class="form-control" name="questionAnswer" rows="3" [(ngModel)]="answer"></textarea>
                    </div>
                    <p>Your Reply :{{answer}}</p>
                    <div class="radio" *ngFor="let gender of genders">
                        <label for="">
                            <input type="radio" name="gender" ngModel [value]="gender" required>
                            {{gender}}
                        </label>

                    </div>
                    <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Submit</button>
                    <button class="btn btn-      danger" type="reset">Reset</button>


            </form>
            <hr>
            <h3>
                your data
            </h3>

        </div>
    </div>
    <div class="row" *ngIf ="submitted">
        <div class="col-xs-12">
            <h3>YourData</h3>
            <p>UserName:{{user.username}}</p>
            <p>Mail:{{user.email}}</p>
            <p>SecretQuestion:your First{{user.secretQuestion}} ? </p>
            <p>Answer:{{user.Answer}}</p>
            <p>Gender:{{user.Gender}}</p>
        </div>
    </div>
</div>