.mynav {
  background-color: aqua;
}

.arrow {
  position: absolute;
  color: #000000;
  font-size: 2.5em;
  font-weight: bold;
  cursor: pointer;
}

.nextArrow {
  bottom: 50%;
  right: -1.5%;
  z-index: 2;
  font-size: 20px;
  padding: 0 7px 5px 7px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 3px 3px 5px lightgray;
}

.prevArrow {
  bottom: 50%;
  left: -1.5%;
  z-index: 2;
  font-size: 20px;
  padding: 0 7px 5px 7px;
  background-color: white;
  border-radius: 45%;
  box-shadow: 3px 3px 5px lightgray;
}
 
.slick-disabled {
  display: none;
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}