body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #F4F4F4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

header {
    background-color: #F4F4F4;
    color: green;
}

    header a {
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
    }

    header ul {
        margin: 0;
        padding: 0;
    }

    header li {
        float left;
        display: inline;
        padding: 0 20px 0 20px;
    }

    header #branding {
        padding: 0;
        float: left;
    }

    header #branding {
        margin: 0;
    }

    header nav {
        float: right;
    }

#newsletter {
    padding: 15px;
    color: black;
    background-color: #F4F4F4;
}

#showcase h1 {
    float:;
    left;
    padding: 5px;
    margin: 10px;
}

#showcase p {
    float: left;
    margin: 10px;
    padding: 5px;
    width: 80%;
}

#showcase button {
    background: green;
    color: white;
    text-decoration: none;
    float: right;
    margin: 10px;
    padding: 5px;
}

#boxes1 .container {
    width: 90%;
}

#boxes1 {
    margin-top: 20px;
}

    #boxes1 .box1 {
        float: left;
        width: 30%;
        padding: 10px;
        text-align: left;
    }

#boxes2 .container {
    width: 90%;
}

#boxes2 {
    margin-top: 20px;
}

    #boxes2 .box2 {
        float: left;
        width: 20%;
        text-align: left;
        position: relative;
        padding: 30px;
    }

    #boxes2 .box24 {
        float: left;
        width: 20%;
        text-align: left;
        position: relative;
        padding: 30px;
    }


    #boxes2 .box2 img {
        width: 100px;
        height: 100px;
    }


#boxes3 .container {
    width: 90%;
}

#boxes3 {
    margin-top: 20px;
}

    #boxes3 .box3 {
        float: left;
        width: 20%;
        text-align: left;
        position: relative;
        padding: 30px;
    }

        #boxes3 .box3 img {
            width: 100px;
            height: 100px;
        }

    #boxes3 .box32 {
        float: left;
        width: 50%;
        text-align: left;
        position: relative;
        padding: 30px;
    }

    #boxes3 .box33 img {
        width: 100px;
        height: 100px;
    }

    #boxes3 .box33 {
        float: right;
        width: 10%;
        text-align: left;
        position: relative;
        padding: 30px;
    }

    #boxes3 .box34 {
        float: left;
        width: 70%;
        text-align: left;
        position: relative;
        padding: 30px;
    }

#boxes4 .container {
    width: 90%;
}

#boxes4 {
    margin-top: 20px;
}

    #boxes4 .box4 {
        float: left;
        width: 9%;
        text-align: left;
        position: relative;
        padding: 30px;
    }

        #boxes4 .box4 img {
            width: 100px;
            height: 100px;
        }

    #boxes4 .box42 {
        float: left;
        width: 9%;
        text-align: right;
        position: relative;
        padding: 30px;
    }

        #boxes4 .box42 img {
            width: 100px;
            height: 100px;
        }

#boxes5 .container {
    width: 100%;
    background-color: #404040;
}

#boxes5 {
    margin-top: 20px;
}

    #boxes5 .box52 {
        float: left;
        width: 20%;
        text-align: left;
        position: relative;
        padding: 30px;
    }

        #boxes5 .box52 h1 {
            color: green;
        }

        #boxes5 .box52 h5 {
            color: white;
        }

    #boxes5 .box53 {
        float: left;
        width: 20%;
        text-align: left;
        position: relative;
        padding: 30px;
        color: white;
    }

        #boxes5 .box53 h1 {
            color: white;
        }

        #boxes5 .box53 h5 {
            color: white;
        }

hr.new {
    color: white;
}

#boxes5 .box54 {
    float: left;
    width: 20%;
    text-align: left;
    position: relative;
    padding: 30px;
    color: white;
}

#boxes5 .box55 {
    float: right;
    width: 20%;
    color: white;
    text-align: left;
    position: relative;
    padding: 30px;
}

    #boxes5 .box55 .mob {
        color: green;
    }

#boxes6 .container {
    width: 100%;
    background-color: black;
}

#boxes6 .box62 {
    float: left;
    width: 50%;
    color: white;
    text-align: left;
    position: relative;
    padding: 30px;
}

#boxes6 .box63 {
    float: right;
    width: 50%;
    color: white;
    text-align: left;
    position: relative;
    padding: 1px;
}

    #boxes6 .box63 img {
        width: 50px;
        height: 50px;
    }

@media only screen and (max-width: 600px) {
    header #branding,
    header nav,
    header nav li,
    {
        float: none;
        text-align:center;
        width:100%;
    }
 header li
{
    display: block;
    width :100%;
}
#showcase1 #container img
{
    width:100%;
}
#boxes1 .box1
{
    float: none;
    width: 100%;
    text-align: left;
}
#boxes2 h1
{
    float: none;
    text-align: center;
    width:100%;
}
#boxes2 .box2
{
    float: none;
    width: 100%;
    text-align: left;
}
#boxes2 .box24
{
    float: none;
    width: 100%;
    text-align: left;
}


#boxes2 .box2 img
{
    align-items: center;
    width: 100%;
    height: 100px;
}

#boxes3 .container
{
    width:100%;
}

#boxes3
{
    margin-top: 20px;
}

#boxes3 .box3
{
    float: none;
    width: 100%;
    text-align: left;
    overflow :hidden;
}

#boxes3 .box3 img
{
    width: 100%;
    height: 100px;
}

#boxes3 .box32
{
    float: none;
    width: 100%;
    text-align: left;
    overflow :hidden;
}
#boxes3 .box33 img
{
    width: 100%;
    height: 100px;
}

#boxes3 .box33
{
    float: none;
    width: 100%;
    text-align: left;
    overflow :hidden;
}

#boxes3 .box34
{
    float: none;
    width: 100%;
    text-align: left;
    overflow :hidden;
}

#boxes4 h3
{
    text-align:center;
}

#boxes4 .box4
{
    float: none;
    width: 9%;
}

#boxes4 .box4 img
{
    width: 100px;
    height: 100px;
}

#boxes4 .box42
{
    float: none;
    width: 9%;
    position: relative;
    padding:30px;
}

#boxes4 .box42 img
{
    width: 100px;
    height: 100px;
}

#boxes5 .box52
{
    float: none;
    width: 9%;
    text-align: center;
}

#boxes5 .box53
{
    float: none;
    width: 9%;
    text-align: center;
}

#boxes5 .box54
{
    float: none;
    width: 9%;
    text-align: center;
}

#boxes5 .box55
{
    float: none;
    width: 9%;
    text-align: center;
}

#boxes6 .box62
{
    float: none;
    width: 5%;
    text-align: center;
}

#boxes6 .box62 h3
{
    float: none;
    width: 100%;
    display: block;
    text-align: center;
}
#boxes6 .box63
{
    float: none;
    width: 9%;
    text-align: center;
}

#boxes6 .box63 img
{
    width: 20px;
    height: 20px;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    header #branding,
    header nav,
    header nav li,
    {
        float: none;
        text-align:center;
        width:100%;
    }
 header li
{
    display: block;
    width :100%;
}
#showcase1 #container img
{
    width:100%;
}
#boxes1 .box1
{
    float: none;
    width: 100%;
    text-align: left;
}
#boxes2 h1
{
    float: none;
    text-align: center;
    width:100%;
}
#boxes2 .box2
{
    float: none;
    width: 100%;
    text-align: left;
}
#boxes2 .box24
{
    float: none;
    width: 100%;
    text-align: left;
}


#boxes2 .box2 img
{
    align-items: center;
    width: 100%;
    height: 100px;
}

#boxes3 .container
{
    width:100%;
}

#boxes3
{
    margin-top: 20px;
}

#boxes3 .box3
{
    float: none;
    width: 100%;
    text-align: left;
    overflow :hidden;
}

#boxes3 .box3 img
{
    width: 100%;
    height: 100px;
}

#boxes3 .box32
{
    float: none;
    width: 100%;
    text-align: left;
    overflow :hidden;
}
#boxes3 .box33 img
{
    width: 100%;
    height: 100px;
}

#boxes3 .box33
{
    float: none;
    width: 100%;
    text-align: left;
    overflow :hidden;
}

#boxes3 .box34
{
    float: none;
    width: 100%;
    text-align: left;
    overflow :hidden;
}

#boxes4 h3
{
    text-align:center;
}

#boxes4 .box4
{
    float: none;
    width: 9%;
}

#boxes4 .box4 img
{
    width: 100px;
    height: 100px;
}

#boxes4 .box42
{
    float: none;
    width: 9%;
    position: relative;
    padding:30px;
}

#boxes4 .box42 img
{
    width: 100px;
    height: 100px;
}

#boxes5 .box52
{
    float: none;
    width: 9%;
    text-align: center;
}

#boxes5 .box53
{
    float: none;
    width: 9%;
    text-align: center;
}

#boxes5 .box54
{
    float: none;
    width: 9%;
    text-align: center;
}

#boxes5 .box55
{
    float: none;
    width: 9%;
    text-align: center;
}

#boxes6 .box62
{
    float: none;
    width: 5%;
    text-align: center;
}

#boxes6 .box62 h3
{
    float: none;
    width: 100%;
    display: block;
    text-align: center;
}
#boxes6 .box63
{
    float: none;
    width: 9%;
    text-align: center;
}

#boxes6 .box63 img
{
    width: 20px;
    height: 20px;
    margin: auto;
}
}
