<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">.
    <title>Responsive Website</title>
    <link rel="stylesheet" type="text/css" href="Layout.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="branding">
                <h1>Logo Here</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">PAGES</a></li>
                    <li><a href="">BLOG</a></li>
                    <li><a href="">PORTFOLIO</a></li>
                    <li><a href="">FEATURES</a></li>
                    <li><a href="">SHORTCODE</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="showcase1">
        <div id="container">
            <img src="Images/bg.jpg" width="100%" height="500px">
        </div>
    </section>

    <section id="showcase">
        <div id="container">
            <h3>Lorem ipsum dolor sit amet, consectetur adispiscing elit.</h3>
            <p>Nullam sed leo risus. Ut tellus leo, faucibus vitae tortor sed, euismod dignissim ex. Cras non mi vitae enim faucibus dignissim. Praesent scelerisque condimentum elit, non congue metus lacinia malesuada. Vesitbulum purus arcu, molestie in mattis sit amet, aliquet eget est.</p>
            <button type="submit" class="button1">Download Now</button>
        </div>
    </section>
    </br>

    <section id="boxes1">
        <div class="container">
            <hr>
            <div class="box1">
                <h1>Fully Responsive</h1>
                <p>Ut mollis enim est,frementum nisi viverra hendrerit. Fusce sed est ac ante posuere convallis. Vivamus egestas mauris sit amet lobortis cursus.Vestibulum hendreit molestie sagittis.</p>
            </div>
            <div class="box1">
                <h1>HTML5 + CSS3</h1>
                <p>Ut mollis enim est,frementum nisi viverra hendrerit. Fusce sed est ac ante posuere convallis. Vivamus egestas mauris sit amet lobortis cursus.Vestibulum hendreit molestie sagittis.</p>
            </div>
            <div class="box1">
                <h1>Launch Ready</h1>
                <p>Ut mollis enim est,frementum nisi viverra hendrerit. Fusce sed est ac ante posuere convallis. Vivamus egestas mauris sit amet lobortis cursus.Vestibulum hendreit molestie sagittis.</p>
            </div>
        </div>
    </section>



    <section id="boxes2">
        <h1>Recent Works</h1>
        <div class="container">
            <div class="box2">
                <img src="Images/logo1.png">
                <h3>project One</h3>
                <p>Donec a pellentesque turpis. Integer ligula odio, posuere egestas sapien in, ornare ornare odio. Maecenas sodales mauris eget neque pulvinar, ac gravida ante lacinia.</p>
            </div>
            <div class="box2">
                <img src="Images/logo2.png">
                <h3>project One</h3>
                <p>Donec a pellentesque turpis. </br>Integer ligula odio, posuere </br>egestas sapien in, ornare </br>ornare odio. Maecenas </br>sodales mauris eget neque </br>pulvinar, ac gravida ante lacinia.</p>
            </div>
            <div class="box2">
                <img src="Images/logo3.png">
                <h3>project One</h3>
                <p>Donec a pellentesque turpis.Integer ligula odio, posuere egestas sapien in, ornare ornare odio. Maecenas sodales mauris eget neque pulvinar, ac gravida ante lacinia.</p>
            </div>
            <div class="box2">
                <img src="Images/logo4.png">
                <h3>project One</h3>
                <p>Donec a pellentesque turpis. Integer ligula odio, posuere egestas sapien in, ornare ornare odio. Maecenas sodales mauris eget neque pulvinar, ac gravida ante lacinia.</p>
            </div>
        </div>
    </section>

    <section id="boxes3">
        <div class="container">
            <div class="box3">
                <h3>Welcome to this site</h3>
                <img src="Images/logo7.png">
            </div>
            <div class="box32">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu magna diam. Phasellus ut porttitor urna. Donec lacus magna, laoreet quis tempor ac, facilisis sed urna.</h3><br>
                Donec aliquet val massa ut venenatis.<br>
                cras eu mana diam.<br>
                Aenean non tellus ligula.<br>
                Ut sed vulputate nulla.<br>
            </div>
            <div class="box33">
                <h3>Latest Shots</h3><br>
                <img src="Images/logo8.png">
            </div>
            <div class="box34">
                <p>Blue foUntain Media is a digital agency in NYC that is founded on the premise that client results and stunning design go hand. They provide 360 degree solutions from strategy and design to development and digital marketing services, with ROI as their factor for sucess.</p>
                <p>-CEO,Jack Bour </p><br>
            </div>
        </div>
    </section>

    <section id="boxes4">
        <h3>Our Clients</h3>
        <hr>
        <div class="container">
            <div class="box4">
                <img src="Images/logo9.png">
            </div>
            <div class="box4">
                <img src="Images/logo9.png">
            </div>
            <div class="box4">
                <img src="Images/logo9.png">
            </div>
            <div class="box4">
                <img src="Images/logo9.png">
            </div>
            <div class="box4">
                <img src="Images/logo9.png">
            </div>
            <div class="box4">
                <img src="Images/logo9.png">
            </div>
            <div class="box42">
                <img src="Images/logo9.png">
            </div>
        </div>
    </section>

    <section id="boxes5">
        <div class="container">
            <div class="box52">
                <h1>Logo Here</h1>
                <h5>
                    Etiam pharetra magna viate fringilla posuere.Integer
                    lacinia,nisi nec semper faucibus, elit neque imperddiet sem,
                    ut molestie felis nisi sit amet leo.
                </h5><h5>
                    Etiam pharetra magna viate fringilla posuere.Integer
                    lacinia,nisi nec semper faucibus, elit neque imperddiet sem,
                    ut molestie felis nisi sit amet leo.
                </h5>
            </div>
            <div class="box53">
                <h1>Latest Posts</h1>
                <hr class="new1">
                <h5>Incredible Content</h5>
                May 8,2014
                <hr class="new1">
                <h5>Incredible Content</h5>
                May 8,2014
                <hr class="new1">
                <h5>Incredible Content</h5>
                May 8,2014
            </div>

            <div class="box54">
                <h1>Useful Links</h1>
                <hr class="new1">
                About Us
                <hr class="new1">
                About Us
                <hr class="new1">
                About Us
                <hr class="new1">
                About Us
                <hr class="new1">
                About Us
            </div>
            <div class="box55">
                <h1>Contact Us</h1>
                30/B Adarsh Society,
                Near Kaashi Parekh Complex,
                Swastik Char Rasta,C G Road,
                Ahmedabad-38009
                Gujarat-India
                Phone:<div class="mob">+91-79-26400685</div>
            </div>
        </div>
    </section>

    <section id="boxes6">
        <div class="container">
            <div class="box62">
                <h3>2015 © All Rights Reserved.Privacy Policy|Teams of Service</h3>
            </div>
            <div class="box63">
                <img src="Images/twitter.png">
                <img src="Images/facebook.png">
                <img src="Images/google.png">
                <img src="Images/pintrest.png">
                <img src="Images/linkedin.png">
                <img src="Images/skype.png">
            </div>

        </div>
    </section>

</body>
</html>