<p class="h3 text-center text-primary ml-3">student-assingment works!</p>


<div class="h3 text-warning">Create a student Model interface with field( ID,Name,Age,Average,grade,Active )</div>

<!-- <div class="mt-5 mb-5">
    <input type="text">
</div> -->

<table border="1px" class="ml-5 mt-5 mb-5">
    <tr>
        <th colspan="8" class="text-center">Studnet Assingment Table </th>
    </tr>
    <tr> 
        <th> ID </th>
        <th> Name </th>
        <th> Age </th>
        <th> Average </th>
        <th> grade </th>
        <th> Active </th>
        <th> ------</th>
        <th> ------</th>
    </tr>
    <!-- Get Show All Student Data -->
    <tr *ngFor="let item of studentLists;let idx = index">
        <td>{{item.StudID}}</td>
        <td>{{item.Name}}</td>
        <td>
            {{item.StudAge}}
        </td>
        <td >
            {{item.Average}}
        </td>
        <td [ngSwitch]="item.grade">
            <!-- {{item.grade}} -->
            <div *ngSwitchCase="'A'"
            class="text-success">{{item.grade}}
            </div>
            <div *ngSwitchCase="'B'"
            class="text-info">{{item.grade}}
            </div>
            <div *ngSwitchCase="'C'"
            class="text-primary">{{item.grade}}
            </div>
            <div *ngSwitchCase="'D'"
            class="text-danger">{{item.grade}}
            </div>
        </td>
        <!-- <li *ngIf="person.age < 30"> (1)
            {{ person.name }} ({{ person.age }})
            </li> -->
        <td>
            {{item.Active}}
            <span *ngIf="item.Active == 'Pass'" style="color: green;">
                *
            </span>
        </td>
        <td><button class="btn btn-warning" (click)="Edit(item.StudID)">Edit</button></td>
        <td><button class="btn btn-danger" (click)="Remove(idx)">Delete</button></td>
    </tr>
</table>