<body>
    
<div class="w-100">
        
        <div class="container mt-5">
            <h1 class="h3">Promise</h1>
            <form>
                <div class="form-group">
                    <label for="strValue">Enter any String</label>
                    <input type="text" name="" id="strValue" class="form-control">
                </div>
                <input type="submit" value="Click Me" class="btn btn-primary" onclick="return getPromise()">
            </form>
            <h1 class="h4" id="result"></h1>
            
        </div>
    </div>
</body>