div {
    text-align: center;
}
h1{
    color : rgb(82, 119, 12);
}
h3{
    color :rgb(88, 129, 49)
}
table{

    border-collapse: collapse;
}

           
thead {
    text-align:center;
    background: rgb(100, 133, 40);
    color:white;
}

th,td {
    border: 1px solid black;
    text-align:center;
    padding: 15px;
    width: 115px;
}
td{
    background: rgb(161, 214, 64);
}
