html {
  scroll-behavior: smooth; }

body {
  padding-top: 100px; }

.btn-theme {
  background: #D2242A;
  color: white; }

.text-theme {
  color: #D2242A; }

.bg-gray {
  background-color: #818286; }

.bg-theme {
  background-color: #D2242A; }

.navbar {
  box-shadow: 0px 2px 3px #818286; }
  .navbar ul {
    font-size: 20px;
    font-weight: bold; }
    .navbar ul a {
      color: #D2242A !important; }
    .navbar ul a:hover {
      color: #a01c21 !important; }

#home {
  background: url(../img/homeBankImg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right; }
  #home .bg-gray {
    background-color: rgba(129, 130, 134, 0.8); }

#service a {
  text-decoration: none;
  padding-left: 20px;
  color: white; }

#service a:hover {
  color: #D2242A; }

.modal {
  background-color: rgba(0, 0, 0, 0.8); }
  .modal #loginContent {
    background-color: rgba(0, 0, 0, 1e-13);
    border-radius: 0px; }
  .modal #signupDialoge {
    max-width: 80%; }
    .modal #signupDialoge .modal-content {
      border-radius: 0px; }

#sidebar .active {
  background-color: #D2242A;
  color: #818286 !important; }

#sidebar ul a {
  color: #D2242A !important;
  font-size: 25px;
  font-weight: bold; }

#sidebar ul li {
  display: block; }
