<div class="m-3">
    <h5>Jobs</h5>
    <div class="card p-4 mb-4 shadow">
        <h6>New Recommended Jobs</h6>
        <hr>
        <a href="" class="text-end text-decoration-none">VIEW ALL</a>
    </div>
    <div class="card p-4 mb-4 shadow">
        <h6>New Jobs in My Job Alerts</h6>
        <hr>
        <a href="" class="text-center text-decoration-none">CREATE CUSTOM JOB ALERT</a>
        <p class="text-center">Stay informed about the latest jobs for you</p>
    </div>
    <div class="row">
        <div class="col">
            <div class="card p-4 mb-4 shadow" style="height: 174px;">
                <h6>Application Summary</h6>
                <hr>
                <p>Daily Limit of Application: 50</p>
            </div>
        </div>
        <div class="col">
            <div class="card p-4 mb-4 shadow">
                <h6>Saved Job(s)</h6>
                <hr>
                <p>You have 0 saved job(s) till now.</p>
                <a href="" class="text-end text-decoration-none">VIEW ALL</a>
            </div>
        </div>
    </div>
</div>
