
<html>

    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     
    </head>
    <body>
        
        <div class="container-fluid">
            <div class="row py-3">
                <div class="col-lg-8">
        <form>
            <label>Date:</label>
            <input type="text" id="date" placeholder="MM-DD-YYYY">
        </form>
        <button onClick="validate()" class="bg-primary">Submit</button>
        </div>
        </div>
        </div>
        <script type="text/javascript"> 
            function validate()
            {
                var date = document.getElementById("date").value.trim();
                if(date == "")
                {
                    alert("Please enter date");
                    return false;
                }
                var dateFormat = date.split("-");
                if(dateFormat.length != 3 || dateFormat[0].length != 2 || dateFormat[1].length != 2 || dateFormat[2].length != 4){
                    alert('plz use valid format');
                    document.getElementById('date').value="";
                    return;
                }
    
                var month = dateFormat[0];
                if( parseInt(month) < 1 || parseInt(month) > 12|| isNaN(parseInt(month)))
                {
                    alert("Month value should be between 1 to 12");
                }
                var year = dateFormat[2];
                if(parseInt(year) < 1950 || parseInt(year) > (new Date()).getFullYear() || isNaN(parseInt(year)))
                {
                    alert('invalid year!');
                    document.getElementById('date').value="";
                    return;
                }
                var date = dateFormat[1];
                if( (parseInt(month) == 1 || parseInt(month) == 3 || parseInt(month) == 5 || parseInt(month) == 7 || parseInt(month) == 8 || parseInt(month) == 10 || parseInt(month)  == 12) && date > 31)
                {
                    alert('Date should be within 1 to 31');
                }
                if( (parseInt(month) == 4 || parseInt(month) == 6 || parseInt(month) == 9 || parseInt(month) == 11) && date > 30)
                {
                    alert("Date should be within 1 to 30");
                }
    
               if(parseInt(month) == 2)
               {
                    if(parseInt(year) % 400==0 )
                    {
                                if(parseInt(date) > 29)
                                {
                                    alert("Date should be within 1 to 29");
                                }
                            
                    } 
                    else if(parseInt(year) % 100==0 )
                    {
                        if(parseInt(date) > 28)
                        {
                            alert("Date should be within 1 to 28");
                        }
                            
                    } 
                    else if(parseInt(year) % 4==0 ) 
                    {
                        if(parseInt(date) > 29)
                        {
                            alert("Date should be within 1 to 29");
                        }
                    }
                    else
                    {
                        if(parseInt(date) > 28)
                        {
                            alert("Date should be within 1 to 28");
                        }
                    }
                }
            }
        </script>
    </body>
    </html>
       