.main-container{
    width: auto;
    height: 1000px;
    background-color: lightseagreen ;
    border: 2px solid black;
    position: static;
}
header{
    position: sticky;
    top: 0;
    background-color: lightsalmon;
    color: black;
    border:2px solid blue;
    text-align: center;
    padding: 20px;
}
.left{
    height: 300px;
    width: 300px;
    float: left;
    position: relative;
    top: 50px;
    left: 30px;
    border: 2px solid red;
}
.middle-section{
height: 300px;
width: 750px;
float: left;
position: relative;
border: 2px solid black;
top: 50px;
left: 60px;
}
.absolute_section1{float: left;
    height: 150px;
    width:350px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    border: 2px solid black;
    overflow: hidden}
.absolute_section2{
    float: left;
    height: 150px;
    width:350px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    border: 2px solid rgb(102, 49, 49);
    overflow: auto;
    overflow-x: hidden;
}
.right{
    height: 300px;
    width:300px;
    float: right;
    position: relative;
    top:300px;
    right: 300px;
    bottom: 0px;
    border: 3px solid black;
}
.fixed{
    height: 50px;
    width: 350px;
    border: 2px solid black;
    position: fixed;
    left:70px;
    bottom: 20px;
}

#picturePosition{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1;
}