<div class="row">
    <div class="col-lg-3 pt-5 " style="background-color: coral;;">
     <ol class="ml-5">
     <li><i class="fas fa-folder-open"></i> Day-15
         <ul>
             <li><i class="fas fa-folder-open"></i>  Practice Exercise
                 <ol class="text-white"> 
                     <li><a class="text-white"  style="text-decoration: none;" routerLink="Day15Practice1" routerLinkActive="text-dark">Excerise-1</a></li>
                     <li><a class="text-white" style="text-decoration: none;"  routerLink="Day15Practice2" routerLinkActive="text-dark">Exercise2</a></li>
                 </ol>
             </li>
             <li class="text-dark"><a class="text-dark" routerLink="Day15Assignment"  style="text-decoration: none;"><i class="fas fa-folder-open"></i>Assingment</a></li>
             
           
         </ul>
     </li>
     <li><i class="fas fa-folder-open"></i> Day-16
         <ul>
         
                 <li><i class="fas fa-folder-open"></i>  Practice Exercise
                     <ol class="text-white"> 
                         <li><a class="text-white"  style="text-decoration: none;"  routerLink="Day16Practice1" routerLinkActive="text-dark">Excerise-1</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="Day16Practice2" routerLinkActive="text-dark">Exercise2</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="Day16Practice3" routerLinkActive="text-dark">Exercise3</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="Day16Practice4" routerLinkActive="text-dark">Exercise4</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="Day16Practice5" routerLinkActive="text-dark">Exercise5</a></li>
                     </ol>
                 </li>
                 <li class="text-dark"><a class="text-dark" routerLink="Day16Assignment"  style="text-decoration: none;"><i class="fas fa-folder-open"></i>Assingment</a></li>     
         </ul>
     </li>
     <li><i class="fas fa-folder-open"></i> Day-17
         <ul>
         
                 <li><i class="fas fa-folder-open"></i>  Practice Exercise
                     <ol class="text-white"> 
                         <li><a class="text-white"  style="text-decoration: none;"  routerLink="Day17Practice1" routerLinkActive="text-dark">Excerise-1</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="Day17Practice2" routerLinkActive="text-dark">Exercise2</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="Day17Practice3" routerLinkActive="text-dark">Exercise3</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="Day17Practice4" routerLinkActive="text-dark">Exercise4</a></li>
                     </ol>
                 </li>
                 <li class="text-dark"><a class="text-dark" routerLink="Day17Assignment"  style="text-decoration: none;"><i class="fas fa-folder-open"></i>Assingment</a></li>     
         </ul>
     </li>
     <li><i class="fas fa-folder-open"></i> Day-18
         <ul>
         
                 <li><i class="fas fa-folder-open"></i>  Practice Exercise
                     <ol class="text-white"> 
                         <li><a class="text-white"  style="text-decoration: none;"  routerLink="Day18Practice1" routerLinkActive="text-dark">Excerise-1</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="Day18Practice2" routerLinkActive="text-dark">Exercise2</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="Day18Practice3" routerLinkActive="text-dark">Exercise3</a></li>
                     </ol>
                 </li>
                 <li class="text-dark"><a class="text-dark" routerLink="Day18Assignment"  style="text-decoration: none;"><i class="fas fa-folder-open"></i>Assingment</a></li>     
         </ul>
     </li>
     <li><i class="fas fa-folder-open"></i> Day-19
         <ul>
         
                 <li><i class="fas fa-folder-open"></i>  Practice Exercise
                     <ol class="text-white"> 
                         <li><a class="text-white"  style="text-decoration: none;"  routerLink="Day19Practice1" routerLinkActive="text-dark">Excerise-1</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="Day19Practice2" routerLinkActive="text-dark">Exercise2</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="Day19Practice3" routerLinkActive="text-dark">Exercise3</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="Day19Practice4" routerLinkActive="text-dark">Exercise4</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="Day19Practice6" routerLinkActive="text-dark">Exercise5</a></li>
                     </ol>
                 </li>     
         </ul>
     </li>
     <li><i class="fas fa-folder-open"></i> Day-20
         <ul>
         
                 <li><i class="fas fa-folder-open"></i>  Practice Exercise
                     <ol class="text-white"> 
                         
                         <li><a class="text-white" style="text-decoration: none;" routerLink="Day20Practice2" routerLinkActive="text-dark">Exercise1</a></li>
                     </ol>
                 </li>
                 <li class="text-dark"><a class="text-dark" routerLink="Day20Assignment"  style="text-decoration: none;"><i class="fas fa-folder-open"></i>Assingment</a></li>     
         </ul>
     </li>
 </ol>
    </div>
    <div class="col-lg-9 pt-5">
        <router-outlet></router-outlet>
    </div>

</div>

<footer style="background-color: coral; " class="text-white text-center py-4">
     <p>Copywrite &copy; All Write Reserved</p>
</footer>
