
        <header>
            <div class="socials">
                <a href="#"><i class="bi bi-facebook" style="font-size: 30px;"></i></a>
                <a href="#"><i class="bi bi-twitter" style="font-size: 30px;"></i></a>
            </div>
            <div class="logo">
                <img src="../../assets/images/day6_logo.png" alt="Logo" width="150" height="80">
                <div class="logo-content">
                    <h4><a href="#">Search..&nbsp;&nbsp;<i class="bi bi-search"></i>&nbsp;&nbsp;</a></h4>
                    <a href="#">
                        <i class="bi bi-cart-fill"></i>
                        <div class="cart-arrow"></div>
                        <h3>My Cart : 0 items - $0.00</h3>
                    </a>
                </div>
            </div>
            <nav>
                <a href="#"><h4><i class="bi bi-house-door-fill" style="font-size: 20px;"></i></h4></a>
                <a href="#"><h4>ABOUT US<br/><span style="margin-left: 30px;">&or;</span></h4></a>
                <a href="#"><h4>OUR PRODUCTS<br/><span style="margin-left: 60px;">&or;</span></h4></a>
                <a href="#"><h4>NEWS</h4></a>
                <a href="#"><h4>FAQS</h4></a>
                <a href="#"><h4>NEW ARRIVAL</h4></a>
                <a href="#"><h4>STOCKISTS</h4></a>
                <a href="#"><h4>SHOP NOW</h4></a>
                <a href="#"><h4>CONTACT US</h4></a>
            </nav>
        </header>
        <div class="main-content">
            <div class="homepage-img">
                <div class="homepage-img-content">
                    <img src="../../assets/images/day6_banner_img.png" alt="banner img" width="620" height="300">
                    <h1>Heritage <span style="margin-top: -50px;">Belts</span></h1>
                    <p>Nexbelt offers customers the chance to select from a range of country flags to feature on a full colour buckle.</p>
                    <br/><a href="#">GET MORE INFO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&gt;</a>
                </div>
            </div>
            <div class="carousel-buttons">
                <ul>
                    <li><i class="bi bi-circle-fill" style="font-size: 8px;"></i></li>
                    <li><i class="bi bi-circle-fill" style="font-size: 8px; color: yellow;"></i></li>
                    <li><i class="bi bi-circle-fill" style="font-size: 8px;"></i></li>
                    <li><i class="bi bi-circle-fill" style="font-size: 8px;"></i></li>
                    <li><i class="bi bi-circle-fill" style="font-size: 8px;"></i></li>
                </ul>
            </div>
            <div class="cards-content">
                <div class="row">
                    <div class="card1">
                        <div class="card1-content">
                            <h1>LYLE APPAREL</h1>
                            
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae rerum perspiciatis quia sapiente, voluptate sequi? Accusamus sequi consectetur rerum id nesciunt in fugit vitae aspernatur magni nam architecto, dolorum quibusdam!</p>
                        </div>
                        <div class="arrow-bg"></div>
                        <div class="arrow"><a href="#">&gt;</a></div>
                    </div>
                    <div class="card1">
                        <div class="card1-content">
                            <h1>NEXBELT</h1>
                            
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae rerum perspiciatis quia sapiente, voluptate sequi? Accusamus sequi consectetur rerum id nesciunt in fugit vitae aspernatur magni nam architecto, dolorum quibusdam!</p>
                        </div>
                        <div class="arrow-bg"></div>
                        <div class="arrow"><a href="#">&gt;</a></div>
                    </div>
                </div>
            </div>
            <div class="series-img">
                <div class="series-content">
                    <ul class="series-names">
                        <li><a href="#">GOLF SERIES</a></li>
                        <li><a href="#">CLASSIC SERIES</a></li>
                        <li><a href="#">CUSTOM SERIES</a></li>
                    </ul>
                    <div class="cart-arrow"></div>
                    <div class="series-result">
                        <div class="series">
                            <h3>Go-in Carbon Black</h3>
                            <img src="../../assets/images/day6_img1.jpg" alt="img1" width="210px">
                            <div class="price">
                                <h4>$ 90.00</h4>
                                <div class="add-to-basket">
                                    <h5><a href="#">ADD TO BASKET</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="series">
                            <h3>Go-in Carbon White</h3>
                            <img src="../../assets/images/day6_img2.jpg" alt="img2" width="210px">
                            <div class="price">
                                <h4>$ 90.00</h4>
                                <div class="add-to-basket">
                                    <h5><a href="#">ADD TO BASKET</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="series">
                            <h3>Go-in-Tex</h3>
                            <img src="../../assets/images/day6_img3.jpg" alt="img3" width="210px">
                            <div class="price">
                                <h4>$ 90.00</h4>
                                <div class="add-to-basket">
                                    <h5><a href="#">ADD TO BASKET</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="series">
                            <h3>Go-in Shield Black</h3>
                            <img src="../../assets/images/day6_img4.jpg" alt="img4" width="210px">
                            <div class="price">
                                <h4>$ 90.00</h4>
                                <div class="add-to-basket">
                                    <h5><a href="#">ADD TO BASKET</a></h5>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="more">
                        <h5><a href="#">&amp; MORE &nbsp; &nbsp;  &gt;</a></h5>
                    </div>
                </div>
            </div>
            <div class="latest">
                <div class="news">
                    <h2>ON SALE</h2>
                    <div class="sale-content">
                        <a href="#">
                            <h1>SALE OFF<br><span style="color: yellow; font-weight: bold;">60%</span></h1>
                        </a>
                    </div>
                </div>
                <div class="news">
                    <h2>LATEST NEWS</h2>
                    <div class="news-content">
                        <div class="news-img">
                            <h3>NEXBELT CADDY COMP<br><span style="font-size: small;">28 Sep 2015</span></h3>
                            <img src="../../assets/images/day6_img7.jpg" alt="news-img" width="120" height="70">
                        </div>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit possimus vero maxime accusamus magnam debitis esse veritatis sint perferendis facilis. Odit obcaecati debitis voluptate corrupti ex a delectus autem ipsam!</p>
                        <div class="more">
                            <h4><a href="#">READ MORE &nbsp;&gt;&gt;</a></h4>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="shipping">
                <div class="shipping-content">
                    <i class="bi bi-truck"></i>
                    <div class="shipping-description">
                        <h4>FREE SHIPPING</h4>
                        <p>Free delivery on all orders over $200</p>
                    </div>
                </div>
                <div class="shipping-content">
                    <i class="bi bi-telephone-fill"></i>
                    <div class="shipping-description">
                        <h4>CALL US : 01234 567890</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit..</p>
                    </div>
                </div>
                <div class="shipping-content">
                    <i class="bi bi-credit-card"></i>
                    <div class="shipping-description">
                        <h4>GIFT CARDS</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit..</p>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer-content">
                <div class="footer-menu">
                    <ul class="footer-links">
                        <li>Products</li>
                        <li><a href="#">Golf Series</a></li>
                        <li><a href="#">Classic Series</a></li>
                        <li><a href="#">Custom Series</a></li>
                    </ul>
                </div>
                <div class="footer-menu">
                    <ul class="footer-links">
                        <li>Pages</li>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Stockists</a></li>
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="footer-menu">
                    <ul class="footer-links">
                        <li>Account</li>
                        <li><a href="#">Cart</a></li>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Change Password</a></li>
                        <li><a href="#">Edit my Address</a></li>
                        <li><a href="#">View Order</a></li>
                    </ul>
                </div>
                <div class="mailing">
                    <h2>Join Our Mailing List</h2>
                    <h5>* indicates required</h5>
                    <input type="text" name="fname" id="fname" placeholder="First Name"><br>
                    <input type="text" name="lname" id="lname" placeholder="Last Name"><br>
                    <input type="email" name="email" id="email" placeholder="Email Address *"><br>
                    <div class="more">
                        <input type="submit" value="Subscribe &gt;&gt;">
                    </div>
                </div>
                <div class="footer-socials">
                    <img src="../../assets/images/day6_footer_logo.png" alt="footer-logo">
                    <div class="footer-icons" style="position: relative;
                    left:80px;">
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-twitter" style="color: yellow;"></i></a>
                    </div>
                    <div class="footer-icons">
                        <a href="#"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_200x51.png" alt="PayPal" width="100" height="40"/></a>
                        <a href="#"><img alt="Credit Card Logos" title="Credit Card Logos" src="http://www.credit-card-logos.com/images/mastercard_credit-card-logos/mastercard_logo_4.gif" width="65" height="41" border="0" /></a>
                    </div>
                    <div class="footer-icons">
                        <a href="#"><img alt="Credit Card Logos" title="Credit Card Logos" src="http://www.credit-card-logos.com/images/visa_credit-card-logos/visa_logo_7.gif" width="70" height="50" border="0" /></a>
                        <a href="#"><img alt="Credit Card Logos" title="Credit Card Logos" src="http://www.credit-card-logos.com/images/american_express_credit-card-logos/american_express_logo_7.gif" width="90" height="70" border="0" style="margin-top: -10px;"/></a>

                    </div>
                </div>
            </div>
        </footer>
        <div class="privacy-policy">
            <div class="policy">
                <h5>Privacy Policy</h5>
                <h5>Terms Of Use</h5>
                <h5 style="border-right: none;">Site Map</h5>
            </div>
            <div class="copyrights">
                <h5>&copy; 2016 Lyle Apparel</h5>
            </div>
        </div>