*{
    font-family: Oxygen, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-size: larger;
}
a:link{
    text-decoration: none;
    color: inherit;
}
a:visited{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: none;
    color: inherit;
}
a:active{
    text-decoration: none;
    color: inherit;
}

.socials{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(238, 235, 235);
    padding: 0px 269px;
    width: auto;
    height: 60px;
    
}
.socials a:link{
    text-decoration: none;
    color: gray;
    margin-left: 40px;

}
.socials a:visited{
    text-decoration: none;
    color: gray;
}
.socials a:hover{
    text-decoration: none;
    color: gray;
}
.socials a:active{
    text-decoration: none;
    color: gray;
}
.logo{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
}
.logo>img{
    margin-left: 69px;
}
.logo-content{
    display: flex;
    justify-content: flex-end;
    width: 1046px;
}
.logo-content>h4{
    border-right: 2px solid gray;
    padding: 23px 0;
    font-family: cursive;
    font-size: larger;
}
.logo-content h4 a{
    text-decoration: none;
    color: black;
}
.logo-content>a{
    display: flex;
}
.logo-content>a>i{
    border: 2px solid yellow;
    background-color: yellow;
    width: 30px;
    height: 30px;
    margin: 20px 10px;
    font-size: 20px;
    text-align: center;
    position: relative;
    
}
.cart-arrow{
content: "";
position: absolute;
top: 253px;
right:470px;
margin-left: -15px;
width: 0px;
height: 0px;
margin: 0px auto;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-bottom: 10px solid yellow;
transform: rotate(90deg);
}

.logo-content>a>h3{
    padding: 20px 0;
    font-size: larger;
    font-weight: bold;
}
.logo-content>a:link{
    text-decoration: none;
    color: black;
}
.logo-content>a:visited{
    text-decoration: none;
    color: black;
}
nav{
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    height: 123px;
    justify-content: flex-end;
    align-items: baseline;
    background-color: yellow;
    color: black;
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
    padding-right: 260px;
}
nav a:link{
    text-decoration: none;
    color: black;
    margin-left: 30px;
}
nav a:visited{
    text-decoration: none;
    color: black;
}
nav a:hover{
    text-decoration: none;
    color: black;
    background-color: white;
    height: 73px; 
     padding: 5px; 
     margin-top: -4px; 
     border: 2px solid white;
}
nav a:active{
    text-decoration: none;
    color: black;
    background-color: white;
}
nav a:focus{
    text-decoration: none;
    color: black;
    background-color: white;
     height: 73px; 
     padding: 5px; 
     margin-top: -4px; 
     border: 2px solid white;

}
nav a h4{
    padding-top: 17px;
    font-weight: 500;
    font-size: medium;
}
.homepage-img{
    background-image: url(../../assets/images/day6_Lyle-apparel_homepage_v3-copy_02.jpg);
    width: auto;
    height: 400px;
    color: white;
    margin-top: -53px;
}
.homepage-img-content{
    margin: 0px 269px;
}
.homepage-img img{
    float: right;
    padding-top: 30px;
    padding-bottom: 30px;
}
.homepage-img-content h1{
    font-size: 80px;
}
.homepage-img-content p{
    width: 300px;
}
.homepage-img-content a{
    background-color: yellow;
    color: black;
    border: 2px solid yellow;
    border-radius: 25px;
    padding: 8px 15px;
}
.homepage-img-content a:link{
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}
.carousel-buttons{
    
    border: 2px solid white;
    background-color: white;
    width: 150px;
    height: 60px;
    border-radius: 20px;
    color: black;
    margin-top: -20px;
    margin-left: 700px;
}
.carousel-buttons ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-top: -2px;
    margin-left: -35px;
}
.carousel-buttons ul li {
 margin-right: 10px;
}
.cards-content{
    width: auto;
    height: 100px;
    margin: 0 245px;
}
.cards-content .row{
    display:flex;
    justify-content: space-around;
    align-items: center;

}
.card1{
    height: 80px;
    width: 450px;

}
.card1-content{
    padding-left: 10px;
    border: 2px dashed gray;
}
.arrow-bg{
    background-color: white;
    width: 36px;
    height: 18px;
    border: 2px dashed gray;
    margin-left: 408px;
    margin-top: -23px;
}
.arrow{
    background-color: yellow;
    font-weight: bold;
    width: 40px;
    height: 38px;
    font-size: x-large;
    text-align: center;
    margin-left: 410px;
    margin-top: -20px;
}
.arrow a:link{
    text-decoration: none;
    color: black;
}
.series h3{
    font-size: large;
}
.series-img{
    background-image: url(../../assets/images/day6_live_system_thank_you_02.jpg);
    width: auto;
    position: relative;
    top: 150px;
}
.series-content{
    margin: 0px 269px;
    padding: 20px 0;

}
.series-names{
    display: flex;
    list-style-type: none;
    padding: 0px;
}
.series-names li{
    background-color: gray;
    color: white;
    margin: 2px;
    padding: 10px;
    text-align: center;
}
.series-names li:first-child{
    background-color: yellow;
    color: black;
}
.series-content .cart-arrow{
    position: absolute;
    left: -400px;
    top: 65px;
    transform: rotate(180deg);
}
.series-result{
    display: flex;
    justify-content: space-around;
    
}
.series{
    width: 210px;
    background-color: white;
    color: black;
    margin-right: 10px;
    
}
.price{
    display: flex;
    justify-content: space-around;
}
.price h4{
    font-size: larger;
}
.add-to-basket{
    margin-top: -5px;
}
.add-to-basket h5{
    background-color: yellow;
    padding: 10px;
    font-size: small;
}
.more{
    margin-top: 20px;
    width: auto;
    margin-right:10px;
    display: flex;
    justify-content: flex-end;
}
.more h5{
    background-color: yellow;
    padding: 10px 0px;
    width: 85px;
    font-size: smaller;
}
.latest{
    display: flex;
    justify-content: space-around;
    margin: 0px 269px;
    position: relative;
    top: 170px;
}

.news{
    width: 48%;
}
.sale-content{
    background-image: url(../../assets/images/day6_on_sale_img_23.jpg);
    background-repeat: no-repeat;
    text-align: center;
    padding: 5px 0;
    background-color: rgb(153, 153, 153);
    background-position: center;
    background-size: 435px;
    
}
.sale-content h1{
    border: 2px solid yellow;
    margin: 15px;
    padding: 85px 0;
    color: white;
    font-weight: normal;
    font-size: 40px;
}
.news h2{
    font-size: xx-large;
    font-weight: normal;
    border-bottom: 2px dashed black;
}
.news-content{
    background-color: rgb(230, 230, 230);
    padding-bottom: 10px;
}
.news-img{
    display: flex;
    justify-content: space-around;
    margin: 0px -40px;
    padding: 15px 0 0;
}
.news-content p{
    color: gray;
    margin: 20px 15px;
}
.more h4{
    background-color: black;
    color: yellow;
    padding: 10px;
   
}
.shipping{
    display: flex;
    justify-content: space-around;
    margin: 0 269px;
    position: relative;
    top: 220px;
}
.shipping-content i{
    font-size: 40px;
    background-color: gray;
    text-align: center;
    padding: 10px;
    float: left;
    margin-right: 30px;

    color: white;
    line-height: 0;
    vertical-align: middle;
}
.shipping-description{
    width: 300px;
}
.shipping-description h4{
    margin-block-start: 0;
    margin-block-end: 0;
}
.shipping-description p{
    margin-block-start: 0;
    margin-block-end: 0;
    color: gray;
}
footer{
    background-image: url(../../assets/images/day6_footer_bg.jpg);
    position: relative;
    top: 240px;
    
}
.footer-content{
    margin: 0 269px;
    display: flex;
    justify-content: space-around;
}
.footer-links{
    list-style-type: none;
    padding-inline-start: 0;
}
.footer-links li:first-child{
    color: yellow;
}
.footer-links li{
    color: gray;
    line-height: 2;
}
.mailing{
    background-color: rgb(228, 220, 220);
    margin: 25px 20px;
    padding: 10px 20px;
    color: gray;

}
.mailing h2{
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: normal;
    margin-bottom: 2px;
}
.mailing h5{
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: normal;
    margin-bottom: 10px;
}
input[type=text]{
    margin-bottom: 10px;
    border: none;
    width: 205px;
    padding: 5px;
}
input[type=email]{
    margin-bottom: 10px;
    border: none;
    width: 205px;
    padding: 5px;
}
input[type=submit]{
    background-color: black;
    color: yellow;
    padding: 5px;
    border: none;
    margin-right: -10px;
}
.footer-socials{
    position: relative;
    top: 30px;
    margin-right: -20px;
}
.footer-icons{
    display: flex;
    justify-content: right;
    width: 200px;
}
.footer-icons a{
    margin-left: 10px;
    margin-bottom: 10px;
}
.footer-icons a i{
    margin-left: 10px;
    
    font-size: 30px;
    color: gray;
}
.privacy-policy{
    background-color: yellow;
    width: auto;
    height: 60px;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 240px;
}
.policy{
    display: flex;

}
.policy h5{
    margin-top: 20px;
    border-right: 2px solid black;
    text-align: center;
    padding: 0 10px;
}

.copyrights h5{
    margin-top: 20px;
}

