<div class="container">
    <br><br>
    <article class="art" align="center">
        <h2>Radixweb</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </article>
    <br><br>
    <form action="web.html" align="center">
        <fieldset>
            <table class="formTable" align="center" border="0">
                <tr class="textc" colspan="2">
                    <td>
                        <legend>LOGIN</legend>
                    </td>
                </tr>
                <tr>
                    <td>Username</td>
                    <td><input type="text" name="username" placeholder="Username" required></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="Password" name="password" placeholder="Password" required></td>
                </tr>
                <tr class="textc" colspan="2">
                    <td><input class="btn btn-outline-light" type="submit" name="submit" value="LOGIN">
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>
