body{
    color: white;
}
.theme-dark{
    margin: 0%;
    background-color: black;
}
.menu ul li{
    display: inline;
    color: aliceblue;
    list-style-type: none;
    padding: 5px 30px 5px 20px;
    font-size: 17px;
}
.menu ul{
    margin: -60px 0px 10px 75%;
}
.menu img{
    margin: 30px 0px 0px 50px;
}
.centerName
{
    color: aliceblue;
    text-align: center;
    position: relative;
    margin-top: 12%;
    font-size: xx-large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.social-content ul li a{
    display: block;
    color: white;
    float: right;
    font-variant: normal;
    margin-right: 10px;
    text-decoration: none;
}
a{
    text-decoration: none;
}
a:visited{
    color: white;
    text-decoration: none;
}
a:hover{
    color:white;
    text-decoration: none;
}
.social-content ul li{
    height: 40px;
    margin-right: 40px;
    list-style-type: none;
}
.first-page
{
    width: 100%;
    height: 100%;
    position: relative;
}
.about-page
{
    transition-delay: 4ms;
    transition-duration: 10s;
    /* width: 100%; */
    margin: 0%;
    height: 100%;
    background-color:black;
    position: absolute;
    top: 0px;
}
.disapper{
    display: none;
}
.close{
    position: fixed;
    top: 10px;
    right: 60px;
    color: white;
}
.resume-page
{
    transition-delay: 4ms;
    transition-duration: 10s;
    /* width: 100%; */
    height: 100%;
    background-color:black;
    position: absolute;
    top: 0px;
}
.about-header h1
{
    color: white; text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.about-header h4{
    margin-top: 5%;
    text-align: center;
    color: rgb(167, 151, 151);
    font-family: 'Courier New', Courier, monospace;
}
.img-container img
{
    width: 40%;
    margin: 2%;
    clear: right;
    background-color:white;
    float: left;
    top: 10px;
}
.img-container{
    width: 100%;
    overflow: auto;
}
.img-container p h1{
    font-family: cursive;
}
.grey-span span{
    color:grey;
}