<p>js-day17-practice works!</p>
<div class="container mt-5">
    <h1>practice Exercise</h1>
    <p id="demo">Hello</p>
    <button class="btn-primary" onclick="window.open()">click here to open new window</button>
    <button class="btn-primary" onclick="wopen()">click here to open new window</button><br>
    <button class="btn-primary" onclick="window.resizeTo()">click here to Resize  window</button>
    <p id="current">h</p>
    <p id="newl">click  here to navigate another page
        <button onclick="newwindow()">click hre</button>
    </p>
    <button onclick="goback()">click here to go back</button>
    <button onclick="goprev()">click here to go forward</button>
    <p id="change">
        click below button to change window size
    </p>
    <button onclick="changes()" class="btn-danger">click me</button>
    <p id="change2">
        click below button to change that window size
    </p>
    <button onclick="changes2()"class="btn-danger">click me</button>
</div>