<div class="mt-2">
    <div class="card shadow-sm p-4">
        <h5 class="mb-4">Jobs by Category</h5>
        <a href="">Graphic Designer Jobs</a>
        <a href="">Engineering Jobs</a>
        <a href="">Mainframe Jobs</a>
        <a href="">Legal Jobs</a>
        <a href="">IT Jobs</a>
        <a href="">R&D Jobs</a>
        <a href="">Government Jobs</a>
        <a href="">PSU Jobs</a>
        <a href="">Oil and Gas Jobs</a>
        <a href="">Pharma Jobs</a>
        <a href="">Telecom Jobs</a>
        <a href="">Media Jobs</a>
        <a href="">Automobile Jobs</a>
        <a href="">Insurance Jobs</a>
        <a href="">Bank Jobs</a>
        <a href="">Agriculture Jobs</a>
        <a href="">Defence Jobs</a>
        <a href="">NGO Jobs</a>
        <a href="">Real Estate Jobs</a>
        <a href="">Shipping Jobs</a>
        <a href="" class="pt-3 font-weight-bold">View All Categories</a>
    </div>
</div>
