<div class="w-100">
       
        <div class="container mt-5">
            <h1 class="h3">Employee Details Form</h1>
            <div class="border p-3">
                <div id="errid"></div>
                <form>
                    <div class="form-group">
                        <label for="eid">Employee Id</label>
                        <input type="text" name="" id="eid" class="form-control" placeholder="12345">
                        
                    </div>
                    
                    <div class="form-group">
                        <label for="ename">Employee Name</label>
                        <input type="text" name="" id="ename" class="form-control" placeholder="Disha Shah">
                        
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="text" name="" id="age" class="form-control" placeholder="25">
                        
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender</label><br>
                            <input type="radio" name="gender" id="male" value="male">
                            <label for="male">Male</label>
                            <input type="radio" name="gender"  id="female" value="female">
                            <label for="female">Female</label>
                        
                    </div>
                    <div class="form-group">
                        <label for="designation">Designation</label>
                        <input type="text" name="" id="designation" class="form-control" placeholder="Software Developer">
                        
                    </div>
                    <div class="form-group">
                        <label for="salary">Salary</label>
                        <input type="number" name="" id="salary" class="form-control" placeholder="500000">
                        
                    </div>
                    <div class="form-group">
                        <label for="location">Location</label>
                        <select name="" id="location" class="custom-select">
                            <option value="">Select Location</option>
                            <option value="ahmedabad">Ahmedabad</option>
                            <option value="gandhinagar">Gandhinagar</option>
                            <option value="vadodara">Vadodara</option>
                            <option value="rajkot">Rajkot</option>
                        </select>
                        
                    </div>
                    <div class="form-group">
                        <label for="email">Email Id</label>
                        <input type="email" name="" id="email" class="form-control" placeholder="test@test.com">
                        
                    </div>
                    <div class="form-group">
                        <label for="dateOfJoining">Date of Joining</label>
                        <input type="date" name="" id="dateOfJoining" class="form-control">
                        
                    </div>
                    <div class="form-group">
                        <label for="contact">Contact Number</label>
                        <input type="number" name="" id="contact" class="form-control" placeholder="9672356125">
                        
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary" onclick="return validateForm()">
                    

                </form>
            </div>
        </div>
    </div>
