<html>
    <head>
        <title>grid_mediaquery</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="./Asset/Css/grid_mediaquery.css" type="text/css"> -->
    </head>
    <body>
        <div class="container">
            <nav>nav</nav>
            <main>Main</main>
            <div id="slider"  >Slider</div>
            <div id="content1">Content1</div>
            <div id="content2">Content2</div>
            <div id="content3">Content3</div>
            <footer>Footer</footer>
        </div>
    </body>
</html>