<div class="container-fluid w-100">
    <div class="row  border-bottom">
    <div class="col-lg-2 col-md-6 border-right border-bottom pb-3 pt-4">
        <p class="font-weight-bold" style="font-size: 20px;">Connect with us</p>
       <a href="https://www.facebook.com/FlySpiceJet" target="_blank"><img  src="../../assets/Images/facebook.png" height="30px" width="30px" alt=""></a>
       <a href="https://twitter.com/FlySpiceJet" target="_blank"> <img class="ml-2" src="../../assets/Images/twitter.png" height="30px" width="30px" alt=""></a>
       <a href="https://www.youtube.com/user/flyspicejet" target="_blank"> <img class="ml-2" src="../../assets/Images/youtube.png" height="30px" width="30px" alt=""></a>
       <a href="https://www.instagram.com/spicejetairlines/" target="_blank"> <img class="ml-2" src="../../assets/Images/instagram.png" height="30px" width="30px" alt=""></a>
       <a href="https://api.whatsapp.com/send/?phone=916000000006&text&app_absent=0" target="_blank"><img class="ml-2" src="../../assets/Images/whatsapp.png" height="30px" width="30px" alt=""></a>
    </div>
    <div class="col-lg-3 col-md-6 border-right  border-bottom  pb-3 pt-4">
        <p class="font-weight-bold" style="font-size: 18px;">For reservations, please call us at</p>
        <p class="font-weight-bold" style="font-size: 15px;">+91 (0)124 4983410</p>
        <p class="font-weight-bold" style="font-size: 15px;">+91 (0)124 7101600</p>
    </div>
    <div class="col-lg-3 col-md-4  border-right border-bottom  pb-3 pt-4">
       <a href="https://api.whatsapp.com/send/?phone=916000000006&text&app_absent=0" target="_blank"><img src="../../assets/Images/whatsappchatspice.png" alt=""></a>
    </div>
    <div class="col-lg-2 border-right  col-md-4 border-bottom  pb-3 pt-4">
        <img src="../../assets/Images/Spicechat.jpg" height="100px" width="100px" alt="">
        <p class="font-weight-bold">Ask our chat bot and she will be happy to help.
        </p>
    </div>
    <div class="col-lg-2 col-md-4 border-right  border-bottom  pb-2 pt-2">
        <p><img src="../../assets/Images/GooglePlay.png" height="100px" width="150px" alt=""></p>
        <p><img src="../../assets/Images/Appstore.png" height="80px" width="145px" alt=""></p>
    </div>
</div>
</div>
