<div class="card-deck mx-2 mb-4">
    <div class="card cardShadow border border-white">
        <div class="card-header font-weight-bold h5 bg-dark text-white">
            Shop top category
        </div>
        <div class="card-body">
            <a>
                <img src="../../../assets/Image/Card1.png" alt="Card1" class="card-img m-auto">
            </a>
        </div>
        <div class="card-footer">
            <a class="text-decoration-none text-dark">See more</a>
        </div>
    </div>
    <div class="card cardShadow border border-white">
        <div class="card-header font-weight-bold h5 bg-dark text-white">
            Computers
        </div>
        <div class="card-body">
            <a>
                <img src="../../../assets/Image/card2.jpg" alt="Card1" class="card-img m-auto">
            </a>
        </div>
        <div class="card-footer">
            <a class="text-decoration-none text-dark">Shop now</a>
        </div>
    </div>
    <div class="card cardShadow border border-white">
        <div class="card-header font-weight-bold h5 bg-dark text-white">
            Beauty Picks
        </div>
        <div class="card-body">
            <a>
                <img src="../../../assets/Image/card3.jpg" alt="Card1" class="card-img m-auto">
            </a>
        </div>
        <div class="card-footer">
            <a class="text-decoration-none text-dark">Shop now</a>
        </div>
    </div>
    <div class="card cardShadow border border-white">
        <div class="card-header font-weight-bold h5 bg-dark text-white">
            Deals & Promotion
        </div>
        <div class="card-body">
            <a>
                <img src="../../../assets/Image/card4.jpg" alt="Card1" class="card-img m-auto">
            </a>
        </div>
        <div class="card-footer">
            <a class="text-decoration-none text-dark">Shop now</a>
        </div>
    </div>
</div>
<div class="card-deck mx-2 mb-4">
    <div class="card cardShadow border border-white">
        <div class="card-header font-weight-bold h5 bg-dark text-white">
            Shop top brand
        </div>
        <div class="card-body">
            <a>
                <img src="../../../assets/Image/card5.jpg" alt="Card1" class="card-img m-auto">
            </a>
        </div>
        <div class="card-footer">
            <a class="text-decoration-none text-dark">See more</a>
        </div>
    </div>
    <div class="card cardShadow border border-white">
        <div class="card-header font-weight-bold h5 bg-dark text-white">
            Amazon Basics
        </div>
        <div class="card-body">
            <a>
                <img src="../../../assets/Image/card6.jpg" alt="Card1" class="card-img m-auto">
            </a>
        </div>
        <div class="card-footer">
            <a class="text-decoration-none text-dark">Shop now</a>
        </div>
    </div>
    <div class="card cardShadow border border-white">
        <div class="card-header font-weight-bold h5 bg-dark text-white">
            Electronics
        </div>
        <div class="card-body">
            <a>
                <img src="../../../assets/Image/card7.jpg" alt="Card1" class="card-img m-auto">
            </a>
        </div>
        <div class="card-footer">
            <a class="text-decoration-none text-dark">Shop now</a>
        </div>
    </div>
    <div class="card cardShadow border border-white">
        <div class="card-header font-weight-bold h5 bg-dark text-white">
            Deals & Promotion
        </div>
        <div class="card-body">
            <a>
                <img src="../../../assets/Image/card8.jpg" alt="Card1" class="card-img m-auto">
            </a>
        </div>
        <div class="card-footer">
            <a class="text-decoration-none text-dark">Shop now</a>
        </div>
    </div>
</div>
