
    
            <h1>HR DEPARTMENT</h1>        
            <ol type="I">
                <li>Senior Level Jobs
                    <ul type="square">
                        <li >HR DIRECTOR </li>
                        <li>chif human resources officer</li>
                        <li>HR Generalist</li>
                        <li>General HR Meneger</li>
                        <li>Hr Branch Manager</li>
                        <li>Assistant HR Menager</li>
                    </ul>
                </li>
                <li>
                    Middel Level Jobs
                    <ul type="circle">
                        <li>Seniour Exicutive HR</li>
                        <li>HR Supervisor</li>
                        <li>HR Sepcialist</li>
                        <li>Employee Relation Menager</li>
                        <li>Executive HR</li>
                        <li>Associative hR</li>
                        <li>Asminnistrator Hr</li>
                        <li>HR technical Supervicer</li>

                    </ul>
                </li>
                <li>
                    Lower Level jobes
                    <ul type="disc">
                        <li>Strategic partener</li>
                        <li>HR Analylist</li>
                        <li>Employment Menager</li>
                        <li>HR Mentor</li>
                        <li>Recruter</li>
                        <li>sinior HR Associative</li>
                    </ul>
                </li>
             </ol>
             

       