@model Zee_News_WebApi.Models.NewsContent

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>NewsContent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewsId" class="control-label"></label>
                <select asp-for="NewsId" class ="form-control" asp-items="ViewBag.NewsId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ContentId" class="control-label"></label>
                <input asp-for="ContentId" class="form-control" />
                <span asp-validation-for="ContentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagesLink" class="control-label"></label>
                <input asp-for="ImagesLink" class="form-control" />
                <span asp-validation-for="ImagesLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideosLink" class="control-label"></label>
                <input asp-for="VideosLink" class="form-control" />
                <span asp-validation-for="VideosLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
