<div class="mt-2 bg-dark text-white">
    <div class="container px-5 py-3">
        <div class="row">
            <div class="col">
                <div class="large pb-2">Information</div>
                <ul class="list-unstyled">
                    <li><a href="">About Us</a></li>
                    <li><a href="">Terms & Conditions</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Careers with Us</a></li>
                    <li><a href="">Sitemap</a></li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">FAQs</a></li>
                    <li><a href="">Summons/Notices</a></li>
                    <li><a href="">Fraud Alert</a></li>
                    <li><a href="">Trust and Safety</a></li>
                </ul>
                <div class="large pt-3">Naukri on Mobile</div>
                <a href=""><img src="../../../assets/img/Footer/google-play-download-android-app.svg" alt="" style="height: 50px; width: 130px;" class="img-fluid"></a>
                <br>
                <a href=""><img src="../../../assets/img/Footer/images.png" alt="" style="height: 45px; width: 130px;" class="img-fluid rounded"></a>
            </div>
            <div class="col">
                <div class="large pb-2">JobSeekers</div>
                <ul class="list-unstyled">
                    <li><a href="">Register Now</a></li>
                    <li><a href="">Search Jobs</a></li>
                    <li><a href="">Login</a></li>
                    <li><a href="">Create Job Alert</a></li>
                    <li><a href="">Report a Problem</a></li>
                    <li><a href="">Naukri Blogs</a></li>
                    <li><a href="">Mobile Site</a></li>
                </ul>
                <div class="large py-2">Browse Jobs</div>
                <ul class="list-unstyled">
                    <li><a href="">Browse All Jobs</a></li>
                    <li><a href="">Premium MBA Jobs</a></li>
                    <li><a href="">Premium Engineering Jobs</a></li>
                    <li><a href="">Govt. Jobs</a></li>
                    <li><a href="">International Jobs</a></li>
                    <li><a href="">Jobs in Gulf</a></li>
                    <li><a href="">Jobs by Company</a></li>
                    <li><a href="">Jobs by Category</a></li>
                    <li><a href="">Jobs by Location</a></li>
                    <li><a href="">Jobs by Designation</a></li>
                    <li><a href="">Jobs by Skill</a></li>
                </ul>
            </div>
            <div class="col">
                <div class="large pb-2">JobSeekers Services</div>
                <ul class="list-unstyled">
                    <li><a href="">Priority Applicant</a></li>
                    <li><a href="">Resume Display</a></li>
                    <li><a href="">Resume Writing</a></li>
                    <li><a href="">Jobs4U</a></li>
                    <li><a href="">Recruiter Connection</a></li>
                </ul>
                <div class="large py-2">Naukri Learning</div>
                <ul class="list-unstyled">
                    <li><a href="">Software and Technology</a></li>
                    <li><a href="">Artificial Intelligence and Data Science</a></li>
                    <li><a href="">Management</a></li>
                    <li><a href="">Finance</a></li>
                    <li><a href="">Creativity and Design</a></li>
                    <li><a href="">Emerging Technologies</a></li>
                    <li><a href="">Engineering-non CS</a></li>
                    <li><a href="">Healthcare</a></li>
                    <li><a href="">Energy and Environment</a></li>
                    <li><a href="">Social sciences</a></li>
                    <li><a href="">Personal growth</a></li>
                </ul>
            </div>
            <div class="col">
                <div class="large pb-2">Employers</div>
                <ul class="list-unstyled">
                    <li><a href="">Job Posting</a></li>
                    <li><a href="">Resume Database Access</a></li>
                    <li><a href="">Recruiter Login</a></li>
                    <li><a href="">Naukri RMS</a></li>
                    <li><a href="">Buy Resume Packages Online</a></li>
                    <li><a href="">Transition Services</a></li>
                    <li><a href="">Report a Problem</a></li>
                    <li style="color:grey">Recruiters from USA, call</li>
                    <li style="color: grey;">Toll Free # 1866-557-3340</li>
                </ul>
                <div class="large py-2">Ambition Box</div>
                <ul class="list-unstyled">
                    <li><a href="">Interview Questions</a></li>
                    <li><a href="">About Companies</a></li>
                    <li><a href="">Share Interview Advice</a></li>
                    <li><a href="">Write Company Review</a></li>
                    <li><a href="">Company Reviews</a></li>
                    <li><a href="">Company Salaries</a></li>
                </ul>
                <div style="color: grey;">Follow Us</div>
                <i class="fab fa-facebook-square fa-2x pr-1"></i>
                <i class="fab fa-twitter-square fa-2x px-1"></i>
                <i class="fab fa-linkedin fa-2x px-1"></i>
            </div>
        </div>
    </div>
</div>
