.container{
    width : 100%;
    height : 100px;
    box-shadow: 1px 1px 8px 10px #ffb0b0;;
    display : flex;
}
.first{
    color : black;
    background-color: pink;
    width : 33.33%;
    height : 100%;
    border :1px dotted rgb(94, 6, 21);
    float: left;
    clear: left;    
    overflow : scroll;

}
.second{
    color : black;
    background-color: rgb(175, 175, 218);
    width : 33.33%;
    height : 100%;
    float: left;
    clear: left;
    border :1px dotted rgb(12, 12, 117);
    overflow : scroll;
}
.third{
    color :black;
    background-color : rgb(126, 201, 126);
    overflow : scroll;  
    width : 33.33%;
    height : 100%;
    float: left;
    clear: left;
    border :1px dotted green;
}


  