.carouselShadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width : 850px) {
    .locationOne{
        display: none;
    }
   
}
@media screen and (max-width : 600px) {

    #carouselDisplay{
        display: none;
    }
}