<div class="col-sm-3">
    <ul class="list-unstyled h3 text-left">
        <li > Css </li>
        <li>Day 4</li>
        <li><a routerLink="Day4pra1"routerLinkActive="text-dark">Practicl 1</a></li>
        <li><a routerLink="Day4pra2">Practicl 2</a></li>
        <li><a routerLink="Day4pra3">Practicl 3</a></li>
        <li><a routerLink="Day4pra4">Practicl 4</a></li>
        <li><a routerLink="Day4pra5">Practicl 5</a></li>
        <li><a routerLink="Day4assingment">Assingment</a></li>
        <li>Day 5</li>
        <li><a routerLink="Day5pra1"routerLinkActive="text-dark">Practicl 1</a></li>
        <li><a routerLink="Day5pra2">Practicl 2</a></li>
        <li><a routerLink="Day5pra3">Practicl 3</a></li>
        <li><a routerLink="Day5assingment">Assingment</a></li>
        <li>Day 6</li>
        <li><a routerLink="Day6pra1"routerLinkActive="text-dark">Practicl 1</a></li>
        <li><a routerLink="Day6pra2">Practicl 2</a></li>
        <li><a routerLink="Day6pra3">Practicl 3</a></li>
        <li><a routerLink="Day6pra4">Practicl 4</a></li>
        <li><a routerLink="Day6pra5">Practicl 5</a></li>
        <li><a routerLink="Day6assingment">Assingment</a></li>
    </ul>
  </div>
  <div class="col-sm-9">
    <router-outlet></router-outlet>
  </div>