<html>
    <head>
        <title>Practice first</title>
       
    </head>
    <body>
        <div class="container">
            <div class="my-2 card w-25 mx-auto">
                <div class="card-header text-center">prctice 2</div>
                <div class="card-body text-center my-2">
                    <div class="my-1">
                        <input type="number" name="cirle" id="redius" placeholder="Enter length of squre">
                    </div>
                    <div class="my-1"><input type="button" onclick="return Area()" class="btn btn-primary my-2 p-2" value="Submit"></div>
                    <div id="answer"></div>
                </div>
            </div>
        </div>
    </body>
    <script>
        function Area(){
        var squre = new Function("a", "return Math.pow(a, 2)");
        var length = document.getElementById("redius").value;
        console.log(squre(length));
        document.getElementById("answer").innerHTML= squre(length);
    }
    </script>
</html>