<div class="text-center mx-auto" style="margin-top: 125px;width: 400px;">
    <div class="mt-5 mb-4">
        <img src="../../../assets/img/UBER_logo.png" alt="" height="145px">
    </div>
    <div class="card card-body mx-auto text-left border-0">
        <p id="welcome-para" style="font-size: 20px;"></p>
        <div class="" id="passwordDiv">
            <p>Enter your password</p>
            <input class="form-control border-0" type="password" id="password-input" [(ngModel)]="passwordInput" placeholder="password" style="font-size: 1.25rem;line-height: 1.2;font-weight: 500;margin-bottom: 0.5rem;color: black;">
            <p id="error-message" class="small text-danger" [ngClass]="{'d-none':!isWrong}">Invalid password</p>
        </div>
    </div>
    <a (click)="verifyPasswordAndRedirect();" class="btn btn-dark btn-black m-3" style="width:90%;height: 60px;"><h5 class="mt-2">Next</h5></a>
    <div class="text-left ml-4">
        <a href="" class=" text-decoration-none" style="color: #0056b3;">I forgot my password</a>
    </div>
</div>