<h1>LIST OF CITY</h1>
        <ul>
            <li><a href="https://en.wikipedia.org/wiki/Ahmedabad">Ahmedabad</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Delhi">Delhi</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Mumbai">Mumbai</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Bangalore">Banglore</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Chennai">channai</a></li>
        </ul>
        <h1>Inline property to the block property</h1>
        <span>This is inline property</span>
        <span>this is in line property</span>
