body{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    width:100%;
}
.img{
    height:200px;
}
.div1{
    margin: 20px;
}
.div2{
    margin: 20px;
}
.div3{
    margin: 20px;
    padding-top: 40px;
}
.grey{
    color:grey;
}
#logo1{
    padding:20px;
    color:lightgreen;
    margin: 0;
}
#logo2{
    color:lightgreen;
    margin: 0;
}
#date{
    color:darkgray;
}
#li{
    padding:0;
    list-style-type: none;
}
#hr{
    border: 1px solid gray;
    margin-top: -15px;
    padding: 0;
}
#font1{
    color:grey;
    font-size:xx-large;
}
#small1{
    color:grey;
    font-size: medium;
    margin-top: 0;
}
.button1{
    background-color: lime;
    color: white;
    text-align: center;
    height: 25px;
    border: none;
    padding: 5px;
}
.center{
    text-align: center;
}
.vl{
    border-left: 2px solid lightgrey;
    height: 200px;
  }
  .div4{
    margin: 0px;
  }
  #margin{
      margin-left: 20px;
  }
  #hr1{
      border: 1px dashed whitesmoke;
      margin-top: -15px;
      padding: 0%;
  }
  .div5{
      background-color: dimgray;
      color:floralwhite;
      padding: 20px;
      clear:both;
  }
  #anchor{
    color:darkgray;
    text-decoration: none; 
    font-size: medium;
  }
  #hr2{
    border: 1px solid gray;
    padding: 0;
}
#green{
    color: lime;
}
.footer{
    background-color: black;
    color:floralwhite;
    padding: 20px;
    text-align: center;
}
.footer-icon{
    padding-left: 5px;
}
.mobile{
    float: left;
    margin-bottom: 10px;
}
.ipad{
    display: none;
    float: left;
}
.desktop{
    display: none;
    float: left;
}
@media (min-width: 768px) {
    .img{
        height: 300px;
     }
     .float{
         width:360px;
         float:left;
     }
     .center{
         text-align: left;
     }
     .div4{
         clear:both;
     }
     
     .ipad{
        display: inline;
    }
    .div5{
        clear: both;
    }
    #margin{
        margin-left: 30px;
    }
    .float1{
        height:235px;
        width:350px;
        float:left;
        padding:4px;
     }
     .flex{
         display: flex;
     }
     .set{
        height:235px;
        width:350px;
        padding:4px;
     }
     .mobile img{
         height:60px;
         width:100px;
     }
     .ipad img{
        height:60px;
        width:100px;
    }
}
@media (min-width: 1280px) {
    .img{
        height: 500px;
     }
     .div1{
         display: flex;
     }
     .setwidth1{
         width:80%;
     }
     .setwidth2{
        width:20%;
        padding:40px;
    }
    .div2{
        display: flex;
    }
    #none{
        display: none;
    }
    .setwidth3{
        width: 33%;
    }
    .flexlogos{
        display: flex;
    }
    .width6{
        width:24%;
    }
    .desktop{
        display: inline;
    }
    .mobile img{
        height:80px;
        width:125px;
    }
    .ipad img{
       height:80px;
       width:125px;
    }
    .desktop img{
        height:80px;
        width:125px;
    }
    .div5{
        display: flex;
    }
    .setwidth4{
        width:30%;
        padding:5px;
    }

}