<div class="row slick-recommended-movies" id="outdoorEvents">
    <div class="col-sm-12 col-md-4 col-lg-3" *ngFor="let outdoor of finalList">
        <div>
            <div class="slide-content">
                <a routerLink="/events/{{outdoor.event}}/{{outdoor.eventId}}" routerLinkActive="active" class="text-decoration-none">
                    <img [src]="'../../assets/' + outdoor.image" alt="" loading="lazy" class="w-100 rounded">
                    <h6 style="color: black;" class="pt-3">{{outdoor.event}}</h6>
                    <h6 class="text-muted font-weight-normal d-none d-lg-block">{{outdoor.eventVenue}}</h6>
                </a>
            </div>
        </div>
    </div>        
</div>
