<footer class="container-fluid bg-dark text-white" *ngIf="footerFlag==true">
    <div class="container ">
        <div class="row ">
            <div class="col-md-6 col-lg-3">
                <p class="mt-5 font-weight-bold">Get to Know Us</p>
                <p class="text-muted">Careers</p>
                <p class="text-muted">Blog</p>
                <p class="text-muted">About Amazon</p>
                <p class="text-muted">Investor Relations</p>
                <p class="text-muted">Amazon Devices</p>
                <p class="text-muted">Amazon Tours</p>
            </div>
            <div class="col-md-6 col-lg-3">
                <p class="mt-5 font-weight-bold">Make Money with Us</p>
                <p class="text-muted">Sell products on Amazon</p>
                <p class="text-muted">Sell apps on Amazon</p>
                <p class="text-muted">Become an Affiliate</p>
                <p class="text-muted">Advertise Your Products</p>
                <p class="text-muted">Self-Publish with Us</p>
                <p class="text-muted">Host an Amazon Hub</p>
                <p class="text-muted">See More Make Money with Us</p>
            </div>
            <div class="col-md-6 col-lg-3">
                <p class="mt-5 font-weight-bold">Amazon Payment Products</p>
                <p class="text-muted">Amazon Business Card</p>
                <p class="text-muted">Shop with Points</p>
                <p class="text-muted">Reload Your Balance</p>
                <p class="text-muted">Amazon Currency Converter</p>
            </div>
            <div class="col-md-6 col-lg-3">
                <p class="mt-5 font-weight-bold">Let Us Help You</p>
                <p class="text-muted">Amazon and COVID-19</p>
                <p class="text-muted">Your Account</p>
                <p class="text-muted">Your Orders</p>
                <p class="text-muted">Shipping Rates & Policies</p>
                <p class="text-muted">Returns & Replacements</p>
                <p class="text-muted">Manage Your Content and Devices</p>
                <p class="text-muted">Amazon Assistant</p>
                <p class="text-muted">Help</p>
            </div>
        </div>
        <hr class="bg-light">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-lg-2">
                <p class="font-weight-bold">Amazon Music</p>
                <p class="text-muted">Stream millions of songs</p>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-2">
                <p class="font-weight-bold">Amazon Advertising</p>
                <p class="text-muted">Find, attract and engage customers</p>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-2">
                <p class="font-weight-bold">Amazon drive</p>
                <p class="text-muted">Cluod storage from amazon</p>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-2">
                <p class="font-weight-bold">6pm</p>
                <p class="text-muted">Score deals on fashion brands</p>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-2">
                <p class="font-weight-bold">Home service</p>
                <p class="text-muted">Experienced Pros Hapiness Guarantee</p>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-2">
                <p class="font-weight-bold">Book Depository</p>
                <p class="text-muted">Books with Free Delivery Worlwide</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-lg-2">
                <p class="font-weight-bold">Amazon Music</p>
                <p class="text-muted">Stream millions of songs</p>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-2">
                <p class="font-weight-bold">Amazon Advertising</p>
                <p class="text-muted">Find, attract and engage customers</p>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-2">
                <p class="font-weight-bold">Amazon drive</p>
                <p class="text-muted">Cluod storage from amazon</p>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-2">
                <p class="font-weight-bold">6pm</p>
                <p class="text-muted">Score deals on fashion brands</p>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-2">
                <p class="font-weight-bold">Home service</p>
                <p class="text-muted">Experienced Pros Hapiness Guarantee</p>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-2">
                <p class="font-weight-bold">Book Depository</p>
                <p class="text-muted">Books with Free Delivery Worlwide</p>
            </div>
        </div>
    </div>
    <hr class="bg-white">
    <div class="container d-flex justify-content-around text-center">
        <i class="fab h2 text-primary fa-facebook"></i>
        <i class="fab h2 text-danger fa-instagram" ></i>
        <i class="fab text-primary h2 fa-linkedin"></i>
        <i class="fab fa-amazon h2"></i>
        <i class="fab h2 text-danger fa-google-plus"></i>
        <i class="fab fa-youtube h2 text-danger"></i>
        
    </div>
    <div class="container-fluid">
        <section class="text-center text-white pb-3">
            <a href="#bottom" class="text-decoration-none font-weight-bold text-white">Conditions of Use</a> &emsp;
            <a href="#bottom" class="text-decoration-none font-weight-bold text-white">Privacy Notice</a>&emsp; <a
                href="#bottom" class="text-decoration-none font-weight-bold text-white">Interest-Based</a> &emsp;
            <span class="text-muted">Ads© 1996-{{CurrentYear}}, Amazon.com, Inc. or its affiliates</span>
        </section>
    </div>
</footer>