 <header>
    <div class="bg-primary text-white py-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1><i class="far fa-cog"></i>Product</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container mx-auto my-3"> 
        <div class="col-lg-3">
             <button class="btn btn-warning btn-block"  (click)="open(Adduser)">
                <i class="fa fa-plus" aria-hidden="true"></i> Add New Product
             </button>
        </div>
    </div>
</section>
<div class="users">
    <div class="container">
        <div class="row">
            <div class="col">
                <ng-template #Adduser let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form [formGroup]="cityForm" (ngSubmit)="addproduct(cityForm.value)"> 
                        <div class="form-group">
                            <label>Restorent Name</label>
                            <select formControlName="resnames" class="form-control focusforuse">
                                <option [ngValue]="null" disabled>Choose your Restarant</option>
                                 <option *ngFor="let item of restaurantdata;let idx = index" class='my-5' [ngValue]="item">{{item.restaurantName}}</option>
                            </select>
                            <div id="validcity" class="valdefault text-danger">Enter valid city </div> 
                          </div>
                          <div class="form-group">
                            <label for="">Food Category</label>
                            <select formControlName="categoryes" class="form-control focusforuse">
                                <option [ngValue]="null" disabled>Choose your Category</option>
                                 <option *ngFor="let item of categorys;let idx = index" class='my-5' [ngValue]="item">{{item.categoryName}}</option>
                            </select>
                            <div id="validcity" class="valdefault text-danger">Enter valid city </div> 
                          </div>
                        <div class="form-group">
                            <label for="">Product Name</label>
                            <input type="text" formControlName="productname"  class="form-control focusforuse" placeholder="Enter name" id="citynamead" value="">
                          <div id="validcity" class="valdefault text-danger">Enter valid name </div> 
                        </div>
                        <div class="form-group">
                            <label for="">Product Price</label>
                            <input type="text" formControlName="productprice" class="form-control" placeholder="Product Price" id="newproprice" value="">
                            <label id="proprice" class="text-denger valid">Enter Product Price</label>
                        </div>
                        <div class="form-group">
                            <label for="">Product Image</label>
                            <input type="file" (change)="onFileSelected($event)"  formControlName="productimage" class="form-control" placeholder="Product Image" id="file" required>
                            <!-- <label id="prodimgs" class="text-danger valid">Enter Product Image</label> -->
                        </div>
                       
                          <button type="submit" class="btn btn-primary" (click)="modal.close('Save click')" >Submit</button>
                      </form>
                  </div>

                </ng-template>
                <div class="modal" id="updateProduct">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h4 class="modal-title">Update Product Data</h4>
                          <button type="button"  class="close colseclass" (click)="colseuse()"  data-dismiss="modal">&times;</button>
                        </div>
                       <!-- Modal body -->
                       <div class="modal-body">
                        <form [formGroup]="cityForm" (ngSubmit)="updatecitys(cityForm.value)"> 
                            <div class="form-group">
                                <label for="">Restaurant Name</label>
                                <select formControlName="uresnames" class="form-control focusforuse">
                                    <option [ngValue]="null" disabled>Choose your Restarant</option>
                                     <option *ngFor="let item of restaurantdata;let idx = index" class='my-5' [ngValue]="item">{{item.restaurantName}}</option>
                                </select>
                                <div id="validcity" class="valdefault text-danger">Enter valid city </div> 
                              </div>
                              <div class="form-group">
                                <label for="">Category Name</label>
                                <select formControlName="ucategoryes" class="form-control focusforuse">
                                    <option [ngValue]="null" disabled>Choose your Category</option>
                                     <option *ngFor="let item of categorys;let idx = index" class='my-5' [ngValue]="item">{{item.categoryName}}</option>
                                </select>
                                <div id="validcity" class="valdefault text-danger">Enter valid city </div> 
                              </div>
                            <div class="form-group">
                                <label for="">Product Update Name</label>
                              <input type="text" formControlName="uproductname" [(ngModel)]="updatename"  class="form-control focusforuse" placeholder="Enter name" id="citynamead" value="">
                              <div id="validcity" class="valdefault text-danger">Enter valid city </div> 
                            </div>
                            <div class="form-group">
                                <label for="">Product Update Price</label>
                                <input type="number" formControlName="uproductprice" [(ngModel)]="updateprice"  class="form-control" placeholder="Product price" id="uproprice" value="">
                                <label id="proname" class="text-denger valid">Enter valid Product Price</label> 
                            </div>
                            <button type="button" class="btn btn-secondary mr-3 colseclass" (click)="colseuse()" data-dismiss="modal">Close</button>
                            <button class="btn btn-primary" type="submit" >Submit</button>
                          </form>
                      </div>
                      </div>
                    </div>
                </div>
                
                 <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                        </h4>
                        <table id="my_table" class="display table table-striped">
                            <thead>
                                <tr>
                                    <th>Id</th>  
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Category</th>
                                    <th>Action</th>
                                    <th>Update</th>
                                </tr>
                            </thead>
                            <tbody id="tblbody">                         
                              <tr *ngFor="let item of productsdata;let idx = index" class='my-5'>
                                <td>{{item.productId}}</td>
                                <td>{{item.productName}}</td>
                                <td>{{item.productPrice}}</td>
                                <td>{{Category(item.categoryid)}}</td>
                                <!-- <td>{{Restarant(item.restaurantId)}}</td> -->
                                <td><button class='btn btn-danger deletebtn' (click)="deleterow(item.productId)"><i class='fas fa-trash-alt'></i>delete</button></td>
                                <td><button class='btn btn-warning deletebtn' (click)='updaterow(item.productId)'><i class='fas fa-trash-alt'></i>Update</button></td>
                              </tr>
                              <br>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>