<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a routerLink="/server/{{server.id}}" [queryParams] = "{allowEdit: server.id == 3 ? '1' : '0'}" fragment="loading" class="list-group-item" *ngFor="let server of serversList">
                    {{server.name}}
                </a>
            </div>
        </div>
        <div class="col-md-9">
            <!-- <button class="btn btn-primary" (click)="onReload()">Reload Page</button> -->
            <router-outlet></router-outlet>
            <p>server works!</p>
        </div>
    </div>
</div>