<div class="w-100" style="overflow-x: hidden;">
<div>
        <img src="../../assets/Images/Covid-Banner.png" class="img-fluid" width="100%" alt="">
</div>

   <div class="row bg-warning">
               
       <div class="col-lg-3  pl-5 col-md-6 my-2">
           <a href="http://corporate.spicejet.com/PassengerGuidelines.pdf" target="_blank" class="text-dark" style="font-weight: 500;">PASSENGER GUIDELINES</a>
           
       </div>
       <div class="col-lg-3 pl-5 col-md-6 my-2">
        <a href="http://corporate.spicejet.com/PassengerGuidelines.pdf" target="_blank" class="text-dark" style="font-weight: 500;">TRAVEL GUIDELINES</a>
       </div>
       <div class="col-lg-3 pl-5 col-md-6 my-2">
        <a href="http://corporate.spicejet.com/PassengerGuidelines.pdf"  target="_blank" class="text-dark" style="font-weight: 500;">FAQS</a>
       </div>
       <div class="col-lg-3 pl-5 col-md-6 my-2">
        <a href="http://corporate.spicejet.com/PassengerGuidelines.pdf" target="_blank" class="text-dark" style="font-weight: 500;">CHAT WITH MS. PEPPER</a>
       </div>
    </div>

   <div class="container py-5">
    <div class="text-center text-danger font-weight-bold" style="font-size: 20px;">SPICE SHIELD FOR A SAFER TRAVEL EXPERIENCE</div>
    <div class="row">
        <div class="col text-center">
            <img src="../../assets/Images/Cabin sanitization.png" class="img-fluid" alt="">
            <p class="font-weight-bold" style="font-size: 15px;">CABIN SANITIZATION</p>
            <p>Best-in-class cleaning and sanitizing procedures with Boeing approved disinfectants before every flight.</p>
        </div>
        <div class="col text-center">
            <img src="../../assets/Images/Synthetic Seat.png"  class="img-fluid" alt="">
            <p class="font-weight-bold " style="font-size: 15px;">SYNTHETIC SEATS</p>
            <p>We are equipping our aircraft with synthetic Leather seats. These non-porous seats make it difficult for viruses and particles to penetrate inside them and can be easily wiped off compared to standard fabric seats.</p>

        </div>
        <div class="col text-center">
           <a href="https://www.youtube.com/watch?v=Hnoix1mNr6g" target="_blank"><img src="../../assets/Images/AIR CIRCULATION SYSTEMS.png"  class="img-fluid" alt=""></a> 
            <p class="font-weight-bold " style="font-size: 15px;">AIR CIRCULATION SYSTEMS</p>
            <p>
                The cabin air does not circulate from front to back, it only flows from the ceiling to the floor and gets absorbed for filtration.
            </p>
        </div>
        <div class="col text-center">
            <img src="../../assets/Images/HEPA FILTERS.png"  class="img-fluid" alt="">
            <p class="font-weight-bold " style="font-size: 15px;">HEPA FILTERS</p>
            <p>All our aircraft use a High Efficiency Particulate Air (HEPA) filter that removes up to 99.9% of airborne particles.</p>
        </div>
        <div class="col text-center">
            <img src="../../assets/Images/PROTECTIVE MEASURES.png"  class="img-fluid" alt="">
            <p class="font-weight-bold " style="font-size: 15px;">PROTECTIVE MEASURES</p>
            <p>Our crew will be wearing protective gear and customers will be provided with a safety kit.</p>
        </div>
    </div>

   </div>

   <div class="container border border-danger">
       <p class="text-center text-danger font-weight-bold mt-3" style="font-size: 20px;">PASSENGER GUIDELINES</p>
       <p class="text-center" style="font-size: 20px;">FLY SAFE. STAY SAFE.</p>
   </div>

   <div class="container text-center">
       <div class="row">
       <div class="col-lg-3 border-dark border-right d-none mt-5 d-xl-block ">
           <div class="position-stikey">
           <p class="my-4 hover-red "><a href="#item1"  class="btn text-dark">STEPS FOR WEB CHECK IN</a></p> 
           <p class="my-4 hover-red"><a href="#item2"  class="btn text-dark">BEFORE YOU STEP OUT</a></p>
           <p class="my-4 hover-red"><a href="#item3"  class="btn text-dark">STATE-WISE HEALTH REGULATIONS</a> </p>
            <p class="my-4 hover-red"><a href="#item4"  class="btn text-dark">ENTRY TO AIRPORT</a> </p>
            <p class="my-4 hover-red"><a href="#item5" class="btn text-dark" >INSIDE THE AIRPORT</a> </p>
            <p class="my-4 hover-red"><a href="#item6" class="btn text-dark">BAGGAGE DROP</a> </p>
            <p class="my-4 hover-red"><a href="#item7" class="btn text-dark">BOARDING</a></p> 
            <p class="my-4 hover-red"><a href="#item8" class="btn text-dark">IN-FLIGHT</a> </p>
            <p class="my-4 hover-red"><a href="#item9" class="btn text-dark">DISEMBARKATION AND BAGGAGE COLLECTION</a> </p>
            <p class="my-4 hover-red"><a href="#item10" class="btn text-dark">AIRPORT GUIDE FOR TRAVELLERS</a> </p>
           <p class="my-4 hover-red"> <a href="#item11" class="btn text-dark">FAQS</a> </p>
        </div>
          
       </div>
       <div class="col-lg-9 col-md-12 mt-5">
           <div class="row">
               <div class="col-lg-12">
                   <img src="../../assets/Images/web check in.jpg" class="img-fluid" alt="">
               </div>
           </div>
           <div class="text-center mt-5 text-danger font-weight-bold" style="font-size: 20px;">
            STEPS FOR WEB CHECK-IN
           </div>
           <div class="row mt-3">
            <div class="col-lg-3 col-md-6">
                <img src="../../assets/Images/m1.png" class="img-fluid" alt="">
                <p class="text-center">Web check-in on our website www.spicejet.com or using the SpiceJet App.</p>
            </div>
            <div class="col-lg-3 col-md-6">
             <img src="../../assets/Images/m2.png" class="img-fluid" alt="">
             <p class="text-center">One check-in bag of up to 15 kg and one hand bag of up to 7 kg are allowed. Add your check-in baggage during the web check-in process.</p>
            </div>
            <div class="col-lg-3 col-md-6">
             <img src="../../assets/Images/m3.png" class="img-fluid" alt="">
             <p class="text-center">Boarding pass along with a baggage label will be emailed to you post web check-in. Please ensure the baggage label is properly displayed on your checked-in baggage.</p>
            </div>
            <div class="col-lg-3 col-md-6">
             <img src="../../assets/Images/m4.png" class="img-fluid" alt="">
             <p class="text-center">
                You can also travel with your mobile boarding pass.
             </p>
            </div>
        </div>


        <div class="container border border-danger">
            <p>Web check-in is mandatory for domestic flights and closes 60 minutes prior to departure. For assistance with check-in or reissuance of boarding pass at the airport or through Reservations, a facilitation fee of INR 200 per passenger will be charged.

                Bookings made for senior citizens, armed forces, unaccompanied minors and passengers with medical conditions or on a stretcher are exempted from this fee.</p>
        </div>


        
       <div class="text-center text-danger font-weight-bold my-4" style="font-size: 20px;">SPICE SHIELD FOR A SAFER TRAVEL EXPERIENCE</div>
          
       <div class="container">
           <div class="row">
               <div class="col-sm-9">
                   <p>Ensure that you have multiple digital payment apps on your phone so that you can avoid cash transactions at the airport.</p>
               </div>
               <div class="col-sm-3">
                <img src="../../assets/Images/mobilerupee.png" class="img-fluid" alt="">
               </div>
           </div>
           <div class="border-bottom border-danger"></div>
       </div>
        <div class="border border-danger mt-3">
            <div class="row m-3">
                <div class="col-lg-3">
                    <img src="../../assets/Images/map.png" class="img-fluid" width="100%" alt="">
                </div>
                <div class="col-lg-6">
                    <p class="text-center text-danger font-weight-bold">Before travelling, check state-wise health regulations.</p>
                    <div> <button class="btn btn-outline-danger">Click Here</button></div>
                </div>
                <div class="col-lg-3">
                    <img src="../../assets/Images/ind-icons.png" class="img-fluid" width="100%" alt="">
                </div>
            </div>
        </div>

        <div class="text-center text-danger font-weight-bold my-4" style="font-size: 20px;">ENTRY TO AIRPORT</div>
        <div class="container">
            <img src="../../assets/Images/entrytoairport.png" class="img-fluid" width="100%" alt="">
        </div>
        <div class="text-center text-danger font-weight-bold my-4" style="font-size: 20px;">INSIDE THE AIRPORT</div>

        <div class="container">
            <div class="row">
            <div class="col-lg-6">
                <img src="../../assets/Images/traveller.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6">
                <div class="row">
                <div class="col-md-6">
                    <img src="../../assets/Images/trav1.png" class="img-fluid" alt="">
                    <p>Use of trolleys should be avoided.</p>
                </div>
                <div class="col-md-6">
                    <img src="../../assets/Images/trav2.png" class="img-fluid" alt="">
                    <p>Please avoid touching surfaces as much as possible.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="../../assets/Images/trav3.png" class="img-fluid" alt="">
                    <p>Try to use airport restrooms instead of the aircraft ones since aircraft lavatories are compact.</p>
                </div>
                <div class="col-md-4">
                    <img src="../../assets/Images/trav4.png" class="img-fluid" alt="">
                    <p>Maintain social distancing within the airport premises and keep sanitizing your hands. Do not use chairs marked ‘Not for Use’.</p>
                </div>
                <div class="col-md-4">
                    <img src="../../assets/Images/trav5.png" class="img-fluid" alt="">
                    <p>Please pay attention to airport advisories and communications and adhere to them strictly.</p>
                </div>
            </div>
            </div>
        </div>
       </div>

       <div class="container bg-danger p-3 text-center text-white">
           
        <p class="font-weight-bold" style="font-size: 20px;">BAGGAGE DROP</p>
        <div class="row">
            <div class="col-lg-4">
                <ul>
                    <li>
                        Baggage drop closes 60 mins prior to departure.
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <ul>
                    <li>Place your bag on the conveyor belt with a properly filled baggage tag stuck to it.</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <ul>
                    <li>Instead of a paper receipt, you will now receive an SMS for your checked in bag.</li>
                </ul>
            </div>
        </div>

       </div>

       <div class="text-center my-5 text-danger font-weight-bold" style="font-size: 20px;">
        BOARDING GATE CLOSES 20 MIN PRIOR TO DEPARTURE
       </div>

       <div class="row">
           <div class="col-lg-4">
               <div class="row">
                   <div class="col-md-6">
                       <img src="../../assets/Images/borad1.png" width="100%" alt="">
                       <p>Please collect your safety kit kept near the boarding gate. For added protection, middle seat passenger will additionally be provided with a coverall gown. Safety kit must be put on before proceeding for boarding.</p>
                   </div>
                   <div class="col-md-6">
                       <img src="../../assets/Images/board2.png" width="100%" alt="">
                       <p>You are encouraged to selfscan your boarding passes and display your identity card to the airlines official.</p>
                    </div>
               </div>
               <div class="row">
                <div class="col-md-6">
                    <img src="../../assets/Images/board4.png" width="100%" alt="">
                    <p>To avoid physical contact, we will reduce the number of people in our coaches by 50%.</p>
                </div>
                <div class="col-md-6">
                    <img src="../../assets/Images/board3.png" width="100%" alt="">
                    <p>Please follow boarding instructions as we are boarding fewer customers at a time to comply with social distancing for safety.</p>
                </div>
            </div>
           </div>
           <div class="col-lg-8">
               <img src="../../assets/Images/boardingcounter.png" width="100%" alt="">
           </div>
       </div>


       <div class="container bg-danger p-3 text-center text-white">
           
        <p class="font-weight-bold" style="font-size: 20px;">IN-FLIGHT</p>
        <div class="row">
            <div class="col-lg-4">
                <img src="../../assets/Images/food-new.png" class="img-fluid" alt="">
                <p>Meals and sandwiches along with beverages are available for pre-booking on SpiceJet flights, at discounted rates

 
                    Our on-board menu offers a variety of ready-to-eat products, munchies and beverages to choose from. Payments will be accepted through debit/credit cards only.
                    
                    As per the orders from the Ministry of Civil Aviation, Food and Beverages are only available on flights with duration of 2 hours and above.</p>
            </div>
            <div class="col-lg-4">
                <img src="../../assets/Images/food2.png" class="img-fluid" alt="">
                <p>Our in-flight magazine and any other reading material will also not be available during this period.</p>
            </div>
            <div class="col-lg-4">
                <img src="../../assets/Images/food3.png" alt="">
                <p>Please limit your movement in the aircraft cabin. Unless absolutely necessary, avoid getting up and visiting the lavatories once you are seated.</p>
            </div>
        </div>

       </div>

       <div class="container my-4">
           <div class="row">
               <div class="col-md-5">
                   <div class=" border border-dark rounded">
                   <img src="../../assets/Images/luggage1.png" alt="">
                   <p class="text-danger text-center font-weight-bold">DISEMBARKATION</p>
                   <p class="text-center">Passengers will now exit the plane from front-to-back. While disembarking, passengers should strictly adhere to social distancing norms.</p>
                </div>


               </div>
               <div class="col-md-7 ">
                   <div class=" border border-dark rounded">
                   <img src="../../assets/Images/luggage2.png" alt="">
                   <p class="text-danger text-center font-weight-bold">BAGGAGE COLLECTION</p>
                   <p>Please keep your face masks on, follow social distancing norms and maintain all precautions while collecting your baggage and exiting the airport. Dispose used masks and gloves in the biohazard waste bins only. These can be found at the terminal exit. Upon arrival, passengers should comply with the health protocols of the respective state/union territory.</p>
               </div>
            </div>
           </div>
       </div>

       <div class="container">
       <div class="row">
           <div class="col-lg-5">
               <div class="row">
                   <div class="col-sm-6">
                       <img src="../../assets/Images/notwell.png" class="w-100"  alt="">
                   </div>
                   <div class="col-sm-6">
                       <p class="font-weight-bold" style="font-size: 20px;">
                        DON’T FLY IF YOU ARE UNWELL</p>
                   </div>
               </div>
           </div>
           <div class="col-lg-7">
               <p>The health and safety of our customers and crew members is our top priority. In case you do not feel well or are concerned that you may have Coronavirus, please do not fly until cleared to travel by a doctor. We, at SpiceJet, are completely ready to fly you and are putting all measures together to deliver industry leading cleanliness, prioritise your well-being and innovate for a healthier tomorrow.</p>
           </div>
       </div>

       <div class="row">
           <div class="col-lg-5">
               <img src="../../assets/Images/dgcaimg.png" alt="">
           </div>
           <div class="col-lg-7">
            DGCA mandates all passengers to wear masks and to maintain social distancing norms at all times during their travel. All passengers must ensure strict compliance of Covid-19 protocols.
            DGCA Order for Covid-19 protocols can be checked here .
           </div>
       </div>
    </div>

    </div>

       

   </div>

</div>
<div class="container bg-light">
    <div class="row">
    <div class="col-lg-4 border-right border-danger my-3">
        <img src="../../assets/Images/footer-statewise.png" alt="">
        <p class="text-danger font-weight-bold" style="font-size: 20px;">STATE-WISE HEALTH <br> REGULATIONS</p>
    </div>
    <div class="col-lg-4 border-right border-danger my-3">
        <img src="../../assets/Images/footer-faq.png" alt="">
        <p class="text-danger font-weight-bold" style="font-size: 20px;">FREQUENTLY ASKED <br>
            QUESTIONS</p>
    </div>
    <div class="col-lg-4 my-3">
        <img src="../../assets/Images/footerpassguide.png" alt="">
        <p class="text-danger font-weight-bold" style="font-size: 20px;">DOWNLOAD PASSENGER <br> GUIDELINES<br>
            </p>
    </div>
</div>
</div>
<hr>
</div>



