<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">HTTP </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" routerLink="/FirebaseExample" routerLinkActive="btn btn-success text-white">Using firebase</a>
      <a class="nav-link" routerLink="/RestAPIExample" routerLinkActive="btn btn-success text-white">using rest Api</a>
      
    </div>
  </div>
</nav>
<router-outlet> </router-outlet>