/* flex box */
.div1{
    display: flexbox;
    color: grey;
    outline: 2px solid silver;

}
/* element selector */
p{
    flex: 1 auto;
    background-color: tomato;
    font-weight: bold;
    margin: 23px 50px 25px 20px;
  
}
/* gridbox */
.grid
{   display:grid;
    background-color: teal;
   grid-template-columns: 300px auto;
}
.logo{

    border-width: 2px solid black   ;
    
    background-color: red;
    }
.items{
    
    
    background-color: orange;
}