<div class="container-fluid  w-100 pt-2">
    <div class="row border-bottom">
    <div class="col-lg-2 border-right">
        <p style="font-size: 50px;"><i class="fas fa-users text-danger" data-toggle="tooltip" data-placement="top" title="Group Travel"></i></p><span class="font-weight-bold pr-3">Group Travel</span><i style="font-size: 20px;" class="fas fa-arrow-right text-danger text"></i>
    </div>
    <div class="col-lg-2 border-right">
        <p style="font-size: 50px;"><i class="fas fa-plane-departure text-danger" data-toggle="tooltip" data-placement="top" title="Manage Booking"></i></p><span class="font-weight-bold pr-3">Manage Booking</span><i style="font-size: 20px;" class="fas fa-arrow-right text-danger text"></i>
    </div>
    <div class="col-lg-2 border-right">
        <p style="font-size: 50px;"><i class="fas fa-user-tie text-danger text-danger" data-toggle="tooltip" data-placement="top" title="SME Travel"></i></p><span class="font-weight-bold pr-3">SME Travel</span><i style="font-size: 20px;" class="fas fa-arrow-right text-danger text"></i>
    </div>
    <div class="col-lg-2 border-right">
        <p style="font-size: 50px;"><i class="fas fa-viruses  text-danger" data-toggle="tooltip" data-placement="top" title="Covid-19 RT-PCR Test"></i></p><span class="font-weight-bold pr-3">Covid-19 <br> RT-PCR Test</span><i style="font-size: 20px;" class="fas fa-arrow-right text-danger text"></i>
    </div>
    <div class="col-lg-2 border-right">
        <p style="font-size: 50px;"><i class="fas fa-comments text-danger" data-toggle="tooltip" data-placement="top" title="Corporate Traveller"></i></p><span class="font-weight-bold pr-3">Corporate Traveller</span><i style="font-size: 20px;" class="fas fa-arrow-right text-danger text"></i>
    </div>
    <div class="col-lg-2 border-right">
        <p style="font-size: 50px;"><i class="fas fa-money-bill-alt text-danger" data-toggle="tooltip" data-placement="top" title="Change/Cancellation Due To Flight Cancellation or Delay"></i></p><span class="font-weight-bold pr-3">Change/Cancellation <br>Due To Flight <br> cencellation or Delay</span><i style="font-size: 20px;" class="fas fa-arrow-right text-danger text"></i>
    </div>
    </div>
</div>

