<html>
    <head>
        <title>flex image </title>
        <style>
            .rowclass{    
            display: flex;
            flex-wrap: wrap;
            padding: 0 4px;
            }
            .column {
            flex: 25%;
            max-width: 15%;
            padding: 0 4px;
            }
            .column img {
            margin-top: 8px;
            vertical-align: middle;
            }
            body {
            margin: 0;
            font-family: Arial;
            }
            
        </style>
    </head>
    <body>
        <div style="text-align: center; margin: 20px 0px;">
            Flex imag Directory
        </div>
        <div class="rowclass">
            <div class="column">
                <img src="./Asset/Image/i1.jpg" style="width:100%">
                <img src="./Asset/Image/i2.jpg" style="width:100%">
                <img src="./Asset/Image/i3.jpg" style="width:100%">
                <img src="./Asset/Image/i4.jpg" style="width:100%">
                <img src="./Asset/Image/i5.jpg" style="width:100%">
                <img src="./Asset/Image/image.jpg" style="width:100%">
              </div>
              <div class="column">
                <img src="./Asset/Image/i1.jpg" style="width:100%">
                <img src="./Asset/Image/i2.jpg" style="width:100%">
                <img src="./Asset/Image/i3.jpg" style="width:100%">
                <img src="./Asset/Image/i4.jpg" style="width:100%">
                <img src="./Asset/Image/i5.jpg" style="width:100%">
                <img src="./Asset/Image/image.jpg" style="width:100%">
              </div>
              <div class="column">
                <img src="./Asset/Image/i1.jpg" style="width:100%">
                <img src="./Asset/Image/i2.jpg" style="width:100%">
                <img src="./Asset/Image/i3.jpg" style="width:100%">
                <img src="./Asset/Image/i4.jpg" style="width:100%">
                <img src="./Asset/Image/i5.jpg" style="width:100%">
                <img src="./Asset/Image/image.jpg" style="width:100%">
              </div>
              <div class="column">
                <img src="./Asset/Image/i1.jpg" style="width:100%">
                <img src="./Asset/Image/i2.jpg" style="width:100%">
                <img src="./Asset/Image/i3.jpg" style="width:100%">
                <img src="./Asset/Image/i4.jpg" style="width:100%">
                <img src="./Asset/Image/i5.jpg" style="width:100%">
                <img src="./Asset/Image/image.jpg" style="width:100%">
              </div>
              <div class="column">
                <img src="./Asset/Image/i1.jpg" style="width:100%">
                <img src="./Asset/Image/i2.jpg" style="width:100%">
                <img src="./Asset/Image/i3.jpg" style="width:100%">
                <img src="./Asset/Image/i4.jpg" style="width:100%">
                <img src="./Asset/Image/i5.jpg" style="width:100%">
                <img src="./Asset/Image/image.jpg" style="width:100%">
              </div>
              <div class="column">
                <img src="./Asset/Image/i1.jpg" style="width:100%">
                <img src="./Asset/Image/i2.jpg" style="width:100%">
                <img src="./Asset/Image/i3.jpg" style="width:100%">
                <img src="./Asset/Image/i4.jpg" style="width:100%">
                <img src="./Asset/Image/i5.jpg" style="width:100%">
                <img src="./Asset/Image/image.jpg" style="width:100%">
              </div>
        </div>
    </body>
</html>