h1{
    border-style: ridge;
    border-width: 10px ;
    border-color: aquamarine;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-radius: 10px;
}
#border{
    border-style: solid;
    border-color: blue;
    text-align: justify;
    text-indent: 50px;
    padding: 10px;    
}