#city{
    list-style-type: none;
    background-color: aqua;
}
#city a:link{
    color: red;

    text-decoration: none;
}

#city a:visited{
    color:crimson;
}

#city a:hover{
    color: blueviolet;
    text-decoration: underline;
} 
#city a:active{
    color: rgb(51, 99, 187);
}
#city li{
    display: inline;
    margin-left: 15px;
    font-size: 25px;
}