<h1 style="text-align: center;">Report Card</h1>
        <hr>
        <br>
        <div class="container">
            <table class="table table-bordered" style="table-layout:fixed;word-wrap: break-word;">
                <tr>
                    <th colspan="6"> <img src="../../../../assets/img/college-logo.png" id="college-logo" alt="" height="100px" width="100px" style="float:left"><h1>DA-IICT</h1></th>
                </tr>
                
                <tr>
                    <td colspan="2">Student Name: </td>
                    <td colspan="4">Milit Panchasara</td>
                </tr>
                <tr>
                    <td colspan="2">Student ID:</td>
                    <td colspan="4">201601166</td>
                </tr>

                <tr>
                    <td>Date:</td>
                    <td colspan="2">25, December, 2020</td>
                    <td>Semester:</td>
                    <td colspan="2">Semester VIII (2019-20 Winter)</td>
                </tr>
                <tr>
                    <th>No.</th>
                    <th>Course Title</th>
                    <th>Course Code</th>
                    <th>Marks (out of 100)</th>
                    <th>Grades</th>
                    <th>Remarks</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Data structures</td>
                    <td>IT803</td>
                    <td>100</td>
                    <td>AA</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>DBMS</td>
                    <td>IT812</td>
                    <td>87</td>
                    <td>AB</td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Operating Systems</td>
                    <td>IT809</td>
                    <td>83</td>
                    <td>AB</td>
                    <td></td>
                </tr>
                <tr>
                    <th colspan="3">Total Marks:</th>
                    <th colspan="1">270</th>
                    <th>Overall Grade</th>
                    <th>AB</th>
                </tr>
            </table>
        </div>
        <br>
        <hr>
        <footer>
            <span >&copy; <i>DAIICT, Gandhinagar.</i></span>
        </footer>
        
        <hr>