@media screen and (max-width : 600px) {
    .DisplayImageSM{
        display: inline-flex;
    }
    .DisplayImageLG{
        display: none;
    }
    .display-4{
        font-size: x-large;
    }
}
@media screen and (min-width : 600px) {
    .DisplayImageLG{
        display: inline-flex;
    }
    .DisplayImageSM{
        display: none;
    }
    .button:hover
    {
        box-shadow: 5px 10px 20px rgb(134, 134, 134) inset,2px 2px 2px 2px #7c7c7c;
        transform: scale(1.2);
        background-color: #f1f1f1;
    }
}
.zoom{
    max-height: 350px;
}
.zoom:hover{
    transform: scale(1.06);
}
.SmImage{
    max-height: 350px;
}
.button{
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

