nav{
    background:lightgreen;
}
nav img{
    width: 80px;
    height: 80px;
}
nav a{
    text-decoration: none;
    color: white;
}
@media only screen and (max-width:500px){
    #mainContent .col-2{
        display: none;
    }
}