<div class="container my-5 p-3 border border-dark bg-dark text-white rounded">
  <app-top-bar></app-top-bar>

  <div class="container">
    <app-product-list></app-product-list>
  </div>
</div>

<div class="container my-5 p-3 border border-dark bg-dark text-white rounded">
  <app-parent-component></app-parent-component>
</div>


<div class="container my-5 p-3 border border-dark bg-dark text-white rounded">
  <app-parent-local-component></app-parent-local-component>
</div>

<div class="container my-5 p-3 border border-dark bg-dark text-white rounded">
  <app-parent-view-component></app-parent-view-component>
</div>

