*{
    margin : 0px;
    padding : 0px;
}

.heading {
    width : 100vw;
    height : 200px;
    border : 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.8;
    transition-duration: 4000;

}

.heading:hover{
    opacity: 0.6;
}

.heading-txt{
    color: #cc0000;
    size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    opacity: 1;
    z-index: 2;
}

.par{
    color: red;
}

h1{
    margin-top: 10px;
    margin-left: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color : grey;
}

.line
{
    margin : 0px 20px 0px 20px;
}

.lst{
    margin-left : 20px;
}

