<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 text-center mt-5">
            <img src="../../assets/Image/user.png" class="userImage img-fluid" alt="">
        </div>
        <div class="col-md-8 p-3 mt-5">
            <table class="table">
                <tr>
                    <td>
                        Full Name :
                    </td>
                    <td>
                        {{user.userFirstName}} {{user.userMiddleName}} {{user.userLastName}}
                    </td>
                </tr>
                <tr>
                    <td>Contact number:</td>
                    <td>
                        {{user.userContactNo}}
                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>
                        {{user.userEmail}}
                    </td>
                </tr>
                <tr>
                    <td>Login </td>
                    <td>
                        {{user.userLogIn}}
                    </td>
                </tr>
                <tr>
                    <td>BirthDate</td>
                    <td>
                        {{user.userBirthDate}}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button class="float-right btn btn-outline-danger" (click)="LogOut()">Logout</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="container"  *ngIf="placedProducts.length!=0">
    <p class="display-3 text-center orderLogo">
        Look at your Orders &nbsp;<i class="fab lookLogo fa-wpexplorer"></i>
    </p>
    <hr class="container">
    <table class="table table-responsive-sm text-center">
        <tr>
            <td>
                Order ID
            </td>
            <td>
                Product Name
            </td>
            <td>
                Bill
            </td>
            <td>
                Order Date
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr *ngFor="let l of placedProducts; let idx = index">
            <td>
                {{l.placedOrderId}}
            </td>
            <td>
                {{products[idx].productName}}
            </td>
            <td>
                {{l.bill}}
            </td>
            <td>
                {{l.placedDate}}
            </td>
            <td>
                <button class="btn btn-outline-primary infoButton" (click)="viewOrder(l.placedOrderId)">
                    View&nbsp;<i class="fas fa-info-circle"></i>
                </button>
            </td>
            <td>
                <button class="btn btn-outline-danger returnButton" (click)="Return(l.placedOrderId)" [disabled]="l.placedStatus == 'Returned'">
                    <span>Return</span>
                </button>
            </td>
        </tr>        
    </table>
</div>
