nav{
    background:lightgreen;
}
nav img{
    width: 80px;
    height: 80px;
}
nav a{
    text-decoration: none;
    color: white;
}
#mainContent .main-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "nav nav nav nav" 
        "sidebar main main main" 
        "content1 content2 content3 content4" 
        "footer footer footer footer";
    text-align:center;
    grid-gap: 0.2rem;
}
#mainContent .main-container nav {
    grid-area: nav;
    background-color:black;
    padding:20px;
}
#mainContent .main-container nav a{
    color:white;
    text-decoration:none;
    padding:20px;
}
#mainContent .main-container .sidebar {
    grid-area: sidebar;
    background-color:lightblue;
}
#mainContent .main-container .main {
    grid-area: main;
}
#mainContent .main-container .main img{
    width:100%;
    height:100%;
}
#mainContent .main-container .content1 {
    grid-area: content1;
}
#mainContent .main-container .content1 img{
    width:100%;
    height:100%;
}
#mainContent .main-container .content2 {
    grid-area: content2;
}
#mainContent .main-container .content2 img {
    width: 100%;
    height: 100%;
}
#mainContent .main-container .content3 {
    grid-area: content3;
}
#mainContent .main-container .content3 img {
    width: 100%;
    height: 100%;
}
#mainContent .main-container .content4 {
    grid-area: content4;
}
#mainContent .main-container .content4 img {
    width: 100%;
    height: 100%;
}
#mainContent .main-container footer {
    grid-area: footer;
    background-color:black;
    color:white;
    margin-top:70px;
    padding:20px;
}
