<div class="mt-2">
    <div class="card shadow-sm p-4">
        <h5 class="mb-4">Jobs by Location</h5>
        <a href="">Jobs in Delhi</a>
        <a href="">Jobs in Mumbai</a>
        <a href="">Jobs in Chennai</a>
        <a href="">Jobs in Gurgaon</a>
        <a href="">Jobs in Noida</a>
        <a href="">Jobs in Kolkata</a>
        <a href="">Jobs in Hyderabad</a>
        <a href="">Jobs in Pune</a>
        <a href="">Jobs in Bangalore</a>
        <a href="">Jobs in Ahmedabad</a>
        <a href="" class="pt-3 font-weight-bold">View All Locations</a>
    </div>
</div>
