
    <p>sign-up works!</p>
    <div class="mb-row-3">
    <div class="col-4 mb-3">
    <label> Name</label>
    </div>
    <div class="col-4 mb-3">
    <input type="text" name="Name" [(ngModel)]="name">
    </div>
    <div class="col-4 mb-3">
    <label> Address</label>
    </div>
    <div class="col-4 mb-3">
    <input type="text" name="Address" [(ngModel)]="address">
    </div>
    <div class="col-4 mb-3">
    <label> Pan Number</label>
    </div>
    <div class="col-4 mb-3">
    <input type="text" name="PanNumber" [(ngModel)]="pannumber">
    </div>
    </div>
    <p>Nameis : {{name}} Address is : {{address}} Pan Number is : {{pannumber}}</p>
