.div-main{
    width: 900px;
    height: 400px;
    border: 1px solid black;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 1000px;
}
.main{
    border: 1px solid black;
}
div.main1{
    height: 100px;
    width: 100px;
    position: fixed;;
    top: 0;
    left: 0;
    overflow: hidden;
}
div.main2{
    position: relative;
    height: 100px;
    width: 200px;
    margin: 200px;
    overflow: scroll;
}
div.main3{
    position: absolute;
    height: 50px;
    top: 40px;
    right: 50px;


}