.main-container{
    display: flex;
    background-color: blue;
}
.main-container>div{
    background-color: aquamarine;
    font-size: 30px;
    margin: 50px;
    padding: 50px;
    border: 2px solid black;
}
.main-container1{
    display: flex;
    flex-direction: row-reverse;
    background-color: aqua;

}
.main-container1>div{
    background-color: rgb(223, 106, 11);
    font-size: 30px;
    margin: 30px;
    padding: 20px;
    border: 2px solid black;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 200px 200px;
  }
  
.column {
    flex: 35%;
    max-width: 20%;
    padding: 0 4px;
  }
.column img {
    margin-top: 15px;
    vertical-align: middle;
  } 