#header{
    width: 100%;
    height: 30px;
    background-color: rgb(170, 170, 170);
}

.head1{
    width: 100%;
    height: 80px;  
    margin-bottom: 15px; 
    
}
.head11{
   width: 60%;
    height: 100%;
   text-align: center;
   float: left; 
   
}
.head12{
    text-align: left;
    height: 100%;
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0% 20%;
    overflow: hidden;
    background-color: rgb(255, 251, 0);
    border: 1px dotted black;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: x-small;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .active {
    background-color: #ffffff;
  }
  .main{
      background-image: url(/Images/Lyle-apparel_homepage_v3-copy_02.jpg);
      width: 100%;
      height: 250px;
  }
  .p{
      margin: 0;
      font-size: 50px;
}
.main1{
    color: white; 
    width: 20%;
    float: left;
    margin-left: 30%;
}  

.main22{
     border: 1px dotted silver;
     float: left;
     width: 40%;
     margin-top: 5%;
}

.next{
    background-image: url(/Images/live_system_thank_you_02.jpg);
    width: 100%;
    height: 350px;
    margin-top: 20%;
}
.next1{
    display: flex;
}
.next1>div{
    background-color: #8b8787;
    margin: 2px;
    padding: 10px;
    font-size: 18px;
}
.next2{
    float: left;
    height: 150px;
    width: 150px;
    margin: 8px;
    border-top: 10px solid white;
}
.next2>p{
    position: absolute;
    bottom: -330px;
}
.next2>p>span{
    background-color: yellow;
    margin-left: 25px;
    
}
.next2>h3{
    margin-top: 0;
}
.set{
    margin-left: 25%;
    padding-top:60px ;
}
