<div class="container">
    <h4>Students List:</h4>
    <table class="table table-bordered">
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Actions</th>
        </thead>
        <tbody>
    
            <ng-container *ngFor = "let s of listValue; let i = index">
                <tr>
                    <td>{{s.id}}</td>
                    <td>{{s.name}}</td>
                    <td>{{s.address}}</td>
                    <td><button class="btn btn-danger" (click) = "edit(s)">Edit</button>&nbsp;<button class="btn btn-danger" (click) = "remove(i)">Delete</button></td>
                </tr>
            </ng-container>

        </tbody>
    </table>
</div>

