.idcard {
  width: fit-content;
  transition: all 0.3 linear;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.delete-button {
  margin-right: 10px;
}

.student-form {
  margin: 0 35px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.student-form-body {
  margin: 0 85px;
}

.form-student-image {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  width: fit-content;
}

.form-collegelogo-image {
  width: fit-content;
}

@media screen and (max-width: 768px) {
  .student-form {
    margin: 0px;
  }

  .student-form-body {
    margin: 0;
  }
}
