<!--heading slider-->
<section id="heading-slider" class="px-5 pt-3 d-none d-lg-block">

    <div class="row">
        <div class="col">
            <div class="slick-carousel">

                
                    <div class="slide-content mx-1">
                        <a>
                            <img src="../../assets/images/headCarousel-1.jpg"
                                alt="Nucleya Presents SUB Cinema" loading="lazy"
                                class="w-100 rounded">
                        </a>
                    </div>
                
                    <div class="slide-content mx-1">
                        <a href="#">
                            <img src="../../assets/images/headCarousel-2.jpg"
                                alt="Sunburn Home Festival 2.0" loading="lazy"
                                class="w-100 rounded">
                        </a>
                    </div>
                
                    <div class="slide-content mx-1"><a href="#">
                            <img src="../../assets/images/headCarousel-3.jpg"
                                alt="Manoj Bajpayee Teaches Acting" loading="lazy"
                                class="w-100 rounded">
                        </a></div>
                
                    <div class="slide-content mx-1"><a href="#">
                            <img src="../../assets/images/headCarousel-4.jpg"
                                alt="SRMD Global Youth Festival:Virtual Edition 2021" loading="lazy"
                                class="w-100 rounded">
                        </a></div>
                
                    <div class="slide-content mx-1"><a href="#">
                            <img src="../../assets/images/headCarousel-5.jpg"
                                alt="Anantkoti  (Shri Swami Samarth Charitra Natak)" loading="lazy"
                                class="w-100 rounded">
                        </a></div>
                
                    <div class="slide-content mx-1">
                        <a href="#">
                            <img src="../../assets/images/headCarousel-2.jpg"
                                alt="Sunburn Home Festival 2.0" loading="lazy"
                                class="w-100 rounded">
                        </a>
                    </div>
                
                    <div class="slide-content mx-1"><a href="#">
                            <img src="../../assets/images/headCarousel-1.jpg"
                                alt="Naanu Nan Jaanu" loading="lazy"
                                class="w-100 rounded">
                        </a></div>
                
                    <div class="slide-content mx-1"><a href="#">
                            <img src="../../assets/images/headCarousel-6.jpg"
                                alt="Mid Night Song" loading="lazy"
                                class="w-100 rounded">
                        </a></div>
                
                    <div class="slide-content mx-1"><a href="#">
                            <img src="../../assets/images/headCarousel-7.jpg"
                                alt="Sunburn Home Festival 2.0" loading="lazy"
                                class="w-100 rounded">
                        </a></div>
                

            </div>

        </div>
    </div>

</section>

<section id="heading-img">
    <div class="d-md-block d-lg-none">
        <div class="row overflow-auto">
            <div class="col-2" routerLink="/home/movies" routerLinkActive="active">
                <img src="../../assets/images/headCarouselMedium-1.png"
                    alt="" loading="lazy">
            </div>
            <div class="col-2">
                <img src="../../assets/images/headCarouselMedium-2.png"
                    alt="" loading="lazy">
            </div>
            <div class="col-2" routerLink="/home/events" routerLinkActive="active">
                <img src="../../assets/images/headCarouselMedium-3.png"
                    alt="" loading="lazy">
            </div>
            <div class="col-2" routerLink="/home/plays" routerLinkActive="active">
                <img src="../../assets/images/headCarouselMedium-4.png"
                    alt="" loading="lazy">
            </div>
            <div class="col-2" routerLink="/home/sports" routerLinkActive="active">
                <img src="../../assets/images/headCarouselMedium-5.png"
                    alt="" loading="lazy">
            </div>
            <div class="col-2" routerLink="/home/activities" routerLinkActive="active">
                <img src="../../assets/images/headCarouselMedium-6.png"
                    alt="" loading="lazy">
            </div>
        </div>
        <div class="row">
            <div class="col pr-0">
                <img src="../../assets/images/headImage-medium.png"
                    alt="" width="100%">
            </div>
        </div>
    </div>
</section>