<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="../assets/photos/logo_2500X1875-1536x1152.jpg" width="90" height="90" alt="">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/html" routerLinkActive="text-dark">HTML</a>
      </li>
      <li class="nav-item"> 
        <a class="nav-link" routerLink="/css" routerLinkActive="text-dark" >CSS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/javascript"  routerLinkActive="text-dark">JAVASCRIPT</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
