<div id="header"></div>

    <div class="head1">
        <div class="head11"><img src="../../assets/logo.png" alt="logo" style="height: 100%;"></div>
        <div class="head12"><p style="padding: 10px;">Search...| My Cart:0 items-$0.00</p></div>
    </div>

    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#aboutus">ABOUT US</a></li>
        <li><a href="#ourproducts">OUR PRODUCTS</a></li>
        <li><a href="#news">NEWS</a></li>
        <li><a href="#faqs">FAQS</a></li>
        <li><a href="#newarrival">NEW ARRAIVAL</a></li>
        <li><a href="#stockists">STOCKISTS</a></li>
        <li><a  class="active" href="#shopnow">SHOP NOW</a></li>
        <li><a href="#contactus">CONTACT US</a></li>
      </ul>

      <div class="main">
          <div  class="main1">
              <div>
                  <p class="p">Heritage</p>  <p class="p">Belts</p> 
                  <p>Nexbelt offers customers the chance to select from a rang of country flages to feature on a full colour buckle</p>
                  <span style="background-color: yellow; color: black; padding:3px; border-radius: 20px;">Get More Info<span style="visibility: hidden;">0oo</span>    ></span>
              </div>
          </div>
          <div>    
              <img src="../../assets/banner_img.png" alt="banner" style="height: 200px; float: left; padding: 20px;">
          </div>
      </div>

      <div class="main2" style="margin-left: 14%;">
          <div class="main22">
                <img src="../../assets/logo.png" alt="logo">
                <p>Lyle Apprarel is the tranding name for JBL industries Pty, a family-owened importation and distribution company based in Victoria. Our company was establishedd in late 2014, and opened its online doors in March 2015</p>
          </div>
          <div class="main22" style="margin-left: 2%;">
            <img src="../../assets/logo.png" alt="logo">
            <p>Lyle Apprarel is the tranding name for JBL industries Pty, a family-owened importation and distribution company based in Victoria. Our company was establishedd in late 2014, and opened its online doors in March 2015</p>
          </div>
      </div>

    <br>

    <div class="next">
        <div class="set">
        <div class="next1">
            <div>GOlf SERIES</div>
            <div>CLASSIC SERIES</div>
            <div>CUSTUM SERIES</div>
        </div>
        <div>
            <div class="next2" style="background-image: url(../../assets/img1.jpg);">
                <h3>Go-in Carbon Black</h3>
                <p>$90 <span>Add to Basket</span> </p>
            </div>
            <div class="next2" style="background-image: url(../../assets/img2.jpg);">
                <h3>Go-in Carbon White</h3>
                <p>$90 <span>Add to Basket</span> </p>
            </div>
            <div class="next2" style="background-image: url(../../assets/img3.jpg);">
                <h3>Go-in Tex</h3>
                <p>$90 <span>Add to Basket</span> </p>
            </div>
            <div class="next2" style="background-image: url(../../assets/img4.jpg);">
                <h3>Go-in Carbon Shield Black</h3>
                <p>$90 <span>Add to Basket</span> </p>
            </div>
        </div>
        </div>
        
    </div>
