* {
    margin: 5px;
    padding: 0;
}

h1 {
    color: green;
}

@font-face {
    font-family: "quicksand-regular";
    src: url('/fonts/quicksand-regular-webfont.eot');
}

body {
    font-size: 70%;
    font-family: "quicksand-regular", sans-serif;
    color: rgb(133, 132, 132);
    background-color: rgba(255, 255, 255, 0.96);
}

h2, h3 {
    border-bottom: 1px grey dashed;
}

ul {
    list-style-type: none;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 0.3fr;
    grid-template-rows: 1fr 2.5fr 2fr 1.5fr 1.5fr 1.5fr 0.8fr 0.8fr 0.8fr 0.8fr 1.2fr 0.5fr 1.5fr 0.5fr 1.5fr 1.5fr 1fr;
    grid-template-areas: "logo nav" "banner banner" " content1 content1" "f f" "h h" "l l" "p1 p1" "p2 p2" "p3 p3" "p4 p4 " "ep1 ep1" "latest latest" "client client" "logo1 logo1" "post post" "links links" "cont cont"
}

.header {
    grid-area: logo;
}

.navbar {
    grid-area: nav;
    position: absolute;
    top: 5px;
    left: 77%;
    padding: 15px 20px;
}

.resp {
    visibility: hidden;
}

.nres {
    margin-top: -100px;
}

.banner {
    grid-area: banner;
    padding: 20px 0px;
}

.btn {
    background-color: #6ab73a;
    border: none;
    color: white;
    padding: 9px 20px;
    cursor: pointer;
    font-size: 11px;
}

.content-1 {
    grid-area: content1;
    margin: 10px;
}

.f {
    grid-area: f;
    align-items: center;
    margin: 0;
}

.h {
    grid-area: h;
}

.l {
    grid-area: l;
}

.p-1 {
    grid-area: p1;
}

.p-2 {
    grid-area: p2;
}

.p-3 {
    grid-area: p3;
}

.p-4 {
    grid-area: p4;
}

.this-site {
    grid-area: ep1;
}

.latest {
    grid-area: latest;
}

.clients {
    grid-area: client;
}

.clients img {
    margin: 0;
    padding: 2px;
    visibility: hidden;
}

.clients span img {
    visibility: visible;
    width: 22%;
}

.logo {
    grid-area: logo1;
    background-color: #2f2e2e;
    color: white;
    margin: 5px 0px;
    margin: 0;
}

.post {
    grid-area: post;
    background-color: #2f2e2e;
    color: white;
    margin: 0;
}

.links {
    grid-area: links;
    background-color: #2f2e2e;
    color: white;
    margin: 0;
}

.contact {
    grid-area: cont;
    margin: 0;
    text-align: center;
    background-color: #2f2e2e;
    color: white;
}

.post span {
    color: rgb(80, 78, 78);
}

.links li {
    color: rgb(80, 78, 78);
}

.line {
    width: 33px;
    background-color: black;
    height: 4px;
    margin: 5px 3px;
}

@media only screen and (min-width:768px) {
    body {
        font-size: 90%;
    }
    .container {
        grid-template-columns: 0.9fr 1fr;
        grid-template-rows: 0.5fr 1.5fr 1fr 1fr 1fr 1fr 0.8fr 0.8fr 1fr 0.5fr 1fr 0.5fr 1.5fr 1.5fr;
        grid-template-areas: "logo nav" "banner banner" " content1 content1" "f f" "h h" "l l" "p1 p2" "p3 p4" "ep1 ep1" "latest latest" "client client" "logo1 logo1" "post post" "links cont"
    }
    .resp {
        visibility: visible;
    }
    .contact {
        text-align: left;
    }
    .this-site figure {
        float: left;
    }
    .this-site img {
        width: 50%;
        float: left;
    }
    .this-site figcaption {
        position: absolute;
        padding: 50px 80px 50px 480px;
    }
    .clients span img {
        visibility: visible;
        width: 19%;
        float: left;
    }
    .clients img {
        visibility: visible;
        width: 19%;
    }
    .nres {
        visibility: hidden;
    }
    .navbar>ul {
        overflow: hidden;
    }
    .navbar {
        position: relative;
        left: 0%;
        display: inline;
        padding: 0px;
        margin: 0px;
        ;
    }
    .navbar li {
        float: left;
        display: inline;
    }
}

@media only screen and (min-width:1100px) {
    *{
        margin: 15px;
    }
    body {
        font-size: 100%;
    }
    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 1.5fr 0.8fr 1fr 1fr 2fr 1fr 1.5fr;
        grid-template-areas: "logo nav nav nav" "banner banner banner banner" " content1 content1 content1 content1" "f h l l" "p1 p2 p3 p4" "ep1 ep1 latest latest" "client client client client" "logo1 post links cont";
    }
    .navbar {
        width: 100%;
    }
    .btn{
        padding-top:-1px 20px;
    }
    .resp li {
        padding-left: 16px;
    }
    .banner img{
        height: 500px;
    }
    .clients img {
        visibility: visible;
        width: 19%;
    }
    .this-site{
        position: relative;
        
    }
    .this-site figcaption {
        position: absolute;
        left: -203px;
        top: 76px;
        font-size: 100%;
        margin: -44px;
    
}
.this-site img{
    height: 315px;
    width: 200px;
}
.this-site i,p{
    padding:0px;
    margin: 0px;

}
}
