html, body {
	height: 100%;
	background-image: url(../img/background-image.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


.navi {
	float: right;
	font-size: larger;
}

.formTable {
	background-color: #212529;
	color: white;
	border-radius: 10px;
}

.art {
	background-color: #212529;
	color: white;
	border-radius: 10px;
	margin: 10px;
	padding: 5px;
}

table tr td {
	padding: 15px;
	margin: 15px;
}

.textc {
	text-align: center;
}
