.colforuse {
  padding: 0px; }

.login:hover {
  color: #fc8019;
  cursor: pointer; }

.loginbox {
  margin-top: 20px; }

#sectionimg {
  width: 100%;
  height: 90%; }

.simpletext {
  color: #686b78; }
