<div class="container1">

    <div class="heading">
        <h1>TIRTH PATEL</h1>

        <figure>
            <img src="/src/app/css/Day4/day4-resume/picture/passport.jpg" alt="Profile-Picture" height="200" width="200">
            <figcaption style="color:darkblue;font-family: cursive;"> +91 8530922677
            </figcaption>
        </figure>
    </div>

    <div class="education">
        <h2>Carrer objective:</h2>
        <p>Intend to learn and utilize new technical skills in a growing organization
            With a goal to pursue a progressive career</p>
        <h2>Education:</h2>

        <table>
            <tr>
                <th>Class</th>
                <th>Institute</th>
                <th>Precentage</th>
            </tr>
            <tr>
                <td>B.E(2017-21)</td>
                <td>L.J.I.E.T</td>
                <td>8.15 CGPA</td>


            </tr>
            <tr>
                <td>12th(2016-17)</td>
                <td>Kameshawar</td>
                <td>67.3</td>
            </tr>
            <tr>
                <td>10th(2014-15)</td>
                <td>H.B.K</td>
                <td>89</td>

            </tr>
        </table>

    </div>
    <div class="Tech">
        <h2>Technical Skills:</h2>
        <ul>
            <li>C(intermidiate) </li>
            <li>c++ OOP(intermidiate) </li>
            <li> Python(beginner) </li>
            <li> Java(beginner) </li>
            <li> Html & Css (basic) </li>

        </ul>
    </div>


    <div class="hobbies">
        <h2>Hobbies:</h2>
        <ul>
            <li>PC gaming</li>
            <li>pc building</li>
            <li>Volleyball</li>
            <li>cooking</li>
        </ul>



    </div>
    <div class="project">
        <h2>Project:</h2>
        <p>During collage time we as a team created a short project based onm UAV;s(Unmanned
            Aerial Vehicle)-Drone.Most of the goals in this project have been achieved,
            resulting in a stable and manoeuvrable Quadcopter. The aim of this project was to
            build and program a Quadcopter that can be used to collect Co2 information of a
            surrounding area. A secondary goal of this project is to use this platform for
            future innovative projects that could include stabilization, image processing and
            artificial intelligence .</p>
        <img src="../picture/Drone1.jpg" height="200" width="200">
        <img src="../picture/Drone2.jpg" height="200" width="200">
        <video width="500" height="300" controls>
            <source src="../Videos/drone.mp4 " type="video/mp4">
        </video>


    </div>
    <div class="extra">
        <h2>Extra Curricular Activities:</h2>
        <ul>
            <li>Volunteer at BAPS Covid-19 Relief</li>
            <li>LJ innovation village</li>
            <li>volunteer at collage tech fest</li>

        </ul>


    </div>
</div>
