/*Class Selector*/
.group1{
    
    color: white;
    border: 2px solid black;
}
/* element selector */
tr{
    background-color: brown;
}
/* element selector */
#div{
    color:blue;
}
/* Nested tag */
section span{
    color:chocolate;
}
nav{
    display: inline-block;
    background-color: coral;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: cornflowerblue;
}
/*Navigation bar,margin ,padding,border*/
nav a{
    background-color:cornsilk;
    border-radius: 5px;
    margin:50px;
    padding: 5px;
}

/* pseudo class */
div::first-letter{
    color: white;
    background-color: darkslateblue;
}

