*{
    margin: 0;
    padding: 0;
}
.containerR{
    margin-right:300px;
}
.containerL{
    margin-left: 300px;
}
#header{
    /* background-color: aqua; */
    /* margin: 0 15px; */
    /* width: 1300px; */
    /* text-align: center; */
}
.social{
    text-align: right;
    padding: 10px;
    background-color: #999999;
}
.logo{
    /* background-color: aqua; */
    /* vertical-align: middle; */
    float: left;
    margin-left: 100px;
}
.cart{
    /* vertical-align: middle; */
    float: right;
    padding-top: 15px;
}
.cart input{
    border: none;
    width: 80px;
    font-style: italic;
    font-weight: 800;
    color: aqua;

}
.cart ::placeholder{
    color: black;
}
.cart span{
    margin-left: 35px;
}
.navbar ul{
    clear: left;
    list-style-type: none;
    text-align: center;
    background-color: yellow;
   
}
.navbar ul li{
    display: inline-block;
    padding: 16px 0;
    font-size: 0.8em;
}
.navbar li a{
    text-decoration: none;
    color: black;
    padding: 16px 20px;

}
.navbar li a:hover{
    background-color: rgb(216, 214, 214);
}
.banner{
    background-image: url("images/Lyle-apparel_homepage_v3-copy_02.jpg");
    background-repeat: repeat-x;
    /* border-image-repeat: repeat; */
}
.banner h1{
    color: rgb(243, 234, 223);
    font-size: 56px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 10px 10px 5px rgb(3, 3, 3);
    margin: 15px 0;
    /* border-radius: 2px; */
}
.banner{
    display: flex;
    justify-content: center;
    /* width: 200px; */
}
.banner p{
    color: aliceblue;
    margin: 15px 0;
}
.banner button{
    border: none;
    background-color: yellow;
    color: black;
    border-radius: 15px;
    padding: 8px;
    font-size: 10px;
}
.bannerImg img{
    
    height: 300px;
    width: 500px;
}
.belt{
   float: left;
   width: 300px;
}
.item2{
    display: flex;
    justify-content: center;
}
.item{
    /* display: flex; */
    /* justify-content: center; */
    width: 400px;
    height: 200px;
    border: 2px dotted;
    padding: 16px 20px;
    margin: 25px;
}
.catagory{
    background-image: url(images/live_system_thank_you_02.jpg);

}
.catagory ul.btnList{
    list-style-type: none;
    text-align: center;
    padding: 20px;
    /* display: inline; */
}
.catagory ul.btnList li{
    display: inline;
    /* padding: 16px; */
    /* padding: 16px 20px; */
}
.catagory ul.btnList li a{
    text-decoration: none;
    color: #ffffff;
    /* display: inline; */
    padding: 12px 16px;
    background-color: #999999;

}

.menucard{
    width: 200px;
    height: 230px;
    background-color:#ffffff;
    margin: 10px;
}
.menu{
    text-align: center;
    display: flex;
    justify-content: center;
}
.menucard img{
    width: 150px;
    margin: 15px 0;

    /* text-align: center; */
    /* margin: 20px; */
}
.menucard p{
    margin: 15px;
}

.add-crt-btn{
    background-color: yellow;
    color: black;
    padding: 8px;
    border: none;
    margin-left: 15px;
    border-radius: 5px;

}
.item-name {
    font-weight: 600;
    color: black;

}
.important{
    display: flex;
    justify-content: center;
}
.sale{
    width: 400px;
    height: 200px;
    background-color: aqua;
    margin: 10px;
}
.news{
    width: 400px;
    height: 200px;
    background-color: aqua;
    margin: 10px;
}
.offer{
    display: flex;
    justify-content: center;
}
.offer-item{
    width: 260px;
    height: 80px;
    background-color: chocolate;
    margin: 15px;
}
#footer{
    background-image: url(images/footer_bg.jpg);
    width: 100%;
    height: 250px;
    background-color: yellow;
}
#mini-footer{
        background-color: yellow;

}
