<header>
    <div class="bg-primary text-white py-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1><i class="far fa-cog"></i>Customer</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container mx-auto my-3"> 
        <div class="col-lg-3">
              <button class="btn btn-warning btn-block" id="adduser" (click)="open(Adduser)">
              <i class="fa fa-plus" aria-hidden="true"></i> Add User
            </button>

        </div>
    </div>
</section>
<div class="users">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="modal" id="AddModal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h4 class="modal-title"> user Data Update</h4>
                          <button  id ="closes" class="close" (click)="closemodel()">&times;</button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                            <form [formGroup]="cityForm" (ngSubmit)="updatedata(cityForm.value)">
                                <div class="form-group">
                                    <input  formControlName="uusertype" [(ngModel)]="updateusertype" type="hidden" id="id" value="">
                                  </div>
                                <div class="form-group">
                                  <input formControlName="uusername" [(ngModel)]="updateusername" type="text" class="form-control" placeholder="Enter name" id="name" value="">
                                  <!--<div id="names" class="validdatas text-danger">Enter valid Name.</div>-->
                                </div>
                                <div class="form-group">
                                    <input formControlName="uusertel" [(ngModel)]="updateusertel" type="tel" class="form-control" placeholder="Enter mobile no" id="mobileno" value="">
                                  <!--  <div id="phones" class="validdatas text-danger">Enter valid Mobile Phone.</div>-->
                                  </div>
                                  <div class="form-group">
                                    <input formControlName="uuseremail" [(ngModel)]="updateuseremail" type="email" class="form-control" placeholder="Enter email" id="email" value="">
                                   <!-- <div id="emailids" class="validdatas text-danger">Enter valid Email id.</div>-->
                                  </div>
                                  <div class="form-group">
                                    <input formControlName="uuserpass" [(ngModel)]="updateuserpass" type="text" class="form-control" placeholder="Enter password" id="password" value="">
                                 <!--   <div id="passwords" class="validdatas text-danger">Enter valid Passwords.</div>-->
                                  </div>
                                  <button type="button" class="btn btn-secondary mr-3" (click)="closemodel()">Close</button>
                                  <button type="submit" class="btn btn-primary">Submit</button>
                              </form>
                        </div>
                      </div>
                    </div>
                </div>
                <ng-template #Adduser let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">New user Data</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form [formGroup]="cityForm" (ngSubmit)="addnewdata(cityForm.value)">
                      <div class="form-group">
                          <select formControlName="usertype"  name="" class="form-control w-100" id="newtypeuser">
                              <option value="admin">admin</option>
                              <option value="user">user</option>
                          </select>
                          <span style="color: red;" *ngIf = "cityForm.controls.usertype.touched && cityForm.controls.usertype.invalid ">Name is required</span>
                      </div>  
                      <div class="form-group">
                        <input formControlName="username" type="text" class="form-control" placeholder="Enter name" id="newname" value="">
                        <label id="name" class="text-danger valdefault">Enter Valid name</label>  
                        <span style="color: red;" *ngIf = "cityForm.controls.username.touched && cityForm.controls.username.invalid ">Name is required</span> 
                      </div>
                      <div class="form-group">
                          <input formControlName="usertel" type="text" class="form-control" placeholder="Enter mobile no" id="newmobileno" value="">
                          <label id="phpneno" class="text-danger valdefault">Enter Valid mobileno</label>
                      
                          <span style="color: red;" *ngIf = "cityForm.controls.usertel.touched && cityForm.controls.usertel.invalid ">Mobileno is required</span> 
                        </div>
                        <div class="form-group">
                          <input formControlName="useremail" type="email" class="form-control" placeholder="Enter email" id="newemail" value="">
                          <label id="valemail" class="text-danger valdefault">Enter Valid Email</label>

                          <span style="color: red;" *ngIf = "cityForm.controls.useremail.touched && cityForm.controls.useremail.invalid ">Email Id is required</span> 
                      </div>
                        <div class="form-group">
                          <input formControlName="userpass" type="text" class="form-control" placeholder="Enter password" id="newpassword" value="">
                          <label id="valpass" class="text-danger valdefault">Enter Valid Password</label>

                          <span style="color: red;" *ngIf = "cityForm.controls.userpass.touched && cityForm.controls.userpass.invalid ">Password is required</span> 
                      </div>
                        <button type="submit"  (click)="modal.close('Save click')" class="btn btn-primary">Submit</button>
                    </form>
                  </div>

                </ng-template>
                
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                        </h4>
                    </div>
                    <table id="my_table" class="display">
                        <thead>
                            <tr>
                                <th>Id</th>  
                                <th>User Type</th>
                                <th>User Name</th>
                                <th>User Email</th>
                                <th>User Mobile No</th>
                                <th>User Password</th>
                                <th>Action</th>
                                <th>Update</th>
                            </tr>
                        </thead>
                        <tbody id="tblbody">                         
                          <tr *ngFor="let item of usersingupdatas;let idx = index" class='my-5'>
                            <td>{{item.userId}}</td>
                            <td>{{item.options}}</td>
                            <td>{{item.names}}</td>
                            <td>{{item.emails}}</td>
                            <td>{{item.phoneno}}</td>
                            <td>{{item.lpassword}}</td>
                            <td><button class='btn btn-danger deletebtn' (click)="deleterow(item.userId)"
                            ><i class='fas fa-trash-alt'></i>delete</button></td>
                            <td><button class='btn btn-warning deletebtn' (click)='updaterow(item.userId)'><i class='fas fa-trash-alt'></i>Update</button></td>
                          </tr>
                          <br>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>