 <!--Navbar-->
 <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top border-bottom">
            
  <a class="navbar-brand" routerLink="/" routerLinkActive="active">
      <img src="../assets/images/Radixweb.jpg" alt="" class="img-fluid" width="100px" height="100px">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a class="nav-link mx-3" routerLink="/html" routerLinkActive="active">HTML</a>
      </li>
      <li class="nav-item">
          <a class="nav-link mx-3" routerLink="/css" routerLinkActive="active">CSS</a>
      </li>
      <li class="nav-item">
          <a class="nav-link mx-3" routerLink="/javascript" routerLinkActive="active">JAVASCRIPT</a>
      </li>
      
  </ul>
  
  </div>

</nav>

<router-outlet></router-outlet>

<!--Home section-->
<!-- <section id="home" class="bg-white">
<img src="../assets/images/Radixweb.jpg" alt="" class="img-fluid" width="60%" height="60%">
</section> -->