<div class="container">
    <div class="logo d-flex justify-content-center">
        <img [attr.src]="'assets/Pictures/signup/whatsapp-reporter-logo.webp'" height="288px" width="400px" alt=""
            class="clearfix image">
    </div>
    <form id="form" [formGroup]="ViewerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <h3>Zeenews.com brings latest news with 360 degree coverage accross all the geners
                including politics,sports,entertainment and much more.Register to stay updated.
            </h3>
            <div class="form-group">

                <input type="text" class="form-control form-lg" placeholder="Name" formControlName="Name">
                <small *ngIf="Name &&!Name.valid && (Name.dirty ||Name.touched)" class="validationError Form-error">InPorper
                    Name</small>

            </div>
            <div class="form-group">
                <input type="text" formControlName="City" class="form-control form-lg" placeholder="City" required>
                <small *ngIf=" City &&!City.valid && (City.dirty ||City.touched)" class="validationError Form-error">
                    This City Does Not Exist
                </small>
            </div>
            <div class="form-group">
                <input type="text" formControlName="Age" class="form-control form-lg" placeholder="Age" >
                <small *ngIf="Age && !Age.valid && (Age.dirty ||Age.touched)" class="validationError Form-error">
                    Age is not Proper
                </small>
            </div>
            <div class="form-group">
                <input type="number" formControlName="Mobile" class="form-control form-lg" placeholder="mobile" required>
                <small *ngIf="Mobile &&!Mobile.valid && (Mobile.dirty ||Mobile.touched)" class="validationError Form-error">
                    Invalid Phone Number
                </small>
            </div>
            <div class="form-group">
                <input type="email" formControlName="Email" class="form-control form-lg" placeholder="Email Id" required>
                <small *ngIf="Email &&!Email.valid && (Email.dirty ||Email.touched)" class="validationError Form-error">
                    Invalid EmailId
                </small>
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" required>
                <label class="form-check-label" for="exampleCheck1">Agree to Terms and conditon</label>
               
            </div>

            <button class="btn-primary btn-block" type="submit" [disabled]="!ViewerForm.valid" >Submit</button>


</div>

    </form>
    <h5>Participant gives a consent to receive any kind of promotional communication from the "Essel Group of Companies"
    </h5>
</div>