*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    margin-block-start: 0;
    margin-block-end: 0;
}

.logo{
    padding: 12px 0px;
    background-color: rgb(247, 223, 223);
    text-align: center;
    height: 30px;
    width: auto;
    font-weight: lighter;
}
.logo>a:link{
    text-decoration: none;
    color: rgb(6, 111, 248);
}
.logo>a:visited{
    text-decoration: none;
    color:rgb(6, 111, 248);
}
.logo>a:hover{
    text-decoration: none;
    color: rgb(6, 111, 248);
}
.logo>a:active{
    text-decoration: none;
    color: rgb(6, 111, 248);
}
nav{
    height: 60px;
    width: auto;
    background-color: black;
    color: white;
    text-align: center;
    margin-top:-15px ;
    position: relative;
    
}
nav:hover{
    border-bottom: 7px solid rgb(6, 111, 248);
}
.menu{
    list-style-type: none;
    padding: 20px 0;
}
.menu>li{
    display: inline;
    margin-right: 40px;
    position: relative;
    
}
.menu>li>a:link{
    font-weight: lighter;
    text-decoration: none;
    color: white;
    display: inline-block;
}
.menu>li>a:visited{
    font-weight: lighter;
    text-decoration: none;
    color: white;
}
.menu>li>a:hover{
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.menu>li>a:hover:after {
    content: "";
    position: absolute;
    top: 33px;
    left: 50%;
    margin-left: -15px;
    width: 0px;
    height 0px;
    xxmargin: 0px auto;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(6, 111, 248);
  }
.menu>li>a:active{
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.menu>li>a:focus{
    font-weight: bold;
}
.banner-section{
    background-image: url(../images/banner.jpg);
    width: auto;
    height: 400px;
    position: relative;
}
.banner-content{
    position: absolute;
    bottom:0;
    background-color: black;
    color: white;
    opacity: 0.6;
    width: 100%;
    height: 30px;
    text-align: center;
    padding: 20px 0;
}
.banner-content>h3>a:link{
    border: 2px solid rgb(6, 111, 248); 
    border-radius: 5px; 
    background-color: rgb(6, 111, 248);
    padding: 7px 15px;
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-size: 15px;
}
.icons-section{
    padding: 70px 200px;
    text-align: center;
}
.left-icon{
    width: 300px;
    height: 100px;
    float: left;
    position: relative;

}
.middle-icon{
    width: 300px;
    height: 100px;
    float: left;
    position: relative;
    left: 100px;
}
.right-icon{
    width: 300px;
    height: 100px;
    float: left;
    position: relative;
    left: 200px;
}
.heading{
    clear: both;
    width: auto;
    height: 160px;
    background-color: rgb(247, 223, 223);
    text-align: center;
    margin-top: 280px;
    padding: 50px;
}
.heading>h2{
    font-size: 30px;
}
.heading>h3{
    padding: 10px;
    color: gray;
    font-weight: lighter;
}
hr{
    width: 1200px;
}
.things-section{
    margin-bottom: 70px;
}
.row{
    margin: 90px 200px;
    
}

.things{
    width: 500px;
    height: 200px;
    float: left;
}
.things>img{
    float: left;
    margin-right: 30px;
}
.quest-section{
    margin-top: 530px;
    width: auto;
    height: 200px;
    background-color: rgb(6, 111, 248);
    color: white;
    text-align: center;
    position: relative;
}
.quest-section>h2{
    position: absolute;
    top:60px;
    left: 440px;

}
.quest-section>h2>a:link{
    text-decoration: none;
    color: black;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 5px;
    background-color:  white;
    padding: 7px 20px;
}
.quest-section>h2>a:visited{
    text-decoration: none;
    color: black;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 5px;
    background-color:  white;
    padding: 7px 20px;
}
footer{
    background-color:  rgb(247, 223, 223);
    width: auto;
    height: 500px;
    padding: 70px 180px;
}
.links{
    float: left;
}
.links>ul>li{
    list-style-type: none;
    margin-left: -40px;
    margin-bottom: 7px;
    
}
.links>ul>li>a:link{
    text-decoration: none;
    border-bottom: 1px solid gray;
    color: black;
}
.links>ul>li>a:visited{
    text-decoration: none;
    border-bottom: 1px solid gray;
    color: black;
}
.links>ul>li>a:hover{
    text-decoration: none;
    border-bottom: 1px solid gray;
    color: black;
}
.links>ul>li>a:active{
    text-decoration: none;
    border-bottom: 1px solid gray;
    color: black;
}
#getInTouch{
    float: left;
}
input{
    width: 240px;
    height: 20px;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 3px;
    border-color: white;

}
textarea{
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 3px;
    border-color: white;
}
.contact{
    clear: both;
    text-align: center;
    padding-top: 50px;
    word-spacing: 30px;
    color: gray;
}
.contact>a:link{
    text-decoration: none;
    color: gray;
}
.contact>a:visited{
    text-decoration: none;
    color: gray;
}