#map {
    height: 90vh;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.dropdown-menu {
    border-radius: 0;
    box-shadow: 5px 5px 25px;
    border-top: 15px solid black;
}

.dropdown-menu a{
    margin: 15px auto !important;
}


@media only screen and (max-width: 991px) {
    aside a {
        margin-left: 20px !important;
    }
}