	.container
	{
		display: grid;
		height: 100vh;
	}
	#section1 
	{
		text-align: right;
		color: black;
		font-size: 15px;
		font-family: arial;
		grid-area: section1;
	}
	#section1 a
	{
		color: black;
		text-decoration-line: none;
		
	}
	#section1 a:hover
	{
		background-color: grey;
	}
	nav
	{
		background: #a7ffeb;
		grid-area: nav;
		background:white;
		height: 80px;
		width: 100%;
	}
	label.logo
	{
		color: green;
		font-size: 20px;
		line-height: 100px;
		padding: 0 80px;
		font-family: arial;
	}
	.bgimg
	{
		width: 100%;
		height: 400px;
	}
	nav ul
	{
		float:right;
		margin-right: 40px;
	}
	nav ul li
	{
		display: inline-block;;
		line-height: 80px;
		margin: 0 5px;
	}
	nav ul li a
	{
		color:black;
		font-size: 17px;
		padding: 7px 13px;
		border-radius: 3px;
		text-transform: uppercase;
		text-decoration-line: none;
		font-family: arial;
	}
	main
	{
		grid-area: main;
		width: 100%;
	}
	#banner-image
	{
		width: 100%;
	}
	#section2
	{
		display: block;
		width: 100%;
		font-size: 15px;
		text-align: left;
		width: 100%;
		grid-area: section2;
	}
	#section2-sub-part
	{
		grid-area:section2-sub-part;
		font-size: 20px;
		
	}
	#section2-sub-part button
	{
		width: 60%;
		height: 50%;
		background-color: green;
		color: white;
		font-family: arial;
		margin-top: 15%;
		margin-left: 30%;
		border-radius: var(--main-radius);
		padding-top: var(--main-padding);
	}
	#button-img
	{
		color: white;
	}
	#content1
	{

		grid-area: content1;
		border-radius: var(--main-radius);
		padding-top: var(--main-padding);
		padding-left: 10px;
	}

	#content2
	{

		grid-area: content2;
		border-radius: var(--main-radius);
		padding-top: var(--main-padding);
		padding-left: 10px;
	}
	#section3-title
	{
		font-size:30px;
		padding-left: 2%;
	}
	#content3
	{
		grid-area: content3;
		border-radius: var(--main-radius);
		padding-top: var(--main-padding);
		padding-left: 10px;
	}
	
	#section3 
	{
		display: flex;
		margin-top: 5px;
		flex-direction: row;
		font-size: 30px;
		text-align: center;
		grid-area: section3;
	}
	#first-flex 
	{

		 padding: 10px;
		 flex: 50%;
	}
	#div-box
	{
		height: 40%;
		width: 100%;
		background-color:#CACFD2;
		padding-top: 20%;
	}
	#div-box-content
	{
		font-size:80%;
		text-align: left;
		font-weight: bold;
	}
	#div-box-sub-content
	{
		font-size:60%;
		text-align: left;
	}
	#section4
	{
		 display: flex;
		 margin-top: 10%;
		 flex-direction: row;
		 font-size: 30px;
		 text-align:left;
		 grid-area:section4;	
	}
	#section4-flex
	{	
		padding: 10px;
		flex: 50%;
		float: left;
	}
	#section4-div-box
	{
		height:50%;
		width:80%;
		background-color:#CACFD2;
	}
	#section4-flex-content
	{
		font-size:40%;
		padding-top: 10%;
	}
	#section4-flex-div-box
	{
		height:60%;
		width: 100%;
		background-color:#CACFD2;
	}
	#check-mark
	{
		color: green;
	}
	#wrapper5
	{
		display: flex;
		 margin-top: 10px;
		 flex-direction: row;
		 font-size: 30px;
		 text-align:left;
		 grid-area: wrapper5;
	}
	#wrapper5-first-flex 
	{	
		padding: 10px;
		flex: 50%;
		float: left;
	}
	#wrapper5-image
	{
		margin-top: 2%;
	}
	#wrapper6
	{
		 display: flex;
		 margin-top: 10px;
		 flex-direction: row;
		 font-size: 30px;
		 text-align:left;
		 grid-area: wrapper6;
	}
	#wrapper6-flex 
	{	
		background-color:lightgrey;
		padding: 10px;
		flex: 50%;
		float: left;
		grid-area: wrapper6-flex;
	}
	#wrapper6-content
	{
		font-size:15px;
	}
	#wrapper6-section2
	{
		font-size: 20px;
		font-weight: bold;
		border-bottom: 2px dashed black;
	}
	#wrapper6-section2-content
	{
		font-size: 20px;
		font-weight: bold;
	}
	#wrapper6-section2-sub-content
	{
		font-size: 15px;
		border-bottom: 1px solid black;
	}
	#wrapper6-section3
	{
		font-size: 20px;
		font-weight: bold;
		border-bottom: 2px dashed black;
	}
	#wrapper6-section3-content
	{
		font-size: 15px;
		border-bottom: 1px solid black;
	}
	#wrapper6-section4
	{
		font-size: 20px;
		font-weight: bold;
		border-bottom: 2px dashed black;
	}
	#wrapper6-section4-content
	{
		font-size:15px;
	}
	footer
	{
		background:black;
		grid-area: footer;
	}
	#footer-sub
	{
		margin-top: 2%;
		margin-left: 2%;
		color: white;
	}
	#footer-img
	{
		padding-right: 50%;
	}