<div class="container">
    <div class="text-center display-2">Date Validation</div>
    <form action="">
        <div class="form-group">
            <label for="date">Enter Date</label>
            <input type="text" class="form-control" placeholder="Plese enter date" id="checked">
            <small class="text-muted">MM-DD-YYYY</small><br>
            <button class="btn btn-primary btn-block" type="button"  onclick="validation()">Clickhere</button>

        </div>

    </form>

</div>
<p id="demo"></p>
<script src="./assignment.js"></script>