/* practice exercise 4*/

#content {
    background-color: blue;
    margin: 0;
    padding: 0;
}


/* practice exercise 2*/

p {
    border: 2px solid red;
    padding: 5px;
    color: white;
}


/*Practice exercise 3*/

li {
    display: inline-block;
    margin: 2px;
    padding: 0 5px;
}


/* practice exercise 5*/

#heading h1,
h2 {
    color: yellow;
    text-align: center;
}