<div class="container text-white py-5 d-none d-lg-block">
    <div class="row">
        <div class="col-md-6">
            <h4 class="font-weight-bold h3">Premieres</h4>
            <h6>Brand new releases every Friday</h6>
        </div>
        <div class="col-md-6">
            <a routerLink="movies" routerLinkActive="active" class="text-decoration-none">
                <h6 class="font-weight-normal text-right" style="color: rgb(253, 98, 124);">See All &gt;
                </h6>
            </a>
        </div>
    </div>

    <div class="row slick-entertainment" id="premiereMovies">

        <div class="col-lg-3" *ngFor="let movie of finalList">
            <div>
                <div class="slide-content">
                    <a href="#">
                        <img [src]="'../../assets/' + movie.image" alt="" loading="lazy" class="w-100 rounded">
                    </a>
                    <h6 style="color: white;" class="pt-3">{{movie.name}}</h6>
                    <span class="d-none d-lg-block">
                        <span *ngFor = "let languages of movie.movieLanguages; let l = last" class="font-weight-normal">
                            <span *ngIf = "l==true">
                                {{languages.language}}
                            </span>
                            <span *ngIf = "l==false">
                                {{languages.language}},
                            </span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        
    </div>
</div>


<div class="container text-white py-3 d-sm-block d-lg-none">

    <img src="../../assets/images/premiere-mediumLabel.png"
        alt="" loading="lazy" class="w-100">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" id="premiereCarousel">
            <ng-container *ngFor="let movie of finalList; let f = first">
                <ng-container *ngIf = "f==true">
                    <div class="carousel-item active pt-3 pb-5">
                        <div class="d-flex flex-row flex-fill py-3">
                            <div class="flex-grow-1 pr-3">
                                <a href="#">
                                    <img [src]="'../../../assets/' + movie.image" alt="" loading="lazy" class="w-100 rounded">
                                </a>
                            </div>
                            <div class="text-white align-self-center">
                                <h6>{{movie.name}}</h6>
                                <p>{{movie.time}}</p>
                                <p>
                                    <span *ngFor = "let genres of movie.movieGenres; let l = last" class="font-weight-normal">
                                        <span *ngIf = "l==true">
                                            {{genres.genre}}
                                        </span>
                                        <span *ngIf = "l==false">
                                            {{genres.genre}}/
                                        </span>
                                    </span>
                                    • {{movie.certification.certification1}}
                                </p>
                                <p>
                                    <span *ngFor = "let languages of movie.movieLanguages; let l = last" class="font-weight-normal">
                                        <span *ngIf = "l==true">
                                            {{languages.language}}
                                        </span>
                                        <span *ngIf = "l==false">
                                            {{languages.language}},
                                        </span>
                                    </span>
                                </p>
                                <p>{{movie.about}}</p>
                            </div>
                        </div>
                        <button class="btn btn-danger btn-block">Buy or Rent</button>
                    </div>
                </ng-container>
                <ng-container *ngIf = "f==false">
                    <div class="carousel-item pt-3 pb-5">
                        <div class="d-flex flex-row flex-fill py-3">
                            <div class="flex-grow-1 pr-3">
                                <a href="#">
                                    <img [src]="'../../../assets/' + movie.image" alt="" loading="lazy" class="w-100 rounded">
                                </a>
                            </div>
                            <div class="text-white align-self-center">
                                <h6>{{movie.name}}</h6>
                                <p>{{movie.time}}</p>
                                <p>
                                    <span *ngFor = "let genres of movie.movieGenres; let l = last" class="font-weight-normal">
                                        <span *ngIf = "l==true">
                                            {{genres.genre}}
                                        </span>
                                        <span *ngIf = "l==false">
                                            {{genres.genre}}/
                                        </span>
                                    </span>
                                    • {{movie.certification.certification1}}</p>
                                <p>
                                    <span *ngFor = "let languages of movie.movieLanguages; let l = last" class="font-weight-normal">
                                        <span *ngIf = "l==true">
                                            {{languages.language}}
                                        </span>
                                        <span *ngIf = "l==false">
                                            {{languages.language}},
                                        </span>
                                    </span>
                                </p>
                                <p>{{movie.about}}</p>
                            </div>
                        </div>
                        <button class="btn btn-danger btn-block">Buy or Rent</button>
                    </div>
                </ng-container>
            </ng-container>
            
        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>
