<div class="row">
    <aside id="side-nav" class="col-12 col-lg-2 bg-dark vh-100 text-light position-fixed p-3" style="border: 3px solid rgb(172, 184, 255); border-top: none;">
        <ul>
            <li>
                Day 4:
                <ul>
                    <li>
                        <a>Assignment 1</a>
                    </li>
                    <li>
                        <a>Practice 1</a>
                    </li>
                    <li>
                        <a>Practice 2-4</a>
                    </li>
                    <li>
                        <a>Practice extra</a>
                    </li>
                </ul>
            </li>
            <li>
                Day 5:
                <ul>
                    <li>
                        <a>Assignment 1</a>
                    </li>
                    <li>
                        <a>Practice 1</a>
                    </li>
                </ul>
            </li>
            <li>
                Day 6:
                <ul>
                    <li>
                        <a>Assignment 1 + Practice 7 </a>
                    </li>
                    <li>
                        <a>Practice 5-6</a>
                    </li>
                    <li>
                        <a>Practice extra</a>
                    </li>
                </ul>
            </li>
            <li>
                Day 7:
                <ul>
                    <li>
                        <a>Assignment 1</a>
                    </li>
                </ul>
            </li>
            <li>
                Day 8:
                <ul>
                    <li>
                        <a>Assignment 1</a>
                    </li>
                    <li>
                        <a>Practice 1</a>
                    </li>
                </ul>
            </li>
        </ul>
    </aside>
    <div class="col-10">

    </div>
</div>