<div class="clr pb-5"  *ngIf="flag1">
    <div class="container ">
    <div class="row">
        <div class="col-sm-12 pt-4">
            <p class="text-center text-white" style="font-size: 25px;">Welecome To The <span style="font-weight: 600;">{{retrivedata[0].hotelName}} </span> </p>
        </div>
        
    </div>
</div>
</div>
<div class="bg-light" *ngIf="flag1">
    <div class="container py-3 bg-white ">
       <div class="card">

           <div class="card-header text-center text-white bg-success" style="font-size: 30px;">
                    Your Details
           </div>
           <img src="{{retrivedata[0].imgPath1}}" style="height: 300px;" class="card-img-top img-fluid"   alt="...">
           <div class="card-body">
            <p> <span class="font-weight-bold">First Name:- </span> <span>{{retrivedata[0].userFirstName}}</span> </p>
            <p> <span class="font-weight-bold">Middle Name:- </span> <span>{{retrivedata[0].userMiddleName}}</span> </p>
            <p> <span class="font-weight-bold">Last Name:- </span> <span>{{retrivedata[0].userLastName}}</span> </p>
            <p> <span class="font-weight-bold">Email Address:- </span> <span>{{retrivedata[0].userEmailAddress}}</span> </p>
            <p> <span class="font-weight-bold">Contect Number:- </span> <span>{{retrivedata[0].userContactNumber}}</span> </p>
            <p> <span class="font-weight-bold">Number Of Guest:- </span> <span>{{retrivedata[0].numberOfGuest}}</span> </p>
            <p> <span class="font-weight-bold">Amount:- </span> <span>{{retrivedata[0].totelAmount}}</span> </p>
            <p> <span class="font-weight-bold">Tax:- </span> <span>{{retrivedata[0].tax*100}} %</span> </p>
            <p> <span class="font-weight-bold">Totel Amount:- </span> <span>{{retrivedata[0].totelAmount}}</span> </p>
            <p> <span class="font-weight-bold">Grand Totel:- </span> <span>{{retrivedata[0].totelAmount*retrivedata[0].numberOfGuest}}</span> </p>
            <p> <span class="font-weight-bold">Conformation Number:- </span> <span>{{retrivedata[0].userConformationNumber}}</span> </p>
            <p> <span class="font-weight-bold">Hotel Rating:- </span> <span>{{retrivedata[0].rating}}</span> </p>
            <p> <span class="font-weight-bold"> Address :- </span> <span>{{retrivedata[0].hotelAddress}} {{retrivedata[0].hotelCity}} {{retrivedata[0].hotelState}} {{retrivedata[0].pinNumber}} </span> </p>
            <p> <span class="font-weight-bold"> Booking DateTime :- </span><span>{{retrivedata[0].bookingDateTime.split("T")[0]}} {{retrivedata[0].bookingDateTime.split("T")[1]}} </span> </p>
          

            <div class="row">
                <div class="col-sm-6">
                    <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal" (click)="Update()">Update</button>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-danger btn-block"(click)="Delete(retrivedata[0].userId)" >Delete</button>
                </div>
            </div>


           </div>
       </div>
    </div>
</div>

<div class="p-5 bg-light" *ngIf="flag2">
    <div class="container">
    <p class="text-danger text-center" style="font-size: 30px;">Please Check Your Conformation and Email Address</p>
</div>
</div>

<div class="p-2 bg-light">
    <div class="container">
    <div class="row">
    <div class="col-sm-12">
        <button class="btn btn-outline-primary" (click)="Back()">Back</button>
    </div>
</div>
</div>
</div>





<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <div class="container">
                <form action="" [formGroup]="UserData">
                  <div class="form-group">
                    <label for="">Enter First Name</label>
                    <input type="text" value="" [ngModel]="ufirstname" name="ufirstname" formControlName="UserFirstName" [ngClass]="{'is-invalid':userfirstname?.errors && (userfirstname.touched || userfirstname.dirty)}"class="form-control">
                    <div class="invalid-feedback" *ngIf="userfirstname?.errors && userfirstname.touched">
                      <div *ngIf="userfirstname.errors?.required">First Name Required</div>
                      <div *ngIf="userfirstname.errors?.Nocharactor">Only Charactor Are Allowed </div>
                  </div>
                  </div>
                  <div class="form-group">
                    <label for="">Enter Middle  Name</label>
                    <input type="text" value=""  [ngModel]="umiddlename" name="umiddlename" class="form-control" formControlName="UserMiddleName" [ngClass]="{'is-invalid':usermiddlename?.errors && (usermiddlename.touched ||usermiddlename.dirty)}">
                    <div class="invalid-feedback" *ngIf="usermiddlename?.errors && usermiddlename.touched">
                      <div *ngIf="usermiddlename.errors?.required">Middle Name Required</div>
                      <div *ngIf="usermiddlename.errors?.Nocharactor">Only Charactor Are Allowed </div>
                  </div>
    
                  </div>
                  <div class="form-group">
                    <label for="">Enter LastName  Name</label>
                    <input type="text" value="" [ngModel]="ulastname" name="ulastname" class="form-control" formControlName="UserLastName" [ngClass]="{'is-invalid':userlastname?.errors && (userlastname.touched ||userlastname.dirty)}">
                    <div class="invalid-feedback" [ngClass]="{'is-invalid':userlastname?.errors && (userlastname.touched ||userlastname.dirty)}">
                      <div *ngIf="userlastname.errors?.required">Last Name Required</div>
                      <div *ngIf="userlastname.errors?.Nocharactor">Only Charactor Are Allowed </div>
                  </div>
                  </div>
                  <div class="form-group">
                    <label for="">Enter Email</label>
                    <input type="text" value="" [ngModel]="uemail"  name="uemail"  class="form-control" formControlName="UserEmail" [ngClass]="{'is-invalid':useremail?.errors &&  (useremail.touched || useremail.dirty)}">
                    <div class="invalid-feedback" *ngIf="useremail?.errors && (useremail.touched || useremail.dirty)">
                      <div *ngIf="useremail.errors?.required">Email is Required Fild</div>
                      <div *ngIf="useremail.errors?.email">Please Enter Valid Email</div>
                  </div>
                  </div>
                  <div>
                    <label for="">Enter Phone Number</label>
                    <input type="text" class="form-control" [ngModel]="uphonenumber" name="uphonenumber" formControlName="UserPhoneNumber" [ngClass]="{'is-invalid':userPhoneNumber?.errors &&(userPhoneNumber.touched || userPhoneNumber.dirty)}">
                    <div class="invalid-feedback"
                                        *ngIf="userPhoneNumber?.errors && (userPhoneNumber.touched || userPhoneNumber.dirty)">
                                        <div *ngIf="userPhoneNumber.errors?.required">MobileNumber is Required Fild</div>
                                        <div *ngIf="userPhoneNumber.errors?.Nodigit">Please Enter Digit Only</div>
                                        <div
                                            *ngIf="(userPhoneNumber.errors?.maxlength  || userPhoneNumber.errors?.minlength)">
                                            Please Enter 10 Digit Number</div>
                                    </div>
                  </div>

                  <div>
                    <label for="">Enter NumberOf Guest</label>
                    <select class="form-control" [(ngModel)]="noofguest" name="noofguest" formControlName="Guest" [ngClass]="{'is-invalid':guest?.errors && (guest.touched || guest.dirty)}">
                        <option disabled>Select Guest</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="guest.errors?.required && (guest.touched || guest.dirty)">
                                Check Out Date Date Required
                    </div>
                  </div>
                </form>
              </div>
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)="SaveChanges()">Save changes</button>
        </div>
      </div>
    </div>
  </div>