
<div >
    <div class="left">
        <div class="dropdown text-dark">
            <button class="btn hover form-control btn-white btn-default dropdown-toggle" type="button"
                data-toggle="dropdown">Day15
                <span class="caret"></span></button>
            <ul class="dropdown-menu form-control bg-dark text-center">
                <li class="dropdown-header" style="font-size: large;">Assignment</li>
                <li><a class="text-center" [routerLink]="['Day15/Assignment/Assignment']">Assignment</a></li>
                <li class="divider"></li>

                <li class="dropdown-header" style="font-size: large;">Practice</li>
                <li><a class="text-center" [routerLink]="['Day15/Practice/Practice1']">Practice1</a></li>
               </ul>
        </div>
        <div class="dropdown text-dark">
            <button class="btn hover form-control btn-white btn-default dropdown-toggle" type="button"
                data-toggle="dropdown">Day16
                <span class="caret"></span></button>
            <ul class="dropdown-menu form-control bg-dark text-center">
                <li class="dropdown-header" style="font-size: large;">Assignment</li>
                <li><a class="text-center" [routerLink]="['Day16/Assignment/Assignment']">Assignment</a></li>
            </ul>    
        </div>
        <div class="dropdown text-dark">
            <button class="btn hover form-control btn-white btn-default dropdown-toggle" type="button"
                data-toggle="dropdown">Day17
                <span class="caret"></span></button>
            <ul class="dropdown-menu form-control bg-dark text-center">
                <li class="dropdown-header" style="font-size: large;">Assignment</li>
                <li><a class="text-center" [routerLink]="['Day17/Assignment/Assignment']">Assignment</a></li>
            </ul>    
        </div>
        <div class="dropdown text-dark">
            <button class="btn hover form-control btn-white btn-default dropdown-toggle" type="button"
                data-toggle="dropdown">Day18
                <span class="caret"></span></button>
            <ul class="dropdown-menu form-control bg-dark text-center">
                <li class="dropdown-header" style="font-size: large;">Assignment</li>
                <li><a class="text-center" [routerLink]="['Day18/Assignment/Assignment']">Assignment</a></li>
            </ul>    
        </div>
        <div class="dropdown text-dark">
            <button class="btn hover form-control btn-white btn-default dropdown-toggle" type="button"
                data-toggle="dropdown">Day19
                <span class="caret"></span></button>
            <ul class="dropdown-menu form-control bg-dark text-center">
                <li class="dropdown-header" style="font-size: large;">Assignment</li>
                <li><a class="text-center" [routerLink]="['Day19/Assignment/Assignment']">Assignment</a></li>
            </ul>    
        </div>
        <div class="dropdown text-dark">
            <button class="btn hover form-control btn-white btn-default dropdown-toggle" type="button"
                data-toggle="dropdown">Day20
                <span class="caret"></span></button>
            <ul class="dropdown-menu form-control bg-dark text-center">
                <li class="dropdown-header" style="font-size: large;">Assignment</li>
                <li><a class="text-center" [routerLink]="['Day20/Assignment/Assignment']">Assignment</a></li>
            </ul>    
        </div>
    </div>
    <div class="right"> 
        <router-outlet></router-outlet>
    </div>
    <footer class="footer_low"> Copy right @ 2010-2021</footer>
</div> 