// Main Sass File
$tooltipColor: #f3dbf0;


.nav-activities{
    background: rgb(38, 39, 49);
    margin-top: 70px;
}
.navbar-nav{

    .badge{
        position:relative; 
        bottom:12px; 
        right:10px;
        font-size: 8px;
        font-weight: 500;
    }
}



.menulines{
    font-size: 30px;
    color: white;
}
.sidenav{
    padding-top: 100px;
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: white;
    overflow-x: hidden;
    transition: all 0.5s;

    a{
        text-decoration: none;
        color: black;
        margin: 10px 0;
        padding: 0 10px;
        display: block;
        
    }

    .closebtn{
        position: absolute;
        top: 70px;
        right: 25px;
        font-size: 35px;
    }

    .sidebar-icons{
        position: absolute;
        right: 20px;
    }
}




.slick-dots li.slick-active button:before {
    color:black !important;
    
}

.slick-prev:before {
    color: black !important;
    
  }
  .slick-next:before {
    color: black !important;
    
  }

.search-item{
    color: rgb(253, 98, 124);
}

#heading-img{
    margin-top: -20px;
    margin-right: -10px;
}


@media only screen and (max-width: 575px){
    #main-content{
        margin-left: 20px;
    }
    
    .slick-recommended-movies img{
        width: 40px;
    }

    .nav-activities{
        display: none;
    }
    
    .h3{
        font-size: large;
    }

    .slick-recommended-movies, .slick-entertainment{
        .slick-prev:before {
            display: none;
            
        }
        .slick-next:before {
            display: none;
            
        }
    }

    .below-navbar{
        width: 104%;
    }

    
}

.col-2 img{
    margin-top: 100px;
    width:70px;
}

@media (max-width:992px) and (min-width: 576px){
    #main-content{
        margin-left: 20px;
    }
    
    .col-2 img{
        width:150px;
        margin-top: 20px;
    }

    .slick-recommended-movies, .slick-entertainment{
        

        .slick-prev:before {
            display: none;
            
        }
        .slick-next:before {
            display: none;
            
        }
    }

    .below-navbar{
        width: 104%;
    }

    
}

#outdoor-events{

    .badge{
        font-size: medium;
    }
}

#services {
    a{
        color: gray;
        text-decoration: none;
    }
    a:hover{
        color: white;
    }
}

#links{

    h6{
        text-transform: uppercase;
        font-size: small;
    }
     
    li{
        a{
            text-decoration: none;
            color: gray;
            border-right: 2px solid gray;
            padding:0 5px;
            font-size: x-small;
        }
        a:hover{
            color: white;
        }

    }
}

#citiesModal{
    .modal-content{
        width: 1200px;
        margin-left: -350px;
        margin-top: 100px;   
    }
}

.tooltip-inner {
    
    background-color: $tooltipColor !important;
    
    color: gray;
    max-width: 700px !important;
    margin-left: 200px !important;
  }
  
  .tooltip.top .tooltip-arrow {
    border-top-color:$tooltipColor;
  }
  
  .tooltip.right .tooltip-arrow {
    border-right-color:$tooltipColor;
  }
  
  .tooltip.bottom .tooltip-arrow {
    border-bottom-color:$tooltipColor;
  }
  
  .tooltip.left .tooltip-arrow {
    border-left-color: $tooltipColor;
  }

  .bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
    
  border-bottom-color: $tooltipColor;
  
}

.footer-logo{
    span{
        border: 1px solid gray;
        width: 600px;
    }
}

.socials{
    i{
        color: gray;
    }
    i:hover{
        color: white;
    }
}

.loginContent{
    margin-top: 200px;
}


.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    margin-top: 60px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    margin-left: -250px;
    background: #dd3e4e;
    color: #fff;
    transition: all 0.3s;
}

a[data-toggle="collapse"] {
    position: relative;
}

#sidebar.active {
    margin-left: 0;
}

@media (min-width: 576px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #dc3545;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #dc3545;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    color: white;
    padding: 10px 10px 10px 30px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #dc3545;
    background: #fff;
    text-decoration: none;
}
