<div class="container text-center bg-light mt-5 p-5">
    <p id="json"></p>
    <button (click)="index()" class=" mb-3 btn btn-outline-info bg-success text-white btn-lg">Json</button>
    <p id="prototype"></p>
    <p id="prototype2"></p>
    <button (click)="prototypeProperty()" class=" mb-3 btn btn-outline-info bg-success text-white btn-lg">Prototype Property</button>
    <p id="define"></p>
    <button (click)="defineProperty()" class="btn btn-outline-info bg-success text-white btn-lg">Define Property</button>
    <p id="miscellaneous"></p>
    <button (click)="miscellaneous()" class="btn btn-outline-info bg-success text-white btn-lg">miscellaneous</button>
</div>