* {
    padding: 0;
    margin: 0;
}

#container {
    width: 600px;
    margin: auto;
}

header {
    background-color: red;
    height: 60px;
}

#main {
    height: 300px;
}

footer {
    background-color: hotpink;
    height: 60px;
}
* {
    padding: 0;
    margin: 0;
}

#container {
    width: 600px;
    margin: auto;
}

header {
    background-color: red;
    height: 60px;
}

#main {
    height: 300px;
}

footer {
    background-color: hotpink;
    height: 60px;
}

#leftFloat {
    background-color: yellow;
    width: 90px;
    float: left;
    height: 300px;
}

#rightFloat {
    background-color: orange;
    height: 300px;
}

#leftFloat {
    background-color: yellow;
    width: 90px;
    float: left;
    height: 300px;
}

#rightFloat {
    background-color: orange;
    height: 300px;
}
