/*Common styles*/

*{
    margin : 0px;
    padding : 0px;
}

/*Styles for the container.*/
.heading-container
{
    width : 100vw;
    height : auto;

}

.navigation-items {
    display: flex;
    height: 65px;
    opacity: 0.8;
    align-items: center;
    flex-direction: row;
    list-style: none;
    background-color: black;
    color: rgb(212, 202, 187);
    justify-content: center;
}

.navigation-items > li{
    margin-right: 20px;
    margin-left: 20px;
    font-family: sans-serif;
    transition-duration: 600ms;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}


.navigation-items > li:hover{
    color: white;
    font-size: 20px;
}

.line-header{
    height : 12px;
    width : 100%;
    background-color: skyblue;
}

.image{
    width : 100%;
    height :200px;
}

.txt{
    height: 65px;
    width : 100%;
    background-color: black;
    opacity: 0.8;
}


/* css for text in header */

.txt-container{
    color: white;
   
}
.txt{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(212, 202, 187);
    font-family: sans-serif;
}



#special-txt{
    color: white;
}

.btn-header{
    padding : 5px 20px;
    margin-left: 10px;
    background-color: rgb(32, 168, 221);
    color: white;
    font-family: sans-serif;
    border : 2px solid rgb(32, 168, 221); 
    border-radius: 2px;
    transition-duration: 600ms;
}

.btn-header:hover{
    transform:scale(1.1);
    
}


/*  Styles for the middle container. */

.middle-container{
    width : 100%;
}

.features-contaiener{
    margin-top : 30px;
    width : 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
}

.items{
    height: 300px;
    width : 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-img{
    width: 30%;
    height: 120px;
}

.feature-heading{
    margin-top: 10px;
    font-family: sans-serif;
    color: rgb(63, 52, 52);

}

.feature-txt{
    margin-top: 10px;
    text-align: center;
    font-family: sans-serif;
    color: rgb(85, 75, 75);
    margin-left: 10px;
    margin-right: 10px;
}

/* CSS for quotes container . */

.quotes-container{
    width : 100%;
    height : 250px;
    border : 1px solid black;
    background-color: whitesmoke;
    box-shadow: inset 0 0 10px #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quotes-heading{
    font-family: sans-serif;
    color: rgb(63, 52, 52);
}
.quotes-line{
    
    width : 50%;
    margin-top: 15px;
    margin-bottom: 15px;
    border : 1px solid gray;
    opacity: 0.4;
}
.quotes-txt{
    font-family: sans-serif;
    color: rgba(85, 75, 75,0.35);
}




/* Here is the css for products. */

.products-container{
    width : 100%;
    height: 350px;
    
}

.products-item{
    float: left;
    width : 50%;
    height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.products-img{
    height: 80%;
    width: 20%;
}

.products-text-container{
    width : 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.products-heading{
    margin-top: 10px;
    margin-left: 10px;
    font-family: sans-serif;
    color: rgb(63, 52, 52);
}

.products-txt{
    margin-top: 10px;
    text-align: start;
    font-family: sans-serif;
    color: rgba(85, 75, 75,0.5);
    margin-left: 10px;
    margin-right: 10px;
}

/* Here comes css for blue container .*/

.blue-container{
    width: 100%;
    height: 120px;
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5899ee, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-txt{
    font-family: sans-serif;
    color: white;
}

.blue-btn{
    font-family: sans-serif;
    margin-left : 10px;
    padding : 7px 18px;
    background-color: white;
    border : 2px solid white;
    border-radius: 3px;
    transition-duration: 500ms;
}


.blue-btn:hover{
    transform:scale(1.1);
}


/* Here comes the css for footer. */
footer{
    width : 100%;
    height : 600px;
    background-color: rgba(226, 226, 226 , 0.5);
}


.footer-container{
    height : 400px;
    width : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer-links-container { 
    width : 50%;
    height : 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

dl{
    list-style: none;
}

dl dt{
    margin-top : 40px;
    margin-bottom: 40px;
    font-family: sans-serif;
    color: rgb(63, 52, 52);
}

dl dd{
    margin-top : 7px;
    margin-bottom : 7px;
    color: rgba(63, 52, 52,0.7);
}
.footer-form-container{
    width : 50%;
    height : 100%;
    
}

.links-container{
    width: 100%;
       
}


.input-container{
    width : 100%;
    height: 17%;
    margin-left : 30px;
    margin-top : 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.name-input{
    height: 30px;
    width : 200px;
    padding-left: 10px;
    border: 1px solid gainsboro;
    font-family: sans-serif;
}

.email-input{
    margin-left: 20px;  
    height: 30px;
    width : 200px;
    padding-left: 10px; 
    border: 1px solid gainsboro;
    font-family: sans-serif;
}

.message-input{
    margin-left: 30px; 
    height: 100px;
    width: 430px;
    resize: none;
    padding-left: 10px;
    padding-top: 10px;
    border: 1px solid gainsboro;
    font-family: sans-serif;
}

.form-btn{
    display: block;
    margin-left: 30px;
    margin-top : 20px;
    padding: 5px 15px;
    color: white;
    background-color: rgb(105, 102, 102);
    border : 2px solid rgb(105, 102, 102);
    font-family: sans-serif;
    border-radius: 5px;
    transition-duration: 500ms;
}

.form-btn:hover{
    transform: scale(1.1);
    background-color: white;
    color: black;
}


.links-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding: 20px;
}

.links > svg{
    margin : 10px;
}

