// Main Sass File
$theme-red : #D2242A;
$theme-gray : #818286;
html{
    scroll-behavior: smooth;
}
body{
    padding-top: 100px;
    
}
.btn-theme{
    background: $theme-red;
    color: white;
}
.text-theme{
    color: $theme-red;
}
.bg-gray{
    background-color: $theme-gray;
}
.bg-theme{
    background-color: $theme-red;
}

.navbar{
    
    box-shadow: 0px 2px 3px $theme-gray;
    ul{
        font-size: 20px;
        font-weight: bold;
        a{
            color: $theme-red!important;
        }        
        a:hover{
            color: #a01c21!important;
        }
   }
}

#home{
    background : url(../img/homeBankImg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    .bg-gray{
        background-color: rgba(129 , 130, 134, 0.8);
    }
}


#service{
    
    a{
        text-decoration: none;
        padding-left: 20px;
        color: white;
    
    }
    a:hover{
        color: $theme-red;
    }
}

.modal{
    //background-color: rgba(129 , 130, 134, 0.8);
    background-color: rgba(000 , 000, 000, 0.8);
    #loginContent{
        background-color: rgba(0 , 0, 0,0.0000000000001);
        border-radius: 0px;
    }
    #signupDialoge{
        max-width: 80%;
        .modal-content{
            border-radius: 0px;
        }
    }
}
#sidebar{
    
    .active {
        background-color: $theme-red;
        color: $theme-gray!important;
    }
    ul{
        a{
            color: $theme-red!important;
            font-size: 25px;
            font-weight: bold;
        }
        li{
            display: block;
           
            
        }
    }
}