$bg-dark: black;

.container {
    max-width: 100% !important;
    padding: 70px;
}

#language-modal {
    div.active{
        background-color: rgb(201, 201, 201);
        font-weight: 600;
    }

    div a {
        font-size: 20px;
    }

    .link-div:hover {
        background-color: rgb(233, 233, 233);
        transition:all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.bg-dark {
    background-color: $bg-dark !important;
}

.text-dark {
    color: $bg-dark !important;
}

.navbar {
    height: 70px;
    .nav-link {
        color: white !important;
        font-weight:600;
    }

    .nav-item {
        margin-left:10px;
    }

    #sign_up_link {
        color: black !important;
    }

    #produts-dropwdown {
        a {
            span{
                display: inline-block;
                width: 40px;
            }
            height: 50px;
            width: 300px;
        }
        height: 350px;
        overflow: scroll;
    }
    
}

#alerts-section {
    background-color: rgb(232, 242, 253);
    color: rgb(0, 53, 197);
    .container {
        padding: 20px 150px;
        margin: 0;
        a {
            border-bottom: $bg-dark solid 1px;
            color: $bg-dark;
            margin-bottom: 20px;
            display: inline-block;
            text-decoration: none;
        }

        a:hover {
            color: gray;
            text-decoration: none;
        }
    }
}

#myList {
    .list-group-item {
        border: none !important;
        height: 125px;
        padding-top: 35px;
        margin-right: -1px;
        color: $bg-dark;
        padding-left:5px ;
        padding-right:5px ;
        border: none!important;
        border-radius: 0!important;
        i {
            font-size: 30px;
        }
        transition:all 200ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .list-group-item.active {
        background-color: white!important;
        border-bottom: $bg-dark solid 3px!important;
    }
    border: none!important;
    border-radius: 0!important;
    margin: 20px 8% 0 8%;
}

.link-black {
    border-bottom: $bg-dark solid 1px;
    color: $bg-dark;
    margin-bottom: 20px;
    display: inline-block;
    text-decoration: none;
}

.link-black:hover {
    color: gray;
    text-decoration: none;
}

#products {
    background-image: url("../img/Product-Masthead-Desktop.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height:760px !important;
    .tab-content {
        min-height: 400px;
    }
    .content-row {
        margin-left: 8%;
        margin-right: 5%;
        h1 {
            margin: 30px;
            font-size: 52px;
        }
        p {
            margin: 30px;
        }
        
        a {
            margin: 10px 30px;
        }

        
        .btn-black {
                background-color: $bg-dark !important;
                border: none;
                font-size: 18px;
                border-radius: 0;
                padding: 10px 15px;
        }

        .btn-gray {
            background-color: rgb(185, 185, 185);
            color: $bg-dark;
            border: none;
            font-size: 18px;
            border-radius: 0;
            padding: 10px 15px;
        }

        .input-group {
            input {
                margin:5px 0 5px 30px;
            }
            button{
                margin:5px auto;
            }
        }

        input {
            margin:5px 0 5px 30px;
        }
    }
   
}



.modal-dialog {
    width: 100% !important;
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
  }

.modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
    border: none;
}

.modal-backdrop.show {
    opacity: 0;
}

.modal {
    border: none;
    margin-top: 60px !important;
}

#stats {
    background-image: url("../img/Modalities_banner_home.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    .stats-content{
        min-height: 650px;
    }
    .tab-content {
        min-height: 400px;
    }
}

footer {
    .footer-link, .footer-link:hover{
        color: white;
        text-decoration: none;
    }
    padding-top: 100px;
    
    .company-name{
        margin-bottom: 50px;
    }
    .help-center-link{
        display: block;
        padding-bottom: 80px!important;
    }

    h4{
        margin-bottom: 20px;
    }

    ul {
            li .footer-link{
            padding-bottom: 20px !important;
            display: block;
        }
    }
}



@media (max-width: 991px) { 
    .navbar {
        height: 70px;
        .nav-link {
            color: $bg-dark !important;
            font-weight:600;
            font-size: 30px;
            margin: 10px;

        }
    }
    
    nav .container-nav {
        padding-left: 20px !important;
        padding-right: 20px !important;
        .signup-div {
            padding: 5px 10px;
        }
    }


    #products {
        height: auto!important;
        background-color: white;
        background-image: none;
        .content-row {
            margin-left: auto;
            margin-right: 0;
        }
    }

    #myList {
        overflow: scroll;
        margin-left: 0;
        margin-right: 0;
        .list-group-item {
            border: none !important;
            height: 125px;
            padding-top: 20px;
            margin-right: -1px;
            color: $bg-dark;
            min-width: 100px;
            max-width: 120px;

        }
        
    }

    #stats {
        background-image: url("../img/modalities_3x2.jpg");
        background-size:cover;
        background-repeat: no-repeat;

        .stats-content{
            min-height: 500px;
        }
        .tab-content {
            min-height: 300px;
        }
    }

    #navbarnav1 {
        .products-menu {
            width: 100%;
            background-color: rgb(141, 141, 141);
            text-align: center;
        }

        .dropdown-menu {
            position: absolute;
            width: 100%;
        }
        height: 100vh !important;
        background-color: white;
        z-index: 3;
        margin-top: 20px;
        margin-left: -20px;
        margin-right: -20px;
        border-bottom: gray solid 3px;
    }
}
