
<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <title>Project</title>
</head>
<body>
            <div class="col-lg-8">
                <h3>Employee Details</h3>
                <form method="post" action="first.html">
                    Enter Name:<input type="text" id="username" required><br>
                    Enter Username:<input type="email" id="txt1" value="aaa@xyz.com" required><br>
                    Enter Date Of Joining:<input type="date" id="date" required=""><br>
                    Contact Number:<input type="tel" id="phone" name="phone" placeholder="9999999999"
                        pattern="[0-9]{10}" required><br>
                    Age:<input type="number" id="age" name="age" placeholder="23" pattern="[0-9]{1,2}"
                        required><br>
                    Year Of Passing:<input type="number" id="year" name="year" placeholder="2015" pattern="[0-9]{4}"
                        required><br>
                    Male:<input type="radio" id="male" name="gender" value="male" required><br>
                    Female:<input type="radio" id="female" name="gender" value="female" required><br>
                    Salary:<input type="number" id="salary" name="salary" required><br>
                    Designation:<input type="number" id="designation" name="designation" required><br>
                    <label for="location">Location:</label><br>
                    <select id="location" name="location">
                        <option value="Ahmedabad">Ahmedabad</option>
                        <option value="Baroda">Baroda</option>
                        <option value="Rajkot">Rajkot</option>
                        <option value="Vadodra">Vadodra</option>
                    </select><br>
                    <input type="submit" value="submit">
                    </form>
                    
                </div>
</body>

</html>