<div class="mt-2">
    <div class="card shadow-sm p-4">
        <h5 class="mb-4">Premium Designations</h5>
        <a href="">CEO Jobs</a>
        <a href="">CFO Jobs</a>
        <a href="">CMO Jobs</a>
        <a href="">COO Jobs</a>
        <a href="">CTO Jobs</a>
        <a href="">Director Finance Jobs</a>
        <a href="">VP HR Jobs</a>
        <a href="">VP Engineering Jobs</a>
        <a href="">VP Marketing Jobs</a>
        <a href="">VP Sales Jobs</a>
        <a href="">VP Business Development Jobs</a>
        <a href="">VP Sales & Marketing Jobs</a>
        <a href="">VP Finance Jobs</a>
        <a href="">VP Operations Jobs</a>
        <a href="">Marketing Head Jobs</a>
        <a href="">Sales Head Jobs</a>
        <a href="">IT Head Jobs</a>
        <a href="">HR Head Jobs</a>
        <a href="">Digital Marketing Head Jobs</a>
        <a href="">Engineering Manager Jobs</a>
        <a href="">Marketing Manager Jobs</a>
        <a href="">Brand Manager Jobs</a>
        <a href="">Product Manager Jobs</a>
        <a href="">Data Scientist Jobs</a>
        <a href="">Business Analyst Jobs</a>
        <a href="" class="pt-3 font-weight-bold">View All Designations</a>
    </div>
</div>
