ul{
    list-style-type: none;
    background-color: aqua;
}
a:link{
    color: red;

    text-decoration: none;
}

a:visited{
    color:crimson;
}

a:hover{
    color: blueviolet;
    text-decoration: underline;
}
a:active{
    color: rgb(51, 99, 187);
}
ul li{
    display: inline;
    margin-left: 15px;
    font-size: 25px;
}