*{
    background-color: antiquewhite;
    
}

h1{
    font-size: 100px;
    font-style: italic;
}

.intro{
    font-size: 30px;
}
h1.header1{

    font-size: 70px;
}

#hd{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* phsudo selector */
a:active{
    color: aqua;
}
a:visited{
    color: blanchedalmond;
}
p::after{
    
}
