.sidebar1 ul {
  text-decoration: none; }
  .sidebar1 ul .bg-warning {
    border: 1px solid black;
    text-align: center;
    font-weight: bolder; }
  .sidebar1 ul li {
    border-bottom: 1px solid black;
    padding: 5px; }
    .sidebar1 ul li a {
      color: black;
      padding-left: 20px;
      text-decoration: none; }
  .sidebar1 ul li:hover {
    background-color: grey; }
