<div class="products_container">
    <div class="left_product_container">
        <div class="product">
            <img src="./assests/images/pic01.jpg" alt="Product1" height="100" width="100">
            <div class="product_title">
                The First Thing
            </div>
            <div class="product_desc">
                <div>Nullam dictum felis eu pede mollis eu</div>
                <div>Aenean commodo ligula eget dolor</div>
                <div>Lorem ipsum dolor sit amet</div>
            </div>
        </div>

        <div class="product">
            <img src="./assests/images/pic01.jpg" alt="Product1" height="100" width="100">
            <div class="product_title">
                The First Thing
            </div>
            <div class="product_desc">
                <div>Nullam dictum felis eu pede mollis eu</div>
                <div>Aenean commodo ligula eget dolor</div>
                <div>Lorem ipsum dolor sit amet</div>
            </div>
        </div>

    </div>

    <div class="left_product_container">
        <div class="product">
            <img src="./assests/images/pic01.jpg" alt="Product1" height="100" width="100">
            <div class="product_title">
                The First Thing
            </div>
            <div class="product_desc">
                <div>Nullam dictum felis eu pede mollis eu</div>
                <div>Aenean commodo ligula eget dolor</div>
                <div>Lorem ipsum dolor sit amet</div>
            </div>
        </div>

        <div class="product">
            <img src="./assests/images/pic01.jpg" alt="Product1" height="100" width="100">
            <div class="product_title">
                The First Thing
            </div>
            <div class="product_desc">
                <div>Nullam dictum felis eu pede mollis eu</div>
                <div>Aenean commodo ligula eget dolor</div>
                <div>Lorem ipsum dolor sit amet</div>
            </div>
        </div>

    </div>
    
</div>


.product
{
    margin-top: 60px;
    width: 34%;
    height: 100px;
}

.product img
{
    float: left;
    display: block;
    margin-right: 25px;
}

.product_title
{
    padding: 5px;
    font-weight: bold;
}

.product_desc
{
    margin-left: 50px;
}

.left_product_container
{
    margin-left: 16%;
}