<section   class="bg-white w-100 " style="display: table;">
                  <div class="container-fluid" *ngFor="let item of restaurantdata;let idx = index" id="dynemiccard">
                     <div class='col-12 col-sm-6 col-md-4  col-lg-3 col-xl-3 float-left cardend py-3 my-3'>
                        <div class='card cardbodys'>
                            <div >
                                <img class='card-img-top res-images' src={{Image(item.restorentImage)}} alt='Card image'>
                            </div>
                            <div class='card-body px-0'>
                                <div class='card-title text-left h5'>{{item.restaurantName}}</div>
                                <p class='card-text text-secondary'>{{item.restaurantfoodtype}}</p>
                                <div class='row text-secondary sizes'>
                                    <div class='col'>
                                        <div class='bg-success text-white text-center'>
                                            <i class='fas fa-star'></i>
                                            <span>4.2</span>
                                        </div>
                                    </div>
                                    <div class='col'>30 MINS</div>
                                    <div class='col'>₹{{item.restFoodPricetwoperson}} FOR TWO</div>
                                </div>
                                <hr>
                                <div class='offercolor text-center' style="font-size: 18px;">{{Offer(item.offer1id)}}</div>
                                <div class='offercolor my-1 text-center' style="font-size: 18px;">{{Offer(item.offer2id)}}</div><hr>
                                <div class='text-center'>
                                    <a class='linkshow' href='../html/product_category.html'>Quick View</a>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </section> 