<div>
    <div class="card card-body m-2">
        <h1 class="display-4 text-center">Ad. 1</h1>
        <p>Some dummy text.Some dummy text.Some dummy text.Some dummy text.Some dummy text.Some dummy text.Some dummy text.</p>
    </div>
    <div class="card card-body m-2">
        <h1 class="display-4 text-center">Ad. 2</h1>
        <p>Some dummy text.Some dummy text.Some dummy text.Some dummy text.Some dummy text.Some dummy text.Some dummy text.</p>
    </div>
    <div class="card card-body m-2">
        <h1 class="display-4 text-center">Ad. 3</h1>
        <p>Some dummy text.Some dummy text.Some dummy text.Some dummy text.Some dummy text.Some dummy text.Some dummy text.</p>
    </div>
</div>