<!DOCTYPE html>



<html>

<head>
	<link rel="icon" type="image/x-icon" href="favicon.ico">	
	<title>

		Bata India - Buy Shoes Online For Men, Women & Kids. Footwear From Leading Brands, Power, Hush Puppies

	</title>
	<meta name="description"
		content="Bata India offers quality footwear in the latest styles. Buy shoes online for men, women & kids. Get 10% OFF on signup. FREE Shipping + Warranty + COD!" />
	<meta name="keywords"
		content="Bata, Bata India, Bata Shoes, Buy Shoes Online, Bata Shoes Online India, Bata Online, Formal Shoes, Leather Shoes, Casual Shoes, Mens Footwear, Womens Footwear, Kids Shoes, Shoes Online Shopping" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<meta name="msapplication-TileColor" content="#ffffff" />
	<meta name="msapplication-TileImage" content="" />
	<meta name="HandheldFriendly" content="true">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="facebook-domain-verification" content="h6g3ck4smy3r4j5bdbo5mm4w2fp2ot" />




	<link rel="shortcut icon" type="image/ico"
		href="https://static1.bata.in/0/media/css/frontend/octa/images/favicon.ico" />
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://static1.bata.in/0/media/css/frontend/octa/bxsilder.css" rel="stylesheet" type="text/css" />
	<link href="https://static1.bata.in/0/media/css/frontend/octa/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="https://static1.bata.in/0/media/css/frontend/octa/style.css" rel="stylesheet" type="text/css" />
	<link href="https://static1.bata.in/0/media/css/frontend/octa/responsive.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript">var path = "/bataindia"; var staticPath = "https://static1.bata.in/0";</script>
	<script type="text/javascript" src="/bataindia/I18nJs.js"></script>
	<script type="text/javascript" language="javascript"
		src="https://static1.bata.in/0/media/js/frontend/catalogue.js"></script>
	<!--[if IE]> <script src="https://static1.bata.in/0/media/js/frontend/html5.js" type="text/javascript"></script> <![endif]-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<meta name="google-site-verification" content="PDGJ_VyG2fU4znc-xcgfl4ssdrOASs6qbX10yiqYpvU" />
	<script>(function (w, d, t, r, u) { var f, n, i; w[u] = w[u] || [], f = function () { var o = { ti: "20099991" }; o.q = w[u], w[u] = new UET(o), w[u].push("pageLoad") }, n = d.createElement(t), n.src = r, n.async = 1, n.onload = n.onreadystatechange = function () { var s = this.readyState; s && s !== "loaded" && s !== "complete" || (f(), n.onload = n.onreadystatechange = null) }, i = d.getElementsByTagName(t)[0], i.parentNode.insertBefore(n, i) })(window, document, "script", "//bat.bing.com/bat.js", "uetq");</script>

	<script src='https://tw.netcore.co.in/smartechclient.js'></script>
	<!-- <script src='//tw.netcore.co.in/smartechclient.js'></script> -->
	
</head>

<body id="BODY">
	
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PZ5FL28" height="0" width="0"
			style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	<div id="layoutId" class="container-fluid">
		<header id="headerId" class="row">
			<input type="hidden" id="historyURL" name="historyURL" value="" />
			<input type="hidden" id="currentCatSelected" name="currentCatSelected" value="" />
			<input type="hidden" id="currentEntitySelected" name="currentEntitySelected" value="" />
			<input type="hidden" id="showAllEntity" name="showAllEntity" value="" />

			<script src="https://www.gstatic.com/firebasejs/4.4.0/firebase.js"></script>
			<script>
				// Initialize Firebase
				var config = {
					apiKey: "AIzaSyA_829WslZFaRRGTEl7m29VBYHBtEFBrA0",
					authDomain: "bata-india-push-notification.firebaseapp.com",
					databaseURL: "https://bata-india-push-notification.firebaseio.com",
					projectId: "bata-india-push-notification",
					storageBucket: "",
					messagingSenderId: "338794351731"
				};
				firebase.initializeApp(config);
			</script>

			<!-- Facebook Pixel Code -->
			<script>
				!function (f, b, e, v, n, t, s) {
					if (f.fbq) return; n = f.fbq = function () {
						n.callMethod ?
							n.callMethod.apply(n, arguments) : n.queue.push(arguments)
					};
					if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
					n.queue = []; t = b.createElement(e); t.async = !0;
					t.src = v; s = b.getElementsByTagName(e)[0];
					s.parentNode.insertBefore(t, s)
				}(window, document, 'script',
					'https://connect.facebook.net/en_US/fbevents.js');
				fbq('init', '1443835739132785');
				fbq('track', 'PageView');
			</script>
			<noscript><img height="1" width="1" style="display:none"
					src="https://www.facebook.com/tr?id=1443835739132785&ev=PageView&noscript=1" /></noscript>
			<!-- End Facebook Pixel Code -->

			<script src='https://tw.netcore.co.in/smartechclient.js'></script>
			<!-- <script src='//tw.netcore.co.in/smartechclient.js'></script> -->
			<script>
				function checkSessionCookie(name) {
					var v = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
					var t = v ? v[2] : '';
					if (t == '') {
						document.cookie = "JSESSIONID=dummy.dummy; Expires=Thu, 01 Dec 1700 00:00:01 GMT; Path=/;";
					}
				}
				checkSessionCookie('JSESSIONID');
				smartech('create', 'ADGMOT35CHFLVDHBJNIG50K96AEMBVDND8QTEUAH0SOOR6HT7F9G');
				smartech('register', '667024cdafdb4dc8ba07d404310216f4');
				smartech('identify', '');
				smartech('dispatch', 1, {});
			</script>


			<script
				type="text/javascript">var path = "/bataindia"; var staticPath = "https://static1.bata.in/0";</script>
			<script language="javascript">
				var url = window.location.href;
				if (url.indexOf("category.jsp") != -1 || url.indexOf("search.jsp") != -1) {
					var catid = document.getElementById("currentCatSelected").value;
					//showActiveTab(catid);
				}
				if (document.getElementById("currentEntitySelected").value != '') {
					if (document.getElementById("showAllEntity").value != '') {
						var entity = document.getElementById("currentEntitySelected").value;
						document.getElementById("parent_" + entity + "_DivId").className = 'parentmenuactivetab';
					}
					else {
						var catid = document.getElementById("currentCatSelected").value;
						//showActiveTab(catid);
					}
				}
			</script>
			<script>document.cookie = 'resolution=' + Math.max(screen.width, screen.height) + '; path=/';</script>


			<div class="inn-head container">
				<div class="top-head" style="
				width: 100%;">
					<ul class="text-center">
						<li class="nv-toggle flt"><span></span> <span></span> <span></span></li>
						<li> <a href="/bataindia/faces/tiles/catalogue.jsp?catalogueID=2" class="logo flr">
								<img src="https://static1.bata.in/0/media/css/frontend/octa/images/logo.png" alt="BATA"
									title="Bata" class="img-responsive"> </a>
						</li>
						<li class="serchtxt">
							<form name="searchResultForm" id="searchResultForm" method="get"
								action="/bataindia/faces/tiles/search.jsp">
								<input type="hidden" name="q" id="q" value="" />
								<input type="hidden" name="productID" id="productID" value="" />
								<input type="hidden" name="narrowcatalogueID" id="narrowcatalogueID" value="2" />
								<input type="hidden" name="narrowcategoryID" id="narrowcategoryID" value="" />
								<input type="hidden" name="cmtId" id="cmtId" value="" />
								<input type="hidden" name="narrowparentCategoryID" id="narrowparentCategoryID"
									value="" />
								<input type="hidden" name="catalogueID" id="catalogueID" value="2" />
								<input type="hidden" name="categoryID" id="categoryID" value="" />
								<input type="hidden" name="parentCategoryID" id="parentCategoryID" value="" />

								<input type="hidden" name="sid" id="sid" value="" />
								<input type="hidden" name="bid" id="bid" value="" />
								<input type="hidden" name="prc" id="prc" value="" />
								<input type="hidden" name="k1" id="k1" value="" />
								<input type="hidden" name="k2" id="k2" value="" />
								<input type="hidden" name="k3" id="k3" value="" />
								<input type="hidden" name="k4" id="k4" value="" />
								<input type="hidden" name="k5" id="k5" value="" />
								<input type="hidden" name="k6" id="k6" value="" />
								<input type="hidden" name="k7" id="k7" value="" />
								<input type="hidden" name="k8" id="k8" value="" />
								<input type="hidden" name="k9" id="k9" value="" />
								<input type="hidden" name="k10" id="k10" value="" />
								<input type="hidden" name="k11" id="k11" value="" />
								<input type="hidden" name="k12" id="k12" value="" />
								<input type="hidden" name="vt" id="vt" value="g" />
								<input type="hidden" name="rpp" id="rpp" value="" />
								<input type="hidden" name="col" id="col" value="" />
								<input type="hidden" name="sort" id="sort" value="16" />
								<input type="hidden" name="pn" id="pn" value="" />
								<input type="hidden" name="dcty" id="dcty" value="" />
								<input type="hidden" name="bnm" id="bnm" value="" />
								<input type="hidden" name="narr" id="narr" value="" />

								<input type="hidden" name="entityType" id="entityType" value="" />
								<input type="hidden" name="entityId" id="entityId" value="" />
								<input type="hidden" name="topParent" id="topParent" value="" />
								<input type="hidden" name="pageName" id="pageName"
									value="/bataindia/tiles/catalogue.jsp" />
								<input type="hidden" name="brandId" id="brandId" value="" />
								<input type="hidden" name="brandCmsFlag" id="brandCmsFlag" value="" />


								<input type="hidden" name="act" id="actor" value="" />
								<input type="hidden" name="format" id="format" value="" />
								<input type="hidden" name="auth" id="author" value="" />
								<input type="hidden" name="reg" id="region" value="" />
								<input type="hidden" name="lang" id="languages" value="" />
								<input type="hidden" name="dir" id="director" value="" />




								<input type="hidden" name="cartSize" id="cartSize" value="0" />
								<input type="hidden" name="boutiqueID" id="boutiqueID" value="" />
								<input type="hidden" name="parentBoutiqueID" id="parentBoutiqueID" value="" />
								<input type="hidden" id="shoppingCartSizeAfterUpdate" value="0" />
								<input type="hidden" name="narrowboutiqueID" id="narrowboutiqueID" value="" />
								<input type="hidden" name="isSale" id="isSale" value="" />
								<input type="hidden" name="comboOfferId" id="comboOfferId" value="" />
								<input type="hidden" name="comboOfferName" id="comboOfferName" value="" />
								<input type="hidden" name="cnm" id="cnm" value="" />

							</form>
							<!-- <div class="text-center mob-show-srch">
	<span class="mob-search-close mob-ico-close">X</span>
	</div> -->
							<div class="form-group">
								<input type="text" tabindex="13" id="keywordText" name="keywordText"
									class="form-control flt" placeholder="Find your shoes here!" value="">
								<button class="btn btn-default flt" type="button" id="txtSearchBtn"><i
										class="fa fa-search" aria-hidden="true"></i></button>
								<div id="searchResultDiv"></div>
							</div>
						</li>
					</ul>
				</div>
				<div class="btm-head pos-rel">

					<div class="col-sm-4 col-md-2 col-lg-3 visible-md-block visible-lg-block">
						<ul>
							<li id="head-shoe-prf">
								<a href="#" data-toggle="modal" data-target="#login">
									<img src="https://static1.bata.in/0/media/css/frontend/octa/images/Buttons_V2_othertrigger_nonloggedin.png"/> 
								</a>
							</li>
						</ul>
					</div>

			<nav class="navbar navbar-expand-lg navbar-light" style="
			width: 40%;
			float: left;
			padding: 0px 0px;
			margin: 0px 0px;
		">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" ariaControls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">NEW ARRIVALS</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <div class="row">
                                <div class="col">
								<a routerLink="/women">WOMEN</a>
                                <a class="dropdown-item"  routerLink="/women">Ballerinas</a>
                                <a class="dropdown-item" href="#">Sneakers</a>
                                <a class="dropdown-item" href="#">Loafers</a>
								<a class="dropdown-item" href="#">Sports Shoes</a>
                                <a class="dropdown-item" href="#">Casual</a>
                                <a class="dropdown-item" href="#">Formal</a>
                                <a class="dropdown-item" href="#">Stilettos</a>
                                <a class="dropdown-item" href="#">Pumps</a>
                                <a class="dropdown-item" href="#">Sandals</a>
                                <a class="dropdown-item" href="#">Chappals/Slippers</a>
                        		</div>
								<div class="col">
									<a routerLink="/men">MEN</a>
									<a class="dropdown-item" href="#">Sneakers</a>
									<a class="dropdown-item" href="#">Oxfords & Derbies</a>
									<a class="dropdown-item" href="#">Loafers & Mocassins</a>
									<a class="dropdown-item" href="#">Athleisure</a>
									<a class="dropdown-item" href="#">Thong Slippers</a>
									<a class="dropdown-item" href="#">Chappls/Flip-Flops</a>
									<a class="dropdown-item" href="#">Monk Straps</a>
									<a class="dropdown-item" href="#">Lace-ups</a>
									<a class="dropdown-item" href="#">Men Socks</a>
									<a class="dropdown-item" href="#">Formal</a>
									<a class="dropdown-item" href="#">Casual</a>
									<a class="dropdown-item" href="#">Boots</a>
									<a class="dropdown-item" href="#">Outdoor</a>
									<a class="dropdown-item" href="#">Sandals</a>
								</div>
								<div class="col">
									<a  routerLink="/kids">KIDS</a>
									<a class="dropdown-item" href="#" >Girls</a>
									<a class="dropdown-item" href="#" >Infant</a>
									<a class="dropdown-item" href="#" >School</a>
									<a class="dropdown-item" href="#" >Boys</a>
								</div>
							</div>
							</div>
						</li>

						<li class="nav-item active">
							<a class="nav-link dropdown-toggle"  id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">WOMEN</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown2" style="font-size: 15px;">
								<div class="row">
									<div class="col">
								<label>ALL WOMEN SHOES</label>
								<a class="dropdown-item"  routerLink="/women999">Products Under 999</a>
								<a class="dropdown-item"  routerLink="/women">Ballerinas</a>
								<a class="dropdown-item" href="#">Sneakers</a>
								<a class="dropdown-item" href="#">Loafers</a>
								<a class="dropdown-item" href="#">Sports Shoes</a>
								<a class="dropdown-item" href="#">Casual</a>
								<a class="dropdown-item" href="#">Formal</a>
								<a class="dropdown-item" href="#">Stilettos</a>
								<a class="dropdown-item" href="#">Pumps</a>
								<a class="dropdown-item" href="#">Sandals</a>
								<a class="dropdown-item" href="#">Chappals/Slippers</a>
							</div>
							<div class="col">
								<label>HEEL TYPE</label>
								<a class="dropdown-item" href="#">Block</a>
								<a class="dropdown-item" href="#">Cone</a>
								<a class="dropdown-item" href="#">Kitten</a>
								<a class="dropdown-item" href="#">Platform</a>
								<a class="dropdown-item" href="#">Wedges</a>
							</div>	
							<div class="col">
								<label>SPECIAL FEATURES</label> 
								<a class="dropdown-item" href="#" >Work From Home collection</a>
								<a class="dropdown-item" href="#" >Washable collection</a>
								<a class="dropdown-item" href="#" >Fitness at home</a>
								<a class="dropdown-item" href="#" >Winter Essential 2020</a>
								<a class="dropdown-item" href="#" >All Sneakers Fest</a>
							</div>
							<div class="col">
								<label>BRANDS</label>
								<a class="dropdown-item" href="#" >Comfit</a>
								<a class="dropdown-item" href="#" >Disney</a>
								<a class="dropdown-item" href="#" >Footin</a>
								<a class="dropdown-item" href="#" >Hush Puppies</a>
								<a class="dropdown-item" href="#" >Marie Claire</a>
								<a class="dropdown-item" href="#" >Naturalizer</a>
								<a class="dropdown-item" href="#" >North Star</a>
								<a class="dropdown-item" href="#" >Power</a>
								<a class="dropdown-item" href="#" >Scholl</a>
							</div>
							<div class="col">
								<label>ACCESSORIESS</label>
								<a class="dropdown-item" href="#" >Belts</a>
								<a class="dropdown-item" href="#" >Clutches</a>
								<a class="dropdown-item" href="#" >Handbags</a>
								<a class="dropdown-item" href="#" >Mask</a>
								<a class="dropdown-item" href="#" >Wallets</a>
							</div>
							<div class="col">
								<label>APPERALS</label>
							</div>
							<div class="col">
								<label>SHOP BY SHOE SIZE</label>
								<ul>
									<li><a href="" id="size_3;;W_262" class="catbysize"><span>3</span>
										</a></li>
	
									<li><a href="" id="size_4;;W_262" class="catbysize"><span>4</span>
										</a></li>
	
									<li><a href="" id="size_5;;W_262" class="catbysize"><span>5</span>
										</a></li>
	
									<li><a href="" id="size_6;;W_262" class="catbysize"><span>6</span>
										</a></li>
	
									<li><a href="" id="size_7;;W_262" class="catbysize"><span>7</span>
										</a></li>
	
									<li><a href="" id="size_8;;W_262" class="catbysize"><span>8</span>
										</a></li>
	
									<li><a href="" id="size_9;;W_262" class="catbysize"><span>9</span>
										</a></li>
	
									<li><a href="" id="size_10;;W_262" class="catbysize"><span>10</span>
										</a></li>
	
									<li><a href="" id="size_11;;W_262" class="catbysize"><span>11</span>
										</a></li>
	
									<li><a href="" id="size_12;;W_262" class="catbysize"><span>12</span>
										</a></li>
	
									<li><a href="" id="size_L;;W_262" class="catbysize"><span>L</span>
										</a></li>
	
									<li><a href="" id="size_M;;W_262" class="catbysize"><span>M</span>
										</a></li>
	
									<li><a href="" id="size_S;;W_262" class="catbysize"><span>S</span>
										</a></li>
	
									<li><a href="" id="size_XL;;W_262" class="catbysize"><span>XL</span>
										</a></li>
								</ul>
							</div>

							</div>
							</div>
							</li>

						<li class="nav-item active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">MEN</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div class="row">
                                <div class="col">
                            <label>ALL MEN SHOES</label>
							<a class="dropdown-item"  routerLink="/men999">Products Under 999</a>
                            <a class="dropdown-item" routerLink="/men">Sneakers</a>
                            <a class="dropdown-item" href="#">Oxfords & Derbies</a>
                            <a class="dropdown-item" href="#">Loafers & Mocassins</a>
                            <a class="dropdown-item" href="#">Athleisure</a>
                            <a class="dropdown-item" href="#">Thong Slippers</a>
                            <a class="dropdown-item" href="#">Chappls/Flip-Flops</a>
                            <a class="dropdown-item" href="#">Monk Straps</a>
                            <a class="dropdown-item" href="#">Lace-ups</a>
                            <a class="dropdown-item" href="#">Men Socks</a>
                            <a class="dropdown-item" href="#">Formal</a>
                            <a class="dropdown-item" href="#">Casual</a>
                            <a class="dropdown-item" href="#">Boots</a>
                            <a class="dropdown-item" href="#">Outdoor</a>
                            <a class="dropdown-item" href="#">Sandals</a>
                        </div>
						<div class="col">
                            <label>SHOE TYPE</label>
                            <a class="dropdown-item" href="#">Slip-ons</a>
                        </div>
                        <div class="col">
                            <label>SPECIAL FEATURES</label> 
                            <a class="dropdown-item" href="#" >Work From Home collection</a>
                            <a class="dropdown-item" href="#" >Washable collection</a>
                            <a class="dropdown-item" href="#" >Fitness at home</a>
                            <a class="dropdown-item" href="#" >Winter Essential 2020</a>
                            <a class="dropdown-item" href="#" >All Sneakers Fest</a>
                        </div>
						<div class="col">
                            <label>BRANDS</label>
                            <a class="dropdown-item" href="#" >Bata</a>
                            <a class="dropdown-item" href="#" >Cat</a>
                            <a class="dropdown-item" href="#" >Comfit</a>
                            <a class="dropdown-item" href="#" >Footin</a>
                            <a class="dropdown-item" href="#" >Hush Puppies</a>
                            <a class="dropdown-item" href="#" >North Star</a>            
                            <a class="dropdown-item" href="#" >Power</a>
                            <a class="dropdown-item" href="#" >Scholl</a>
                            <a class="dropdown-item" href="#" >Weinbrenner</a>
                        </div>
						<div class="col">
                            <label>ACCESSORIESS</label>
                            <a class="dropdown-item" href="#" >Belts</a>
                            <a class="dropdown-item" href="#" >Foot Care</a>
                            <a class="dropdown-item" href="#" >Handbags</a>
                            <a class="dropdown-item" href="#" >Mask</a>
                            <a class="dropdown-item" href="#" >Shoe Care</a>
                        </div>
                        <div class="col">
                            <label>APPERALS</label>
                        </div>
						<div class="col">
                            <label>SHOP BY SHOE SIZE</label>
                            <ul>
                                <li><a href="" id="size_3;;W_262" class="catbysize"><span>3</span>
                                    </a></li>

                                <li><a href="" id="size_4;;W_262" class="catbysize"><span>4</span>
                                    </a></li>

                                <li><a href="" id="size_5;;W_262" class="catbysize"><span>5</span>
                                    </a></li>

                                <li><a href="" id="size_6;;W_262" class="catbysize"><span>6</span>
                                    </a></li>

                                <li><a href="" id="size_7;;W_262" class="catbysize"><span>7</span>
                                    </a></li>

                                <li><a href="" id="size_8;;W_262" class="catbysize"><span>8</span>
                                    </a></li>

                                <li><a href="" id="size_9;;W_262" class="catbysize"><span>9</span>
                                    </a></li>

                                <li><a href="" id="size_10;;W_262" class="catbysize"><span>10</span>
                                    </a></li>

                                <li><a href="" id="size_11;;W_262" class="catbysize"><span>11</span>
                                    </a></li>

                                <li><a href="" id="size_12;;W_262" class="catbysize"><span>12</span>
                                    </a></li>

                                <li><a href="" id="size_L;;W_262" class="catbysize"><span>L</span>
                                    </a></li>

                                <li><a href="" id="size_M;;W_262" class="catbysize"><span>M</span>
                                    </a></li>

                                <li><a href="" id="size_S;;W_262" class="catbysize"><span>S</span>
                                    </a></li>

                                <li><a href="" id="size_XL;;W_262" class="catbysize"><span>XL</span>
                                    </a></li>
                                </ul>
                                </div>
						</div>
						</div>
						</li>

						<li class="nav-item active">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">KIDS</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown1">
								<div class="row">
									<div class="col">
									<label>ALL KIDS SHOES</label>
									<a class="dropdown-item"  routerLink="/kids999">Products Under 999</a>
									<a class="dropdown-item" routerLink="/kids" >Girls</a>
									<a class="dropdown-item" href="#" >Infant</a>
									<a class="dropdown-item" href="#" >School</a>
									<a class="dropdown-item" href="#" >Boys</a>
									</div>
									<div class="col">
										<label>SHOE TYPE</label>
										<a class="dropdown-item" href="#">Ballerinas</a>
										<a class="dropdown-item" href="#">Chappals</a>
										<a class="dropdown-item" href="#">Lace-ups</a>
										<a class="dropdown-item" href="#">Sandals</a>
										<a class="dropdown-item" href="#">Slip-ons</a>
										<a class="dropdown-item" href="#">Velcro</a>
									</div>
									<div class="col">
										<label>SPECIAL FEATURES</label>
										<a class="dropdown-item" href="#" >All Sneakers Fest</a>
									</div>
									<div class="col">
										<label>BRANDS</label>
										<a class="dropdown-item" href="#" >Bata</a>
										<a class="dropdown-item" href="#" >Bubblegummers</a>
										<a class="dropdown-item" href="#" >Disney</a>
										<a class="dropdown-item" href="#" >North Star</a>            
										<a class="dropdown-item" href="#" >Power</a>
									</div>
									<div class="col">
										<label>ACCESSORIESS</label>
										<a class="dropdown-item" href="#" >Mask</a>
									</div>
									<div class="col">
										<label>APPERALS</label>
									</div>
									<div class="col">
										<label>SHOP BY SHOE SIZE</label>
										<ul>
											<li><a href="" id="size_3;;W_262" class="catbysize"><span>1</span>
											</a></li>
											<li><a href="" id="size_4;;W_262" class="catbysize"><span>2</span>
											</a></li>
											<li><a href="" id="size_3;;W_262" class="catbysize"><span>3</span>
												</a></li>
			
											<li><a href="" id="size_4;;W_262" class="catbysize"><span>4</span>
												</a></li>
			
											<li><a href="" id="size_5;;W_262" class="catbysize"><span>5</span>
												</a></li>
			
											<li><a href="" id="size_6;;W_262" class="catbysize"><span>6</span>
												</a></li>
			
											<li><a href="" id="size_7;;W_262" class="catbysize"><span>7</span>
												</a></li>
			
											<li><a href="" id="size_8;;W_262" class="catbysize"><span>8</span>
												</a></li>
			
											<li><a href="" id="size_9;;W_262" class="catbysize"><span>9</span>
												</a></li>
			
											<li><a href="" id="size_10;;W_262" class="catbysize"><span>10</span>
												</a></li>
			
											<li><a href="" id="size_11;;W_262" class="catbysize"><span>11</span>
												</a></li>
			
											<li><a href="" id="size_12;;W_262" class="catbysize"><span>12</span>
												</a></li>
			
											<li><a href="" id="size_L;;W_262" class="catbysize"><span>L</span>
												</a></li>
			
											<li><a href="" id="size_M;;W_262" class="catbysize"><span>M</span>
												</a></li>
			
											<li><a href="" id="size_S;;W_262" class="catbysize"><span>S</span>
												</a></li>
			
											<li><a href="" id="size_XL;;W_262" class="catbysize"><span>XL</span>
												</a></li>
											</ul>
											</div>
							</div>
							</div>
						</li>

						<li class="nav-item active">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">BRANDS</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown1">
								<div class="row">
									<div class="col">
										<a href="/bataindia/br-1/bata.html">
											<img src="https://img2.bata.in/0/images/brand/Bata_brandpage_1_N.jpg"
											alt="Bata">
											</a>
									
										<a href="/bataindia/faces/jsp/bataindustials.jsp">
	
											<img src="https://img2.bata.in/0/images/brand/Logo-BATAIndustrials-2_115_N.jpg"
												alt="Bata Industria">
										</a>
	
										<a href="/bataindia/br-18/bubblegummers.html">
	
											<img src="https://img2.bata.in/0/images/brand/Bubblegummers_230X100_Bp.jpg"
												alt="Bubblegummers">
										</a>
	
										<a href="/bataindia/br-114/cat.html">
										<img src="https://img2.bata.in/0/images/brand/cat-logo_114_N_114_N.jpg"
												alt="CAT">
										</a>
	
										<a href="/bataindia/br-17/comfit.html">
										<img src="https://img2.bata.in/0/images/brand/Bata-Comfit_230X100_bp.jpg"
												alt="Comfit">
										</a>		
										<a href="/bataindia/br-113/disney.html">
										<img src="https://img2.bata.in/0/images/brand/disney-dropdown_113_N.jpg"
												alt="Disney">
										</a>
	
										<a href="/bataindia/br-88/footin.html">
										<img src="https://img2.bata.in/0/images/brand/footin-dropdown_88_N.jpg"
												alt="Footin">
										</a>
											
										<a href="/bataindia/faces/jsp/hushpuppiesbrands.jsp">
	
											<img src="https://img2.bata.in/0/images/brand/Hush-Puppies_230X100_bp.jpg"
												alt="Hush Puppies">
										</a>
									
										<a href="/bataindia/br-19/marie-claire.html">
	
											<img src="https://img2.bata.in/0/images/brand/Marie-Claire_230X100_bp.jpg"
												alt="Marie Claire">
										</a>
								  
										<a href="/bataindia/br-38/naturalizer.html">
	
											<img src="https://img2.bata.in/0/images/brand/naturalizer_header_38_N.jpg"
												alt="Naturalizer">
										</a>
								   
										<a href="/bataindia/br-20/north-star.html">
	
											<img src="https://img2.bata.in/0/images/brand/North-Star_230X100_bp.jpg"
												alt="North Star">
										</a>
								   
										<a href="/bataindia/br-21/power.html">
	
											<img src="https://img2.bata.in/0/images/brand/power-dropdown_21_N.jpg"
												alt="Power">
										</a>
								  
										<a href="/bataindia/br-16/scholl.html">
	
											<img src="https://img2.bata.in/0/images/brand/Scholl_230X100_bp.jpg"
												alt="Scholl">
										</a>
								  
										<a href="/bataindia/br-23/weinbrenner.html">
											<img src="https://img2.bata.in/0/images/brand/weinbrenner_brandpage_23_N_23_N.jpg"
												alt="Weinbrenner">
										</a>
								   
									</div>
								</div>
							</div>
						</li>

						<li class="nav-item active">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">SALE</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown1">
								<div class="row">
									<div class="col">
									<label>WOMEN</label>
									<a class="dropdown-item" href="#">Ballerinas</a>
									<a class="dropdown-item" href="#">Sneakers</a>
									<a class="dropdown-item" href="#">Loafers</a>
									<a class="dropdown-item" href="#">Sports Shoes</a>
									<a class="dropdown-item" href="#">Casual</a>
									<a class="dropdown-item" href="#">Formal</a>
									<a class="dropdown-item" href="#">Stilettos</a>
									<a class="dropdown-item" href="#">Pumps</a>
									<a class="dropdown-item" href="#">Sandals</a>
									<a class="dropdown-item" href="#">Chappals/Slippers</a>
							</div>
							<div class="col">
								<label>MEN</label>
								<a class="dropdown-item" href="#">Sneakers</a>
								<a class="dropdown-item" href="#">Oxfords & Derbies</a>
								<a class="dropdown-item" href="#">Loafers & Mocassins</a>
								<a class="dropdown-item" href="#">Athleisure</a>
								<a class="dropdown-item" href="#">Thong Slippers</a>
								<a class="dropdown-item" href="#">Chappls/Flip-Flops</a>
								<a class="dropdown-item" href="#">Monk Straps</a>
								<a class="dropdown-item" href="#">Lace-ups</a>
								<a class="dropdown-item" href="#">Men Socks</a>
								<a class="dropdown-item" href="#">Formal</a>
								<a class="dropdown-item" href="#">Casual</a>
								<a class="dropdown-item" href="#">Boots</a>
								<a class="dropdown-item" href="#">Outdoor</a>
								<a class="dropdown-item" href="#">Sandals</a>
							</div>
							<div class="col">
								<label>KIDS</label>
								<a class="dropdown-item" href="#" >Girls</a>
								<a class="dropdown-item" href="#" >Infant</a>
								<a class="dropdown-item" href="#" >School</a>
								<a class="dropdown-item" href="#" >Boys</a>
							</div>
							</div>
							</div>
						</li>

						<li class="nav-item active">
							<a class="nav-link" href="#">STORE LOCATOR</a>
						</li>
						</ul>
						</div>
	



					</nav>
                  
				
				
             
					
					<div class="col-sm-6 col-md-4 col-lg-3 flr">
						<div class="flr login-sec" style="
						margin-top: 16px;">
							<ul>
								<li class="mob-search-ico"></li>
								<li><a href="/bataindia/faces/jsp/trackOrderMain.jsp?catalogueID=2" class="mob-track-ico"><i class="fa fa-truck" aria-hidden="true"></i> Track order</a> </li>

								<li id="cartInfo"> <a routerLink="/cart"
										class="mob-cart-ico"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
										<span class="cart-text">My cart
										<input type="hidden" id="isuserLoggedin" value="">
									</span></a> </li>
								<!-- <li class="pd0">
									<div id="loginDetails" class="flt mob-login-ico">
									
										<input type="hidden" id="isuserLoggedin" value="">
										<li class="nav-item dropdown mr-3 ">
											<a href="#"  data-toggle="modal" data-target="#login" style="color:red ">
												Sign in|
											</a>
											<a href="#" data-toggle="modal" data-target="#signup" style="color:red " >
												Sign up
											</a>
										</li>

										<div class="modal fade" id="signup">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header ">
														<h5 class="modal-title">REGISTER</h5>
														<button class="close" data-dismiss="modal"><span>&times;</span></button>
													</div>
													<div class="modal-body">
														<div class="col-lg-6">
														<form [formGroup]="SignUpForm">
															<div class="form-group">
																<input class="form-control" type = "email" placeholder="Enter Email ID" formControlName ="emailId">
																<span style="color: red;" *ngIf = "SignUpForm.controls.emailId.touched && SignUpForm.controls.emailId.invalid ">Email Id is required</span> 
															</div>
															<div class="form-group">
																<input class="form-control" type = "text" placeholder="Enter Your Name" formControlName ="name">
																<span style="color: red;" *ngIf = "SignUpForm.controls.name.touched && SignUpForm.controls.name.invalid ">Name is required</span>  
															</div>
															<div class="form-group">
																<input class="form-control" type = "password" placeholder="Enter your Password" formControlName ="password">
																<span style="color: red;" *ngIf = "SignUpForm.controls.password.touched && SignUpForm.controls.password.invalid ">Password is required</span> 
															</div>
															<div class="form-group">
																<input class="form-control" type = "text" placeholder="Enter Mobile Number" formControlName ="mobile">
																<span style="color: red;" *ngIf = "SignUpForm.controls.mobile.touched && SignUpForm.controls.mobile.invalid ">Mobile Number is required</span> 
															</div>
															<div class="form-group">
																<input class="form-control" type = "text" placeholder="Enter Country Name" formControlName ="country">
																<span style="color: red;" *ngIf = "SignUpForm.controls.country.touched && SignUpForm.controls.country.invalid ">Country Name is required</span> 
															</div>
															<div class="form-group">
																Male<input type = "radio" value="Male" name="gender">
															</div>
															<div class="form-group">
																Female<input type = "radio" value="Female" name="gender">
															</div>
															<div class="form-group">
																<input class="form-control" type = "text" placeholder="Enter OTP" formControlName ="otp">
																<span style="color: red;" *ngIf = "SignUpForm.controls.otp.touched && SignUpForm.controls.otp.invalid ">OTP is required</span> 
															</div>
															<div class="form-group">
																<input class="form-control" type = "text" placeholder="Enter Referral Code" formControlName ="referralCode">
																<span style="color: red;" *ngIf = "SignUpForm.controls.referralCode.touched && SignUpForm.controls.referralCode.invalid ">Referral Code is required</span> 
															</div>
														</form>
														<div class="modal-body">
															<div class="col-sm-6 col-md-6 col-lg-6 text-center" id="login-social">
																<p>Don't want to create new account? Use any of your existing accounts </p>
																<p>Already have an account?
																	<button type="button" class="btn btn-danger col-lg-12" data-dismiss="modal">SUBMIT</button>
															</div>
															<div class="clearfix"></div>
														</div>
													</div>
													
													<div class="col-lg-6">
														<div class="col-sm-6 col-md-6 col-lg-6 text-center" id="login-social">
															<p>Don't want to create new account? Use any of your existing accounts </p>
															<div class="login-social">
																<a href="javascript:auth('facebook')" class="fb"><img
																		src="https://static1.bata.in/0/media/css/frontend/octa/images/fb-img.jpg"
																		alt=""></a>
																<a href="javascript:auth('google')" class="gl"><img
																		src="https://static1.bata.in/0/media/css/frontend/octa/images/gl-img.jpg"
																		alt=""></a>
															</div>
															<p>Already have an account?   <button type="button" class="btn btn-danger col-lg-12" data-dismiss="modal"
																data-toggle="modal" data-target="#login">Login</button>
															</p>
														</div>
														</div>		
													</div>
												</div>
											</div>
										</div>

										<div class="modal fade" id="login">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header ">
														<h5 class="modal-title">LOGIN</h5>
														<button class="close" data-dismiss="modal"><span>&times;</span></button>
													</div>
													<div class="modal-body">
														<div class="col-lg-6">
														<form [formGroup]="LoginForm">
															<div class="form-group">
																<input class="form-control" type = "text" placeholder="Enter your Email Id" formControlName ="emailId">
																<span style="color: red;" *ngIf = "LoginForm.controls.emailId.touched && LoginForm.controls.emailId.invalid ">Email Id is required</span>  
															</div>
															<div class="form-group">
																<input class="form-control" type = "password" placeholder="Type your Password" formControlName ="password">
																<span style="color: red;" *ngIf = "LoginForm.controls.password.touched && LoginForm.controls.password.invalid ">Password is required</span>  
															</div>

															<div class="form-group">
																<div class="checkbox flt">
																	<input type="checkbox" value="remember" id="remember" name="remember">
																	<label for="remember">Remember me</label>
																</div>
																<a class="flr link" href="#" id="forgotPassword" title="Forgot Password?">Forgot
																	Password?</a>
																<div class="clearfix"></div>
															</div>
							
															<div class="form-group">     
																<input type="button"id="login_Id" class="btn-danger btn btn-full " value="Login" name="">
															</div>

														</form>
													</div>

													<div class="col-lg-6">
														<div class="col-sm-6 col-md-6 col-lg-6 text-center" id="login-social">
															<p>Don't want to create new account? Use any of your existing accounts </p>
															<div class="login-social">
																<a href="javascript:auth('facebook')" class="fb"><img
																		src="https://static1.bata.in/0/media/css/frontend/octa/images/fb-img.jpg"
																		alt=""></a>
																<a href="javascript:auth('google')" class="gl"><img
																		src="https://static1.bata.in/0/media/css/frontend/octa/images/gl-img.jpg"
																		alt=""></a>
															</div>
															<p>Already have an account?   <button type="button" class="btn btn-danger col-lg-12" data-dismiss="modal"
																data-toggle="modal" data-target="#login">Login</button>
															</p>
														</div>
													</div>
												</div>
												</div>
											</div>
										</div>

										<div class="tvInsiderHeader" style="display: none;">
											<ul class="head-link-component">
												<li class="hi-text"></li>
												<li class="user-name">Guest!</li>
												<li class="headLink"><a
														href="/bataindia/faces/jsp/trackOrder.jsp?catalogueID=2">Track
														Order</a>
													<a href="#" class="currency_text">Sign in</a>|
													<a id="signup" class="currency_text">Sign up</a>
												</li>
												<li class="cartLink"><a href="#" class="shopcartlink"> <span
															class="shoppingCartImage">&nbsp;</span> <span
															class="tvShopping fltlt"
															style="display: none;">Shopping</span>
														<span class="fltlt">&nbsp;Cart</span> <span id="cartCount"
															class="fltlt">( 0 )</span> <span
															class="cartLeft">&nbsp;</span>
													</a></li>
											</ul>
										</div>
										<span id="_isLogged" style="display: none;">false</span>
										<span id="_isGuestLogged" style="display: none;">false</span>
									</div> -->
			<!-- 					</li> -->
							</ul>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				
			</div>

			<div class="alert col-xs-12 text-center covid-msg"><a target="_blank" href="https://www.bata.in/0/pdf/Stores-Opening-Details-PAN-India-11-June-2021.pdf">We have re-opened stores for you. More information can be found here &gt;</a></div>

			<input id="selCur" name="selCur" value="INR" type="hidden">
			<div class="popOverlay"></div>
			<div class="menu-backdrop"></div>

					<script type="text/javascript" language="javascript"
						src="https://static1.bata.in/0/media/js/frontend/forgotPasswordStepJQ.js"></script>
					<script type="text/javascript" language="javascript"
						src="https://static1.bata.in/0/media/js/frontend/formValidation.js"></script>
					<script type="text/javascript">
						
					</script>
				<div class="unlock-sale row" style="display: none;">
					<a href="https://liveuat.bata.in/bataindia/e-10/sale.html"><img
							src="https://static1.bata.in/0/media/css/frontend/octa/images/unlock-sale.jpg" alt=""
							class="img-responsive w-100"></a>
				</div>

			<div class="foot-modal modal" id="foot-modal"></div>
			<div id="loading" class="overlayloading">
				<svg width="65" height="65" viewBox="0 0 38 38" stroke="#e2001a">
					<g fill="none" fill-rule="evenodd">
						<g transform="translate(1 1)" stroke-width="2">
							<circle stroke-opacity=".5" cx="18" cy="18" r="18" />
							<path d="M36 18c0-9.94-8.06-18-18-18">
								<animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18"
									dur="1s" repeatCount="indefinite" />
							</path>
						</g>
					</g>
				</svg>
			</div>
			<input type="hidden" name="encodedURL" id="encodedURL"
				value="%2Fbataindia%2Ffaces%2Ftiles%2Fcatalogue.jsp%3FcatalogueID%3D2" />
			<input type="hidden" name="catIdForAjax" id="catIdForAjax" value="2" />
		
			<script id="admitadscript" async></script>
		

			<script>
				function getURLParameter(param) {
					var pageURL = window.location.search.substring(1); //get the query string parameters without the "?"
					var URLVariables = pageURL.split('&'); //break the parameters and values attached together to an array
					for (var i = 0; i < URLVariables.length; i++) {
						var parameterName = URLVariables[i].split('='); //break the parameters from the values
						if (parameterName[0] == param) {
							return parameterName[1];
						}
					}
					return null;
				}
				document.setCookie = function (sName, sValue) {
					var oDate = new Date(), minutes = 43200;
					oDate.setTime(oDate.getTime() + (minutes * 60 * 1000));
					var sCookie = encodeURIComponent(sName) + '=' + encodeURIComponent(sValue) + ';expires=' + oDate.toGMTString() + ';path=/';
					document.cookie = sCookie;
				}

				var source = getURLParameter('utm_source');
				var medium = getURLParameter('utm_medium');

				if (medium) {
					document.setCookie('utm_medium', medium);
				}
				if (source) {
					document.setCediumookie('utm_source', source);
				}
				else {
					var Google_source = getURLParameter('gclid'); //this will work when you are running ad through google without utm parameters in it
					var Fb_source = getURLParameter('fbclid'); //this will work when you are running ad through facebook without utm parameters in it
					if (Google_source || Fb_source) {
						source = "Paid_ADS";
						document.setCookie('utm_source', source);
					}
				}

			</script>
		</header>
<button class="btn btn-danger" routerLink="/order">Order Now</button>


<!-- <div id="shoppingCartItemsDiv" class="row" *ngFor="let product of allCarts">
	<div class="container">
		<div class="row" data-parent="#accordion">

			<div class="col-xs-12">
				<div class="shopping-head">My Shopping Cart - 10 Items</div>
			</div>
			<div class="col-xs-12 col-md-8">
				<div class="alert alert-dark mRB10"><strong>Note:</strong> Shipping for some regions may get
					delayed due to current lockdown regulations.</div>
				<div id="shoppingCartActionMsg" style="display: none;"></div>
				<div class="cart-row-dtl row" id="2071286">
					<ul>
						<li class="col-xs-12 col-md-8">
							<a class="flt thumbnail"
								href="http://www.bata.in:80/bataindia/faces/tiles/product.jsp?catalogueID=2&categoryID=5567&productID=1467374"
								target="MyNewWindow">
								<img src="https://img2.bata.in/0/images/product/551-9279_300x300_1.jpeg"
									alt="Blue Sneakers For Women">
							</a>
							<div class="flt cart-name-dtl">
								<input type="hidden" id="availablestkfornow" value="6">

								<a class="title"
									href="http://www.bata.in:80/bataindia/faces/tiles/product.jsp?catalogueID=2&categoryID=5567&productID=1467374"
									target="_blank">
									Blue Sneakers For Women</a>
								<span class="item_code">Product Code: {{product.itemId}}</span>

								<div class="cart-color flt">
									<input type="button" style="background: Blue;">
								</div>
								<div class="cart-size flt">
									<input type="button" value="7">
								</div>
								<div class="cart-qty flt">
									<span class="flt" id="selectqty2_2071286">Qty:</span>
									<span class="flt qtyValSpan qtyVal_2071286" id="selectqty2_2071286"
										style="display: none;">2</span>
									<select id="qty2_2071286" name="qty2_2071286"
										class="flt qtyChange qtySel_2071286">
										<option value="1">1</option>
										<option value="2" selected>2</option>
									</select>
								</div>
							</div>
						</li>

						<li class="col-xs-12 col-md-4">
							<div class="flr prices">
								<div class="cart-price">
									<span class="rupee-symbol">MRP : {{product.productPrice}}</span>
									1499/-
								</div>
								<div class="cart-amount">
								</div>
							</div>
						</li>
						<li class="col-md-12 cart-edit-delete">
							<div class="flr">

								<a href="javascript:void(0)" name="2071286" id="remove_icon"
									class="remove_icon">Delete Item</a>
							</div>
						</li>
						<!-- Code for free item list -->
					<!--</ul>
					</div>
				 -->
				<!-- End of Primary Product in Cart Item -->
				<!-- Free Cart Item Start -->
								<!-- manoj started for shipping charges-->
				<!-- <div class="row cart-loyalty">
					<div class="col-xs-12 col-sm-4 col-md-4 flr pdR0">
						<a class="shopMore" href="/bataindia/c-264_cl-2/women.html">CONTINUE SHOPPING</a>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<div class="cart-right-section">
					<div id="gc">
						<div id="gcdcDiv" class="cart-coupon">
							 <form id="gcDcOption" name="gcDcOption"> -->
							<!--<input type="text" placeholder="Discount Code/Voucher code" class="form-control"
								name="coupon" id="coupon">
							<input type="button" id="redeemGcDc" value="Apply" class="btn" name="REDEEMNOW">
							<input type="button" id="resetGcDc" value="RESET GCDC" class="btn"
								name="resetGcDc" style="display:none">
							<input type="hidden" id="updateGCDC:action" name="updateGCDC:action"
								value="ShoppingCartActionBean.validateGCDCAction" />
							<input type="hidden" id="selGcDcPayOptId" name="selGcDcPayOptId" value="" />
							<input type="hidden" id="gcDcPaymentMode" name="gcDcPaymentMode" value="" />
							<input type="hidden" id="gcDcSubPaymentModeName" name="gcDcSubPaymentModeName"
								value="" />
							<!-- </form> -->
						<!-- </div>
						<div class="clearfix"></div>
					</div>

					<div class="cart-amount-dtl">
						<h3>PRICE DETAILS</h3>
						<ul>
							<li>
								<span class="flt">Sub Total</span>
								<span class="flr">
									<span class="rupee-symbol">MRP : {{product.productPrice}}</span>
									23090/-
								</span>
							</li>
						</ul> -->
						<!-- <div class="clearfix"></div>
					</div>
					<div class="cart-final-amt">
						<span class="flr"></span>
						<span class="flt" style="line-height:inherit;">Order Total <span
								style="display:block; font-size:12px;color: #999;">Inclusive of all
								taxes</span></span>
						<span class="flr">
							<span class="rupee-symbol">MRP : {{product.productPrice}}</span>
							<input type="hidden" id="gstAmt" value="0">
							<input type="hidden" id="couponAmnt" value="0">
							<input type="hidden" id="promoDiscount" value="">
							23090/-
							<input type="hidden" id="orderTotalAmt" value="23090">
						</span>
						<div class="clearfix"></div>
						<div class="clearfix"></div>
					</div>
					<div class="place-order">
						<input type="hidden" name="invoke:action"
							value="BuyerAccountActionBean.validateMultipleAddressPage">
						<input id="checkoutBtn" type="button" value="Order Now"
							class="btn btn-full btn-red" />

					</div>
				</div>
			</div>
			</div>
			<span id="_isLogged" style="display:none;">true</span> --> -->

<div class="row">
<div class="card col-lg-4 float-left"  *ngFor="let product of allCarts">
    <div id="" class="collapse show" aria-labelledby="" data-parent="#accordion">
            <div class="card-body ">
                <div>
            <!-- <img src="`+products.file+`"> -->
           <img src="{{product.productImage}}">
			<h5 class="text-center">Item Id : {{product.itemId}}</h5>
            <h5 class="text-center">ProductCode : {{product.productCode}}</h5>
            <h5 class="text-danger text-center"> ProductDescription : {{product.productDescription}}</h5>
            <h5 class="text-center"> ProductPrice : {{product.productPrice}}</h5>
            <h5 class="text-danger text-center"> ProductSize : {{product.productSize}}</h5>
			<div class="text-center"><button class="btn btn-danger" (click)="deleteCart(product.itemId)">Delete</button></div>
        </div>
    </div>
    </div>
    </div>
	</div>
	</div>

<!-- </div>
</div>
</div>
</div>
</div> -->


</body>
</html>