th, td {
    padding: 15px;
    }
    
    #t1{
    border: 1px solid black;
    border-collapse: collapse;
  }
    #t1 th:nth-child(even) 
    {
        text-align: right;
    }
    #t1 th:nth-child(odd) 
    {
        text-align: left;
    }
    #t2 , td{
    border: 1px solid black;
    border-collapse: collapse;
   }
  #th2{
    border: 1px solid black;
    border-collapse: collapse;
  }