
        <marquee style="color: brown;">This is the student report card</marquee>
        
            <table border="1px" bgcolor="#00ff40" class="table-center">
            <tr>
                <th colspan="4" bgcolor="#ff00bf">NAME</th>
                <td colspan="4">PRAJAPATI BHARGAV</td>
            </tr>
            <tr>
                <th colspan="4" bgcolor="#ff00bf">ROLL_NO</th>
                <td colspan="4">25</td>
            </tr>
            <tr>
                <th colspan="4" bgcolor="#ff00bf">YEAR OF PASSING</th>
                <td colspan="4">2021</td>
            </tr>
            <tr>
                <th colspan="4" bgcolor="#ff00bf">SUBJECT</th>
                <th colspan="4" bgcolor="#ff00bf">GREAD</th>
            </tr>
            <tr>
                <th rowspan="2">Physics </th>
                <td>theory</td>
                <td colspan="4">A+</td>
            </tr>
            <tr>
                <td>practical</td>
                <td colspan="4">B+</td>
            </tr>

            <tr>
                <th rowspan="2">chemistory</th>
                <td>theory</td>
                <td colspan="4">A+</td>
            </tr>
            <tr>
                <td>practical</td>
                <td colspan="4">B+</td>
            </tr>

            <tr>
                <th rowspan="2">Maths</th>
                <td>theory</td>
                <td colspan="4">A+</td>
            </tr>
            <tr>
                <td>practical</td>
                <td colspan="4">B+</td>
            </tr>



            </table>
      