.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 1fr 0.5fr 1.5fr 0.3fr 1.2fr 0.5fr;
    grid-template-areas: 
        "header header header header"
        "section-1 section-1 section-1 section-1" 
        "section-2 section-2 section-2 section-2" 
        "section-3 section-3 section-3 section-3"
        "section section section section"
        "section-4 section-4 section-4 section-4"
        "footer footer footer footer";
}
/* header start */
header{
    grid-area: header;
}
.section-1{
    grid-area: section-1;
}
.section-2{
    grid-area: section-2;
}
.section-3{
    grid-area: section-3;
}
.section{
    grid-area: section;
}
.section-4{
    grid-area: section-4;
}
footer{
    grid-area: footer;
}
#logo{
    text-align: center;
    color: aqua;
}
.black{
    background-color: rgba(0, 0, 0, 0.863);
    text-align: center;
    display: flex;
    flex-direction: column;
}
.black a{
    text-decoration: none;
    padding-top: 2px;
    padding-bottom: 2px;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
a:hover{
    background-color: rgb(61, 60, 60);
    text-decoration: underline red;
}
.div1{
    height: 66px;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.863);
    text-align: center;
    color: white;
}
#btn1{
    background-color:dodgerblue;
    border: none;
    
    color: white;
    margin-left: 15px;
    height: 30px;
    width: 100px;
}
#html5{
    text-decoration: underline;
}
/*header End*/
.section-1{
    width: 100%;
    justify-content: center;
}
.ml{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.div2{
    top: 260px;
    clear: both; 
    text-align: center;
}
.div2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center-align{
    text-align: center;
}
.bg-grey{
    background-color: rgba(242,242,242,242);
    display: block;
    height: 170px;
}
#font-family{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.font-weight-light{
    font-weight: 300;
    color: grey;
    font-family: 'Times New Roman', Times, serif;
}

.section-3{
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.div3 img{ float: left; margin-right: 10px;}

.ml-div3{
    display: flex;
    flex-direction: column; 
    justify-content: center;
}
    
.section{
    height: 60px;
    background-color: dodgerblue;
    color: whitesmoke;
    padding-top: 40px;
    margin-top: 50px;
}
#btn2{
    background-color:white;
    border: none;
    color:black;
    
    height: 30px;
    width: 100px;
}
#inline{ 
    display: inline;
}
.section-4{
   display: flex;
   flex-direction: column;
}
#btn3{
    
    height: 40px;
    background-color: gray;
    border: none;
    border-radius: 6px;
    width: 200px;
    padding: 2px;
}

footer{
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}
@media screen and (max-width: 600px)
{
.banner{
      display: none;
  }
}


/* media query For I pad */
@media screen and (min-width: 768px) {
  .black{
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 25px;
  }
  .black a{
      padding: 12px;
  } 
  .section-1{
    width: 100%;
    display: flex;
    flex-direction: row;
    }
    .ml{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    }  
    
    .section-3{
        display: block;
        height: 350px;
    }
    .ml-div3{
    display: block;
    margin-left: 75px;
    }
    .fl{ float: left;}
    .div3{
    width: 35%;
    padding: 40px;
    }
    .div3 img{ float: left; margin-right: 10px;}
    .section{
        clear: both;
    }
    .section-4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
    .div5{
        display: flex;
        flex-direction: row;
    }
    .div6, .div7, .div8{
        margin: 10px;
        margin-left: 10px;
        padding: 10px;
    }
}
/* media query For Desktop */
@media screen and (min-width: 1280px) {
    .black{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 25px;
    }
    .black a{
        padding: 12px;
        margin-left: 12px;
    }
    a:hover{
        font-weight: bold;
    }
    .section-1{
    width: 100%;
    display: flex;
    flex-direction: row;
    }
    .ml{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
    .section-3{
        display: block;
        height: 350px;
    }
    .ml-div3{
    display: block;
    margin-left: 175px;
    }
    .fl{ float: left;}
    .div3{
    width: 42%;
    padding: 40px;
    }
    .div3 img{ float: left; margin-right: 10px;}

    .section-4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
    .div5{
        display: flex;
        flex-direction: row;
    }
    .div6, .div7, .div8{
        margin: 10px;
        margin-left: 10px;
        padding: 10px;
    }
}