body{
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(exam.jpg);

	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	width: 70%;
	border: 10px solid #2370a5;
	font-family: source sans Pro, sans-serif;
	padding: 20px;
	margin: 20px auto;
	max-width: 700px;

}

.Blog{
	margin-bottom: 20px;

}

.date{
	color: #fff;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	font-weight: 600;

}

.paragraph{
	border-left: 5px solid #2370a5;
	padding-left: 5px;
	font-weight: 500;
	color: #fff;

}

h2{
	font-size: 2.0rem;
	color: #fff;
}

hr{
	border: 0;
	height: 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;

}

p{
	border-left: 5px solid #2370a5;
	padding-left: 5px;
	font-weight: 500;
	color: #fff;

}

ol{
	font-weight: 500;
	color: #fff;
}
h4{

	font-weight: 500;
	color: #fff;
}
ul{
	font-weight: 500;
	color: #fff;
}

table{
	border: 1px solid #fff;
}
tr{
    font-weight: 500;
	color: #fff;
	
}

td{
    font-weight: 500;
	color: #fff;
	border: 1px solid #fff;
}
h3{
	font-weight: 500;
	color: #fff;
}
th{
	border: 1px solid #fff;
}
a{
	font-weight: 500;
	color: #fff;
}
