<div class="container m-5">
    <h2 class="text-center">Driving Licence Eligibility Check</h2>
    <p class="text-center lead">*Candidate must be minimum 18 years old</p><hr>
    <form action="practice1.html" class="form">
        <div class=" form-group row">
            <label for="date" class="col-4 text-right pt-3">Birth Date <mark>('MM-DD-YYYY')</mark>:</label>
            <input type="text" class="form-control m-2 col" placeholder="e.g. 01-01-1960" id="date">
        </div>
        <button class="btn btn-outline-dark mb-3 text-center" onclick="return checkDate()" type="submit">Submit</button>
    </form><br>
</div>