<div class="mt-2">
    <div class="card shadow-sm p-4">
        <h5 class="mb-4">Naukri Learning Courses</h5>
        <a href="">Data Science Courses</a>
        <a href="">Machine Learning Courses</a>
        <a href="">Big Data Courses</a>
        <a href="">Programming Courses</a>
        <a href="">Business Analytics Courses</a>
        <a href="">Project Management Courses</a>
        <a href="">Web Design Courses</a>
        <a href="">DevOps and Cloud computing Courses</a>
        <a href="">Marketing Courses</a>
        <a href="">Accounting and Finance Courses</a>
        <a href="">Banking Courses</a>
        <a href="">Logistics and Supply Chain Courses</a>
        <a href="">Strategy and Leadership Courses</a>
        <a href="" class="pt-3 font-weight-bold">View All</a>
    </div>
</div>
