<div class="container">
    <div class="row">
        <div class="col-md-4 mt-2">
            <div class="card border-danger" style="border-left: 5px solid #dc3545;">
                <div class="card-body bg-light">
                    <div class="d-flex flex-row flex-wrap justify-content-around">
                       
                            <h1 id="movies">{{totalMovies}}</h1>
                            <h4>Movies</h4>
                            
                            
                        
                        
                    </div>

                </div>
                <div class="card-footer text-center"><a routerLink="./movies" routerLinkActive="active" class="text-danger text-decoration-none">More Info <i class="fa fa-arrow-circle-o-right"></i></a></div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card border-danger" style="border-left: 5px solid #dc3545;">
                <div class="card-body bg-light">
                    <div class="d-flex flex-row flex-wrap justify-content-around">
                       
                            <h1 id="moviebooking">{{totalMovieBookings}}</h1>
                            <h4>Movie Bookings</h4>
                            
                            
                        
                        
                    </div>

                </div>
                <div class="card-footer text-center"><a routerLink="./movie-bookings" routerLinkActive="active" class="text-danger text-decoration-none">More Info <i class="fa fa-arrow-circle-o-right"></i></a></div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card border-danger" style="border-left: 5px solid #dc3545;">
                <div class="card-body bg-light">
                    <div class="d-flex flex-row flex-wrap justify-content-around">
                       
                            <h1 id="eventsCount">{{totalEvents}}</h1>
                            <h4>Events</h4>
                            
                            
                        
                    </div>

                </div>
                <div class="card-footer text-center"><a routerLink="./events" routerLinkActive="active" class="text-danger text-decoration-none">More Info <i class="fa fa-arrow-circle-o-right"></i></a></div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card border-danger" style="border-left: 5px solid #dc3545;">
                <div class="card-body bg-light">
                    <div class="d-flex flex-row flex-wrap justify-content-around">
                       
                            <h1 id="eventbooking">{{totalEventBookings}}</h1>
                            <h4>Event Bookings</h4>
                            
                            
                        
                        
                    </div>

                </div>
                <div class="card-footer text-center"><a routerLink="./event-bookings" routerLinkActive="active" class="text-danger text-decoration-none">More Info <i class="fa fa-arrow-circle-o-right"></i></a></div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card border-danger" style="border-left: 5px solid #dc3545;">
                <div class="card-body bg-light">
                    <div class="d-flex flex-row flex-wrap justify-content-around">
                       
                            <h1 id="users">{{totalUsers}}</h1>
                            <h4>Users</h4>
                            
                            
                        
                        
                    </div>

                </div>
                <div class="card-footer text-center"><a routerLink="./users" routerLinkActive="active" class="text-danger text-decoration-none">More Info <i class="fa fa-arrow-circle-o-right"></i></a></div>
            </div>
        </div>

        <div class="col-md-4 mt-2">
            <div class="card border-danger" style="border-left: 5px solid #dc3545;">
                <div class="card-body bg-light">
                    <div class="d-flex flex-row flex-wrap justify-content-around">
                       
                            <h1 id="users">{{totalNavbarComponents}}</h1>
                            <h4>Navbar Components</h4>
                        
                    </div>

                </div>
                <div class="card-footer text-center"><a routerLink="./navbar-components" routerLinkActive="active" class="text-danger text-decoration-none">More Info <i class="fa fa-arrow-circle-o-right"></i></a></div>
            </div>
        </div>
        
    </div>
</div>