// Main Sass File

#Nav{
    li{
        margin-right: 30px;
        font-weight: 700;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    li a:hover{
        border-bottom: 3px red solid;
        font-size: 18px;
    }
}

#sideBar{
    background-color:rgb(177, 241, 243);
    width: 250px;
    height: 130vh;
    

    ul{
        list-style: disc;
    }
    li a {
        text-decoration:none;
        color: black;
    }
    li a:hover{
        color:white;
        // border-bottom: 2px red solid;

    }
}

#footer{
    background: #333;
    color: white;
    height: 150px;
    text-align: center;
    padding-top: 70px;
}

#indexImg{
    height: 400px;
    width: 400px;
    margin-left: 30%;
    margin-top: 100px;
    
}