// Main Sass Fil
$theme-color : #01e08f;
$logo-color : #0751ac;

body{
    margin-top: 126px;
}

.bg-theme{
    background-color: $theme-color;
}
.nav-bar{
    a , h4{
        color:$logo-color  !important;
        font-size: 30px;  
        margin-left: 8px; 
    }
    a:hover{
        color: #053b7e !important;
    }
    .active{
        font-weight: bold;
    }
    
}