/* univeral selectors */
/* *{
   background-color: lightblue;
   opacity: 0.8;
} */

p{
    color: red;
    border-radius: 2px;
 border-style: groove;
border-color: black;
border-radius: 10px;
}
li{
    display: inline;
    color: brown;
    padding-left: 25px;
    padding-inline-start: 50px;
    border-width: 2px;
}
.p1{
    color: cadetblue;
    border-style: none;
    background-color: lightyellow;
}
#p2{
    color:red;
    border-style:none;
    float:right;
    width: 200px;
}
/* grpuip selectors */
h2.p1{ 
    color: pink;
}
.div1{
    text-align: center;
    color: green;
}
h3,h4{
    font-family: fantasy;
    color: hotpink;
  
}