<div class=" my-5">
    <p class="px-5 pt-3 ">
        <span class="h2">Discover Amazon</span>&nbsp; <a class="text-info h6 text-decoration-none">Learn more</a>
    </p>
    <div class="container-fluid">
        <hr class="bg-dark">
    </div>
    
    <div class="table-responsive my-2">
        <table align="center">
            <tr>
                <td>
                    <i class="fas section4Sign display-1 mx-5 mt-3 fa-globe-africa"></i>
                </td>
                <td>
                    <i class="fas section4Sign display-1 mx-5 mt-3 fa-coins"></i>
                </td>
                <td>
                    <i class="fas section4Sign display-1 mx-5 mt-3 fa-user-shield"></i>
                </td>
                <td>
                    <i class="fas section4Sign display-1 mx-5 mt-3 fa-file-upload"></i>
                </td>
                <td>
                    <i class="fas section4Sign display-1 mx-5 mt-3 fa-shipping-fast"></i>
                </td>
                <td>
                    <i class="fas section4Sign display-1 mx-5 mt-3 fa-question-circle"></i>
                </td>
            </tr>
            <tr class="text-center">
                <td class="pt-2">Shop in 8 Languages</td>
                <td class="pt-2">Shop in 60+ currencies</td>
                <td class="pt-2">Secure Payments</td>
                <td class="pt-2">Estimated Imports</td>
                <td class="pt-2">Fast Delivery</td>
                <td class="pt-2">24 * 7 Customer service</td>
            </tr>
        </table>
    </div>
</div>
