<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <title>Project</title>
</head>
<body>
    <div class="row">
        <div class="col-lg-3 pt-5 " style="background-color : blue;">
         <ol class="ml-5">

         <li><i class="fas fa-folder-open"></i> Day-15
             <ul>
                 <li><i class="fas fa-folder-open"></i> Practice Exercise
                     <ol class="text-white" > 
                         <li><a class="text-white"  style="text-decoration: none;"routerLink="Day15practice1"routerLinkActive="text-dark"  >Practice 1</a></li>
                         <li><a class="text-white" style="text-decoration: none;" routerLink="Day15practice2" routerLinkActive="text-dark">Practice 2</a></li>
                     </ol>
                 </li>
                 <li class="text-dark"><a class="text-dark" routerLink="Day15assignment" style="text-decoration: none;"><i class="fas fa-folder-open"></i>Assingment</a></li>
             </ul>
         </li>

         <li><i class="fas fa-folder-open"></i> Day-16
            <ul>
                <li><i class="fas fa-folder-open"></i> Practice Exercise
                    <ol class="text-white" > 
                        <li><a class="text-white"  style="text-decoration: none;"routerLink="Day16practice1"routerLinkActive="text-dark"  >Practice 1</a></li>
                        <li><a class="text-white" style="text-decoration: none;" routerLink="Day16practice2" routerLinkActive="text-dark">Practice 2</a></li>
                        <li><a class="text-white" style="text-decoration: none;" routerLink="Day16practice3" routerLinkActive="text-dark">Practice 3</a></li>
                        <li><a class="text-white" style="text-decoration: none;" routerLink="Day16practice4" routerLinkActive="text-dark" >Practice 4</a></li>
                        <li><a class="text-white" style="text-decoration: none;" routerLink="Day16practice5" routerLinkActive="text-dark" >Practice 5</a></li>
                    </ol>
                </li>
                <li class="text-dark"><a class="text-dark" routerLink="Day16assignment" style="text-decoration: none;"><i class="fas fa-folder-open"></i>Assingment</a></li>
            </ul>
        </li>

        <li><i class="fas fa-folder-open"></i> Day-17
            <ul>
                <li><i class="fas fa-folder-open"></i> Practice Exercise
                    <ol class="text-white" > 
                        <li><a class="text-white"  style="text-decoration: none;"routerLink="Day17practice7"routerLinkActive="text-dark">Practice 7</a></li>
                        <li><a class="text-white" style="text-decoration: none;" routerLink="Day17practice8" routerLinkActive="text-dark">Practice 8</a></li>
                        <li><a class="text-white" style="text-decoration: none;" routerLink="Day17practice9" routerLinkActive="text-dark">Practice 9</a></li>
                    </ol>
                </li>
                <li class="text-dark"><a class="text-dark" routerLink="Day17assignment" style="text-decoration: none;"><i class="fas fa-folder-open"></i>Assingment</a></li>
            </ul>
        </li>

        <li><i class="fas fa-folder-open"></i> Day-18
            <ul>
                <li><i class="fas fa-folder-open"></i> Practice Exercise
                    <ol class="text-white" > 
                        <li><a class="text-white"  style="text-decoration: none;"routerLink="Day18practice1"routerLinkActive="text-dark"  >Practice 1</a></li>
                        <li><a class="text-white" style="text-decoration: none;" routerLink="Day18practice2" routerLinkActive="text-dark">Practice 2</a></li>
                        <li><a class="text-white" style="text-decoration: none;" routerLink="Day18practice3" routerLinkActive="text-dark">Practice 3</a></li>
                    </ol>
                </li>
                <li class="text-dark"><a class="text-dark" routerLink="Day18assignment" style="text-decoration: none;"><i class="fas fa-folder-open"></i>Assingment</a></li>
            </ul>
        </li>

        <li><i class="fas fa-folder-open"></i> Day-19
            <ul>
                <li><i class="fas fa-folder-open"></i> Practice Exercise
                    <ol class="text-white" > 
                        <li><a class="text-white"  style="text-decoration: none;"routerLink="Day19practice1"routerLinkActive="text-dark"  >Practice 1</a></li>
                        <li><a class="text-white" style="text-decoration: none;" routerLink="Day19practice2" routerLinkActive="text-dark">Practice 2</a></li>
                        <li><a class="text-white"  style="text-decoration: none;"routerLink="Day19practice3"routerLinkActive="text-dark"  >Practice 3</a></li>
                        <li><a class="text-white" style="text-decoration: none;" routerLink="Day19practice4" routerLinkActive="text-dark">Practice 4</a></li>
                        <li><a class="text-white"  style="text-decoration: none;"routerLink="Day19practice5"routerLinkActive="text-dark"  >Practice 5</a></li>
                        <li><a class="text-white" style="text-decoration: none;" routerLink="Day19practice6" routerLinkActive="text-dark">Practice 6</a></li>
                    </ol>
                </li>
            </ul>
        </li>

        <li><i class="fas fa-folder-open"></i> Day-20
            <ul>
                <li><i class="fas fa-folder-open"></i> Practice Exercise
                    <ol class="text-white" > 
                        <li><a class="text-white"  style="text-decoration: none;"routerLink="Day20practice1"routerLinkActive="text-dark">Practice 1</a></li>
                    </ol>
                </li>
                <li><a class="text-white" style="text-decoration: none;" routerLink="Day20assignment" routerLinkActive="text-dark">Assignment</a></li>
            </ul>
        </li>
         
     </ol>
        </div>
        <div class="col-lg-9 pt-5">
            <router-outlet></router-outlet>
        </div>
    
    </div>
    
</body>
</html>