@media screen and (min-width:1000px) {
    #navbar {
        flex-direction: unset;
    }
    .left-section,
    .middle-section,
    .right-section {
        width: 33.33%;
        float: left;
    }
    .hsection {
        clear: both;
    }
    section.content div {
        width: 47%;
        float: left;
    }
    .list1,
    .list2 {
        width: 25%;
        float: left;
    }
    .message {
        width: 50%;
        float: left;
    }
    input {
        width: 40vw;
        margin: 0 0 1em;
        padding: 2px;
    }
    textarea {
        width: 32.5vw;
    }
}