  <div class="col-sm-3">
    <ul  class="list-unstyled h3 text-left">
        <li>Day 3</li>
        <li><a routerLink="day3prac1"routerLinkActive="text-dark">Practicl 1</a></li>
        <li><a routerLink="day3prac2">Practicl 2</a></li>
        <li><a routerLink="day3prac3">Practicl 3</a></li>
        <li><a routerLink="day3prac4">Practicl 4</a></li>
        <li><a routerLink="day3prac5">Practicl 5</a></li>
        <li><a routerLink="day3assign">Assingment</a></li>
    </ul>
  </div>
  <div class="col-sm-9">
    <router-outlet></router-outlet> 
  </div>