header {
  background-color: cornsilk;
  padding-bottom: 5px;
}

h1 {
  color: brown;
}

#my-image {
  margin-left: 4%;
  margin-top: 2%;
  border: 3px solid brown;
  border-radius: 15px;
}

.heading {
  color: brown;
}

a {
  margin-left: 5%;
}

a:hover {
  color: brown;
}
#main-body {
  background-color: ivory;
  padding-top: 5px;
  padding-bottom: 5px;
}

footer {
  text-align: center;
  padding: 5px;
  background-color: cornsilk;
}

video {
  margin-left: 30%;
  /* border: solid 3px brown; */
}

.video-section {
  background-color: ivory;
}

footer p {
  color: brown;
  font-weight: bold;
}
