<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0">
    <div class="container-lg container-nav">
        <a class="navbar-brand mr-5 text-dark" style="font-size:30px" href="">Uber</a>
        
        <button class=" navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarnav1"><i class=" fa fa-user text-dark"></i></button>
        <div class=" navbar-collapse collapse" id="navbarnav1" tabindex="2">
            <ul class="navbar-nav w-100">
                <li class="nav-item order-lg-2 d-none d-lg-inline-block"><a href="" class="nav-link">Ride</a></li>
                <li class="nav-item order-lg-3 d-none d-lg-inline-block"><a href="" class="nav-link">Drive</a></li>
                <li class="nav-item order-lg-4 d-none d-lg-inline-block"><a href="" class="nav-link">More</a></li>
                <li class="nav-item d-block d-lg-none"><a href="" class="nav-link">Request A Ride</a></li>
                <li class="nav-item d-block d-lg-none"><a href="" class="nav-link">My Trips</a></li>
                <li class="nav-item d-block d-lg-none"><a href="" class="nav-link">Wallet</a></li>
                <li class="nav-item d-block d-lg-none"><a href="" class="nav-link">Promos</a></li>
                <li class="nav-item d-block d-lg-none"><a href="" class="nav-link">Support Messages</a></li>
                <li class="nav-item d-block d-lg-none"><a routerLink="/rider/profile" class="nav-link">Profile Settings</a></li>
                <li class="nav-item ml-lg-auto d-none d-lg-inline-block  order-lg-7"><a href="" class="nav-link" data-toggle="modal" data-target="#login-modal">Help</a></li>
                <li class="nav-item  d-none d-lg-inline-block  order-lg-7 dropdown">
                    <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown"><span id="user-name">{{profileData.firstName}} {{profileData.lastName}}</span></a>
                    <div class="dropdown-menu">
                        <a routerLink="/rider/dashboard" class="dropdown-item">Request A Ride</a>
                        <a href="" class="dropdown-item">My Trips</a>
                        <a href="" class="dropdown-item">Wallet</a>
                        <a href="" class="dropdown-item">Promos</a>
                        <a href="" class="dropdown-item">Support Messages</a>
                        <a routerLink="/rider/profile" class="dropdown-item">Profile Settings</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>