#cities ul
{
    list-style-type: none;
    background-color: green;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 50px;
}

#cities li
{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 45px;
    font-size: 20px;
    text-decoration: none;
}

#cities li:hover
{
    background-color: black;
}

p
{
    position: relative;
    border: black;
    border-style: solid;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

h1,h2
{
    padding-left: 30px;
    color: cornflowerblue;

}