.main{
    background-color: blue;
}
.main-area{
    border: 5px solid white;
    margin-top: auto;
    padding: 30px 10px;
    
}
#para1{
    border: 5px dashed white;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
}
.city li{
    display: inline;
    text-decoration: none;
    margin: 20px;
    font-size: large;
}
.city a:link{
    text-decoration: none;
    color: white;
}
.city a:visited{
    text-decoration: none;
    color: purple;
}
.city a:hover{
    text-decoration: none;
    color: red;
}
.city a:active{
    text-decoration: none;
    color: yellow;
}
div>p:first-child{
    background-color: yellow;
}
div>p::first-letter{
    color: red;
    font-size: xx-large;
}
div>p:last-child{
    background-color: white;
}
div>p::before{
    content: 'start - ';
}
div>p::after{
    content: ' - end';
}