<div class="mt-3">
    <div class="card p-4 shadow-sm">        
        <div class="row no-gutters">
            <div class="col pl-2">
                <h5>Search Jobs on the Go !!</h5>
                <p>Download the Naukri app for free & browse from a variety of jobs based on your preferences</p>
            </div>
            <div class="col-3">
                <img src="../../../assets/img/HomePage/appInstallImg.9d15407f.png" alt="" class="img-fluid">
            </div>
        </div>
        <div class="input-group pb-3">
            <div class="input-group-prepend">
                <span class="input-group-text bg-white">+91</span>
            </div>
            <input type="text" class="form-control" placeholder="Enter mobile number">
        </div>
        <button class="btn btn-primary">Send me download link</button>
        <br>
        <small>Available on both iOS & Android devices</small>
        <div class="row pt-1">
            <div class="col">
                <a><i class="fab fa-google-play"></i>&nbsp; Google Play</a>
            </div>
            <div class="col">
                <a><i class="fab fa-apple"></i>&nbsp; App Store</a>
            </div>
        </div>
    </div>
</div>
