<div class="mt-2">
    <div class="card p-4">
        <img src="../../../assets/img/HomePage/ffLogo.799817e8.png" alt="" class="img-fluid mb-4">
        <div class="font-weight-bold">Naukri Resume Score - Free</div>
        <p>Get your FREE resume feedback report and know the improvement areas in your resume within 30 seconds <br><a href="" class="text-decoration-none">Read More</a></p>
        <div class="font-weight-bold">Reach out to more recruiters</div>
        <p>Become a Featured Applicant on Naukri and Increase your profile views by up to 3 times. <br><a href="" class="text-decoration-none">Read More</a></p>
        <hr>
        <p>Call 1800-572-5557 now! (Toll-Free) for JobSeeker services</p>
        <button class="btn border bg-light border-primary text-primary shadow-none">Know More</button>
    </div>
</div>
