<div class="card">
    <div class="card-header text-center"> <p class="text-muted" style="font-size: 35px;">Sign Up Component</p></div>
    <div class="card-body">
        <div class="form-group">
            <label for="">Enter Name :- </label>
            <input type="text" class="form-control" [(ngModel)]="Name" required>
            <label for="">Enter Moblie Number:- </label>
            <input type="number" class="form-control" [(ngModel)]="MobileNumber"  required>
            <label for="">Enter Email Address :- </label>
            <input type="email" class="form-control" [(ngModel)]="Email"  required>
            <label for="">Enter PanCard Number :-</label>
            <input type="text" class="form-control"  [(ngModel)]="PanCard" required>
            <label for="">Enter Address</label>
            <textarea cols="5" rows="5" class="form-control" [(ngModel)]="Address" required></textarea>

            <button class="btn btn-success mt-3" (click)="Result()">SignUp</button>
            

        </div>

        
        <p>Your Name :-  {{Name}}</p>
        <P>Your MobileNumber :-  {{MobileNumber}}</P>
        <p>Your Email :-  {{Email}}</p>
        <p> your PanCard Number :- {{PanCard}}</p>
        <p>Your Adress :-  {{Address}}</p>
        <p class="text-danger">{{Message}}</p>
        <p class="text-success">{{Message1}}</p>



        
    </div>
</div>



