
* {
    box-sizing: border-box;
  }
  
.Menubar{   
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: rgb(163, 221, 221);
}
.First{
    padding: 10px;
    flex: 50%;
}
.Second{
    padding: 10px;
    flex: 50%;
}
.Third{
    padding: 10px;
    flex: 50%;
}
.Fourth{
    padding: 10px;
    flex: 50%;
}.Fifth{
    padding: 10px;
    flex: 50%;
}
@media (max-width: 800px) {
    .First,.Second,.Third,.Fourth,.Fifth{
      flex-direction: column;
    }
  }