<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training Site</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand pl-4" href="#"><img src="../src/img/logo_main.png" alt="" width="80" height="70"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-2"><a class="nav-link" href="../index.html"
                        style="font-size: 20px; font-weight: 500;">Home</a></li>
                <li class="nav-item mx-2 active"><a href="#" class="nav-link"
                        style="font-size: 20px; font-weight: 500;">HTML</a></li>
                <li class="nav-item mx-2"><a href="" class="nav-link" style="font-size: 20px; font-weight: 500;">CSS</a>
                </li>
                <li class="nav-item mx-2"><a href="" class="nav-link"
                        style="font-size: 20px; font-weight: 500;">Bootstrap</a></li>
                <li class="nav-item mx-2"><a href="" class="nav-link"
                        style="font-size: 20px; font-weight: 500;">Javascript</a></li>
                <li class="nav-item mx-2"><a href="" class="nav-link" style="font-size: 20px; font-weight: 500;">Mini
                        Project</a></li>

        </div>
    </nav>

    <!-- MAIN SECTION -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-3" style="background-color: #f7f7f7; height: 85vh;">
                <p class="ml-2 my-2"><a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                    style="text-decoration: none; color: black; font-size: 20px;">Day 3</a></p>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li class="ml-3"><a href="#">Assignment</a></li>
                    <li class="ml-3"><a href="#">Practice Exercise</a></li>
                </ul>
            </div>
            <div class="col-lg-auto col-md-9"></div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>