<!DOCTYPE html>
<head>
    <title>Student Report Card</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/css/about.css">
</head>
<body align="center">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">Practice Exercise</a>

            <div class="navi" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-5 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="log.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <h1 align="left">Company Employee Hierarchy</h1>
    <ul class="firstlevel" type="square" style="size: 30px">
        <li>Senior Level Jobs</li>
        <ol type="I">
            <li>Chief Technical officer</li>
            <li>Chief Information Officer</li>
            <li>MIS Director</li>
            <li>Information Technology Director</li>
            <li>Senior Manager-project Planning</li>
        </ol>
        <li>Middle Management Level Jobs</li>
        <ol type="A">
            <li>Hardware and Information Systems Manager</li>
            <li>Information Technology Manager</li>
            <li>Network Architect</li>
            <li>Senior Database Administrator</li>
            <li>Senior Engineer</li>
            <li>Senior Manager Programming</li>
            <li>Telecommunications Manager</li>
            <li>Project Manager</li>
            <li>Project Leader</li>
        </ol>
        <li>Lower Level Job</li>
        <ol type="i">
            <li>Analyst</li>
            <li>Application Manager</li>
            <li>Databasse Administrator</li>
            <li>Help Desk Technician</li>
            <li>Network Engineer</li>
            <li>Programmer</li>
            <li>Security Specialist</li>
            <li>Network Administrator</li>
            <li>System Administrator</li>
            <li>Software Programmer</li>
            <li>Telecommunication Engineer</li>
            <li>Web Developer</li>
            <li>Web Designer</li>
            <li>Technical Content Writer</li>
            <li>Web Master</li>
            <li>Software Testing Engineer</li>
            <li>Desktop Technician</li>
            <li>Hardware Engineer</li>
        </ol>
    </ul>
</body>
</html>