<!DOCTYPE html>
<head>
    <title>Student Report Card</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/reportstyle.css">
</head>
<body align="center">
    <br><br><br><br><br>
    <div class="container">
        <h2>Student Report card</h2>

        <table class="details" border="0" align="center" style="text-align: left;">
            <tr>
                <td><b>Student Name</b></td>
                <td>Palak Patel</td>
                <td><b>Enrollment No</b></td>
                <td>170410116077</td>
            </tr>

            <tr>
                <td><b>Exam Seat No.</b></td>
                <td>E118096</td>
                <td><b>Exam</b></td>
                <td>BE SEM 6-Regular (May 2020)</td>
            </tr>

            <tr>
                <td><b>Branch</b></td>
                <td>INFORMATIN TECHNOLOGY</td>
                <td><b>Year of Passing</b></td>
                <td>2021</td>
            </tr>
        </table>
        <br>
        <table class="marksTable" border="1" align="center">
            <tr class="title">
                <td>Sr. No. </td>
                <td>Subject Name</td>
                <td>Subject Code</td>
                <td>Theory Marks</td>
                <td>Practical Marks</td>
                <td>Total Marks</td>
                <td>Grade</td>
            </tr>
            <tr>
                <td>1.</td>
                <td>Software Engineering</td>
                <td>2160701</td>
                <td>86</td>
                <td>92</td>
                <td>89</td>
                <td>AA</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Advance JAVA</td>
                <td>2160707</td>
                <td>80</td>
                <td>90</td>
                <td>85</td>
                <td>AA</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Web Technology</td>
                <td>2160708</td>
                <td>78</td>
                <td>82</td>
                <td>80</td>
                <td>AB</td>
            </tr>
            <tr>
                <td>4.</td>
                <td>.Net Technology</td>
                <td>2160711</td>
                <td>77</td>
                <td>85</td>
                <td>81</td>
                <td>AB</td>
            </tr>
            <tr>
                <td>5.</td>
                <td>Data Comprasion and Data Retrival</td>
                <td>2161603</td>
                <td>90</td>
                <td>96</td>
                <td>93</td>
                <td>AA</td>
            </tr>
            <tr>
                <td colspan="3">Current Backlog: 0</td>
                <td colspan="2">CGPA: 8.93</td>
                <td colspan="2">SPI: 9.65</td>
            </tr>
        </table>
        <div>

</body>
</html>