<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/MileStone1">MileStone1</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" routerLink="/crisis-center">Crisis Center <span class="sr-only">(current)</span></a>
      <a class="nav-link" routerLink="/Heroes">Heroes</a>
      <a class="nav-link" routerLink="/Admin" >Admin</a>
      <a class="nav-link" routerLink="/User" tabindex="-1">User</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet> -->



<nav class="navbar navbar-expand-lg navbar-light bg-light mt-5">
  <a class="navbar-brand" routerLink="/MileStone1">Router Example</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link " routerLink="/home" routerLinkActive="btn btn-primary text-white active">Home<span class="sr-only">(current)</span></a>
      <a class="nav-link" routerLink="/about" routerLinkActive="btn btn-primary text-white active">AboutUs</a>
      <a class="nav-link" routerLink="/product" routerLinkActive="btn btn-primary text-white active">Product</a>
      <a class="nav-link" routerLink="/contectus" routerLinkActive="btn btn-primary text-white active">Contect Us</a>
      <a class="nav-link" routerLink="/abc"  routerLinkActive="btn btn-primary text-white active">Page Not Found</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
