<!DOCTYPE html>

<head>
    <title>Practice 2</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/city.css">
</head>

<body>
    <h1>About Gujarat</h1>
    <div class="para">
        <p>
            Gujarat is a state on the western coast of India with a coastline of 1,600 km – most of which lies on the
        </p>
        <p>
            Kathiawar peninsula – and a population of 60.4 million. It is the fifth-largest Indian state by area and the
            ninth-largest state by population.
        </p>
        <p>
            Gujarat is bordered by Rajasthan to the northeast, Dadra and Nagar Haveli and Daman and Diu to the south,
        </p>
        <p>
            Maharashtra to the southeast, Madhya Pradesh to the east, and the Arabian Sea and the Pakistani province of
            Sindh to the west.
        </p>
        <p>Its capital city is Gandhinagar, while its largest city is Ahmedabad.</p>
    </div>
    <br>
    <h2>Cities of Gujarat</h2>
    <br>
    <ul type="none" class="list">
        <li><a href="https://en.wikipedia.org/wiki/Gandhinagar" target="_blank">Gandhinagar</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Ahmedabad" target="_blank">Ahmedabad</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Vadodara" target="_blank">Vadodara</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Surat" target="_blank">Surat</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Rajkot" target="_blank">Rajkot</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Junagadh" target="_blank">Junagadh</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Bhavnagar" target="_blank">Bhavnagar</a></li>
    </ul>
    <br><br>
    <div class="headings">
        <h1>Heading1</h1>
        <h2>Sub Heading</h2>
        <h1>Heading2</h1>
        <h2>Sub heading</h2>
    </div>
</body>

</html>