<!DOCTYPE html>
<head>
    <title>Student Report Card</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/reportcard.css">
</head>
<body>

    <br><br><br><br><br>
    <div class="container">
        <h1>Student Report card</h1>

        <table class="details" border="0" align="center">
            <tr>
                <td style="padding-right: 15px;"><b>Student Name</b></td>
                <td style="padding-right: 60px;">Palak Patel</td>
                <td style="padding-right: 15px;"><b>Enrollment No</b></td>
                <td>170410116077</td>
            </tr>

            <tr>
                <td><b>Exam Seat No.</b></td>
                <td style="padding-right: 60px;">E118096</td>
                <td><b>Exam</b></td>
                <td>BE SEM 6-Regular (May 2020)</td>
            </tr>

            <tr>
                <td><b>Branch</b></td>
                <td style="padding-right: 60px;">INFORMATIN TECHNOLOGY</td>
                <td><b>Year of Passing</b></td>
                <td>2021</td>
            </tr>
        </table>
        <br>
        <table class="marksTable" border="1" align="center">
            <tr class="title">
                <td style="padding: 10px 8px 10px 8px;">Sr. No. </td>
                <td style="padding: 10px 8px 10px 8px;">Subject Name</td>
                <td style="padding: 10px 8px 10px 8px;">Subject Code</td>
                <td style="padding: 10px 8px 10px 8px;">Theory Marks</td>
                <td style="padding: 10px 8px 10px 8px;">Practical Marks</td>
                <td style="padding: 10px 8px 10px 8px;">Total Marks</td>
                <td style="padding: 10px 8px 10px 8px;">Grade</td>
            </tr>
            <tr>
                <td>1.</td>
                <td>Software Engineering</td>
                <td>2160701</td>
                <td>86</td>
                <td>92</td>
                <td>89</td>
                <td>AA</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Advance JAVA</td>
                <td>2160707</td>
                <td>80</td>
                <td>90</td>
                <td>85</td>
                <td>AA</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Web Technology</td>
                <td>2160708</td>
                <td>78</td>
                <td>82</td>
                <td>80</td>
                <td>AB</td>
            </tr>
            <tr>
                <td>4.</td>
                <td>.Net Technology</td>
                <td>2160711</td>
                <td>77</td>
                <td>85</td>
                <td>81</td>
                <td>AB</td>
            </tr>
            <tr>
                <td>5.</td>
                <td>Data Comprasion and Data Retrival</td>
                <td>2161603</td>
                <td>90</td>
                <td>96</td>
                <td>93</td>
                <td>AA</td>
            </tr>
            <tr>
                <td colspan="3">Current Backlog: 0</td>
                <td colspan="2">CGPA: 8.93</td>
                <td colspan="2">SPI: 9.65</td>
            </tr>
        </table>
    </div>
</body>
</html>