header {
  text-align: center;
}

footer {
  text-align: center;
}

li:nth-child(odd) {
  background-color: cadetblue;
}

li:nth-child(even) {
  background-color: coral;
}

#heading {
  background-color: gainsboro;
  color: darkred;
}

.artical:hover {
  background-color: deepskyblue;
  color: orangered;
}

a {
  font-size: larger;
  font-weight: bolder;
  font-family: sans-serif;
}

p::selection {
  background-color: greenyellow;
}

a:active {
  color: red;
  background-color: greenyellow;
}

a:hover {
  color: white;
  background-color: black;
}

p::before {
  content: "hello";
}

:root {
  background-color: cornsilk;
}
