<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
  <!-- <h5>{{Name}}</h5> -->
</body>
</html>

<router-outlet></router-outlet>
<app-practice1 [data] = 'Name'></app-practice1>
<app-counter-parent></app-counter-parent>
<!-- <app-student-component [data]='"Riya"'></app-student-component> -->
<app-student-list [listdata]='booklist'></app-student-list>
<app-student-component (addBook)="addbook($event)"></app-student-component>