<div class="row fixed-top">

  <div id="shadow" class="d-none d-xl-block col-xl-2 pl-5">
    <a href="">
      <img src="../assets/img/INOX_NEW_LOGO---185x60.png">
    </a>
  </div>
  <div class="col-xl-10 d-flex flex-column">

    <div class="container" id="p1">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark my-0 py-0 ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav" style="font-size:smaller;">
            <li class="nav-item">
              <a class="nav-link" href="#">Rajkot | </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login" routerLinkActive="text-info">Register / Login |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/ResendBookingConformation' routerLinkActive="text-info">Resend Booking
                Conformation |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">contact@inoxmovies.com |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">INOX Rewards |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Carrer |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-twitter"></i> |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-facebook"></i> |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-instagram"></i> |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-github"></i></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>


    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark my-0 py-0 ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav1"
          aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav1">
          <ul class="navbar-nav" style="font-size:smaller;">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home" routerLinkActive="text-success">Home |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/cinemas" routerLinkActive="text-success">Cinemas |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">SCHEDULE |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Promotion |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ADVERTISE |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CORPORATE |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">SAFETY |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ABOUT US </a>
            </li>
          </ul>
          <form class="form-inline">
            <input type="text" class="form-control" placeholder="Search for Movie, Cinema" aria-label="Username"
              aria-describedby="basic-addon1">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
              </div>
            </div>
          </form>
        </div>
      </nav>
    </div>
  </div>
</div>




<router-outlet></router-outlet>



<section id="footer" class="bg-dark">
  <div class="container p-5" style="color: rgb(124, 124, 124);">
    <div class="row">
      <div class="col-lg-1">
        <div>
          <ul class="list-unstyled">
            <li>Home</li>
            <li>Cinemas</li>
            <li>Home</li>
            <li>Home</li>
            <li>Home</li>
            <li>Cinemas</li>
            <li>Home</li>
            <li>Home</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <div>
          <ul class="list-unstyled">
            <li>About Us</li>
            <li>Media Room</li>
            <li>INVESTOR RELATION</li>
            <li>BIRTHDAY CELEBRATION</li>
            <li>About Us</li>
            <li>Media Room</li>
            <li>INVESTOR RELATION</li>
            <li>BIRTHDAY CELEBRATION</li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2">
        <div>
          <ul class="list-unstyled">
            <li>GET IN TOUCH</li>
            <li>LOCATION</li>
            <li>CONTACT US</li>
            <li>FEEDBACK</li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3">
        <div>
          <ul class="list-unstyled">
            <li>Email <br> contact@inoxmovies.com</li>
            <li>CONTACT WITH US ON </li>
            <li>
              <i class="fa fa-facebook"></i>
              <i class="fa fa-twitter"></i>
              <i class="fa fa-instagram"></i>
              <i class="fa fa-linkedin"></i>
              <i class="fa fa-youtube"></i>

            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4">
        <p>LIST OF CINEMAS</p>
        <div class="dropdown">
          <button class="btn dropdown-toggle text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <input type="text" placeholder="list of cinemas ">
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">INOX AT ALPHA MALL</a>
            <a class="dropdown-item" href="#">HIMALIYA</a>
            <a class="dropdown-item" href="#">CRYSTAL</a>
          </div>
        </div>
        <p>SUBSCRIBE TO OUR NEWSELTTERS / ALERTS</p>
        <form>
          <input type="text" class="form-control" placeholder="Email id or mo. No" aria-label="Username"
            aria-describedby="basic-addon2">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon2">GO</span>
            </div>
          </div>
        </form>
        <button>
          RESEND BOOKING Conformation
        </button>
      </div>

    </div>

  </div>

  <div style="background: black; padding: 25px;">

  </div>
</section>