<div class="main">
              
        <div class="px-5 pt-2">
            <header>
                <h1>Responsive Image Grid</h1>
            </header>
            
            <!-- Photo Grid -->
            <div class="row"> 
                <div class="column">
                <img src="../../assets/images/img1.jpg" width=" 250" height="200">
                <img src="../../assets/images/img2.jpg" width=" 250" height="200">
                <img src="../../assets/images/img3.jpg" width=" 250" height="200">
                <img src="../../assets/images/img4.jpg" width=" 250" height="200">
                <img src="../../assets/images/img5.jpg" width=" 250" height="200">
                <img src="../../assets/images/img6.jpg" width=" 250" height="200">
                <img src="../../assets/images/img7.jpg" width=" 250" height="200">
                </div>
                
                <div class="column">
                <img src="../../assets/images/img8.jpg" width=" 250" height="200">
                <img src="../../assets/images/img9.jpg" width=" 250" height="200">
                <img src="../../assets/images/img10.jpg" width=" 250" height="200">
                <img src="../../assets/images/img11.jpg" width=" 250" height="200">
                <img src="../../assets/images/img12.jpg" width=" 250" height="200">
                <img src="../../assets/images/img5.jpg" width=" 250" height="200">
                </div> 
                
                <div class="column">
                <img src="../../assets/images/img1.jpg" width=" 250" height="200">
                <img src="../../assets/images/img2.jpg" width=" 250" height="200">
                <img src="../../assets/images/img3.jpg" width=" 250" height="200">
                <img src="../../assets/images/img4.jpg" width=" 250" height="200">
                <img src="../../assets/images/img5.jpg" width=" 250" height="200">
                <img src="../../assets/images/img6.jpg" width=" 250" height="200">
                <img src="../../assets/images/img7.jpg" width=" 250" height="200">
                </div>
                    
                <div class="column">
                <img src="../../assets/images/img8.jpg" width=" 250" height="200">
                <img src="../../assets/images/img9.jpg" width=" 250" height="200">
                <img src="../../assets/images/img10.jpg" width=" 250" height="200">
                <img src="../../assets/images/img11.jpg" width=" 250" height="200">
                <img src="../../assets/images/img12.jpg" width=" 250" height="200">
                <img src="../../assets/images/img1.jpg" width=" 250" height="200">
                </div> 
            </div>
        </div>
    </div>
