<app-user-navbar></app-user-navbar>

<!--heading slider-->
<section id="heading-slider" class="px-5 pt-3 d-none d-lg-block">

    <div class="row">
        <div class="col">
            <div class="slick-carousel">

                
                    <div class="slide-content mx-1">
                        <a href="#">
                            <img src="../../assets/images/headCarousel-1.jpg"
                                alt="Nucleya Presents SUB Cinema" loading="lazy"
                                class="w-100 rounded">
                        </a>
                    </div>
                
                    <div class="slide-content mx-1">
                        <a href="#">
                            <img src="../../assets/images/headCarousel-2.jpg"
                                alt="Sunburn Home Festival 2.0" loading="lazy"
                                class="w-100 rounded">
                        </a>
                    </div>
                
                    <div class="slide-content mx-1"><a href="#">
                            <img src="../../assets/images/headCarousel-3.jpg"
                                alt="Manoj Bajpayee Teaches Acting" loading="lazy"
                                class="w-100 rounded">
                        </a></div>
                
                    <div class="slide-content mx-1"><a href="#">
                            <img src="../../assets/images/headCarousel-4.jpg"
                                alt="SRMD Global Youth Festival:Virtual Edition 2021" loading="lazy"
                                class="w-100 rounded">
                        </a></div>
                
                    <div class="slide-content mx-1"><a href="#">
                            <img src="../../assets/images/headCarousel-5.jpg"
                                alt="Anantkoti  (Shri Swami Samarth Charitra Natak)" loading="lazy"
                                class="w-100 rounded">
                        </a></div>
                
                    <div class="slide-content mx-1">
                        <a href="#">
                            <img src="../../assets/images/headCarousel-2.jpg"
                                alt="Sunburn Home Festival 2.0" loading="lazy"
                                class="w-100 rounded">
                        </a>
                    </div>
                
                    <div class="slide-content mx-1"><a href="#">
                            <img src="../../assets/images/headCarousel-1.jpg"
                                alt="Naanu Nan Jaanu" loading="lazy"
                                class="w-100 rounded">
                        </a></div>
                
                    <div class="slide-content mx-1"><a href="#">
                            <img src="../../assets/images/headCarousel-6.jpg"
                                alt="Mid Night Song" loading="lazy"
                                class="w-100 rounded">
                        </a></div>
                
                    <div class="slide-content mx-1"><a href="#">
                            <img src="../../assets/images/headCarousel-7.jpg"
                                alt="Sunburn Home Festival 2.0" loading="lazy"
                                class="w-100 rounded">
                        </a></div>
                

            </div>

        </div>
    </div>

</section>

<section id="heading-img">
    <div class="d-md-block d-lg-none">
        <div class="row overflow-auto">
            <div class="col-2">
                <img src="../../assets/images/headCarouselMedium-1.png"
                    alt="" loading="lazy">
            </div>
            <div class="col-2">
                <img src="../../assets/images/headCarouselMedium-2.png"
                    alt="" loading="lazy">
            </div>
            <div class="col-2">
                <img src="../../assets/images/headCarouselMedium-3.png"
                    alt="" loading="lazy">
            </div>
            <div class="col-2">
                <img src="../../assets/images/headCarouselMedium-4.png"
                    alt="" loading="lazy">
            </div>
            <div class="col-2">
                <img src="../../assets/images/headCarouselMedium-5.png"
                    alt="" loading="lazy">
            </div>
            <div class="col-2">
                <img src="../../assets/images/headCarouselMedium-6.png"
                    alt="" loading="lazy">
            </div>
        </div>
        <div class="row">
            <div class="col pr-0">
                <img src="../../assets/images/headImage-medium.png"
                    alt="" width="100%">
            </div>
        </div>
    </div>
</section>

<section id="main-content">
    <div class="bg-light py-5" style="margin-top: -20px;">
        <!--recommended movies-->
        <section id="recommended-movies">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="font-weight-bold h3">Recommended Movies</h4>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="text-decoration-none">
                            <h6 class="font-weight-normal text-right" style="color: rgb(253, 98, 124);">See All &gt;
                            </h6>
                        </a>
                    </div>
                </div>
                    <app-recommended-movies></app-recommended-movies>
            </div>
        </section>

        <div class="container my-5 d-none d-lg-block">
            <a href="#">
                <img src="../../assets/images/longLabel-1.png"
                    alt="" loading="lazy" class="w-100 rounded">
            </a>
        </div>

        <!--Entertainment-->
        <section id="entertainment">
            <div class="container">
                <h4 class="font-weight-bold h3">The Best Of Entertainment</h4>
                <p class="text-muted d-md-block d-lg-none">Step out or stay in, interesting experiences for everyone
                </p>

                <div class="row slick-entertainment">
                    <div class="col-sm-12 col-md-4 col-lg-3">

                        <div>
                            <div class="slide-content">
                                <a href="#"><img
                                        src="../../assets/images/entertainment-1.png"
                                        alt="" loading="lazy" class="w-100"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div>
                            <div class="slide-content">
                                <a href="#"><img
                                        src="../../assets/images/entertainment-2.png"
                                        alt="" loading="lazy" class="w-100"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div>
                            <div class="slide-content">
                                <a href="#"><img
                                        src="../../assets/images/entertainment-3.png"
                                        alt="" loading="lazy" class="w-100"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div>
                            <div class="slide-content">
                                <a href="#"><img
                                        src="../../assets/images/entertainment-4.png"
                                        alt="" loading="lazy" class="w-100"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div>
                            <div class="slide-content">
                                <a href="#"><img
                                        src="../../assets/images/entertainment-5.png"
                                        alt="" loading="lazy" class="w-100"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div>
                            <div class="slide-content">
                                <a href="#"><img
                                        src="../../assets/images/entertainment-6.png"
                                        alt="" loading="lazy" class="w-100"></a>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div>
                            <div class="slide-content">
                                <a href="#"><img
                                        src="../../assets/images/entertainment-7.png"
                                        alt="" loading="lazy" class="w-100"></a>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div>
                            <div class="slide-content">
                                <a href="#"><img
                                        src="../../assets/images/entertainment-8.png"
                                        alt="" loading="lazy" class="w-100"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div>
                            <div class="slide-content">
                                <a href="#"><img
                                        src="../../assets/images/entertainment-9.png"
                                        alt="" loading="lazy" class="w-100"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div>
                            <div class="slide-content">
                                <a href="#"><img
                                        src="../../assets/images/entertainment-10.png"
                                        alt="" loading="lazy" class="w-100"></a>
                            </div>
                        </div>

                    </div>
                </div>



            </div>
        </section>
    </div>

    <!--Premieres-->
    <section id="premieres" class="bg-dark">
        <app-premiere-movies></app-premiere-movies>
    </section>

    <!--outdoor events-->
    <section id="outdoor-events" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="font-weight-bold h3">Outdoor Events<span class="badge badge-danger mx-2">NEW</span>
                    </h4>
                </div>
                <div class="col-md-6">
                    <a href="#" class="text-decoration-none">
                        <h6 class="font-weight-normal text-right" style="color: rgb(253, 98, 124);">See All &gt;
                        </h6>
                    </a>
                </div>
            </div>
            <app-outdoor></app-outdoor>
            
        </div>
    </section>

    <div class="bg-light">
        <!--Laughter Therapy-->
        <section id="outdoor-events" class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="font-weight-bold h3">Laughter Therapy</h4>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="text-decoration-none">
                            <h6 class="font-weight-normal text-right" style="color: rgb(253, 98, 124);">See All &gt;
                            </h6>
                        </a>
                    </div>
                </div>
                <div class="row slick-recommended-movies" id="laughterTherapy">
                    
                </div>
            </div>
        </section>

        <!--Popular Events-->
        <section id="outdoor-events" class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="font-weight-bold h3">Popular Events</h4>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="text-decoration-none">
                            <h6 class="font-weight-normal text-right" style="color: rgb(253, 98, 124);">See All &gt;
                            </h6>
                        </a>
                    </div>
                </div>
                <div class="row slick-recommended-movies" id="popularEvents">
                    
                </div>
            </div>
        </section>

        <div class="container d-none d-lg-block pb-5">
            <a href="#">
                <img src="../../assets/images/longLabel-2.png"
                    alt="" loading="lazy" class="w-100 rounded">
            </a>
        </div>

        <div class="bg-dark mb-5">
            <div class="container d-md-block d-lg-none p-3">
                <a href="#">
                    <img src="../../assets/images/mediumLabel-1.png"
                        alt="" loading="lazy" class="w-100 rounded">
                </a>
            </div>
        </div>

        <!--Latest Plays-->
        <section id="outdoor-events" class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="font-weight-bold h3">The Latest Plays</h4>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="text-decoration-none">
                            <h6 class="font-weight-normal text-right" style="color: rgb(253, 98, 124);">See All &gt;
                            </h6>
                        </a>
                    </div>
                </div>
                <div class="row slick-recommended-movies" id="playsSlider">
                    
                </div>
            </div>
        </section>

        <!--Top games and sports events-->
        <section id="top-sports-events" class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="font-weight-bold h3">Top Games &amp; Sports Events</h4>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="text-decoration-none">
                            <h6 class="font-weight-normal text-right" style="color: rgb(253, 98, 124);">See All &gt;
                            </h6>
                        </a>
                    </div>
                </div>
                <div class="row slick-recommended-movies" id="topSports">
                    
                </div>
            </div>
        </section>




        <!--Trending Searches-->
        <section id="trending-search">
            <div class="container d-none d-lg-block pb-5">
                <h4 class="font-weight-bold h3">Trending Searches Right Now</h4>
                <div class="d-flex flex-row flex-wrap">
                    <div class="card m-2">
                        <div class="card-body">
                            <h5 class="search-item h6">India Vs England</h5>
                            <h5 class="font-weight-normal h6">Movies</h5>
                        </div>
                    </div>
                    <div class="card m-2">
                        <div class="card-body">
                            <h5 class="search-item h6">Chaal Jeevi Laieye</h5>
                            <h5 class="font-weight-normal h6">Movies</h5>
                        </div>
                    </div>
                    <div class="card m-2">
                        <div class="card-body">
                            <h5 class="search-item h6">Fast and Furious 9</h5>
                            <h5 class="font-weight-normal h6">Movies</h5>
                        </div>
                    </div>
                    <div class="card m-2">
                        <div class="card-body">
                            <h5 class="search-item h6">ICC CWC 2019 - India Vs England (Live Screening)</h5>
                            <h5 class="font-weight-normal h6">Movies</h5>
                        </div>
                    </div>
                    <div class="card m-2">
                        <div class="card-body">
                            <h5 class="search-item h6">K.G.F. Chapter 2</h5>
                            <h5 class="font-weight-normal h6">Movies</h5>
                        </div>
                    </div>
                    <div class="card m-2">
                        <div class="card-body">
                            <h5 class="search-item h6">Suryavanshi</h5>
                            <h5 class="font-weight-normal h6">Movies</h5>
                        </div>
                    </div>
                    <div class="card m-2">
                        <div class="card-body">
                            <h5 class="search-item h6">Uppena</h5>
                            <h5 class="font-weight-normal h6">Movies</h5>
                        </div>
                    </div>
                    <div class="card m-2">
                        <div class="card-body">
                            <h5 class="search-item h6">India Vs West Indies T20</h5>
                            <h5 class="font-weight-normal h6">Movies</h5>
                        </div>
                    </div>
                    <div class="card m-2">
                        <div class="card-body">
                            <h5 class="search-item h6">L2: Empurran</h5>
                            <h5 class="font-weight-normal h6">Movies</h5>
                        </div>
                    </div>
                    <div class="card m-2">
                        <div class="card-body">
                            <h5 class="search-item h6">West Indies Vs India T20 Match 1</h5>
                            <h5 class="font-weight-normal h6">Movies</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="bg-dark mb-5">

            <div class="container d-md-block d-lg-none p-3">
                <a href="#">
                    <img src="../../assets/images/mediumLabel-2.png"
                        alt="" loading="lazy" class="w-100 rounded">
                </a>
            </div>

        </div>

        <!--explore fun activities-->
        <section id="fun-activities" class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="font-weight-bold h3">Explore Fun Activities</h4>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="text-decoration-none">
                            <h6 class="font-weight-normal text-right" style="color: rgb(253, 98, 124);">See All &gt;
                            </h6>
                        </a>
                    </div>
                </div>
                <div class="row slick-recommended-movies" id="funActivities">
                    
                </div>
            </div>
        </section>
    </div>
</section>