<div class="col-sm-3 my-5">
    <ul class="list-unstyled h3 text-left">
        <li>Day 15</li>
        <li><a routerLink="Js15pra1"routerLinkActive="text-dark">Practicl 1</a></li>
        <li><a routerLink="Js15pra2">Practicl 2</a></li>
        <li><a routerLink="Js15assingment">Assingment</a></li>
        <li>Day 16</li>
        <li><a routerLink="Js16pra1"routerLinkActive="text-dark">Practicl 1</a></li>
        <li><a routerLink="Js16pra2">Practicl 2</a></li>
        <li><a routerLink="Js16pra3">Practicl 3</a></li>
        <li><a routerLink="Js16pra4">Practicl 4</a></li>
        <li><a routerLink="Js16pra5">Practicl 5</a></li>
        <li><a routerLink="Js16assingment">Assingment</a></li>
        <li>Day 17</li>
        <li><a routerLink="Js17pra1"routerLinkActive="text-dark">Practicl 1</a></li>
        <li><a routerLink="Js17pra2">Practicl 2</a></li>
        <li><a routerLink="Js17pra3">Practicl 3</a></li>
        <li><a routerLink="Js17assingment">Assingment</a></li>
        <li>Day 18</li>
        <li><a routerLink="Js18pra1"routerLinkActive="text-dark">Practicl 1</a></li>
        <li><a routerLink="Js18pra2">Practicl 2</a></li>
        <li><a routerLink="Js18pra3">Practicl 3</a></li>
        <li>Day 19</li>
        <li><a routerLink="Js19pra1"routerLinkActive="text-dark">Practicl 1</a></li>
        <li><a routerLink="Js19pra2">Practicl 2</a></li>
        <li><a routerLink="Js19pra3">Practicl 3</a></li>
        <li><a routerLink="Js19pra4"routerLinkActive="text-dark">Practicl 4</a></li>
        <li><a routerLink="Js19pra5">Practicl 5</a></li>
        <li><a routerLink="Js19pra6">Practicl 6</a></li>
        <li>Day 20</li>
        <li><a routerLink="Js20practice1"routerLinkActive="text-dark">Practicl 1</a></li>
        <li><a routerLink="Jsassignment1">Assingment 1</a></li>
        <li><a routerLink="Jsassignment">Assingment 2</a></li>
    </ul>
  </div>
  <div class="col-sm-9">
    <router-outlet></router-outlet>
  </div>