<section id="left">
    <nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3" id="sidebar">
                    <ul class="navbar-nav">
                        <li class="nav-items">

                            <ul class="list-group"> Day3
                                <li class="list-group-item">
                                    <a routerLink="article" class="nav-link">Article</a>
                                </li>
                                <li class="list-group-item">
                                    <a routerLink="student-report-card" class="nav-link">student-report-card</a>
                                </li>
                                <li class="list-group-item">
                                    <a routerLink="Employee-Form" class="nav-link">Employee-Form</a>
                                <li class="list-group-item">
                                <a routerLink="HrDepartment" class="nav-link">HR-department</a></li>
                                <li class="list-group-item">
                                    <a routerLink="Login-form" class="nav-link">login-Form</a>
                                <li class="list-group-item">
                                    <a routerLink="navigation" class="nav-link">navigation</a>
                                </li>

                            </ul>

                        </li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </nav>
</section>
<hr>
<section id="foot">
    <footer class="text-center border-bottom">
        <p><span>&copy;RadixWeb.com(2020-21)</span></p>
        <p><span>&copy;Tirth-Patel(Trainee)</span></p>
    </footer>
</section>