<div class="main">

    <div class="top">
        <p>
        <li><h2>Jevik Raiyani</h2></li>
        <li>Gondal,Gujarat-360311</li>
        <li>+91 7096240696</li>
        <li><a href="mailto:jevikraiyani12@gmail.com">jevikraiyani12@gmail.com</a><li>
        <li><a href="https://www.linkedin.com/in/jevik-raiyani">www.linkedin.com/in/jevik-raiyani</a></li>
        </p>   
    </div>

    <div>
        <h3>PERSONAL INFORMATION</h3>
        <p>
        
            <li><b>College:</b> Viswakarma Government Engineering College</li>
            <li><b>Steam:</b> Computer Engineering</li>
            <li><b>Enroll.no:</b> 170170107085</li>
            <li><b>DOB: </b>12 Dec,1999</li>
            <li><b>Languages Known:</b> Gujatati, Hindi, English</li>
            <li><b>Skill:</b> To slove logical problem(Strong Mathematical Background)</li>
        
        </p>
    </div>
    <h3>Education</h3>
        <table>
            <tr id="heading">
                <td>Qualification</td>
                <td>Institute/School</td>
                <td>Year</td>
                <td>Result(%)</td>
            </tr>
            <tr>
                <td>BE(COM)</td>
                <td>Vishwakarma Government Engineering College(Ahmedabad)</td>
                <td>2021</td>
                <td>72%</td>
            </tr>
            <tr>
                <td>H.S.C</td>
                <td>B.A.P.S. Swaminarayan Vidhyamandir(Gondal)</td>
                <td>2017</td>
                <td>74%</td>
            </tr>
            <tr>
                <td>S.S.C</td>
                <td>B.A.P.S. Swaminarayan Vidhyamandir(Gondal)</td>
                <td>2015</td>
                <td>82%</td>
            </tr>
        
        
        </table>

        <div>
            <h3>CARRER OBJECTIVE</h3>
           
            <ul>
                <li>To learn and impletement my knowledge for sustainable 
                    devopment of my company <br> with honesty</li>
            </ul>    
          
        </div>
        <div id="video">
           <h3 style="margin-bottom: 4px;">Final Year Project</h3>
            <video controls height="150px" width="150px" id="video1">
                <source src="../../../assets/photos/WIN_20210109_11_28_52_Pro.mp4">   
            </video>
        </div>
        <div>
            <h3>LANGUAGES AND TECHNOLOGIES</h3>
         
            <ul>
                <li><b>Familiar:</b> C/C++, Java, SQL</li>
                <li><b>Web Technologies:</b> HTML,CSS</li>
            </ul>    
          
        </div>
       
        <div>
            <h3>HOBBIES</h3>
           
            <ul>
                <li>To solve logical problem</li>
                <li>Playing Cricket,Chess</li>
                <li>Travelling, Tracking, Hiking</li>
            </ul>    
            
        </div>

       

        <div>
            <h3>ACTIVITY</h3>
           
            <ul>
                <li>Volunteer in <b> Inviciblengo</b>(Since March19)</li>
            </ul>    
         
        </div>
        <div>
            <h3>MEDAL AND ACHIVEMENTS</h3>
            <p>
                <li>Win <b> A.R.Rao</b> Mathematical State level compeltition in 2017(5th Renk)</li>
           
            </p>
        </div>
</div>