<h1>Employee Form</h1>
<form>
    <label for="fname">First Name:</label>
    <input type="text" id="fname" required> 
    <label for="laname">Last Name:</label>
    <input type="text" id="laname" required> 
    <br>

    <label for="age">Age:</label>
    <input type="number" id="age" name="age" min="20" max="100" required>
    <br>

    <label for="gender" >gender:</label>
    <input type="radio" id="male" value="male" name="gender">
    <label for="male">Male</label>
    <input type="radio" id="female" value="female" name="gender">
    <label for="female">Female</label>
    <input type="radio" id="other" value="other" name="gender">
    <label for="other">Other</label>
    <br>

    <label for="desigation">Designation</label>
    <input type="text" id="designation" required>
    <br>

    <label for="salary">Salary</label>
    <input type="number" id="salary" min="1"  required>
    <br>

    <label for="data-list">Location:</label>
    <input type="text" list="myDatalist">
    <datalist  id="myDatalist">
        <option label="Ahmedabad" value="Ahmedabad"><option>
        <option label="Rajkot" value="Rajkot"></option>
        <option label="Gandhinagar" value="Gandhinagar"></option>
    </datalist>
    <br>

    <label for="email">Enter your email:</label>
    <input type="email" id="email" name="email" required multiple>
    <br>

    <label for= "date-input">Date of Joining</label>
    <input type="date" id="date-input" required>
    <br>

    <label for="tel-data"> Contact Number:</label>
    <input type="tel" id="tel-data"  required name="tel-data"placeholder="1234567890" pattern="[0-9]{10}">
    <br>

    <input type="submit"  value="submit">
    <input type="reset">
</form>

<h1>Employee Form</h1>
<form>
    <label for="fname">First Name:</label>
    <input type="text" id="fname" required> 
    <label for="laname">Last Name:</label>
    <input type="text" id="laname" required> 
    <br>

    <label for="age">Age:</label>
    <input type="number" id="age" name="age" min="20" max="100" required>
    <br>

    <label for="gender" >gender:</label>
    <input type="radio" id="male" value="male" name="gender">
    <label for="male">Male</label>
    <input type="radio" id="female" value="female" name="gender">
    <label for="female">Female</label>
    <input type="radio" id="other" value="other" name="gender">
    <label for="other">Other</label>
    <br>

    <label for="desigation">Designation</label>
    <input type="text" id="designation" required>
    <br>

    <label for="salary">Salary</label>
    <input type="number" id="salary" min="1"  required>
    <br>

    <label for="data-list">Location:</label>
    <input type="text" list="myDatalist">
    <datalist  id="myDatalist">
        <option label="Ahmedabad" value="Ahmedabad"><option>
        <option label="Rajkot" value="Rajkot"></option>
        <option label="Gandhinagar" value="Gandhinagar"></option>
    </datalist>
    <br>

    <label for="email">Enter your email:</label>
    <input type="email" id="email" name="email" required multiple>
    <br>

    <label for= "date-input">Date of Joining</label>
    <input type="date" id="date-input" required>
    <br>

    <label for="tel-data"> Contact Number:</label>
    <input type="tel" id="tel-data"  required name="tel-data"placeholder="1234567890" pattern="[0-9]{10}">
    <br>

    <input type="submit"  value="submit">
    <input type="reset">
</form>

