    <!--This site is only created for iphoneX, ipad and laptop(15.6") view-->
        <!--Header section-->
        <header>
            <img src="../../assets/images/day7_logo5.png" alt="logo" width="150" height="60">
            <div class="menu">
                <div class="logins">
                    <a href="#">Languages</a>
                    <a href="#">Help</a>
                    <a href="#">Login</a>
                </div>
                <div class="navigations">
                    <a href="#">Home</a>
                    <a href="#">Pages&nbsp;<i class="bi bi-caret-down-fill" style="color: gray;"></i></a>
                    <a href="#">Blog</a>
                    <a href="#">Portfolio</a>
                    <a href="#">Features</a>
                    <a href="#">Shortcodes</a>
                </div>
            </div>
        </header>
        <div>
            <img src="../../assets/images/day7_bg.jpg" alt="bg img" width="100%" id="bg-img">
            <div class="main-content">
            <div class="about">
                <div class="about-content">
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus necessitatibus vel</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, officia? Animi molestiae perferendis pariatur, dolorem at officia sapiente suscipit dignissimos quidem qui culpa consequatur? Velit eligendi similique earum repellat! Repellendus?</p>
                </div>
                <a href="#" class="download-btn"><i class="bi bi-cloud-arrow-down-fill" style="color: white"></i>&nbsp;Download Now</a>
                
            </div>
            <hr/>
            <div class="content">
                <div>
                    <h2>Fully Responsive</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, ipsam nemo. Quo doloremque dolores ex quis</p>
                </div>
                <div>
                    <h2>HTML5 + CSS3</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, ipsam nemo. Quo doloremque dolores ex quis</p>
                </div>
                <div>
                    <h2>Launch Ready</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, ipsam nemo. Quo doloremque dolores ex quis</p>
                </div>
            </div><br/>
            <div class="recent-works">
                <h2>Recent Works</h2>
                <div class="recent-works-blocks">
                    <div class="recent-works-blocks1">
                        <div>
                            <img src="../../assets/images/day7_img1.jpg" alt="img1" width="329" height="220">
                            <div class="recent-works-content">
                                <h3>Project One</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, ipsam nemo. Quo doloremque dolores ex quis</p>
                            </div>
                        </div>
                        <div>
                            <img src="../../assets/images/day7_img1.jpg" alt="img1" width="329" height="220">
                            <div class="recent-works-content">
                                <h3>Project One</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, ipsam nemo. Quo doloremque dolores ex quis</p>
                            </div>
                        </div>
                    </div>
                    <div class="recent-works-blocks1">
                        <div>
                            <img src="../../assets/images/day7_img1.jpg" alt="img1" width="329" height="220">
                            <div class="recent-works-content">
                                <h3>Project One</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, ipsam nemo. Quo doloremque dolores ex quis</p>
                            </div>
                        </div>
                        <div>
                            <img src="../../assets/images/day7_img1.jpg" alt="img1" width="329" height="220">
                            <div class="recent-works-content">
                                <h3>Project One</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, ipsam nemo. Quo doloremque dolores ex quis</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br/>
            <div class="welcome-site">
                <div class="welcome">
                    <h2>Welcome to this site</h2>
                
                    <img src="../../assets/images/day7_img1.jpg" alt="img1" width="329" height="220">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, ipsam nemo. Quo doloremque dolores ex quis</p>
                    <p><i class="bi bi-check2" style="color: green;"></i>&nbsp;Lorem ipsum dolor sit amet consectetur</p>
                    <p><i class="bi bi-check2" style="color: green;"></i>&nbsp;Lorem ipsum dolor sit amet </p>
                    <p><i class="bi bi-check2" style="color: green;"></i>&nbsp;Lorem ipsum dolor sit</p>
                    <p><i class="bi bi-check2" style="color: green;"></i>&nbsp;Lorem ipsum dolor sit amet</p>
                    <div class="ceo-msg">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime vel excepturi ut asperiores doloremque maiores, ullam iusto at reiciendis aliquid provident delectus impedit fuga minus nihil tenetur minima assumenda quae.</p>
                        <h3> - CEO, Jack Bour</h3>
                    </div>
                </div><br/>
                <div class="latest-shots">
                    <h2>Latest Shots</h2>
                    <img src="../../assets/images/day7_img2.jpg" alt="img2" width="329" height="220">
                </div>
            </div>
            <br/>
            <div class="clients">
                <h2>Our Clients</h2>
                <div class="clients-img">
                    <img src="../../assets/images/day7_logo9.png" alt="clientimg" width="60" height="50">
                    <img src="../../assets/images/day7_logo9.png" alt="clientimg" width="60" height="50">
                    <img src="../../assets/images/day7_logo9.png" alt="clientimg" width="60" height="50">
                    <img src="../../assets/images/day7_logo9.png" alt="clientimg" width="60" height="50">
                    <div class="clients-img1">
                        <img src="../../assets/images/day7_logo9.png" alt="clientimg" width="60" height="50">
                        <div class="clients-img2">
                            <img src="../../assets/images/day7_logo9.png" alt="clientimg" width="60" height="50">
                            <img src="../../assets/images/day7_logo9.png" alt="clientimg" width="60" height="50">
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <footer>
            <div class="footer-logo">
                <img src="../../assets/images/day7_logo5.png" alt="logo" width="100" height="60">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora voluptatibus consequuntur voluptas necessitatibus! Sapiente eius doloribus sint, est consequatur quia obcaecati exercitationem ad incidunt eos iure voluptate ipsum at? Temporibus!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum officiis consequatur laudantium placeat quidem, minus sunt suscipit facilis voluptate laboriosam totam! Eius dolorum, perferendis non officiis in minima. Temporibus, tempore!</p>
            </div>
            <br/>
            <div class="latest-posts">
                <h2>Latest Posts</h2>
                <h3>Incredible Content</h3>
                <h3>May 8, 2014</h3>
                <br>
                <hr style = "border: 1px solid gray; margin-top:-10px; margin-bottom:-20px;">
                <br>
                <h3>Incredible Content</h3>
                <h3>May 8, 2014</h3>
                <br>
                <hr style="border: 1px solid gray; margin-top:-10px; margin-bottom:-20px;">
                <br>
                <h3>Incredible Content</h3>
                <h3>May 8, 2014</h3>
            </div>
            <div class="footer-links">
                <div>
                    <h2>Useful Links</h2>
                    <div class="useful-links">
                        <h3>About Us<i class="bi bi-caret-right-fill" style="color: gray;margin: 0 0 0 230px;"></i></h3>
                        <h3>About Us<i class="bi bi-caret-right-fill" style="color: gray;margin: 0 0 0 230px;"></i></h3>
                        <h3>About Us<i class="bi bi-caret-right-fill" style="color: gray;margin: 0 0 0 230px;"></i></h3>
                        <h3>About Us<i class="bi bi-caret-right-fill" style="color: gray;margin: 0 0 0 230px;"></i></h3>
                        <h3 style="border-bottom: 0px;">About Us<i class="bi bi-caret-right-fill" style="color: gray;margin: 0 0 0 230px;"></i></h3>
                    </div>
                </div>
                <div class="contact-us">
                    <h2>Contact Us</h2>
                    <h3>30/B, Adarsh Society,<br/>Near kaashi parekh complex,<br>Swastik crossroad,<br>Ahmedabad-380059<br>Gujarat-India<br>Phone - <span style="color: green;">+91-79-2797458</span></h3>
                    
                </div>
            </div>
        </footer>
        <div class="privacy-policy">
            <h5>&copy;2015, All copyrights reserved</h5>
            <div class="socials">
                <a href=""><i class="bi bi-twitter" style="font-size: 20px;"></i></a>
                <a href=""><i class="bi bi-facebook" style="font-size: 20px;"></i></a>
                <a href=""><i class="bi bi-github" style="font-size: 20px;"></i></a>
                <a href=""><i class="bi bi-linkedin" style="font-size: 20px;"></i></a>
                <a href=""><i class="bi bi-google" style="font-size: 20px;"></i></a>
            </div>
        </div>
