$primary-color: #00aaff;
$bg-color: #333;
$font-color: white;
$bg-overlay:rgba(0,0,0,0.6);
$font-size: 30px;

html {
    scroll-behavior: smooth;
}

body{
    background-color: $bg-color;
    color: $font-color;
}

.navbar{
    border-bottom:3px solid $primary-color;
    opacity: 0.8;
}

#intro{
    background: url('../img/home.jpg');
    background-size: cover;
    background-attachment: fixed;

    .form-card {
        background-color: $primary-color;
    }
    
    #intro-form button{
        color: $font-color;
        border:1px solid $font-color;
    }
    
    .intro-inner{
        background-color: $bg-overlay;
        height: 100%;
    }

    .fa{
        color: $primary-color;
        background-color: $font-color;
        padding:5px;
        border-radius: 5px;
        font-size: $font-size;
    }
}

#explore{

    button{
        color: $font-color;
        border: 1px solid $font-color;
    }


    .fa {
        padding:5px;
        border-radius: 5px;
        font-size: 50px;
    }
}

#create{
    #create-head{
        background-color: $primary-color;
    }

    button{
        color: $font-color;
        border: 1px solid $font-color;
    }


    .fa{
        color: $primary-color;
        background-color: $font-color;
        padding:5px;
        border-radius: 5px;
        font-size: $font-size;
    }
}

#share{
    #share-head{
        background-color: $primary-color;
    }

    button{
        color: $font-color;
        border: 1px solid $font-color;
    }


    .fa{
        color: $font-color;
        background-color: $bg-color;
        padding:5px;
        border-radius: 5px;
        font-size: $font-size;
    }
}

#footer{
    button{
        background-color: $primary-color;
    }
}

.modal{
    .modal-footer{
        button{
            background-color: $primary-color;
        }
    }
}

