<html>
    <head>
        <title>
            prectice 2
        </title>
       
    </head>
    <body>
        <div class="text-center mt-5 w-50 mx-auto bg-dark text-white">
            <h2 >Alert TO Citys</h2>

            <button onclick="myFunction()">All City</button>
            <p id="demo"></p>
        <script>
            function myFunction() {
            var city=["Bhavnagar","Rajkot","Bombay","Ahemdabad","Surat"];
            for(i=0;i<city.length;i++){
            alert(city[i]);
            }      
            }
        </script>
        </div>
    </body>
</html>