.flex-box {
    display: flex;
    align-items: stretch;
    background-color: blueviolet;
}

.flex-box div{
    margin: 5px;
    height: 100px;
    width: 100px;
    padding: 20px;
    font-size: 30px;
    background-color: burlywood;
}

.flex-box:nth-child(3) {
    flex-grow: 3;
}
