[class*="col-"] .ng-valid[required], .ng-valid.required  {
    border: 2px solid #42A948; /* green */
  }
  
  [class*="col-"] .ng-invalid:not(col)  {
    border: 2px solid #a94442; /* red */
  }

.errorMsg{
    color: #a94442;
    font-size: 15px;
    font-weight: normal;
    
}
/* 
  .col-md-3 .ng-valid[required], .ng-valid.required  {
    border: 1px solid #42A948; /* green */
  /*}
  
  .col-md-3 .ng-invalid:not(col)  {
    border: 1px solid #a94442; /* red */
  /*} */
/*     
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: .5rem;
  }
  
  select {
    width: 100%;
    padding: .5rem;
  } */