<div class="container mt-3">
    <h3 class="display-4">Student Admission Form</h3>
    <br>
    <div class="row">
        
        <!--Reactive form for student admission-->
        <form [formGroup] = "studentForm" (ngSubmit)="profileSubmit()">

            <!--Form group for student name-->
            <div formGroupName="name">
                <h5>Student Name</h5>
              
                <div class="row">
                    <div class="col-md-4">
                        <label>
                        First Name:
                        <input type="text" formControlName="first" class="form-control" required>
                        </label>
                        <br>
                        <span [ngClass]="'errorMsg'" *ngIf="StudFName.touched && StudFName.invalid">Valid Firstname is required</span>
                        <br>
                    </div>
                    
                    <div class="col-md-4">
                        <label>
                        Middle Name:
                        <input type="text" formControlName="middle" class="form-control" required>
                        </label><br>
                        <span [ngClass]="'errorMsg'" *ngIf="StudMName.touched && StudMName.invalid">Valid Middlename is required</span>
                        <br>
                    </div>
                     
                    <div class="col-md-4">
                        <label>
                        Last Name:
                        <input type="text" formControlName="last" class="form-control" required>
                        </label><br>
                        <span [ngClass]="'errorMsg'" *ngIf="StudLName.touched && StudLName.invalid">Valid Lastname is required</span>
                        <br>
                    </div>
                </div>
            </div>
            <br>     
            <div class="row">
                <div class="col-md-4">
                    <label>Date Of Birth:
                        <input type="date" formControlName="dob" class="form-control" required>
                    </label>
                    <br>
                    <span [ngClass]="'errorMsg'" *ngIf="studentForm.controls.dob.touched && studentForm.controls.dob.invalid">Valid DOB is required</span>
                    <br>
                </div>

                <div class="col-md-4">
                    <label>Place of Birth:
                        <input type="text" formControlName="birthPlace" class="form-control" required>
                    </label>
                    <br>
                    <span [ngClass]="'errorMsg'" *ngIf="studentForm.controls.birthPlace.touched && studentForm.controls.birthPlace.invalid">Valid Birth Place is required</span>
                    <br>
                </div>

                <div class="col-md-4">
                    <label>First Language:
                        <input type="text" formControlName="language" class="form-control" required>
                    </label>
                    <br>
                    <span [ngClass]="'errorMsg'" *ngIf="studentForm.controls.language.touched && studentForm.controls.language.invalid">Valid language is required</span>
                    <br>
                </div>
            </div>
            <br>

            <!--form group of address-->
            <div formGroupName="address">
                <h5>Address</h5>
              
                <div class="row">
                    <div class="col-md-3">
                        <label>
                        City:
                        <input type="text" formControlName="city" class="form-control" required>
                        </label>
                        <br>
                        <span [ngClass]="'errorMsg'" *ngIf="AddressCity.touched && AddressCity.invalid">Valid city is required</span>
                        <br>
                    </div>
                
                    <div class="col-md-3">
                        <label>
                        State:
                        <input type="text" formControlName="state" class="form-control" required>
                        </label>
                        <br>
                        <span [ngClass]="'errorMsg'" *ngIf="AddressState.touched && AddressState.invalid">Valid state is required</span>
                        <br>
                    </div>
                    
                    <div class="col-md-3">
                        <label>
                        Country:
                        <input type="text" formControlName="country" class="form-control" required>
                        </label>
                        <br>
                        <span [ngClass]="'errorMsg'" *ngIf="AddressCountry.touched && AddressCountry.invalid">Valid country is required</span>
                        <br>
                    </div>
                
                    <div class="col-md-3">
                        <label>
                        Pincode:
                        <input type="text" formControlName="pin" class="form-control" required>
                        </label>
                        <br>
                        <span [ngClass]="'errorMsg'" *ngIf="AddressPin.touched && AddressPin.invalid">Valid pin is required</span>
                        <br>
                    </div>
                </div>
            </div>
            <br>

            <!--form group for father's information-->
            <div formGroupName="father">
                <h5>Father Information</h5>

                <!--form group for father's full name-->
                <div formGroupName="fullName">
                    <div class="row">
                        <div class="col-md-4">
                            <label>
                                First Name:
                                <input type="text" formControlName="first" class="form-control" required>
                            </label>
                            <br>
                            <span [ngClass]="'errorMsg'" *ngIf="FatherFName.touched && FatherFName.invalid">Valid Firstname is required</span>
                            <br>
                        </div>
                        
                        <div class="col-md-4">
                            <label>
                                Middle Name:
                            <input type="text" formControlName="middle" class="form-control" required>
                            </label>
                            <br>
                            <span [ngClass]="'errorMsg'" *ngIf="FatherMName.touched && FatherMName.invalid">Valid Middlename is required</span>
                            <br>
                        </div>
                        
                        <div class="col-md-4">
                            <label>
                                Last Name:
                            <input type="text" formControlName="last" class="form-control" required>
                            </label>
                            <br>
                            <span [ngClass]="'errorMsg'" *ngIf="FatherLName.touched && FatherLName.invalid">Valid Lastname is required</span>
                            <br>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4">
                        <label>
                        Email:
                        <input type="email" formControlName="email" class="form-control" required>
                        </label>
                        <br>
                        <span [ngClass]="'errorMsg'" *ngIf = "FatherEmail.touched && FatherEmail.invalid">Valid email is required</span>
                        <br>
                    </div>
              
                    <div class="col-md-4">
                        <label>
                        Educational Qualification:
                        <input type="text" formControlName="qualification" class="form-control" required>
                        </label>
                        <br>
                        <span [ngClass]="'errorMsg'" *ngIf = "FatherQualification.touched && FatherQualification.invalid">Valid qualification is required</span>
                        <br>
                    </div>
                        
                    <div class="col-md-4">
                        <label>
                        Profession:
                        <input type="text" formControlName="profession" class="form-control" required>
                        </label>
                        <br>
                        <span [ngClass]="'errorMsg'" *ngIf = "FatherProfession.touched && FatherProfession.invalid">Valid profession is required</span>
                        <br>
                    </div>
                </div>
              
                <div class="row">
                    <div class="col-md-4">
                        <label>
                        Designation:
                        <input type="text" formControlName="designation" class="form-control">
                        </label>
                    </div>

                    <div class="col-md-4">
                        <label>
                            Contact No:
                            <input type="number" formControlName="phone" class="form-control" required>
                        </label>
                        <br>
                        <span [ngClass]="'errorMsg'" *ngIf = "FatherPhone.touched && FatherPhone.invalid">Valid contact no is required</span>
                        <br>
                    </div>
                </div>
            </div>
            <br>

            <!--form group for mother's information-->
            <div formGroupName="mother">
                <h5>Mother Information</h5>

                <!--form group for mother's full name-->
                <div formGroupName="fullName">
                    <div class="row">
                        <div class="col-md-4">
                            <label>
                                First Name:
                                <input type="text" formControlName="first" class="form-control" required>
                            </label>
                            <br>
                            <span [ngClass]="'errorMsg'" *ngIf = "MotherFName.touched && MotherFName.invalid">Valid firstname is required</span>
                            <br>
                        </div>
                        
                        <div class="col-md-4">
                            <label>
                                Middle Name:
                            <input type="text" formControlName="middle" class="form-control" required>
                            </label>
                            <br>
                            <span [ngClass]="'errorMsg'" *ngIf = "MotherMName.touched && MotherMName.invalid">Valid middlename is required</span>
                            <br>
                        </div>
                        
                        <div class="col-md-4">
                            <label>
                                Last Name:
                            <input type="text" formControlName="last" class="form-control" required>
                            </label>
                            <br>
                            <span [ngClass]="'errorMsg'" *ngIf = "MotherLName.touched && MotherLName.invalid">Valid lastname is required</span>
                            <br>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4">
                        <label>
                        Email:
                        <input type="email" formControlName="email" class="form-control" required>
                        </label>
                        <br>
                        <span [ngClass]="'errorMsg'" *ngIf = "MotherEmail.touched && MotherEmail.invalid">Valid email is required</span>
                        <br>
                    </div>
              
                    <div class="col-md-4">
                        <label>
                        Educational Qualification:
                        <input type="text" formControlName="qualification" class="form-control" required>
                        </label>
                        <br>
                        <span [ngClass]="'errorMsg'" *ngIf = "MotherQualification.touched && MotherQualification.invalid">Valid qualification is required</span>
                        <br>
                    </div>
                        
                    <div class="col-md-4">
                        <label>
                        Profession:
                        <input type="text" formControlName="profession" class="form-control">
                        </label>
                    </div>
                </div>
              
                <div class="row">
                    <div class="col-md-4">
                        <label>
                        Designation:
                        <input type="text" formControlName="designation" class="form-control">
                        </label>
                    </div>

                    <div class="col-md-4">
                        <label>
                            Contact No:
                            <input type="number" formControlName="phone" class="form-control" required>
                        </label>
                        <br>
                        <span [ngClass]="'errorMsg'" *ngIf = "MotherPhone.touched && MotherPhone.invalid">Valid contact no is required</span>
                        <br>
                    </div>
                </div>
            </div>
            <br>

            <!--form array for emergency contacts-->
            <div formArrayName = "emergencyContacts">
                <h5>Emergency Contacts</h5>
                <div *ngFor="let emergencyContact of getEmergencyContacts.controls; let i=index">

                    <!--form group for emergency contact's list-->
                    <div [formGroupName]="i">
                        <div class="row">
                            <div class="col-md-4">
                                <label>
                                    Relation:
                                    <input type="text" name="" id="" formControlName="relation" class="form-control" required>
                                </label>
                                <br>
                                <span [ngClass]="'errorMsg'" *ngIf = "getEmergencyContactsGroup(i).controls.relation.touched && getEmergencyContactsGroup(i).controls.relation.invalid">Valid relation is required</span>
                                <br>
                            </div>

                            <div class="col-md-4">
                                <label>
                                    Contact No:
                                    <input type="number" name="" id="" formControlName="contact" class="form-control" required>
                                </label>
                                <br>
                                <span [ngClass]="'errorMsg'" *ngIf = "getEmergencyContactsGroup(i).controls.contact.touched && getEmergencyContactsGroup(i).controls.contact.invalid">Valid contact no is required</span>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <button (click)="addEmergencyContacts()" class="btn btn-secondary" type="button">Add Emergency Contact</button>

            </div>
            <br>

            <!--form array for reference details-->
            <div formArrayName = "referenceDetails">
                <h5>Reference Details</h5>
                <div *ngFor="let referenceDetails of getReferenceDetails.controls; let i=index">

                    <!--form group for reference detail's list-->
                    <div [formGroupName]="i">
                        <div class="row">
                            <div class="col-md-4">
                                <label>
                                    Reference Through:
                                    <input type="text" name="" id="" formControlName="referenceThrough" class="form-control" required>
                                </label>
                                <br>
                                <span [ngClass]="'errorMsg'" *ngIf = "getReferenceDetailsGroup(i).controls.referenceThrough.touched && getReferenceDetailsGroup(i).controls.referenceThrough.invalid">Valid reference detail is required</span>
                                <br>
                            </div>

                            <div class="col-md-4">
                                <label>
                                    Address:
                                    <input type="text" name="" id="" formControlName="address" class="form-control" required>
                                </label>
                                <br>
                                <span [ngClass]="'errorMsg'" *ngIf = "getReferenceDetailsGroup(i).controls.address.touched && getReferenceDetailsGroup(i).controls.address.invalid">Valid address is required</span>
                                <br>
                            </div>

                            <div class="col-md-4">
                                <label>
                                    Contact No:
                                    <input type="number" name="" id="" formControlName="contact" class="form-control" required>
                                </label>
                                <br>
                                <span [ngClass]="'errorMsg'" *ngIf = "getReferenceDetailsGroup(i).controls.contact.touched && getReferenceDetailsGroup(i).controls.contact.invalid">Valid contact is required</span>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <button (click)="addReferenceDetails()" class="btn btn-secondary" type="button">Add Reference Details</button>

            </div>
            <button type="submit" class="btn btn-primary mt-3" [disabled]="!studentForm.valid">Submit</button>
        </form>
    </div>
    <br>
    <div class="row">

        <!--table of student's information-->
        <h3>Students List</h3>
        <table class="table table-bordered table-responsive">
            <thead>
                <th>Name</th>
                <th>DOB</th>
                <th>Birth Place</th>
                <th>First Language</th>
                <th>Address</th>
                <th>Father's Name</th>
                <th>Father's Email</th>
                <th>Father's Educational Qualification</th>
                <th>Father's Profession</th>
                <th>Father's Designation</th>
                <th>Father's Contact No</th>
                <th>Mother's Name</th>
                <th>Mother's Email</th>
                <th>Mother's Educational Qualification</th>
                <th>Mother's Profession</th>
                <th>Mother's Designation</th>
                <th>Mother's Contact No</th>
                <th>Emergency Contact's Relation/Contact No</th>
                <th>Reference Through/Address/Contact No</th>
            </thead>
            <tbody>
                <ng-container *ngFor = "let student of studentList">
                        <tr>
                            <td>{{student.name}}</td>
                            <td>{{student.dob}}</td>
                            <td>{{student.placeOfBirth}}</td>
                            <td>{{student.language}}</td>
                            <td>{{student.address}}</td>
                            <td>{{student.fatherName}}</td>
                            <td>{{student.fatherEmail}}</td>
                            <td>{{student.fatherQualification}}</td>
                            <td>{{student.fatherProfession}}</td>
                            <td>{{student.fatherDesignation}}</td>
                            <td>{{student.fatherPhone}}</td>
                            <td>{{student.motherName}}</td>
                            <td>{{student.motherEmail}}</td>
                            <td>{{student.motherQualification}}</td>
                            <td>{{student.motherProfession}}</td>
                            <td>{{student.motherDesignation}}</td>
                            <td>{{student.motherPhone}}</td>
                            <td [ngStyle]="{padding : 0}">
                                <ng-container *ngFor = "let emergencyContact of student.emergencyContact; let i = index">
                                    <tr>
                                        <td>{{emergencyContact.relation}}</td>
                                        <td>{{emergencyContact.contact}}</td>
                                    </tr>
                                </ng-container>
                            </td>
                            <td [ngStyle]="{padding : 0}">
                                <ng-container *ngFor = "let referenceDetails of student.referenceDetails; let i = index">
                                    <tr>
                                        <td>{{referenceDetails.referenceThrough}}</td>
                                        <td>{{referenceDetails.address}}</td>
                                        <td>{{referenceDetails.contact}}</td>
                                    </tr>
                                </ng-container>
                            </td>
                        </tr>
                </ng-container>
            </tbody>
        </table>

        <p>
            Form Value: {{ studentForm.value | json }}
        </p>

    </div>
</div>