nav{
    background:lightgreen;
}
nav img{
    width: 80px;
    height: 80px;
}
nav a{
    text-decoration: none;
    color: white;
}
.first_div {
    position:static;
    width: 350px;
    height: 200px;
    float: left;
    border: 1px solid blue;
    border-radius: 5px;
    overflow:auto;
}
.second_div {
    position:relative;
    width: 350px;
    height: 200px;
    float: right;
    border: 1px solid blue;
    border-radius: 5px;
    overflow:hidden;
}
.third_div {
    width: 350px;
    height: 200px;
    float: right;
    border: 1px solid blue;
    border-radius: 5px;
    overflow:scroll;
}
#mainContent .container {
    width: 1000px;
    margin: auto;
}
#mainContent .container header {
    background-color: red;
    height: 60px;
}
#mainContent .container .body {
    height: 500px;
}
#mainContent .container footer {
    background-color: hotpink;
    height: 60px;
}
.leftFloat {
    background-color: yellow;
    width: 200px;
    float: left;
    height: 500px;
}
.rightFloat {
    background-color:darkorange;
    height: 500px;
}