<div class="pt-5 px-5">
    <app-find-job></app-find-job>
    <div class="row">
        <div class="col">
            <app-recommended-jobs></app-recommended-jobs>
            <app-horizontal-ad></app-horizontal-ad>
            <div class="row">
                <div class="col-2">
                    <app-top-employers></app-top-employers>
                    <app-vertical-ad></app-vertical-ad>
                </div>
                <div class="col">
                    <app-best-places-to-work></app-best-places-to-work>
                    <app-job-gallery></app-job-gallery>
                </div>
            </div>
        </div>
        <div class="col-3">
            <app-search-jobs-on-go></app-search-jobs-on-go>
            <app-get-best-matched-jobs></app-get-best-matched-jobs>
            <app-job-speak></app-job-speak>
            <app-fast-forward></app-fast-forward>
            <app-learning></app-learning>
            <app-services-for-recruiters></app-services-for-recruiters>
            <app-premium-designations></app-premium-designations>
            <app-top-skill></app-top-skill>
            <app-job-by-category></app-job-by-category>
            <app-job-by-location></app-job-by-location>
            <app-learning-courses></app-learning-courses>
        </div>
    </div>
</div>