body {
    background-color:turquoise;
}
div
	{
	border:4px solid darkmagenta;
	border-width: 15px;
	margin-left: 200px;
	margin-right: 200px;
    margin-top: 50px
    }
img {
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50%;
    }    
h3 {
    margin-left: 400px;
    }
p>h3
{
    margin-left: 10px;
}    
h2 {
    margin-left: 10px;
}           
p{
    margin-left: 80px;
    font-size: 19px;
}
li>h3 {
    margin-left: 10px;
}
h4 {
    margin-left: 60px;
    font-size: 21px;
}