.maincontainer{
width:100%;
}
.header{
    width:100%;
    border-bottom: 3px solid blue;
}
.logoheder{
background-color: antiquewhite;
font-size: small;
color: blue;
padding: 10px 0px;
text-align: center;
}
nevigationlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
 .floatleftuse{
    float: left;
  }
 .atagnevigation{
    display: block;
    color: rgb(92, 88, 88);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  atagnevigation:hover {
    background-color:azure;
  }