<div class="wrapper">
    <!-- Page Content -->
    <div id="content" class="w-100">
        
        <div class="px-5 pt-2">
            <div class="wrapper1">
                    <h1>This is heading</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate porro deserunt enim pariatur vel itaque aliquid fugiat minima deleniti soluta doloribus placeat ipsam, velit laudantium consequatur voluptas natus qui quia.</p>
            </div>
            <div class="wrapper-breakpoint">
                <h1>This is breakpoint example</h1>
                <h2>Font size will also be changed accordingly</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident praesentium ratione dolorum vero id commodi dolore est autem non, molestiae quas ipsam molestias minima reprehenderit natus! Ipsa nobis perferendis nostrum.</p>
            </div>
            <div class="hide-element">
                    <h1>This element will be hidden in small screen size</h1>
            </div>
            <h1>Above element will be hidden in small screen size</h1>
        </div>
    </div>
</div>
