<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        
        <div class="sidebar-header">
            <h3>CSS Tasks</h3>
        </div>
        <ul class="list-unstyled components">
            <li>
                <a href="#day4Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Day4</a>
                <ul class="collapse list-unstyled" id="day4Submenu">
                    
                    <li>
                        <a href="#practice1Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Practice</a>
                        <ul class="collapse list-unstyled" id="practice1Submenu">
                            <li>
                                <a routerLink="/day4practice" routerLinkActive="active" class="pl-5">Practice Tasks</a>
                            </li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="#assignment1Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Assignment</a>
                        <ul class="collapse list-unstyled" id="assignment1Submenu">
                            <li>
                                <a href="../../../../../../../../CSS/Day4/Disha-Shah/Assignments/Resume/index.html" target="_blank" class="pl-5">Resume</a>
                            </li>
                            <li>
                                <a href="../../../../../../../../CSS/Day4/Disha-Shah/Assignments/Portfolio/index.html" target="_blank" class="pl-5">Portfolio</a>
                            </li>
                            
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#day5Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Day5</a>
                <ul class="collapse list-unstyled" id="day5Submenu">
                    
                    <li>
                        <a href="#practice2Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Practice</a>
                        <ul class="collapse list-unstyled" id="practice2Submenu">
                            <li>
                                <a routerLink="/day5practice" routerLinkActive="active" class="pl-5">Practice Task 1</a>
                            </li>
                            <li>
                                <a routerLink="/day5practice2" routerLinkActive="active" class="pl-5">Practice Task 2</a>
                            </li>
                            
                        </ul>
                    </li>
                    
                    <li>
                        <a href="#assignment2Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Assignment</a>
                        <ul class="collapse list-unstyled" id="assignment2Submenu">
                            <li>
                                <a href="../../../../../CSS/Day5/Disha-Shah/Assignments/Assignment1/index.html" target="_blank" class="pl-5">Layout-1</a>
                            </li>
                            
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#day6Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Day6</a>
                <ul class="collapse list-unstyled" id="day6Submenu">
                    
                    <li>
                        <a href="#practice3Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Practice</a>
                        <ul class="collapse list-unstyled" id="practice3Submenu">
                            <li>
                                <a routerLink="/day6practice1" routerLinkActive="active" class="pl-5">Image Gallery</a>
                            </li>
                            <li>
                                <a routerLink="/day6practice2" routerLinkActive="active" class="pl-5">Practice Task</a>
                            </li>
                            
                        </ul>
                    </li>
                    
                    <li>
                        <a href="#assignment3Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Assignment</a>
                        <ul class="collapse list-unstyled" id="assignment3Submenu">
                            <li>
                                <a routerLink="/day6assignment" routerLinkActive="active" class="pl-5">Assignment Task</a>
                            </li>
                            <li>
                                <a href="../../../../../CSS/Day6/Disha-Shah/Assignment/Layout2/index.html" target="_blank" class="pl-5">Layout-2</a>
                            </li>
                            
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#day7Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Day7</a>
                <ul class="collapse list-unstyled" id="day7Submenu">
                    
                    <li>
                        <a href="#practice4Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Practice</a>
                        <ul class="collapse list-unstyled" id="practice4Submenu">
                            <li>
                                <a routerLink="/day7practice" routerLinkActive="active" class="pl-5">Practice Tasks</a>
                            </li>
                            
                        </ul>
                    </li>
                    
                    <li>
                        <a href="#assignment4Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Assignment</a>
                        <ul class="collapse list-unstyled" id="assignment4Submenu">
                            <li>
                                <a href="../../../../../CSS/Day7/Disha-Shah/Assignments/Layout3/index.html" target="_blank" class="pl-5">Layout-3</a>
                            </li>
                            
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#day8Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Day8</a>
                <ul class="collapse list-unstyled" id="day8Submenu">
                    
                    <li>
                        <a href="#assignment5Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Assignment</a>
                        <ul class="collapse list-unstyled" id="assignment5Submenu">
                            <li>
                                <a href="../../../../../CSS/Day8/Disha-Shah/Assignments/Layout3-Grid/index.html" target="_blank" class="pl-5">Layout-3(Using Grid)</a>
                            </li>
                            <li>
                                <a href="../../../../../CSS/Day8/Disha-Shah/Assignments/Tutorial-site/index.html" target="_blank" class="pl-5">Layout-4</a>
                            </li>
                            
                        </ul>
                    </li>
                </ul>
            </li>
            
        </ul>

    </nav>
    <!-- Page Content -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-primary" onclick="return myFunc()">
                    &#9776;
                    
                </button>
            </div>
        </nav>

        <img src="../../assets/images/CSS_logo.jpg" alt="" class="img-fluid w-75 imgLogo">
    </div>
</div>
