
#subnews{
    height: fit-content;

   .card,.card-img{
    color: white;
    height: 15rem;
    width: 18rem}
}
 

.card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    justify-items: center;
}

@media only screen and (min-width:1200px){
    #subnews{
       padding-right: 20px;
    
       .card,.card-img{
        color: white;
        // height: 15rem;
        // width: 12rem;
       }
    
    }
    #news{
        .container-fluid{
            padding: 0;
        }
    }
    .card1{
        width: min-content;
    }
}