<header>
    <div class="social-media">
        <a href="" class="facebook">
            <i class="fa fa-facebook"></i>
        </a>
        <a href="" class="twitter">   
            <i class="fa fa-twitter"></i>   
        </a>
    </div>

    <div class="heading">
        <div class="company-name">
            <img src="../../../../assets/img/css-d6pe/logo.png" alt="" height="75px" width="200px">
        </div>
        <div class="search-and-cart" style="display: inline;">
            <input type="text" id="search" name="search" placeholder="search...">
            <i class="fa fa-search"></i> | <i class="fa fa-cart-arrow-down"></i>
            <p>My cart:0 Items - $0.00</p>
        </div>
    </div>

    <div class="nav-bar-div">
        <nav>
            <a href=""><i class="fa fa-home"></i></a>
            <a href="">ABOUT US<br><b>&or;</b></a>
            <a href="">OUR PRODUCTS<br><b>&or;</b></a>
            <a href="">NEWS</a>
            <a href="">FAQS</a>
            <a href="">NEW ARRIVAL</a>
            <a href="">STOKISTS</a>
            <a class="active" href="">SHOP NOW</a>
            <a href="">CONTACT US</a>
        </nav>
    </div>
    <div class="banner-div">
        <div class="banner-information">
            <h1>Heritage <br>Belts</h1>
            <p>
                nextbelts offers customers the chance to select from a range of country flags to feature on a full colour buckle.
            </p>
            
        </div>
        <img src="../../../../assets/img/css-d6pe/banner_img.png" alt="" height="250px" width="350px">
    </div>
</header>