/* element selector based styling */
body{
    background-color: burlywood;
}
h1{
    color: black;
    text-align: center;
    font-style: Bold;
    border: 2px solid black;
    border-radius:20px 20px 20px 20px ;
}
/* id selector based styling */
#para{
    color: blue;
    font-size: medium;
    font-style: italic;
}
/* class selector based styling */
.para{
    color: red;
    font-size: x-large;
    font-style: oblique;
}
.heading{
    background-color: black;
    color: white;  
    font-size: large;  
    height: 30px;
    text-align: center;
    

}
#doted{
    border-style: dotted;
     color: black;
     text-align: center;
     border-width: 5px;
}

#dashed{
    border-style: dashed;
     color: black;
     text-align: center;
     border-color: brown;
     border-width: thick;
}
#solid{
    border-style: solid;
     color: black;
     text-align: center;
     border-width: 10px;
     outline: 2px solid yellow;
    border-color: darkolivegreen;    }
#inset{
    border-style: inset;
     color: black;
     text-align: center; 
}
#upset{
    border-style: outset;
     color: black;
     text-align: center;
     text-shadow: 2px;
     padding-top: 50px;
     padding-right: 30px;
     padding-bottom: 50px;
     padding-left: 80px; 
}
h2{
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 100px;
    margin-bottom: 30px;
    background-color: black;
    color: white;
}
#text{
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px red;
       
}
a:link{

    color: red;
}
a:hover{

    color: yellow;
}
ul{
    background: cadetblue;
    padding: 25px;
}
ul li {
        background: #ffe5e5;
        margin-left: 35px;
        padding: 5px;    
}
table{
    width: 100%;
    border: darkblue 1px;
    border-collapse: collapse;
}
th,td{
    border-bottom: 1px solid #ddd;
}
tr:nth-child(even) {background-color: #f2f2f2;}
li{
    display: inline;
}
img{
    height: 200px;
    width: 300px;
    border: 4px solid black;
    border-radius: 100px;
}
.pseudo p:nth-of-type(odd){background-color: #dfc1ff;}
.pseudo p:nth-of-type(even){background-color: #fff;: #ffffff;}

.report{
        border: 2px solid black;
        text-align: center;
        
        
}
#exe2{
    color: blueviolet;
    font-size: 30px;
    text-align: center;
    border: 3px solid black;
}
</* universal selector  exe 4 
*{
    background-color: blue;
}
*/>
.dom p{
    color: blue;
}