<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="../../Assets/styles/docstyle.css">
    <title>Docs</title>
</head>
<body>
<div class="main-container">
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg fixed-top py-2 mx-0 p-0">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button> &nbsp;
            <i class="fas fa-bolt text-primary pr-3"></i>   
            <a href="../../index.html" target="_blank" class="navbar-brand"> StackBlitz |</a>
            <a href="#" class="font-weight-bold text-primary">DEVELOPER</a>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item px-3">
                    <a href="#" class="nav-link active">Platform API</a>
                </li>
                <li class="nav-item px-3">
                    <a href="#" class="nav-link">Enterprise Edition (EE)</a>
                </li>
            </ul>
            </div>
            <form class="form-inline ml-auto">
                <i class="fab fa-github fa-2x text-muted"></i> &nbsp; &nbsp;
                <div class="theme-switch-wrapper">
                    <label class="theme-switch" for="checkbox">
                        <input type="checkbox" id="checkbox" />
                        <div class="slider round"></div>
                  </label>
                </div>
                <div class="input-group px-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control search bg-light" value="Search...">
                </div>
            </form>
        </div>
    </nav>

    <!-- LEFT NAVBAR -->
    <div class="leftnav border border-top-0 border-bottom-0 border-left-0 mt-5 pt-3">
        <a href="#" class="btn dropdown-btn d-block text-left active">Platform API
            <i class="fa fa-caret-down"></i>
        </a>
        <div class="dropdown-container">
            <a href="#" class="d-block pl-4 py-1 active">Introduction</a>
            <a href="1.2embedding.html" class="d-block pl-4 py-1">Embedding</a>
            <a href="1.3importing_projects.html" class="d-block pl-4 py-1">Importing Projects</a>
            <a href="1.4jsSDK.html" class="d-block pl-4 py-1">Javascript SDK</a>
            <a href="1.5postAPI.html" class="d-block pl-4 py-1">POST API</a>
        </div>
        <a href="#" class="btn dropdown-btn d-block text-left">Enterprise Edition (EE)
            <i class="fa fa-caret-down"></i>
        </a>
        <div class="dropdown-container">
            <a href="#" class="d-block pl-4 py-1">Overview</a>
            <a href="#" class="dropdown-btn d-block pl-4 py-1">Installation
                <i class="fa fa-caret-down"></i>
            </a>
            <div class="dropdown-container">
                <a href="#" class="d-block pl-5 py-1">Quickstart on Bare Metal</a>
                <a href="#" class="d-block pl-5 py-1">Quickstart on GCP (Non-GKE)</a>
                <a href="#" class="d-block pl-5 py-1">Quickstart (Existing Cluster)</a>
                <a href="#" class="d-block pl-5 py-1">Administrator Guide</a>
                <a href="#" class="d-block pl-5 py-1">Air Gapped Installs</a>
            </div>
            <a href="#" class="d-block pl-4 py-1">Configuring DNS & TLS</a>
            <a href="#" class="d-block pl-4 py-1">Setting up SSO</a>
            <a href="#" class="d-block pl-4 py-1">Connect NPM registry</a>
        </div>
    </div>

    <!-- RIGHT NAVBAR -->
    <div class="rightnav sticky-top mt-5 pt-5">
        <div class="container border border-bottom-0 border-top-0 border-right-0">
            <a href="javascript:show1();" class="d-block">Just learning about StackBlitz?</a>
            <a href="javascript:show1();" class="d-block">Curious how our technology works?</a> 
        </div>
    </div>

    <!-- MAIN CONTENT -->
    <section id="mainContent" class="mt-5 pt-5 pl-4">
        <div id="content">
        </div>
        <nav class="page p-5">
            <ul class="pagination pagination-lg justify-content-end">
                <li class="page-item"><a href="1.2embedding.html" class="page-link text-right">Next <br>
                    Embedding <i class="fas fa-angle-double-right"></i>
                </a></li>
            </ul>
        </nav>
    </section>

    <!-- FOOTER -->
    <footer class="text-white p-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4 font-weight-bold">Docs</div>
                <br>
                <div class="col-sm-12 col-md-12 col-lg-4 font-weight-bold">Community
                    <ul class="list-unstyled font-weight-normal">
                        <li class="col-sm-12 col-md-12 col-lg-4">Stack Overflow</li>
                        <li class="col-sm-12 col-md-12 col-lg-4">Discord</li>
                        <li class="col-sm-12 col-md-12 col-lg-4">Twitter</li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 font-weight-bold">More
                    <ul class="list-unstyled font-weight-normal">
                        <li class="col-sm-12 col-md-12 col-lg-4">Github</li>
                    </ul>
                </div>
            </div>
            <p class="text-center">Copyright © 2021 StackBlitz, Inc.</p>
        </div>
    </footer>
</div>

    <script>
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;
        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } 
                else {
                    dropdownContent.style.display = "block";
                }
            });
        }

        const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');
        function switchTheme(e) {
            if (e.target.checked) {
                document.documentElement.setAttribute('data-theme', 'dark');
                localStorage.setItem('theme', 'dark');
            }
            else {
                document.documentElement.setAttribute('data-theme', 'light');
                localStorage.setItem('theme', 'light');
            }    
        }
        const currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;
        if (currentTheme) {
            document.documentElement.setAttribute('data-theme', currentTheme);
            if (currentTheme === 'dark') {
                toggleSwitch.checked = true;
            }
        }       
        toggleSwitch.addEventListener('change', switchTheme, false);


        fetch("../json/1.1intro.json")
        .then(response => response.text())
        .then(data => {
            var mainContainer = document.getElementById("content");
            var rightnav = document.getElementsByClassName("rightnav");
            var str = JSON.parse(data, function(key, value){
                if(key == "Heading"){
                    var div = document.createElement("h1");
                    div.innerHTML = value;
                    mainContainer.appendChild(div);
                    console.log(value);
                }
                else if(key == "Explanation"){
                    var div = document.createElement("p");
                    div.innerHTML = value;
                    mainContainer.appendChild(div);
                    console.log(value);
                }
                else if(key == "SubHeading1"){
                    var div = document.createElement("h4");
                    div.innerHTML = value;
                    mainContainer.appendChild(div);
                    console.log(value);
                }
                else if(key == "SubExplanation1"){
                    var div = document.createElement("p");
                    div.innerHTML = value;
                    mainContainer.appendChild(div);
                    console.log(value);
                }
                else if(key == "SubHeading2"){
                    var div = document.createElement("h4");
                    div.innerHTML = value;
                    mainContainer.appendChild(div);
                    console.log(value);
                }
                else if(key == "SubExplanation2"){
                    var div = document.createElement("p");
                    div.innerHTML = value;
                    mainContainer.appendChild(div);
                    console.log(value);
                }
            });
            console.log(data);
        });

        function show1(){
            window.scrollBy(0, 200);
        }

    </script>
</body>
</html>