
<section id="language" class="">
    <nav class="navbar navbar-expand d-none d-sm-block bg-light">
        <div class="container">
            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a href="index2.html" class="nav-link ">Hindi |</a>
                </li>
    
                <li class="nav-item">
                    <a href="#" class="nav-link">Marathi |</a>
                </li> <span></span>
                <li class="nav-item">
                    <a href="#" class="nav-link">Telugu |</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Kannad |</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Gujarati |</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"> English</a>
                </li>
    
            </ul>
        </div>
    </nav>
    </section>
    <section id="nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light" id="mainNavbar">
    
                <a class="navbar-brand mr-auto bg-dark" href="index.html"> <img class=" d-inline img-fluid"
                        src="assets/Pictures/zeenewslogo_nav.webp" width="97" height="45" alt=""></a>
                
                    <button class="navbar-toggler bg-secondary" type="button" data-toggle="collapse"
                        data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
              
                <div class="collapse navbar-collapse ml-auto" id="navbarNav">
    
                    <ul class="navbar-nav ml-2">
                        <li class="nav-item ml-2">
                            <a class="nav-link" >Live TV <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ml-2">
                            <a class="nav-link" href="#news">Latest news</a>
                        </li>
                        <li class="nav-item ml-2">
                            <a class="nav-link" href="#budegt">Budget 2021</a>
                        </li>
    
                        <li class="nav-item ml-2">
                            <a class="nav-link" href="#">Covid-19</a>
                        </li>
                        <li class="nav-item ml-2">
                            <a class="nav-link" href="#break">breaking</a>
                        </li>
                    </ul>
    
                    <!-- <form class="form-inline mr-auto d-none d-sm-block"> -->
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search"  aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                          </form>
    
                    <!-- </form> -->
                    <!-- <a href="signup.html" class="right-logo" target="_blank">
                        <img src="/img/mobilereporter.webp" class="float-right w-auto ">
                    </a> -->
                    <a href="login.html" target="_blank"><button class="btn btn-success btn-sm d-block" type="button"
                            id="login-button"><i class="fa fa-sign-in" aria-hidden="true"></i> Log-In</button>
                    </a>
                   
                </div>
    
    
            </nav>
    
        </div>
    </section>
    <section id="banner" class="m-0 py-2 d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <img class="float-left img-fluid" src="assets/Pictures/banner/zeenews-bannerwebp.webp" height="60px" width="100px"
                        alt="">
                </div>
                <div class="col-6 pl-3">
                    <img class="float-left img-fluid" src="assets/Pictures/banner/betway_desk.webp" height="40px" width="80px"
                        alt="">
    
    
                    <img class="float-left img-fluid" src="assets/Pictures/banner/bino_desk.webp" height="60px" width="80px"
                        alt="">
    
                    <img class="float-left img-fluid" src="assets/Pictures/banner/hdfc_desk.webp" height="60px" width="80px"
                        alt="">
    
                    <img class="float-left img-fluid" src="assets/Pictures/banner/resmed_desk.webp" height="60px" width="80px"
                        alt="">
                    <img class="float-left img-fluid" src="assets/Pictures/banner/watcho_desk.webp" height="60px" width="80px"
                        alt="">
                </div>
    
    
            </div>
        </div>
    
    </section>
    
    <section id=subnews(1) class="mt-4">
<div class="row">
    <div class="col">
        <div class="container">
            <h2 class="display1">
                PM Narendra Modi to address the nation at 5 PM as COVID cases decline
            </h2>
            <p class="lead">
                The Pradhan Mantri Garib Kalyan Anna Yojana scheme was reintroduced for May-June 2021 to deal with the impact of the second wave of the pandemic. The estimated cost to the exchequer for these two months is Rs 25,332.92 crore, which will now increase significantly.
            </p>
        </div>
        <div class="container">
            <img src="assets\Pictures\News\941826-pm-modi-gen (1).webp" alt="" class="image-fluid" height="400px" width=80%>
        </div>
    </div>
</div>
    </section>

    <section id="subnewsBody">
        <div class="row">
            <div class="container">
            <div class="col-md-3">
                <div class="advertise">
                      <app-advertisement></app-advertisement>

                </div>
            </div>  
                <div class="col-md-9">
                <div class="dummytext">
                    <p class="lead">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, amet reprehenderit, deserunt minus laborum, deleniti eveniet neque distinctio quas itaque quos vero libero. Libero obcaecati nihil repudiandae pariatur cupiditate! Fugit ipsam quaerat quam iure commodi, inventore deleniti quis neque doloribus quia quisquam dolorem saepe quas. Fugiat nobis quos ex blanditiis eligendi sapiente, velit id quas dolorum illo odio sit delectus iusto quibusdam accusamus voluptas. Cum quaerat eos odit, cupiditate voluptas non consectetur fugit dolores. Exercitationem earum aperiam odio aspernatur quidem laboriosam blanditiis, eligendi ratione hic nesciunt odit in quia alias deleniti qui culpa perspiciatis magnam, aliquam sapiente, ipsum non. Voluptates?
                    </p>
                </div>
            </div>
        </div>
            </div>
        
    </section>