<html>
    <head>
        <title>
            Resume
        </title>
    </head>
        <div class="supmain">
             <form class="main">
                  
                <div class="headingdiv">  
                    
                    <header class="headerclass" style="margin-top: 20px;">
                        
                        <div class="heddingfirst">
                            
                            <div class="name" style="color: #223696b8;
                            font-size: 43px;">
                                <span>Niraj Sapra</span>
                            </div>
                            <div class="secondemail">
                                <div class="email " style="font-size: 20px;">Email Address : <span class="bluecolor">nirajsapra21@gmail.com </span></div>
                                
                                <br>
                                 <div class="mobile" style=" font-size: 20px;">Contact Number : <span class="bluecolor">7567564430 (M) </span></div>
                            </div>
                        </div>
                        <div class="heddingsecond">
                            <img class="nirajimg"  src="./Asset/Image/nirajresume.jpg" alt="Niraj Image"/>
                        </div>
                     </header>
                </div>   
                <p class="bottamboder"></p>
                
                <div>
                    <div><p class="careerobject usecenterfor">CAREER OBJECTIVE</p></div>
                    <div class="usecenterfor">
                        <p>To hold a challenging and competitive position in organization where I can enhance my skills
                            and strength in conjunction with organization objectives.</p>
                    </div>
                </div>
                <div>
                    <div><p class="careerobject usecenterfor">EDUCATIONAL QUALIFICATIONS</p></div>
                    <div>
                        <table class="table th"> 
                            <tr class="th">
                                <th class="th">Course</th>
                                <th class="th">College/ School</th>
                                <th class="th">University/ Board</th>
                                <th class="th">Year of Passing</th>
                                <th class="th">Percentage ( CPI/CGPA )(%)</th>
                            </tr>
                            <tr class="th">
                                <td class="th">B.E. (I.T.)</td>
                                <td class="th">Shantilal Shah Goverment Engneering Collage,Bhavnagar </td>
                                <td class="th">Gujarat TechnologicalUniversity </td>
                                <td class="th">June 2020</td>
                                <td class="th">7.49</td>
                            </tr>
                            <tr class="th">
                                <td class="th">HSC </td>
                                <td class="th">Fatima Convent, Bhavnagar </td>
                                <td class="th">Gujarat Higher Secondary Education Board</td>
                                <td class="th">March 2016</td>
                                <td class="th">61%</td>
                            </tr>
                            <tr class="th">
                                <td class="th">SSC </td>
                                <td class="th">Shree Kumar Shla, Bhavnagar</td>
                                <td class="th">Gujarat Higher Secondary Education Board</td>
                                <td class="th">March</td>
                                <td class="th">76%</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div>
                    <div><p class="careerobject usecenterfor">PROJECTS UNDERTAKEN</p></div>
                    <div class="listforuse">
                        <ol>
                            <li>Information Diary</li>
                            <li>Go Parking</li>
                        </ol>
                    </div>
                </div>
                <br>
                <div> 
                    <div><p class="careerobject usecenterfor">TECHNICAL PROFICIENCY</p></div>
                    <div class="listforuse">
                        <ul>
                            <li>
                                <span>Knowledge about programing languages.</span>
                                <div>
                                    <ol>
                                        <li>C</li>
                                        <li>C++</li>
                                        <li>Php</li>
                                        <li>Magento</li>
                                    </ol>
                                </div>
                            </li>
                            <li>
                                <span> about frontend languages</span>
                                <div>
                                    <ol>
                                        <li>HTML</li>
                                        <li>Css</li>
                                        <li>Java Script</li>
                                        <li>JQuery</li>
                                    </ol>
                                </div>
                            </li>
                            <li>
                                <span> in database languages like MYSQL</span>
                                <div>
                                    <ol>
                                        <li>MYSQL</li>
                                    </ol>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="usecenterfor">
                    <div><p class="careerobject">PERSONAL INFORMATION</p></div>
                    <div>
                        <table class="personalinformation">
                            <tr>
                                <td>Permanent Address :</td>
                                <td> Nirmal Nagar, Street no: 7, Plot no: 2/B, Bhavnagar -364001.</td>
                            </tr>
                            <tr>
                                <td>Date of Birth :</td>
                                <td> 21 Aug 1999</td>
                            </tr>
                            <tr>
                                <td>Language Known :</td>
                                <td> English, Gujarati, Hindi</td>
                            </tr>
                            <tr>
                                <td>Marital Status :</td>
                                <td> Unmarried</td>
                            </tr>
                            <tr>
                                <td>Nationality :</td>
                                <td> Indian</td>
                            </tr>
                            <tr>
                                <td>Hobbies :</td>
                                <td> Reading, Playing Chess, Music, Group Discussion</td>
                            </tr>
                        </table>
                    </div>
                </div> 
                <div class="usecenterfor">
                    <div><p class="careerobject">DECLARATION</p></div>
                    <div>
                        <p>I hereby declare that the above-mentioned information is correct to the best of my knowledge and I take
                            the responsibility for the exactness of the above mentioned information.
                        </p>
                    </div>
                </div>
                 <div class="usecenterfor my-5 ">
                    <div style="float: left;"><strong>Place:</strong> Ahmedabad</div>
                    <div style="float: right;"><strong>Niraj Sapra:</strong></div>
                </div>       
                <br><br>
            </form>
            <br><br>    
        </div>
</html>