<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day 7 Assignment</title>

    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar-items">
                <div class="logo">Logo Here</div>
                <!-- <li><label for="hamburger">&#9776</label>
                    <input type="checkbox" class="hamburger" />
                </li> -->
                <div class="nav-item">
                    <a href="#">HOME</a>
                    <a href="#">PAGES</a>
                    <a href="#">BLOG</a>
                    <a href="#">PORTFOLIO</a>
                    <a href="#">FEATURES</a>
                    <a href="#">SHORTCODES</a>
                </div>
            </div>
        </nav>
    </header>
    <section>
        <div class="corosoul">
            <img src="../assets/img/bg.jpg" alt="Backgrod Image">
        </div>
        <div class="container">
            <div class="text">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                <p>
                    At, earum eaque quae eum dolore fugiat esse debitis natus dignissimos, ipsam iusto? Ea cum quaerat
                    adipisci distinctio ipsam? Voluptatem, sed delectus?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. At, earum eaque quae eum dolore fugiat esse
                    debitis natus dignissimos.</p>
            </div>
            <div class="container-button">
                <button>
                    <i class="fa fa-cloud-download" aria-hidden="true"></i>Download Now
                </button>
            </div>
        </div>
        <div class="container1">
            <div class="cards">
                <h3>Fully Responsive</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus fuga accusantium quo, sed veniam
                    ad laudantium. Sint corporis nulla veritatis aspernatur eveniet atque tempore</p>
            </div>
            <div class="cards">
                <h3>HTML + CSS</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus fuga accusantium quo, sed veniam
                    ad laudantium. Sint corporis nulla veritatis aspernatur eveniet atque tempore</p>
            </div>
            <div class="cards">
                <h3>Launch Ready</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus fuga accusantium quo, sed veniam
                    ad laudantium. Sint corporis nulla veritatis aspernatur eveniet atque tempore</p>
            </div>
        </div>
        <div class="container2">
            <h3>Recent Work</h3>
            <div class="main-row">
                <div class="row">
                    <div class="img-card">
                        <img src="../assets/img/card_img.PNG" alt="Card Img">
                        <h6 style="font-weight: 500;">Project One</h6>
                        <p>Donec a pellentesque turpis. Integer ligula odio, posuere egestas sapien in, ornare ornare
                            odio.
                            Maecenas sodales mauris eget neque pulvinar, ac gravida ante lacinia.</p>
                    </div>
                    <div class="img-card">
                        <img src="../assets/img/card_img.PNG" alt="Card Img">
                        <h6 style="font-weight: 500;">Project One</h6>
                        <p>Donec a pellentesque turpis. Integer ligula odio, posuere egestas sapien in, ornare ornare
                            odio.
                            Maecenas sodales mauris eget neque pulvinar, ac gravida ante lacinia.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="img-card">
                        <img src="../assets/img/card_img.PNG" alt="Card Img">
                        <h6 style="font-weight: 500;">Project One</h6>
                        <p>Donec a pellentesque turpis. Integer ligula odio, posuere egestas sapien in, ornare ornare
                            odio.
                            Maecenas sodales mauris eget neque pulvinar, ac gravida ante lacinia.</p>
                    </div>
                    <div class="img-card">
                        <img src="../assets/img/card_img.PNG" alt="Card Img">
                        <h6 style="font-weight: 500;">Project One</h6>
                        <p>Donec a pellentesque turpis. Integer ligula odio, posuere egestas sapien in, ornare ornare
                            odio.
                            Maecenas sodales mauris eget neque pulvinar, ac gravida ante lacinia.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container3">
            <div class="block1">
                <h3>Welcome to this site</h3>
                <div class="cont-block">
                    <img src="../assets/img/card-img2.PNG" alt="Card Img">
                    <div class="block-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu magna diam. Phasellus ut
                            porttitor urna. Donec lacus
                            magna, laoreet quis tempor ac, facilisis sed urna</p>
                        <ul type="none">
                            <li><span><i class="fa fa-check" aria-hidden="true"></i> </span>Donec aliquet vel massa ut
                                venenatis</li>
                            <li><span><i class="fa fa-check" aria-hidden="true"></i> </span>Cras eu magna diam</li>
                            <li><span><i class="fa fa-check" aria-hidden="true"></i> </span>Aenean non tellus ligula.
                            </li>
                            <li><span><i class="fa fa-check" aria-hidden="true"></i> </span>Ut sed vulputate nulla</li>
                        </ul>
                    </div>
                </div>
                <div class="cont-block2">
                    <p>Blue Fountain Media is a digital agency in NYC that is founded on the premise that dient results
                        and stunning design go hand in hand. They provide 380 degree solutions from strategy and design
                        to development and digital marketing services with ROI as their factor for success
                        <br><br>-CEO, Jack Bour</p>
                </div>

            </div>
            <div class="block2">
                <h3>Latest Shots</h3>
                <img src="../assets/img/card-img3.PNG" alt="Card Img" >
            </div>
        </div>
        <div class="container4">
            <h3>Our Clients</h3>
            <div class="flex-container">
                <div><img src="../assets/img/logo9.png" alt="logo"></div>
                <div><img src="../assets/img/logo9.png" alt="logo"></div>
                <div><img src="../assets/img/logo9.png" alt="logo"></div>
                <div><img src="../assets/img/logo9.png" alt="logo"></div>
                <div><img src="../assets/img/logo9.png" alt="logo"></div>
                <div class="phone"><img src="../assets/img/logo9.png" alt="logo"></div>
                <div class="phone"><img src="../assets/img/logo9.png" alt="logo"></div>
                <div class="tab phone"><img src="../assets/img/logo9.png" alt="logo"></div>
                <div class="tab phone"><img src="../assets/img/logo9.png" alt="logo"></div>
                <div class="tab phone"><img src="../assets/img/logo9.png" alt="logo"></div>
                <div class="tab phone"><img src="../assets/img/logo9.png" alt="logo"></div>

            </div>

        </div>
    </section>
    <footer>
        <div class="main-foot">
            <div class="sub-foot1">
                <div class="foot1">
                    <h1><span>Logo Here</span></h1>
                    <div class="foot1-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, aliquid! Nostrum fuga
                            totam deleniti at saepe dolorem. Doloribus similique labore, quia maiores eveniet beatae
                            numquam explicabo qui, delectus nisi amet.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, aliquid! Nostrum fuga
                            totam deleniti at saepe dolorem. Doloribus similique labore, quia maiores eveniet beatae
                            numquam explicabo qui, delectus nisi amet.</p>
                    </div>
                </div>
                <div class="foot2">
                    <h4 class="tit">Latest Post</h4>
                    <div class="ssfoot2">
                        <h6>Incredible Content</h6>
                        <p>May 8, 2014</p>
                    </div>
                    <div class="ssfoot2">
                        <h6>Incredible Content</h6>
                        <p>May 8, 2014</p>
                    </div>
                    <div class="ssfoot2" style="border-bottom: none;">
                        <h6>Incredible Content</h6>
                        <p>May 8, 2014</p>
                    </div>
                </div>
                <div class="foot3">
                    <h4 class="tit" style="margin-bottom: 10px;">Useful Links</h4>
                    <div class="ssfoot3">
                        <div class="left">
                            <p>About Us</p>
                        </div>
                        <div class="righ">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="ssfoot3">
                        <div class="left">
                            <p>About Us</p>
                        </div>
                        <div class="righ">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="ssfoot3">
                        <div class="left">
                            <p>About Us</p>
                        </div>
                        <div class="righ">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="ssfoot3">
                        <div class="left">
                            <p>About Us</p>
                        </div>
                        <div class="righ">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="ssfoot3">
                        <div class="left">
                            <p>About Us</p>
                        </div>
                        <div class="righ">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="foot4">
                    <h4 class="tit">Useful Links</h4>
                    <div class="foot4-text">
                        <p>30/B Adarsh Society</p>
                        <p>Near Kaashi Parekh Complex, </p>
                        <p>Swastik Char Rasta, C G Road</p>
                        <p>Ahmedabad-380009</p>
                        <p>Gujarat - India</p>
                        <p>Phone: <span>+91-79-26400685</span></p>
                    </div>
                </div>
            </div>
            <div class="sub-foot2">
                <div class="sfoot1">
                    <p>2015 <i class="fa fa-copyright" aria-hidden="true"></i> All Right Reserved. <span>Privacy
                            Policy</span> | <span>Terms of Service</span></p>
                </div>
                <div class="sfoot2">
                    <i class="fa fa-dribbble" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-pintrest" aria-hidden="true"></i>
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                    <i class="fa fa-skype" aria-hidden="true"></i>
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>