:root {
    --main-radius: 5px;
    --main-padding: 5px;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .2fr 1.5fr 1.2fr .8fr;
    grid-template-areas: "nav nav nav nav" "sidebar main main main" "sidebar content1 content2 content3" "sidebar footer footer footer";
    grid-gap: 0.2rem;
    font-family: "Inter",sans-serif;
    font-weight: 800;
    font-transform: uppercase;
    font-style: 12px;
    color: black;
    text-align: center;
}

nav {
    background-color: pink;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-radius);
}

main {
    background-color: powderblue;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-radius);
}

#sidebar {
    background-color: yellow;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-radius);
}

#content1 {
    background-color: green;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-radius);
}

#content2 {
    background-color: tomato;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-radius);
}

#content3 {
    background-color: orange;
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-radius);
}

footer {
    background-color: lightgray;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-radius);
}

@media only screen and (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: "nav" "sidebar" "main" "content1" "content2" "content3" "footer";
    }
}
