<div class="container m-5">
    <hr>
    <h4>Redirect to another page</h4>
    <button class="btn btn-outline-dark" onclick="return practice1()">GO TO ANOTHER PAGE</button>
    <hr>
    <h4>Forward</h4>
    <button class="btn btn-outline-dark" onclick="return practice2()">Forward</button>
    <hr>
    <button class="btn btn-outline-dark" onclick="location.reload()">Refresh</button>
    <hr>
    <button class="btn btn-outline-dark" onclick="location.assign('practice2.html')">Assign practice2.html</button>
    <hr>
    <button class="btn btn-outline-dark" onclick="console.log(window.history);">Print history in console</button>
    <hr>
</div>