*{
    padding: 0;
    margin: 0;
}

header{
    background-color: white;
    height: 8vh;
    text-align: center;
}
header p{
    position: absolute;
    top: 18px;
    left: 47%;
    color: turquoise;
}
.nav{
    background-color: black;
    text-align: center;
    height: 8vh;
}
.nav ul li{
    display: inline;
    list-style-type: none;
    position: relative;
    top: 18px;
}
.nav ul li a{
    padding: 10px;
    color: grey;
    text-decoration: none;
}
.nav ul li a:hover{
    color: white;
}
.line {
    background-color: turquoise;
    height: 10px;
}
.bg-img img{
    position: absolute;
    z-index: -1;
}
.advert{
    height: 10vh;
    background-color: black;
    position: relative;
    top: 300px;
    text-align: center;
}
.advert p{
    display: inline;
    color: white;
    position: relative;
    top: 15px;
}
.advert button{
    display: inline;
    color: white;
    position: relative;
    top: 15px;
}
.advert button{
    background-color: dodgerblue;
    padding: 9px 12px;
    margin-left: 20px;
    border-radius: 6px;
    border: 1px solid black;
}
.icons{
    position: absolute;
    top: 450px;
    padding-left: 185px;
}
.icons img{
    padding-top: 100px;
    padding-left: 109px;
    padding-right: 99px;
    padding-bottom: 25px;
}
.icons h4{
    padding-left: 110px;
    padding-right: 108px;
    padding-bottom: 25px;
    float: left;
}
.icons p{
    color: grey;
    padding-left: 40px;
    padding-right: 10px;
    width: 25%;
    float: left;
    padding-bottom: 90px;
}
.heading{
    background-color: #d7e1ec;
    position: absolute;
    top: 950px;
    height: 180px;
    text-align: center;
    width: 100%;
    padding-top: 10%;
}
.heading h1{
    border-bottom: 1px solid lightgrey;
    padding-bottom: 15px;
    margin-left: 13%;
    width:75%
}
.heading p{
    padding-top: 15px;
    color: gray;
}
.first-two{
    position: absolute;
    top: 1350px;
    padding-left: 10%;
}
.first-two img,h5{
    float: left;
    padding-right: 50px;
}
.first-two h5{
    padding-top: 9px;
    width: 335px;
}
.first-two h5 p{
    font-weight: lighter;
}
.last-two{
    position: absolute;
    top: 1575px;
    padding-left: 10%;
    padding-bottom: 80px;
}
.last-two img,h5{
    float: left;
    padding-right: 50px;
}
.last-two h5{
    padding-top: 9px;
    width: 335px;
}
.last-two h5 p{
    font-weight: lighter;
}
.coin{
    position: absolute;
    top: 1800px;
    width: 100%;
    text-align: center;
    height: 17vh;
    background-color: lightseagreen;
}
.coin h3,button{
    position: relative;
    top: 38%;
    display: inline;
}
.coin h3{
    color: white;
}
.coin button{
    background-color: white;
    color: black;
    padding: 9px 12px;
    margin-left: 20px;
    border-radius: 6px;
    border: 1px solid white;
}
footer {
    background-color: lightgrey;
    position: absolute;
    width: 100%;
    top: 1912px;
    padding-top: 7%;
    padding-bottom: 10%;
}
footer .links{
    padding-left: 15%;
    float: left;
}
footer .links ul li{
    list-style-type: none;
    padding-bottom: 8px;
}
footer .links ul li a{
    color: black;
    font-weight: lighter;
}
footer .links-2{
    padding-left: 10%;
    float: left;
}
footer .links-2 ul li{
    list-style-type: none;
    padding-bottom: 8px;
}
footer .links-2 ul li a{
    color: black;
    font-weight: lighter;
}
footer .form{
    padding-left: 10%;
    float: left;
}
footer .form #msg button{
    background-color: darkslategrey;
    color: white;
    padding: 9px 12px;
    border-radius: 6px;
    border: 1px solid white; 
}