*{
    margin : 0px;
    padding : 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}

.main-container
{
    width : 60vw;
    height: auto;
    background-color: whitesmoke;
}


#details{
    height : 150px;
    margin:20px;
    display: flex;
    justify-content: space-between;
}

.title{
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 100;
    margin-top : 20px;
    margin-bottom: 20px;
}
#name
{
    color: black;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-transform:uppercase;
    margin-bottom: 20px;

}
ul{
    list-style: none;
}

#links li{
    text-align: right;
}


hr{
    margin-left: 20px;
    margin-right: 20px;
}
a{
    text-decoration: none;
}


#Aboutme{
    margin:20px;
}

#education{
    margin-top : 20px;
    margin-bottom: 20px;
}

table{
    border : 1px solid black;
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    border-collapse: collapse;
}

tr , td, th{
    margin-left: 20px;
    border : 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}



#projects{
    width: 55%;
    height : auto;
    margin-top : 20px;
    margin-left:20px;
    min-height: 100px;
    display: block
} 

#video{
    float: right;
    margin-top : -224px;
    margin-right: 20px;
    width: 40%;
    height: 224px;
    min-height: 100px;
    
}

ol{
    margin-left : 20px;
    font-weight: bold;
}

ol li ul{
    font-weight: 200;
    margin-left: 20px;
    list-style-type: circle;
    padding: 5px;
}


footer{
    width : 100%;
    margin-top: 20px;
    background-color :#34495e;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer > h4{
    color: white;
    font-family: sans-serif;
    padding-top :5px;
}

footer > h4 a{
    color: white;
}