.supmain{
    width: 90%;
    margin: 0 auto;
}
.main{
    border: 1px solid rgb(6, 27, 66);
    width: 100%;
    display: table;
}
.bluecolor{
    color:rgb(6, 27, 66);
}
.heddingfirst{
    float: left;
    width: 80%;
    padding: 20px;
}
.secondemail{
    margin: 10px 0px 10px 0px;
}
.nirajimg{
    width: 120px;
    height: 150px;
    margin: 20px;
}
.heddingsecond{
float: right;
}
.headingdiv{
    display: table;
    width: 90%;
    margin: 0 auto;
}
.bottamboder{
    border-bottom: 4px solid #5c5b8c;
    width: 97%;
    margin: 20px auto;
}
.careerobject{
    background-color: lightgrey;

}
.usecenterfor{
    text-align: center;
    width: 90%;
    margin: 2% auto;
}
.th {
    border: 1px solid black;
  }
  
.table {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
  }
.listforuse{
    width: 90%;
    margin-left: 5%;
  }