html{
    scroll-behavior: smooth;
    
}

/*navigation bar css*/
.head{
    background-color:dodgerblue;
    height: 70px;
    width: 98.7%;
    border: 1px solid black;
    position: fixed;
    margin-top: -8px;
}
.nav{
    height: 80%;
    width: 43%;
    float: Right;
    color: white;
    padding-top: 20px;
    font-size: 30px;
}
.nevigate{
    color: white;
    margin-right: 20px;
    font-size: 30px;
    
}
.pr{
    margin-top: 20px;
    margin-left: 20px;
    width: 400px;
    float: left;
    color: white;
    font-size: 30px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
  color: darkslategrey;  
}


/*home page css*/
.home{
    height: 600px;
    padding: 130px 30px 0px 30px;
    background-image: url(home.jpg);
   
}
.intro1{
    height: 500px;
    width: 300px;
    float : left; 
    
    text-align: center;
    color: white;
}
.intro2{
    height: 500px;
    width: 300px;
    float : right; 
    
    text-align: center;
    color: white;
}

/*about me page css*/
.about{
    height: 600px;
    padding: 130px 30px 0px 30px;
    background-image: url(about.jpg);
   
}
.objective{
    height: 230px;
    width: 600px;
    float : left; 
    text-align: center;
    color: white;
    
}
.education{
    height: 230px;
    width: 600px;
    float : right; 
    text-align: center;
    color: white;
    
}
.objedu{
    height: 230px;
}
.achievement{
    
    height: 200px;
    color: white;
    float: none;
}


/*knowlegde css*/
.knowledge{
    height: 600px;
    padding: 130px 30px 0px 30px;
    background-image: url(knowledge.jpg);   
}
.table{
    width: 70%;
    height : 80%;
   
    font-size: 30px;
    color: white;
    text-align: left;
}


/*project css*/
.project{
    height: 600px;
    padding: 130px 30px 0px 30px;
    background-image: url(project.jpg);   
}
.title{
    text-align: center;
    color: white;
}
