<table class="table table-dark text-center">
    <tr>
        <td>
            Id
        </td>
        <td>
            Name
        </td>
        <td>
            Rider
        </td>
        <td>
            Latest champion
        </td>
    </tr>
    <tr>
        <td class="table-primary text-dark">
            {{list[HeroIndex].Id}}
        </td>
        <td>
            {{list[HeroIndex].Name}}
        </td>
        <td>
            {{list[HeroIndex].Rider}}
        </td>
        <td>
            {{list[HeroIndex].LatestChampion}}
        </td>
    </tr>
</table>