<div class="container w-100 mt-5">
<div class="row">
    <div class="col-lg-2 col-md-6 text-center">
         <p class="font-weight-bold" style="font-size: 20px;">
            About Us</p>
            <p class="red-hover" style="font-size: small;">Corporate Overview</p>
            <p class="red-hover" style="font-size: small;">Fleet</p>
            <p class="red-hover" style="font-size: small;">Charter Request</p>
            <p class="red-hover" style="font-size: small;">Careers</p>
            <p class="red-hover" style="font-size: small;">Media Center</p>   
            <p class="red-hover" style="font-size: small;">Job Fraud Alert</p>
            <p class="red-hover" style="font-size: small;">Tariffs</p>
    </div>
    <div class="col-lg-2 col-md-6 text-center">
        <p class="font-weight-bold" style="font-size: 20px;">
            Contact Us</p>
            <p class="red-hover" style="font-size: small;">Airports</p>
            <p class="red-hover" style="font-size: small;">International Offices</p>
            <p class="red-hover" style="font-size: small;">Corporate Head Office</p>
            <p class="red-hover" style="font-size: small;">Advertise with Us</p>   
            <p class="red-hover" style="font-size: small;">RFP</p>
    </div>
    <div class="col-lg-3 col-md-4 text-center">
        <p class="font-weight-bold" style="font-size: 20px;">
            Travel Info</p>
            <p class="red-hover" style="font-size: small;">SpiceScreen</p>
            <p class="red-hover" style="font-size: small;">Citizen's Charter</p>
            <p class="red-hover" style="font-size: small;">FAQ</p>
            <p class="red-hover" style="font-size: small;">Special Assistance</p>
            <p class="red-hover" style="font-size: small;">Fitness To Fly Guideline</p>   
            <p class="red-hover" style="font-size: small;">	Flight Schedules</p>
            <p class="red-hover" style="font-size: small;">Terms of Carriage</p>
            <p class="red-hover" style="font-size: small;">Know your rights</p>
            <p class="red-hover" style="font-size: small;">Covid related information</p>
            <p class="red-hover" style="font-size: small;">Track Your Bag</p>


    </div>
    <div class="col-lg-2 col-md-4 text-center">
        <p class="font-weight-bold" style="font-size: 20px;">
            Investors</p>
            <p class="red-hover" style="font-size: small;">	Corporate Governance</p>
            <p class="red-hover" style="font-size: small;">Financial Information</p>
            <p class="red-hover" style="font-size: small;">Notices</p>
            <p class="red-hover" style="font-size: small;">Corporate Announcements</p>
            <p class="red-hover" style="font-size: small;">Shareholding Pattern</p>   
    </div>
    <div class="col-lg-3 col-md-4 text-center">
        <p class="font-weight-bold" style="font-size: 20px;">
            Spice Route Magazines</p>
            <p class="red-hover" style="font-size: small;">March 2020</p>
            <p class="red-hover" style="font-size: small;">February 2020</p>
            <p class="red-hover" style="font-size: small;">January 2020</p>
            <p class="red-hover" style="font-size: small;">December 2019</p>
            <p class="red-hover" style="font-size: small;">November 2019</p>
            <p class="red-hover" style="font-size: small;">October 2019</p>
            <p class="red-hover" style="font-size: small;">September 2019</p>
            
            
            
    </div>
</div>


</div>
<hr>
<div class="container w-100">
    <div class="row">
        <div class="col-lg-6 ">
            <span class="red-hover m-1" style="font-size: small;">Home</span> <span class="border-right border-dark"></span>
            <span class="red-hover m-1" style="font-size: small;">Privacy Policy</span><span class="border-right border-dark"></span>
            <span class="red-hover m-1" style="font-size: small;">Terms And Condition</span><span class="border-right border-dark"></span>
            <span class="red-hover m-1" style="font-size: small;">GST Information</span><span class="border-right border-dark"></span>
            <span class="red-hover m-1" style="font-size: small;">Sitmap</span> <br>
   <span class="red-hover m-1" style="font-size: small;">Notification: We log the IP addresses of the visitors on our website for security reasons.</span>
</div>
<div class="col-lg-6 text-center">
  <small class=""> &copy; Copyright 2020 SpiceJet Limited. All Rights Reserved.</small>
</div>
</div>
</div>

