<div class="container my-3 bg-light pb-3 sticky-top">
    <div class="position-sticky">
        <h1 class="display-4 pb-3 py-5 text-center text-success font-weight-bold">University of Mumbai</h1>
        <h2 class="text-right text-danger font-weight-normal" id="timeInterval"></h2>

    </div>
</div>
<div class="container bg-light" id="questionAsignment" >
    <form class="p-3">
        
            <label for="Question1"> 1. who is India's PM?</label>
            <div class="form-control border-light bg-light">
                <input type="radio" name="Answer1"> Narendra Modi
                <input type="radio" name="Answer1"> Vijay Rupani
                <input type="radio" name="Answer1"> Mahatma Gandhi
            </div>
        
            <label for="Question1"> 1. who is India's PM?</label>
            <div class="form-control border-light bg-light">
                <input type="radio" name="Answer2"> Narendra Modi
                <input type="radio" name="Answer2"> Vijay Rupani
                <input type="radio" name="Answer2"> Mahatma Gandhi
            </div>
    
            <label for="Question1"> 1. who is India's PM?</label>
            <div class="form-control border-light bg-light">
                <input type="radio" name="Answer3"> Narendra Modi
                <input type="radio" name="Answer3"> Vijay Rupani
                <input type="radio" name="Answer3"> Mahatma Gandhi
            </div>
     
            <label for="Question1"> 1. who is India's PM?</label>
            <div class="form-control border-light bg-light">
                <input type="radio" name="Answer4"> Narendra Modi
                <input type="radio" name="Answer4"> Vijay Rupani
                <input type="radio" name="Answer4"> Mahatma Gandhi
            </div>
        
            <label for="Question1"> 1. who is India's PM?</label>
            <div class="form-control border-light bg-light">
                <input type="radio" name="Answer5"> Narendra Modi
                <input type="radio" name="Answer5"> Vijay Rupani
                <input type="radio" name="Answer5"> Mahatma Gandhi
            </div>
     
            <label for="Question1"> 1. who is India's PM?</label>
            <div class="form-control border-light bg-light">
                <input type="radio" name="Answer6"> Narendra Modi
                <input type="radio" name="Answer6"> Vijay Rupani
                <input type="radio" name="Answer6"> Mahatma Gandhi
            </div>
       
            <label for="Question1"> 1. who is India's PM?</label>
            <div class="form-control border-light bg-light">
                <input type="radio" name="Answer7"> Narendra Modi
                <input type="radio" name="Answer7"> Vijay Rupani
                <input type="radio" name="Answer7"> Mahatma Gandhi
            </div>
     
            <label for="Question1"> 1. who is India's PM?</label>
            <div class="form-control border-light bg-light">
                <input type="radio" name="Answer8"> Narendra Modi
                <input type="radio" name="Answer8"> Vijay Rupani
                <input type="radio" name="Answer8"> Mahatma Gandhi
            </div>
      
            <label for="Question1"> 1. who is India's PM?</label>
            <div class="form-control border-light bg-light">
                <input type="radio" name="Answer9"> Narendra Modi
                <input type="radio" name="Answer9"> Vijay Rupani
                <input type="radio" name="Answer9"> Mahatma Gandhi
            </div>
      
            <label for="Question1"> 1. who is India's PM?</label>
            <div class="form-control border-light bg-light">
                <input type="radio" name="Answer10"> Narendra Modi
                <input type="radio" name="Answer10"> Vijay Rupani
                <input type="radio" name="Answer10"> Mahatma Gandhi
            </div>
            
    </form>
</div>