.grade-A {
    background-color: rgb(211, 255, 199);
}

.grade-B {
    background-color: rgb(199, 221, 255);
}

.grade-C {
    background-color: rgb(250, 255, 183);
}

.grade-D {
    background-color: rgb(255, 199, 199);
}