<div class="container m-5">
    <hr>
    <h4>Check whether a string is blank or not (str.trim())</h4>
    <form action="" class="form-inline">
        <input type="text" class="form-control mr-2" placeholder="" id="text1">
        <button class="btn btn-outline-dark" onclick="return practice1()">Submit</button>
    </form>
    <hr>
    <h4>Split a string and convert it into an array of words (in console)</h4>
    <form action="" class="form-inline">
        <input type="text" class="form-control mr-2" placeholder="" id="text2">
        <button class="btn btn-outline-dark" onclick="return practice2()">Submit</button>
    </form>
    <hr>
    <h4>Extract a specified number of characters from a string (in console)</h4>
    <form action="" class="form-inline">
        <input type="text" class="form-control mr-2" placeholder="" id="text3" value="Hello World" disabled>
        <button class="btn btn-outline-dark" onclick="return practice3()">Submit</button>
    </form>
    <hr>
    <h4>Get the current date (new Date())</h4>
    <form action="" class="form-inline">
        <button class="btn btn-outline-dark" onclick="return practice4()">Get current date</button>
    </form>
    <hr>
    <h4>Array Operations</h4>
    <form action="" class="form-inline">
        <button class="btn btn-outline-dark" onclick="return practice5()">Perform array operations</button>
    </form>
    

</div>