<html>
    <head>
        <title>
            prectice1
        </title>

    </head>
    <body>
        <h1 class="my-5 text-center">Grather then 40 Total & LargestNumber</h1>
        <br>
        <br>
        <div class="text-center">
        <button onclick="myFunction()">Total & LargestNumber</button>
        <p id="demo"></p>
        <p id="demo1" class="text-danger"></p>
    
    
<script>
    function myFunction() {
        var txt ;
        var result=0;
        var a = parseInt(prompt("Enter Number1 : ", 0));
        var b = parseInt(prompt("Enter Number1 : ", 0));
        var c = parseInt(prompt("Enter Number1 : ", 0));
        
        
            if (a==b && a==c){
        txt = a;
        }
        if (a>b && a>c){
        txt = a;
        } else if(b>a && b>c){
        txt = b;  
        }
        else if(c>a && c>b){
        txt= c;
        }
        var ar=[a,b,c];
        for(i=0;i<ar.length;i++){
            if(ar[i]>40){
                result+=parseInt(ar[i]);    
            }
        }       
        document.getElementById("demo").innerHTML = "Highest Number"+ txt +"<br>" +"sum grather then 40 is "+ result;        
    }
</script>
