#div1
{
    background-color: whitesmoke;
    text-align: center;
    color: yellowgreen;
    padding: 7px;
}
#navbar
{
    background-color: black;
    text-align: center;
    padding: 20px;
    

}
#navbar a
{
    text-decoration: none;
    padding: 20px;
    color: white;
}
#navbar a:hover
{
    background-color: brown;
}
#lable
{
    color: white;
    background-color: black;
    padding: 20px;
    text-align: center;
}
#btn1
{
    height: 30px;
    background-color: darkturquoise;
    color: white;
    border: 1px solid darkturquoise;
}
.img_with_text 
{
    padding-top: 20px;
    margin-left: 20px;
    float: left;
    width: 30%;
    text-align: center;
}
.img_with_text img
{
    height: 70px;
}
#text-hr
{
    clear: both;
    background-color: rgb(247, 242, 242);
    height: 100px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}
#img-content
{
    width: 50%;
    float: left;
    margin-top:40px;


    
}
#img-content img
{
    float: left;
    margin: 30px;
}
#Text-button
{
    clear: both;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    padding:30px;
}
#button1
{
 height: 30px;
 background-color: white;

}
#button1:hover
{
    background-color: black;
    color: white;
}

.los
{
    float: left;
    width: 30%;
    height: 300px;
    background-color: rgb(240, 234, 234);
    text-align: center;
    
}
.form1
{
    width: 40%;
    height: 300px;
    float: left;
    background-color: rgb(240, 234, 234);
    
}
#button3
{
    background-color: burlywood;
}
footer
{
    clear: both;
    text-align: center;
    height: 100px;
    background-color: rgb(240, 234, 234);

}
footer i
{
    margin: 20px;
  }

