<app-navigation></app-navigation>
<section id="Live">
    <div class="container">
        <div class="row">
            <div class="col">
             
               <app-live-news></app-live-news>
            </div>
        </div>
    </div>
</section>
<section id="breaking">
    <div class="container">
        <div class="row">
            <div class="col">
               <app-breaking-newas></app-breaking-newas>
            </div>
        </div>
    </div>
</section>
<section id="budget">
    <div class="container">
        <div class="row">
            <div class="col">
                <app-budegt2021></app-budegt2021>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
