.div1 {
    margin: 20px;
}
.div2 {
    margin-top: 5px;
    padding: 10px 10px;
    letter-spacing: 2px;
    text-align: center;
}
.div2 p {
    color: lightseagreen;
}
.div2 h2 {
    color: blueviolet;
    text-decoration: dotted;
}
.logo {
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    .div1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
}
@media screen and (min-width: 982px) {
    .div1 {
        grid-template-columns: repeat(3, 1fr);
    }
}
