<app-navigation></app-navigation>

<section id=subnews(1) class="mt-4">
    <div class="row">
        <div class="col">
            <div class="container">
                <h2 class="display1">
                    {{newscontent.description}}
                </h2>
                <p class="lead">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti enim suscipit facilis eaque eius?
                    Doloremque quo rerum ad fuga consequatur quod illum, minus ullam quas!
                </p>
            </div>
            <div class="container">
                <img src="{{newscontent.imagesLink}}" alt="" class="image-fluid" height="400px" width=80%>
            </div>
        </div>
    </div>
</section>

<section id="subnewsBody">
    <div class="row">
        <div class="container">
            <div class="col-md-3">
                <div class="advertise">
                    <app-advertisement></app-advertisement>

                </div>
            </div>
            <div class="col-md-9">
                <div class="dummytext">
                    <p class="lead">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, amet reprehenderit, deserunt
                        minus laborum, deleniti eveniet neque distinctio quas itaque quos vero libero. Libero obcaecati
                        nihil repudiandae pariatur cupiditate! Fugit ipsam quaerat quam iure commodi, inventore deleniti
                        quis neque doloribus quia quisquam dolorem saepe quas. Fugiat nobis quos ex blanditiis eligendi
                        sapiente, velit id quas dolorum illo odio sit delectus iusto quibusdam accusamus voluptas. Cum
                        quaerat eos odit, cupiditate voluptas non consectetur fugit dolores. Exercitationem earum
                        aperiam odio aspernatur quidem laboriosam blanditiis, eligendi ratione hic nesciunt odit in quia
                        alias deleniti qui culpa perspiciatis magnam, aliquam sapiente, ipsum non. Voluptates?
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>
<app-footer></app-footer>