
<div class="row">
    <div class="col-md-2 col-sm-12 bg-white border-right border-dark" >
        <div class="dropdown text-dark">
            <button class="btn hover form-control btn-white btn-default dropdown-toggle" type="button" data-toggle="dropdown">Day3
                <span class="caret"></span></button>
            <ul class="dropdown-menu form-control bg-dark text-center">
                <li class="dropdown-header" style="font-size: large;">Assignment</li>
               
                <li><a class="text-center" [routerLink]="['Day3/Assignment']">Index</a></li>
                <li class="divider"></li>
                <hr class="bg-dark">
                <li class="dropdown-header" style="font-size: large;">Practice</li>
               
                <li><a [routerLink]="['Day3/Practice/Login']" class="text-center">Login</a></li>
                <li><a [routerLink]="['Day3/Practice/Student']" class="text-center">Student</a></li>
                <li><a [routerLink]="['Day3/Practice/Department']" class="text-center">Department</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-10 display-1">
        <router-outlet></router-outlet>
    </div>
</div>