<div class="body">    
    <div id="wrapper">
        <div id="header">
            <img src="../../assets/images/Sample_Logo_1.png" alt="" width="180" height="90" id="logo">
            <form id="form-search">
                <label for="search">Search:</label>
                <input type="search" name="search" id="search">
                <input type="submit" value="go">
            </form>
            <div id="nav-main">
                <ul id="nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Groups</a></li>
                    <li><a href="#">Travels</a></li>
                    <li><a href="#">Why Us?</a></li>
                    <li><a href="#">Schedule</a></li>
                </ul>

            </div>
        </div>
        <div id="content-main">
            <h1>Get more from Logo</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dignissimos numquam sequi inventore! Delectus vitae aut autem similique accusamus eveniet. Quis soluta quasi odit veniam molestias! Unde illo dolorem corporis.</p>
            <div class="tour" id="tour-capital">
                <h2>Capital</h2>
                <h3>Visit the state Capital</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur veniam natus architecto totam, asperiores facilis reiciendis ipsa minima quaerat consequatur, fugiat, assumenda provident. Esse, ducimus qui debitis quasi reiciendis doloremque?</p>

            </div>
            <div class="tour" id="tour-capital">
                <h2>Museum</h2>
                <h3>Tour selected museums</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur veniam natus architecto totam, asperiores facilis reiciendis ipsa minima quaerat consequatur, fugiat, assumenda provident. Esse, ducimus qui debitis quasi reiciendis doloremque?</p>
                
            </div>
            <div class="tour" id="tour-capital">
                <h2>Parks</h2>
                <h3>Explore our parks</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur veniam natus architecto totam, asperiores facilis reiciendis ipsa minima quaerat consequatur, fugiat, assumenda provident. Esse, ducimus qui debitis quasi reiciendis doloremque?</p>
                
            </div>
        </div>
        <div id="content-secondary">
            <div id="newsletter">
                <h3>Email newsletter</h3>
                <p>Sign up to get exclusive offers</p>
                <form id="form-newsletter">
                    <label for="email">Email:</label>
                    <input type="email" name="email" value="email">
                    <input type="submit" value="Subscribe">
                </form>
            </div>
            <div id="specials">
                <h3 class="newBadge">Special Deals</h3>
                <h3>Fall Getaway Special</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio repellendus eaque veniam, cumque deserunt </p>

            </div>
            <div id="news">
                <h3>News</h3>

                <ul>
                    <li><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit</a></li>
                    <li><a href="#">Lorem ipsum, dolor sit amet consectetur</a></li>
                    <li><a href="#">Lorem ipsum, dolor sit amet consectetur</a></li>
                </ul>
                <p>Read out more at our <a href="#">Blog</a> and <a href="#">Follow us on twitter</a></p>
            </div>

        </div>
        <div id="footer">
            <h2>Logo Travel</h2>
            <p>&copy; All rights reserved</p>
        </div>
    </div>
</div>