.cointainar
{
display: grid;
grid-template-rows: 50px 50px 1fr 75px 50px 400px 50px 200px 150px 200px 50px;
grid-template-columns: 1fr 1fr 1fr 1fr; 


}

.div1
{
    grid-column: 1/-1;
    
}
.div2
{
    grid-column: 1/-1;
    background-color: whitesmoke;
    text-align: right;
}
.div2>a
{
    text-decoration: none;
    font-size: large;
    color:black;
    padding: 25px;
    margin-top: 25px;
   
}
.div2>a:hover
{
font-size: 25px;
}
.div3
{
    grid-column: 1/-1;

}
.div3 img
{
    width: 100%;
}
.div4
{
    grid-column: 1/4;
}
.div5
{
    grid-column: 2/5;
}
.div6
{
    grid-column: 1/-1;
}
.div7
{
    grid-column: 1/-1;
    margin-top: 10px;
}
.div8 img
{
    height:250px;
    width: 250px;
}
.div9 img

{
    height:250px;
    width: 250px;
}
.div10 img
{
    height:250px;
    width: 250px;
}
.div11
{
    grid-column: 1/5;
}
.div12 img
{
    height: 150px;
    width: 150px;
}
.div5 img
{
    float: right;
    height:200px;
    width: 200px;
    padding-top: 5px;
}
.div6 img
{
    height: 100px;
    width: 100px;
    padding: 25px;
}
.div13
{
    
    grid-column: 1/-1;
    background-color: darkgrey;
    padding: 10px;
}
.div13 img
{
    float: right;
    height: 50px;
    width: 0px;
    padding: 10px;
}
@media only screen and (max-width: 550px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
      grid-template-areas:
      "div1"
      "div2"
      "div3"
      "div4"
      "div5"
      "div6"
      "div7"
      "div11"
      "div13"
      ;
    }
  }





