<div class="main-container">
<header>
    <h1>THIS IS HEADER</h1>
</header>
<div class="div1">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est harum adipisci dolor aliquam
        fugiat dolorum
        eaque ad sunt commodi modi inventore non, atque sequi iure fuga distinctio tempora
        incidunt labore?</p>
</div>
<div class="div2">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi harum error provident
        aliquid, magnam et
        sit ex. Rerum vel cumque atque est velit numquam eaque, earum quod blanditiis? Dolores
        inventore aut
        ullam totam? Assumenda recusandae voluptates earum ducimus in consequatur reiciendis
        unde, repellat, eos
        aliquam quod explicabo, doloremque magni voluptas.</p>

</div>
<div class="div3">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi harum error provident
        aliquid, magnam et
        sit ex. Rerum vel cumque atque est velit numquam eaque, earum quod blanditiis? Dolores
        inventore aut
        ullam totam? Assumenda recusandae voluptates earum ducimus in consequatur reiciendis
        unde, repellat, eos
        aliquam quod explicabo, doloremque magni voluptas.</p>

</div>
<div class="div4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi harum error provident
        aliquid, magnam et
        sit ex. Rerum vel cumque atque est velit numquam eaque, earum quod blanditiis? Dolores
        inventore aut
        ullam totam? Assumenda recusandae voluptates earum ducimus in consequatur reiciendis
        unde, repellat, eos
        aliquam quod explicabo, doloremque magni voluptas.</p>

</div>
