.maincontainer{
    width:100%;
    }
    .header{
      width: 100%;
      border-bottom: 10px solid dodgerblue;
      display: table;
    }
    .logoheder{
      background-color: #fcf7f7;
      font-size: small;
      color: #5ad4e2;
      padding: 10px 0px;
      text-align: center;
      padding: 30px 0px;
    }
    .nevigationbar{
      background-color: black;
      color: aliceblue;
    }
    .nevigationlist {
      display: table;
      margin: 0 auto;
      text-decoration: none;
      list-style-type: none;
    }
    .floatleftuse{
        float: left;
    }
    .atagnevigation{
        display: block;
        color: rgb(92, 88, 88);
        text-align: center;
        padding: 18px 16px;
        text-decoration: none;
    }
    .atagnevigation:hover {
        color:white;
    }
    .bannerclass{
    width: 100%;
    }
    .buttonclass{
      background-color: #00b8ff;
        border: none;
        color: white;
        padding: 12px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 0px 2px;
        cursor: pointer;
    }
    .secsection{
      margin-left: 20%;
      margin-top: 60px;
      margin-bottom: 60px;
    }
    .secdivfirst,.secdivsec,.secdivthird{
      width: 20%;
      float: left;
      text-align: center;
      margin: 0px 20px;
      display: table;
    }
    .secimagediv{
      margin: 10px 0px;
    }
    .boldsec {
      width: 100%;
      text-align: center;
      padding: 48px 0px;
      display: table;
      font-size: 26px;
      background-color: #f6f3ee;
    }
    .articaltag{
      padding-top: 30px;
      padding-left: 15%;
    }
    .fistblogimg{
      float: left;
      padding-right: 30px;
    }
    .firstblog{
      width: 40%;
      float: left;
      margin: 0% 1%;
    }
    .secblog
    {width: 40%;
    float: left;
    }
    .secarticaltag {
      padding-top: 28px;
      display: table;
      width: 100%;
      margin-bottom: 5%;
    }
    .secarticalnotification{
        width: 100%;
        padding: 30px 0px;
        background-color: deepskyblue;
        color: white;
    }
    .fotterclass{
      width: 100%;
      padding-top:50px;
      margin-left: 10%;
      padding-bottom: 5%;
    }
    .footerthirdclass{
      width: 40%;
    }
    .articaltagsetlinkfirst,.setlinkfirst{
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-decoration: none;
      overflow: hidden;
    }
    .atag{
      display: block;
      color: #878787;
      padding: 8px 0px;
      text-decoration: none;
    }
    .footerfirst{
      width: 20%;
    }
    .linkstuf{
      padding-top: 15px;
    }
    .fontweightbold{
      font-weight: bold;
    }
    .footermain{
        background-color: #ebe9e6;
        height: auto;
        display:flex;
    }
    .footerlogo{
      background-color: #ebe9e6;
      text-align: center;
      color: #7b8485;
      padding-bottom: 30px;
    }