<div class="container text-center">
    Welcome
    <div class="row">
      <div class="col-md">
        <img src="../assets/Pictures/zeenews_Main_Entry.jpg" alt="" class="img-fluid">
      
      <span>Go Ahead And Signup to Stay Updated</span>
      <button class="btn btn-primary ml-3" [routerLink]="'/signup'">Signup</button>  <hr>
      <small>If you already have an Acccount Login</small>
      <hr>
    <a >  <button class="btn btn-success" [routerLink]="'/login'">Login</button></a>
    </div>
    </div>
