<div class="container my-5 rounded border border-dark">
    <p class="display-4 text-center bg-secondary rounded p-4 mt-3"> Day 8 Assignment </p>
    <hr class="bg-dark">


    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <input type="number" class="form-control" [(ngModel)] = 'Marks'>
        </div>
        <div class="col-md-4">
            <p [ngStyle] = "{color : 'red'}" *ngIf = "Marks < 0 || Marks > 100">please enter valid marks</p>
        </div>
    </div>
    <table class="table table-responsive-md">
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Age</td>
            <td>Average</td>
            <td>Grade</td>
            <td>Active</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <ng-container *ngFor="let student of studentList ; let idx = index">
            <ng-container *ngIf= "student.Average > Marks">
                <tr [ngClass]='backgroundClass(student.Grade)'>
                    <td>{{student.Id}}</td>
                    <td>{{student.Name}}</td>
                    <td>{{student.Age}}</td>
                    <td>{{student.Average}}</td>
                    <td>{{student.Grade}}</td>
                    <td>{{student.Active}}</td>
                    <td><button class="btn btn-outline-danger" (click)="delete(idx)">Delete</button></td>
                    <td><button class="btn btn-outline-primary" (click)="edit(student.Id)" data-toggle='modal'
                            data-target='#updateStudent'>Edit</button></td>
                </tr>
            </ng-container>
        </ng-container>
        <tr>
            <td>
                {{Id}}
            </td>
            <td>
                <input type="string" [(ngModel)]='Name'>
            </td>
            <td>
                <input type="number" [(ngModel)]='Age'>
            </td>
            <td>
                <input type="number" [(ngModel)]='Avarage'>
            </td>
            <td>
                {{"F"}}
            </td>
            <td>
                {{false}}
            </td>
            <td><button class="btn btn-outline-success" (click)="create()">Create</button></td>
            <td></td>
        </tr>
    </table>
</div>
<div class="modal fade" id="updateStudent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Update Student {{Id}}</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="reset()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="Name">Student Name :</label>
                        <input type="text" class="form-control" [(ngModel)]='Name'
                            [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <label for="Name">Student Age :</label>
                        <input type="number" class="form-control" [(ngModel)]='Age'
                            [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <label for="Name">Student Avarage marks :</label>
                        <input type="number" class="form-control" [(ngModel)]='Avarage'
                            [ngModelOptions]="{standalone: true}">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="reset()">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="Update()">Update</button>
            </div>
        </div>
    </div>
</div>