
        #header{
            width: 100%;
            height: 180px;
            background-color: aqua;
        }
        #logo{
            height: 90px;
            background-color:rgb(230, 229, 229);
            text-align: center;
            font-size: 36px;
        }
        #navbar{
            height: 75px;
            background-color: #333333;
           text-align: center;
        }
        #navbar ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: #333333;
        }
        #navbar li {
            display: inline-block;
            font-size: 20px;
            padding-top: 25px;
        }
        #navbar li a{
            text-decoration: none;
            color: #fff;
            padding: 14px 16px;
        }
        #navbar li a:hover{
           background-color: #555555;
        }
        #logo{
            text-align: center;
            
        }
        #banner{
            width: 100%;
            margin: 0;
            padding: 0;
        }
        .htmlUp{
            text-align: center;
            background-color: #555555;
            padding: 25px;
            color: #fff;
        }
        #btn1{
            margin-left: 15px;
            padding: 10px;
            background-color: rgba(24, 24, 252, 0.973);
            border: none;
            border-radius: 5px;
        }
        #btn1:hover{
            background-color: rgb(57, 57, 104);
        }
        #bannerDiv{
            margin: 0;
            padding: 0;
        }
        #social{
            display: flex;
            /* height: 350px; */
            justify-content: center;
            width: 100%;
            padding: 70px 0;
            text-align: center;
            
        }
        #telegram{
            /* background-color: red; */
            float: left;
            height: 250px;
            width:300px;
            margin-right: 50px;
           
        }
        #editer{
            /* background-color: blue; */
            float: left;
            width: 300px;
            height: 250px;
            margin-right: 50px;
        }
        #edit{
            /* background-color: blueviolet; */
            float: left;
            width: 300px;
            height: 250px;
            margin-right: 50px;
        }
        #middelH{
            background-color: rgb(165, 161, 161);
            height: 200px;
            text-align: center;
            padding-top: 50px;
        }
        hr{
            margin: 10px 300px;
            background-color: #fff;

        }
        .subMain{
        display: flex;
        justify-content: center;
        margin: 20px;
    }
    #main img{
        float: left;
        border-radius: 5px;
    }
    
    #main{
        margin: 50px 0;
    }
   .card{
        width: 500px;
   }
    #di4 h3{
       padding: 15px;
   }
   #que{
       text-align: center;
       height: 60px;
       padding-top: 50px;
       background-color: rgb(60, 60, 184);
   }
   #que span{
       color:#fff;
       font-size: 20px;
   }
   #btnq{
       background-color: #fff;
       border: none;
       border-radius: 3px;
       padding: 10px;
       margin-left: 15px;
       font-weight: bold;
   }

   #footer{
    display: flex;
    justify-content: center;
   }

   #list1{
       float: left;
        /* background-color: brown;    */
        padding: 60px; 

   }
   #list1 ul{
       list-style-type: none;
   }
   #list1 ul li{
       text-align: left;
       margin: 12px 0;
   }
   #list1 h3{
       text-align: center;
       margin-left: 7px;
   }
   #list2{
       float: left;
       /* background-color: blueviolet; */
       padding: 60px;    
   }
   #list2 ul{
       list-style-type: none;
   }
   #list2 ul li{
       text-align: left;
       margin: 12px 0;
   }
   #list2 h3{
       text-align: center;
       margin-left: 7px;
   }
   #form{
       float: left;
       /* background-color: blue; */
       padding: 60px;
   }
   #form input{
        margin: 15px 0;
        margin-right: 15px;
       
   }
   #form textarea{
       width: 100%;
       height:150px;
       margin-bottom: 25px;
   }
   #btnf{
       background-color: #424141;
       color: #fff;
       font-weight: bold;
       border-radius: 3px;
       border: none;
       padding: 10px;
   }

   #socialIcon{
       height: 80px;
       background-color: burlywood;
       font-size: 36px;
       text-align: center;
   }
   
