<div class="container">
    <p class="text-center lead">Try some operation with list like push, pop, shifting, deleting element</p>
    <p class="lead">Before the Any operation The current array are Given bellow</p>
    <p class="text-success" id="arr1"></p>
    <p class="lead">Pop Element</p>
    <p class="text-danger" id="pop1"></p>
    <p class="lead">Now String</p>
    <p class="text-danger" id="pop2"></p>
    <p class="lead">Push Element</p>
    <p class="text-success" id="push1"></p>
    <p class="lead">Now String</p>
    <p class="text-success" id="push2"></p>
    <p class="lead">Shifting Element</p>
    <p class="text-danger" id="shift1"></p>
    <p class="lead">Now String</p>
    <p class="text-danger" id="shift2"></p>
    <p class="lead">Deleted Element</p>
    <p class="text-success" id="deleted1"></p>
    <p class="lead">Now String</p>
    <p class="text-success" id="deleted2"></p>

   
    
    


</div>
