<section id="main-content">
    <div class="bg-light py-5" style="margin-top: -20px;">
        <!--recommended movies-->
        <section id="recommended-movies">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="font-weight-bold h3">Recommended Movies</h4>
                    </div>
                    <div class="col-md-6">
                        <a routerLink="movies" routerLinkActive="active" class="text-decoration-none">
                            <h6 class="font-weight-normal text-right" style="color: rgb(253, 98, 124);">See All &gt;
                            </h6>
                        </a>
                    </div>
                </div>
                    <app-recommended-movies></app-recommended-movies>
            </div>
        </section>

        <div class="container my-5 d-none d-lg-block">
            <a href="#">
                <img src="../../assets/images/longLabel-1.png"
                    alt="" loading="lazy" class="w-100 rounded">
            </a>
        </div>

        <!--Entertainment-->
        <section id="entertainment">
            <div class="container">
                <h4 class="font-weight-bold h3">The Best Of Entertainment</h4>
                <p class="text-muted d-md-block d-lg-none">Step out or stay in, interesting experiences for everyone
                </p>

                <div class="row slick-entertainment">
                    <div class="col-sm-12 col-md-4 col-lg-3">

                        <div>
                            <div class="slide-content">
                                <a href="#"><img
                                        src="../../assets/images/entertainment-1.png"
                                        alt="" loading="lazy" class="w-100"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div>
                            <div class="slide-content">
                                <a href="#"><img
                                        src="../../assets/images/entertainment-2.png"
                                        alt="" loading="lazy" class="w-100"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div>
                            <div class="slide-content">
                                <a href="#"><img
                                        src="../../assets/images/entertainment-3.png"
                                        alt="" loading="lazy" class="w-100"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div>
                            <div class="slide-content">
                                <a href="#"><img
                                        src="../../assets/images/entertainment-4.png"
                                        alt="" loading="lazy" class="w-100"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div>
                            <div class="slide-content">
                                <a href="#"><img
                                        src="../../assets/images/entertainment-5.png"
                                        alt="" loading="lazy" class="w-100"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div>
                            <div class="slide-content">
                                <a href="#"><img
                                        src="../../assets/images/entertainment-6.png"
                                        alt="" loading="lazy" class="w-100"></a>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div>
                            <div class="slide-content">
                                <a href="#"><img
                                        src="../../assets/images/entertainment-7.png"
                                        alt="" loading="lazy" class="w-100"></a>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div>
                            <div class="slide-content">
                                <a href="#"><img
                                        src="../../assets/images/entertainment-8.png"
                                        alt="" loading="lazy" class="w-100"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div>
                            <div class="slide-content">
                                <a href="#"><img
                                        src="../../assets/images/entertainment-9.png"
                                        alt="" loading="lazy" class="w-100"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div>
                            <div class="slide-content">
                                <a href="#"><img
                                        src="../../assets/images/entertainment-10.png"
                                        alt="" loading="lazy" class="w-100"></a>
                            </div>
                        </div>

                    </div>
                </div>



            </div>
        </section>
    </div>

    <!--Premieres-->
    <section id="premieres" class="bg-dark">
        <app-premiere-movies></app-premiere-movies>
    </section>

    <!--outdoor events-->
    <section id="outdoor-events" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="font-weight-bold h3">Outdoor Events<span class="badge badge-danger mx-2">NEW</span>
                    </h4>
                </div>
                <div class="col-md-6">
                    <a routerLink="events" routerLinkActive="active" class="text-decoration-none">
                        <h6 class="font-weight-normal text-right" style="color: rgb(253, 98, 124);">See All &gt;
                        </h6>
                    </a>
                </div>
            </div>
            <app-outdoor></app-outdoor>
            
        </div>
    </section>

    <div class="bg-light">
        <!--Laughter Therapy-->
        <section id="outdoor-events" class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="font-weight-bold h3">Laughter Therapy</h4>
                    </div>
                    <div class="col-md-6">
                        <a routerLink="events" routerLinkActive="active" class="text-decoration-none">
                            <h6 class="font-weight-normal text-right" style="color: rgb(253, 98, 124);">See All &gt;
                            </h6>
                        </a>
                    </div>
                </div>
                <app-comedies></app-comedies>
                
            </div>
        </section>

        <!--Popular Events-->
        <section id="outdoor-events" class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="font-weight-bold h3">Popular Events</h4>
                    </div>
                    <div class="col-md-6">
                        <a routerLink="events" routerLinkActive="active" class="text-decoration-none">
                            <h6 class="font-weight-normal text-right" style="color: rgb(253, 98, 124);">See All &gt;
                            </h6>
                        </a>
                    </div>
                </div>
                <app-populars></app-populars>
                
            </div>
        </section>

        <div class="container d-none d-lg-block pb-5">
            <a href="#">
                <img src="../../assets/images/longLabel-2.png"
                    alt="" loading="lazy" class="w-100 rounded">
            </a>
        </div>

        <div class="bg-dark mb-5">
            <div class="container d-md-block d-lg-none p-3">
                <a href="#">
                    <img src="../../assets/images/mediumLabel-1.png"
                        alt="" loading="lazy" class="w-100 rounded">
                </a>
            </div>
        </div>

        <!--Latest Plays-->
        <section id="outdoor-events" class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="font-weight-bold h3">The Latest Plays</h4>
                    </div>
                    <div class="col-md-6">
                        <a routerLink="plays" routerLinkActive="active" class="text-decoration-none">
                            <h6 class="font-weight-normal text-right" style="color: rgb(253, 98, 124);">See All &gt;
                            </h6>
                        </a>
                    </div>
                </div>
                <app-plays></app-plays>
                
            </div>
        </section>

        <!--Top games and sports events-->
        <section id="top-sports-events" class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="font-weight-bold h3">Top Games &amp; Sports Events</h4>
                    </div>
                    <div class="col-md-6">
                        <a routerLink="sports" routerLinkActive="active" class="text-decoration-none">
                            <h6 class="font-weight-normal text-right" style="color: rgb(253, 98, 124);">See All &gt;
                            </h6>
                        </a>
                    </div>
                </div>
                <app-sports></app-sports>
                
            </div>
        </section>




        <!--Trending Searches-->
        <section id="trending-search">
            <div class="container d-none d-lg-block pb-5">
                <h4 class="font-weight-bold h3">Trending Searches Right Now</h4>
                <div class="d-flex flex-row flex-wrap">
                    <div class="card m-2">
                        <div class="card-body">
                            <h5 class="search-item h6">India Vs England</h5>
                            <h5 class="font-weight-normal h6">Movies</h5>
                        </div>
                    </div>
                    <div class="card m-2">
                        <div class="card-body">
                            <h5 class="search-item h6">Chaal Jeevi Laieye</h5>
                            <h5 class="font-weight-normal h6">Movies</h5>
                        </div>
                    </div>
                    <div class="card m-2">
                        <div class="card-body">
                            <h5 class="search-item h6">Fast and Furious 9</h5>
                            <h5 class="font-weight-normal h6">Movies</h5>
                        </div>
                    </div>
                    <div class="card m-2">
                        <div class="card-body">
                            <h5 class="search-item h6">ICC CWC 2019 - India Vs England (Live Screening)</h5>
                            <h5 class="font-weight-normal h6">Movies</h5>
                        </div>
                    </div>
                    <div class="card m-2">
                        <div class="card-body">
                            <h5 class="search-item h6">K.G.F. Chapter 2</h5>
                            <h5 class="font-weight-normal h6">Movies</h5>
                        </div>
                    </div>
                    <div class="card m-2">
                        <div class="card-body">
                            <h5 class="search-item h6">Suryavanshi</h5>
                            <h5 class="font-weight-normal h6">Movies</h5>
                        </div>
                    </div>
                    <div class="card m-2">
                        <div class="card-body">
                            <h5 class="search-item h6">Uppena</h5>
                            <h5 class="font-weight-normal h6">Movies</h5>
                        </div>
                    </div>
                    <div class="card m-2">
                        <div class="card-body">
                            <h5 class="search-item h6">India Vs West Indies T20</h5>
                            <h5 class="font-weight-normal h6">Movies</h5>
                        </div>
                    </div>
                    <div class="card m-2">
                        <div class="card-body">
                            <h5 class="search-item h6">L2: Empurran</h5>
                            <h5 class="font-weight-normal h6">Movies</h5>
                        </div>
                    </div>
                    <div class="card m-2">
                        <div class="card-body">
                            <h5 class="search-item h6">West Indies Vs India T20 Match 1</h5>
                            <h5 class="font-weight-normal h6">Movies</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="bg-dark mb-5">

            <div class="container d-md-block d-lg-none p-3">
                <a href="#">
                    <img src="../../assets/images/mediumLabel-2.png"
                        alt="" loading="lazy" class="w-100 rounded">
                </a>
            </div>

        </div>

        <!--explore fun activities-->
        <section id="fun-activities" class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="font-weight-bold h3">Explore Fun Activities</h4>
                    </div>
                    <div class="col-md-6">
                        <a routerLink="activities" routerLinkActive="active" class="text-decoration-none">
                            <h6 class="font-weight-normal text-right" style="color: rgb(253, 98, 124);">See All &gt;
                            </h6>
                        </a>
                    </div>
                </div>
                <app-activities></app-activities>
                
            </div>
        </section>
    </div>
</section>