<div class="AdminBack">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
    
            </div>
            <div class="col-md-4 my-5">
                <div class="card py-3 rounded loginBack">
                    <div class="card-body">
                        <h1 class="text-center mt-2 pb-3 text-white">
                            Admin
                        </h1>
                        <form action="post" class="text-center">
                            <div class="form-group form-control formBack">
                                <label for="UserName" class="text-white">
                                    Username
                                </label>
                                <input type="text" [(ngModel)]="LogInModel.Username" [ngModelOptions]="{standalone: true}" class="form-control text-center">
                            </div>
                            <div class="form-group form-control formBack">
                                <label for="UserName" class="text-white">
                                    Password
                                </label>
                                <div class="input-group">
                                    <input type="{{type}}" [(ngModel)]="LogInModel.Password" [ngModelOptions]="{standalone: true}" class="form-control text-center border-right">
                                    <div class="input-group-append" (click)="changeVisible()">
                                        <span *ngIf="visiblePassword == false" class="input-group-text bg-white"><i class="far fa-eye-slash"></i></span>
                                        <span *ngIf="visiblePassword == true" class="input-group-text bg-white"><i class="far fa-eye"></i></span>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" (click)="LoginAdmin()" class="btn btn-md btn-outline-dark text-warning">
                        </form>                        
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
