body {
  margin-top: 126px; }

.bg-theme {
  background-color: #01e08f; }

.nav-bar a, .nav-bar h4 {
  color: #0751ac !important;
  font-size: 30px;
  margin-left: 8px; }

.nav-bar a:hover {
  color: #053b7e !important; }

.nav-bar .active {
  font-weight: bold; }
