<div class="container mt-5">
    <p class="display-4 text-center mt-5">
        Cart&nbsp;<i class="fas cartLogo fa-cart-arrow-down"></i>
    </p>
</div>
<hr class="container">

<div class="row d-flex justify-content-around">
    <div class="cart" *ngFor="let l of carts;let idx=index">
        <div class="card cart1 border border-white my-4" style="width: 18rem;">
            <img class="cartImg card-img-top m-auto p-3" (click)="clickProduct(products[idx].productId)"
                src="../../../{{products[idx].imgPath}}" alt="Card image cap">
            <button class="btn btn-danger button" (click)="deleteCart(l.userId,l.productId)">X</button>
            <div *ngIf="products[idx].offer !=0" class="ribbon ribbon-top-left">
                <span>{{products[idx].offer}}% OFF</span>
            </div>
            <div class="card-body text-center text-dark">
                <p>
                    {{products[idx].productName}}
                </p>
                <p>
                    <span [ngClass]="{newPrice:(products[idx].offer !=0)}"><i
                            class="fas fa-rupee-sign"></i>{{products[idx].productPrice}}</span>&nbsp;
                    <span *ngIf="products[idx].offer !=0"><i
                            class="fas fa-rupee-sign"></i>{{products[idx].productPrice-products[idx].productPrice*products[idx].offer/100}}</span>
                </p>
                <button class="form-control btn btn-dark"
                    (click)="AddOrder(l.userId,l.productId);deleteCart(l.userId,l.productId)">
                    Order it
                </button>
            </div>
        </div>
    </div>
</div>
<div class="text-center table-danger" *ngIf="carts.length == 0">
    <p class="display-1 text-dark p-5">
        Cart is Empty
    </p>
</div>