        <div class="cointainar">
            <div class="div1"><h2 style="color: darkgreen;">logo here</h2></div>
            <div class="div2">
                <a href="#home">Home</a>
                <a href="#Pages">Pages</a>
                <a href="#Blog">Blog</a>
                <a href="#PortFolio">PortFolio</a>
                <a href="#Features">Features</a>
                <a href="#Shortcodes">Shortcodes</a>
            </div>
            <div class="div3"><img src="../../assets/Images/bg.jpg" alt=""></div>
            <div class="div4">
                <strong>Lorem earum, delectus dolor expedita voluptatibus! Quae?</strong>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ea omnis aliquid recusandae amet error inventore quae minus atque beatae fugiat temporibus consequatur odio ab cupiditate perferendis, deleniti totam velit?</p>
            </div>
            <div><button style="background-color: darkgreen; color: darkgrey; margin-top: 25px;" >Dowlod_now</button></div>
            <div class="div7"><b> Recent work</b><hr></div>
        
            <div class="div8">
                <img src="./../../assets/Images/logo1.png" alt="" >
                <br>
                <b>Project One</b>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quae eum perferendis alias, tempore nobis accusantium incidunt nisi eos consectetur.</p>
            </div>
            <div class="div9">
                <img src="../../assets/Images/logo2.png" alt="">
                <br>
                <b>Project Two</b>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quae eum perferendis alias, tempore nobis accusantium incidunt nisi eos consectetur.</p>
            </div>
            <div class="div10"> 
                <img src="../../assets/Images/logo3.png" alt="">
                <br>
                <b>Project Three</b>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quae eum perferendis alias, tempore nobis accusantium incidunt nisi eos consectetur.</p>
            </div>
            <div>
                <img src="../../assets/Images/logo4.png" alt="">
                <br>
                <b>Project four</b>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quae eum perferendis alias, tempore nobis accusantium incidunt nisi eos consectetur.</p>
            </div>
            <div class="div11">
                <Strong>welecome to this site</Strong>
                <hr>

            </div>
            <div class="div12"><img src="../../assets/Images/logo5.png" alt=""></div>
            <div class="div5">
                <img src="../../assets/Images/logo6.jpg" alt="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae exercitationem voluptatibus iste molestiae <br> harum culpa verolaborum, inventore <br>dolorum deserunt maxime nulla soluta dolores. Quibusdam ut iusto<br> 
                ea nam magnam. Lorem, ipsum dolor sit amet consectetur adipisicing tempora, eius ratione?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nemo aut accusamus neque eveniet error facere autem minima consectetur a officia, asperiores magnam, ipsa nesciunt natus non. Ducimus, necessitatibus perferendis?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ratione ullam esse vel laboriosam at, tempora quos sint reiciendis numquam inventore? Repellendus omnis saepe soluta animi odio modi eaque harum.
            </div>
             <div class="div6">
                 <img src="../../assets/Images/logo9.png" alt="">
                 <img src="../../assets/Images/logo9.png" alt="">
                 <img src="../../assets/Images/logo9.png" alt="">
                 <img src="../../assets/Images/logo9.png" alt="">
                 <img src="../../assets/Images/logo9.png" alt="">
                 <img src="../../assets/Images/logo9.png" alt="">
                 <img src="../../assets/Images/logo9.png" alt="">
                 <img src="../../assets/Images/logo9.png" alt="">
                 </div>
            <div style="background-color: black;">
                <h2 style="color: darkgreen;"> Logo Here</h2>
                <p  style="color:whitesmoke;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nihil debitis magnam, soluta iste aliquam quam maxime illo minima animi ullam apeaccusamus.</p>
            </div>
            <div style="background-color: black;">
                <b style="color: blanchedalmond;">Letest_post</b>
                 <hr>
                 <small style="color: blanchedalmond;">Incredible context</small>
                 <p style="color: darkgray; font-size: 10px;">6 May 2018</p>
                
                 <hr>
                 <small style="color: blanchedalmond;">Incredible context</small>
                 <p style="color: darkgray; font-size: 10px;">6 May 2018</p>
                 <hr>
                 <small style="color: blanchedalmond;">Incredible context</small>
                 <p style="color: darkgray; font-size: 10px;">6 May 2018</p>

            </div>
            <div style="background-color: black;">
                <b style="color: blanchedalmond;">Important links</b>
                <p style="color:cadetblue; font-size: 10px;">About us</p>
                <hr>
                <p style="color:cadetblue; font-size: 10px;">About us</p>
                <hr>
                <p style="color:cadetblue; font-size: 10px;">About us</p>
                <hr>
        
                <p style="color:cadetblue; font-size: 10px;">About us</p>
    
            </div>
            <div style="background-color: black;">
                <p style="color: blanchedalmond;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea consequatur voluptatem perspiciatis facilis hic cum, provident laborum sapiente maxime sed veniam possimus, voluptatibus architecto saepe voluptas, ipsum voluptate modi unde!
                    <br style="background-color: darkgreen;">97144552112
                </p>
            </div>
            <footer class="div13">
                &copy;<strong>All WriteReserved</strong>
                <p  style=" display: inline; color: darkgreen;">Private policy | teams of services</p>
                <img src="images/logo8.png" alt="">
                <img src="images/logo7.png" alt="">
                <img src="images/download4.jpg" alt="">
                <img src="images/download.jpg" alt="">

                

            </footer>

        

        </div>
    