<div id="A">
    <p>ADDRESS:-c-303 swapnil heights near 108 EMRI center</p>
    <a href="mailto:bhargavprajapati1094740@gmail.com">bhargavprajapati1094740@gmail.com</a>
</div>
<div id="B">
    <b>BHARGAV G. PRAJAPATI</b>
</div>
    <div>
<table border="1">
    <tr>
        <td id="Z">OBJECTIVE</td>
        <td id="Q">
            To Work in a dynamic environment that provides me a wide spectrum of experience and exposure. To bring a dynamic and versatile portfolio of skills at work place and to serve the organization with positive attitude and efficiency.
            Work with the best of my knowledge and abilities for the fulfillment of the job entrusted in time. Special interest to take challenging and responsible works, known or unknown, with high level of confidence and fulfill the matter at the entire satisfaction of management.
        </td>
    </tr>
    <tr>
        <td id="Z">VALUE PROFILE</td>
        <td id="Q">
            Can take initiative, work under pressure and balance multi-task assignment.
            Can be a good team member, especially in challenging task.
            Sustenance to do work patiently through tough situation.
        </td>
    </tr>
    <tr>
        <td id="Z">TECHNICAL SKILLS</td>
        <td id="Q">
            <b>Programming Languages:</b>  J2SE, J2EE, C, C++.<br>
            <b>Database :/</b> MYSQL.<br>
            <b>Web Technologies:</b> HTML, CSS, JAVA SCRIP.<br>
            <b>Operating System:</b> Windows.<br>
            Knowledge of Framework in Java (JSP & Servlet.)
            Currently learning<br> on Hibernate and Spring framework
            Basic knowledge of MS Excel and MS Office.
        </td>
    </tr>
    <tr>
        <td id="Z">EDUCATION</td>
        <td id="Q">
            <pre>
            <b>L.J INSTITUTE OF ENGINEERING AND TECHNOLOGY-AHMEDABAD (GTU)</b>
                CGPA: 8.00(5th Semester)                         Year:Dec,2019
                CGPA: 8.69(6th Semester)                         Year:May,2020
                CGPA: NA (7th  Semester)                         Year: NA 
                CGPA: NA(8th Semester)                           Year: NA
            <b>VIKASH VIDHALAYA-SANAND (HSEB) </b>
                 Percentage :60.83%                               Year:March-2017
            <b>SURAJMOTI SCHOOL(GSEB)</b>
                Percentage :66.50%                               Year:March-2015
                 </pre>
        </td>
    </tr>
    <tr>
        <td id="Z">AREA OF INTEREST</td>
        <td id="Q">learning  new skills every time .</td>
    </tr>
    <tr>
        <td id="Z"> PROJECT</td>
        <td id="Q"><b>BRAIN TUMOR DETECTION USING MACHINE LEARNING</b></td>
    </tr>
    <tr>
        <td id="Z">STRENGTHS</td>
        <td id="Q">

            Positive attitude<br>
            Very good team player and self-starter.<br>
            Dedicated & Self Motivated<br>
            Adaptive learning with continuous knowledge enhancement.<br>
            Ability to independently research and resolve issues.<br>

            
        </td>
    </tr>
    <tr>
        <td id="Z">PERSONAL DETAILS</td>
        <td id="Q">
            <b>Name:</b> Bhargav prajapati <br>
            <b>Father name:</b> govabhai prajapati<br>
            <b>Date of birth:</b>12/11/1999<br>
            <b>State/Nation:</b> Gujarat /india<br>
            <b>Languages known:</b> Gujarati, Hindi,English<br>
            <b>Hobbies:</b> Improve skill, playing
            cricket  and chess.<br>


        </td>
    </tr>
    <tr>
        <td id="Z">VIDIO FILE</td>
        <td id="Q">
            <video controls autoplay>
                <source src="../../assets/Video/sample-mp4-file.mp4" type="video/mp4">
            </video>
        </td>
    </tr>
    <tr>

        <td id="Z">DECLARATION</td>
        <td id="Q">	I hereby declare that all the above information given by me is true of my best knowledge</td>
    </tr>
</table>
    </div>
<div style="text-align: right;">
    Yours Sincerely<br>
    <b>Bhargav Prajapati</b>

</div>
