<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row py-3">
            
            <div class="col-lg-8">

                <article>
                    <h1>Farmer's Protest</h1>
                    <img src="Images/Farmer'sProtest.jfif">
                    <p>
                        NEW DELHI: The Supreme Court on Thursday asked the Centre what it has learnt from the Nizamuddin
                        Markaz congregation earlier this year
                        amid Covid-19, and the same situation may arise with the protesting farmers, if precautionary
                        measures are not taken to contain the
                        spread of Covid-19.
                    </p>
                    <p>
                        Citing the ongoing farmers protest at various Delhi borders, a bench headed by Chief Justice
                        S.A.
                        Bobde asked the Solicitor General
                        Tushar Mehta, "You must tell us what is happening?"
                    </p>
                    <p>
                        The bench also comprising Justices A.S. Bopanna and V. Ramasubramanian queried further, whether
                        farmers protesting at various Delhi borders
                        are taking precaution to contain the spread of Covid-19.
                    </p>
                    <p>
                        When the Solicitor General replied in negative, the top court said it could potentially become a
                        situation like the Nizamuddin Markaz congregation in the national capital, which happened in
                        March
                        last year. Mehta replied that he will find the status.
                        NEWS IN BRIEF
                    </p>
                </article>

            </div>
        </div>
    </div>
</body>

</html>