
<div >
    <div class="left">
        <div class="dropdown text-dark">
            <button class="btn hover form-control btn-white btn-default dropdown-toggle" type="button"
                data-toggle="dropdown">Day4
                <span class="caret"></span></button>
            <ul class="dropdown-menu form-control bg-dark text-center">
                <li class="dropdown-header" style="font-size: large;">Assignment</li>
                <li><a class="text-center" [routerLink]="['Day4/Assignment/Resume']">Resume</a></li>
                <li class="divider"></li>

                <li class="dropdown-header" style="font-size: large;">Practice</li>
                <li><a class="text-center" [routerLink]="['Day4/Practice/Student']">Student</a></li>
                <li><a class="text-center" [routerLink]="['Day4/Practice/Task']">Task</a></li>

            </ul>
        </div>
        <div class="dropdown text-dark">
            <button class="btn hover form-control btn-white btn-default dropdown-toggle" type="button"
                data-toggle="dropdown">Day5
                <span class="caret"></span></button>
            <ul class="dropdown-menu form-control bg-dark text-center">
                <li class="dropdown-header" style="font-size: large;">Assignment</li>
                <li><a class="text-center" [routerLink]="['Day5/Assignment/Assignment']">Assignment</a></li>
                <li class="divider"></li>

                <li class="dropdown-header" style="font-size: large;">Practice</li>
                <li><a class="text-center" [routerLink]="['Day5/Practice/Position']">Position</a></li>
                <li><a class="text-center" [routerLink]="['Day5/Practice/Practice1']">Practice 1</a></li>
                <li><a class="text-center" [routerLink]="['Day5/Practice/Practice2']">Practice 2</a></li>
            </ul>
        </div>
        <div class="dropdown text-dark">
            <button class="btn hover form-control btn-white btn-default dropdown-toggle" type="button"
                data-toggle="dropdown">Day6
                <span class="caret"></span></button>
            <ul class="dropdown-menu form-control bg-dark text-center">
                <li class="dropdown-header" style="font-size: large;">Assignment</li>
                <li><a class="text-center" [routerLink]="['Day6/Assignment/Assignment']">Assignment</a></li>
                <li class="divider"></li>

                <li class="dropdown-header" style="font-size: large;">Practice</li>
                <li><a class="text-center" [routerLink]="['Day6/Practice/Practice1-4']">Practice 1-4</a></li>
                <li><a class="text-center" [routerLink]="['Day6/Practice/Practice5']">Practice 5</a></li>
                <li><a class="text-center" [routerLink]="['Day6/Practice/Practice6']">Practice 6</a></li>
            </ul>
        </div>
        <div class="dropdown text-dark">
            <button class="btn hover form-control btn-white btn-default dropdown-toggle" type="button"
                data-toggle="dropdown">Day7
                <span class="caret"></span></button>
            <ul class="dropdown-menu form-control bg-dark text-center">
                <li class="dropdown-header" style="font-size: large;">Assignment</li>
                <li><a class="text-center" [routerLink]="['Day7/Assignment/Assignment']">Assignment</a></li>
                <li class="divider"></li>

                <li class="dropdown-header" style="font-size: large;">Practice</li>
                <li><a class="text-center" [routerLink]="['Day7/Practice/Practice1']">Practice 1</a></li>
                <li><a class="text-center" [routerLink]="['Day7/Practice/Practice2']">Practice 2</a></li>
               
            </ul>
        </div>
        <div class="dropdown text-dark">
            <button class="btn hover form-control btn-white btn-default dropdown-toggle" type="button"
                data-toggle="dropdown">Day8
                <span class="caret"></span></button>
            <ul class="dropdown-menu form-control bg-dark text-center">
                <li class="dropdown-header" style="font-size: large;">Assignment</li>
                <li><a class="text-center" [routerLink]="['Day8/Assignment/Assignment']">Assignment</a></li>
            </ul>
        </div>
    </div>
    <div class="right"> 
        <router-outlet></router-outlet>
    </div>
    <footer class="footer_low"> Copy right @ 2010-2021</footer>
</div> 