<header>
    <div class="bg-primary text-white py-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1><i class="far fa-cog"></i>Dashborad</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container mx-auto my-3"> 
        <div class="col-lg-3">
            <a href="" class="btn btn-warning btn-block" id="adduser" data-toggle="modal" data-target="#Adduser">
                <i class="fa fa-plus" aria-hidden="true"></i> Add User
            </a>
        </div>
    </div>
</section>
<div class="users">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="modal" id="AddModal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h4 class="modal-title"> user Data Update</h4>
                          <button  id ="closes" class="close" (click)="closemodel()">&times;</button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                            <form [formGroup]="cityForm" (ngSubmit)="updatedata(cityForm.value)">
                                <div class="form-group">
                                    <input  formControlName="uusertype" [(ngModel)]="updateusertype" type="hidden" id="id" value="">
                                  </div>
                                <div class="form-group">
                                  <input formControlName="uusername" [(ngModel)]="updateusername" type="text" class="form-control" placeholder="Enter name" id="name" value="">
                                  <!--<div id="names" class="validdatas text-danger">Enter valid Name.</div>-->
                                </div>
                                <div class="form-group">
                                    <input formControlName="uusertel" [(ngModel)]="updateusertel" type="tel" class="form-control" placeholder="Enter mobile no" id="mobileno" value="">
                                  <!--  <div id="phones" class="validdatas text-danger">Enter valid Mobile Phone.</div>-->
                                  </div>
                                  <div class="form-group">
                                    <input formControlName="uuseremail" [(ngModel)]="updateuseremail" type="email" class="form-control" placeholder="Enter email" id="email" value="">
                                   <!-- <div id="emailids" class="validdatas text-danger">Enter valid Email id.</div>-->
                                  </div>
                                  <div class="form-group">
                                    <input formControlName="uuserpass" [(ngModel)]="updateuserpass" type="text" class="form-control" placeholder="Enter password" id="password" value="">
                                 <!--   <div id="passwords" class="validdatas text-danger">Enter valid Passwords.</div>-->
                                  </div>
                                  <button type="button" class="btn btn-secondary mr-3" (click)="closemodel()">Close</button>
                                  <button type="submit" class="btn btn-primary">Submit</button>
                              </form>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="modal" id="Adduser">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h4 class="modal-title">New user Data</h4>
                          <button type="button"  id ="closes" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                            <form [formGroup]="cityForm" (ngSubmit)="addnewdata(cityForm.value)">
                                <div class="form-group">
                                    <select formControlName="usertype"  name="" class="form-control w-100" id="newtypeuser">
                                        <option value="admin">admin</option>
                                        <option value="user">user</option>
                                    </select>
                                </div>  
                                <div class="form-group">
                                  <input formControlName="username" type="text" class="form-control" placeholder="Enter name" id="newname" value="">
                                  <label id="name" class="text-danger valdefault">Enter Valid name</label> 
                                </div>
                                <div class="form-group">
                                    <input formControlName="usertel" type="text" class="form-control" placeholder="Enter mobile no" id="newmobileno" value="">
                                    <label id="phpneno" class="text-danger valdefault">Enter Valid mobileno</label>
                                </div>
                                  <div class="form-group">
                                    <input formControlName="useremail" type="email" class="form-control" placeholder="Enter email" id="newemail" value="">
                                    <label id="valemail" class="text-danger valdefault">Enter Valid Email</label>
                                </div>
                                  <div class="form-group">
                                    <input formControlName="userpass" type="text" class="form-control" placeholder="Enter password" id="newpassword" value="">
                                    <label id="valpass" class="text-danger valdefault">Enter Valid Password</label>
                                </div>
                                  <button type="submit" class="btn btn-primary">Submit</button>
                              </form>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                        </h4>
                    </div>
                    <table id="my_table" class="display">
                        <thead>
                            <tr>
                                <th>Id</th>  
                                <th>User Type</th>
                                <th>User Name</th>
                                <th>User Email</th>
                                <th>User Mobile No</th>
                                <th>User Password</th>
                                <th>Action</th>
                                <th>Update</th>
                            </tr>
                        </thead>
                        <tbody id="tblbody">                         
                          <tr *ngFor="let item of usersingupdatas;let idx = index" class='my-5'>
                            <td>{{item.userId}}</td>
                            <td>{{item.options}}</td>
                            <td>{{item.names}}</td>
                            <td>{{item.emails}}</td>
                            <td>{{item.phoneno}}</td>
                            <td>{{item.lpassword}}</td>
                            <td><button class='btn btn-danger deletebtn' (click)="deleterow(item.userId)"
                            ><i class='fas fa-trash-alt'></i>delete</button></td>
                            <td><button class='btn btn-warning deletebtn' (click)='updaterow(item.userId)'><i class='fas fa-trash-alt'></i>Update</button></td>
                          </tr>
                          <br>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <script>
  window.onload = () => {
    show();
}
function show(){
 var table = document.getElementById('my_table');
 var list = JSON.parse(localStorage.getItem('loginwithsignup'));
var str = "";
 for(i = 0; i<list.length ; i++){
   var no = i+1;
  str +="<tr class='my-5'><td>"+no+"</td><td>"+list[i].visitortype+"</td><td>"+list[i].name+"</td><td>"+list[i].email+"</td><td>"+list[i].mobileno+"</td><td>"+list[i].password+"</td><td>"+"<button class='btn btn-danger deletebtn' onclick='deleterow("+i+")'><i class='fas fa-trash-alt'></i>delete</button>"+"</td><td>"+"<button class='btn btn-warning deletebtn' onclick='updaterow("+i+")'><i class='fas fa-trash-alt'></i>Update</button>"+"</td></tr><br>"
}
table.innerHTML += str;
}
function deleterow(index){
  var list = JSON.parse(localStorage.getItem('loginwithsignup'));
   list.splice(index,1);
   localStorage.setItem('loginwithsignup',JSON.stringify(list));
   location.reload();
}
function updaterow(index){
  var list = JSON.parse(localStorage.getItem('loginwithsignup'));
  $(document).ready(function(){
    $("#AddModal").show();
    $("#closes").click(function(){
      $("#AddModal").hide();
    });
    
    $("#id").val(index+1);
    $("#name").val(list[index].name);
    $("#mobileno").val(list[index].mobileno);
    $("#email").val(list[index].email);
    $("#password").val(list[index].password);
  });
}
function setupdatedata(){
  listid = $("#id").val()-1;
  var list = JSON.parse(localStorage.getItem('loginwithsignup'));
  list[listid].name = $("#name").val();
  list[listid].mobileno = $("#mobileno").val();
  list[listid].email = $("#email").val();
  list[listid].password = $("#password").val();
  $(document).ready(function (){
    $("#name,#mobileno,#email,#password").focus(function(){
      $("#names,#phones,#emailids,#passwords").hide();
    });
  });
  alert(list[listid].name);
  if((list[listid].name == "") || (list[listid].mobileno == "") || (list[listid].email == "") || (list[listid].password == "") ){
    alert("blank");
    $("#names,#phones,#emailids,#passwords").show();
    return false;
  }
   else{
    $(document).ready(function (){
     $("#name,#mobileno,#email,#password").blur(function(){
       $("#names,#phones,#emailids,#passwords").hide();
     });
   });
  } 
  localStorage.setItem('loginwithsignup',JSON.stringify(list));
  alert("Update Data Successfully")
  return true;
}
function Insertrow(){
  listid = $("#id").val()-1;
  var list = JSON.parse(localStorage.getItem('loginwithsignup'));
  list[listid].name = $("#name").val();
  list[listid].mobileno = $("#mobileno").val();
  list[listid].email = $("#email").val();
  list[listid].password = $("#password").val();  
  $(document).ready(function (){
    $("#newname,#newmobileno,#newemail,#newpassword").focus(function(){
      $("#name,#phpneno,#valemail,#valpass").hide();
    });
  });
  if((list[listid].name == "") || (list[listid].mobileno == "") || (list[listid].email == "") || (list[listid].password == "") ){
    alert("enter");
    $("#name,#phpneno,#valemail,#valpass").show();
    return false;
  }
   else{
    $(document).ready(function (){
     $("#newname,#newmobileno,#newemail,#newpassword").blur(function(){
       $("#name,#phpneno,#valemail,#valpass").hide();
     });
   });
  }
  localStorage.setItem('loginwithsignup',JSON.stringify(list));
  alert("Update Data Successfully")
  return true;
} 
function Adduser(){
  
  $(document).ready(function (){
    $('#Adduser').show();
    
  });
  return false;
}
function Close(id){
  alert("newaddcity");    
      $(id).hide();
}
function Addnewuser(){
  
  var list;
  var signupdataob = {
    "id" : 0,
    "visitortype" : $("#newtypeuser").val(),
    "mobileno" :$("#newmobileno").val(),
    "name" :$("#newname").val(),
    "email" :$("#newemail").val(),
    "password" :$("#newpassword").val(),
  }
  $(document).ready(function (){
    $("#newname,#newmobileno,#newemail,#newpassword").focus(function(){
      $("#name,#phpneno,#valemail,#valpass").hide();
    });
  });
  if((name == "") || (mobileno == "") || (email == "") || (password == "") ){
    alert("enter");
    $("#name,#phpneno,#valemail,#valpass").show();
    return false;
  }
   else{
    $(document).ready(function (){
     $("#newname,#newmobileno,#newemail,#newpassword").blur(function(){
       $("#name,#phpneno,#valemail,#valpass").hide();
     });
   });
  }
  list=JSON.parse(localStorage.getItem('loginwithsignup')) || [];
  list.push(signupdataob);     
  signupdataob=JSON.stringify(list);
  localStorage.setItem('loginwithsignup',signupdataob);
  alert("Register New user successfully");
  return true;
}
</script> -->