<div class="col-md-12 ">
    <h4 class="text-center"> Product</h4>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo quisquam alias omnis dolorem. Ad velit dignissimos, sit incidunt aperiam molestiae numquam fugiat quidem fugit alias hic quae nam esse corrupti!</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3"><div class="card" style="width: 18rem; ">
            <img src="../../assets/Images/AC.jpg" class="card-img-top" style="height: 150px;" alt="">
            <div class="card-body">
              <h5 class="card-title">Air Conditioner</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div> </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/Images/leptop.jpg" class="card-img-top" style="height: 150px;" alt="">
                <div class="card-body">
                  <h5 class="card-title">Laptop</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/Images/TV.jpg" style="height: 150px;" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">TV</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/Images/mobile.jpg" style="height: 150px;" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">Smart Phone</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>
    

   
</div>