<div class="container">
    <div class="gallery" id="img-1"><img src="https://source.unsplash.com/user/erondu/1600x900"height="150px" width="100%"></div>
    <div class="gallery" id="img-2"><img src="https://source.unsplash.com/collection/190727/1600x900" height="150px" width="100%"></div>
    <div class="gallery" id="img-3"><img src="https://source.unsplash.com/weekly?water" height="150px" width="100%"></div>
    <div class="gallery" id="img-4"><img src="https://picsum.photos/200/300?random=4"height="150px" width="100%"></div>
    <div class="gallery" id="img-5"><img src="https://picsum.photos/200/300"height="150px" width="100%"></div>
    <div class="gallery" id="img-6"><img src="https://picsum.photos/200/300?random=2"  height="150px" width="100%"></div>
    <div class="gallery" id="img-7"><img src="https://picsum.photos/200/300?random=1" height="150px" width="100%"></div>
    <div class="gallery" id="img-8"><img src="https://picsum.photos/200/300?random=6"height="150px" width="100%"></div>
    <div class="gallery" id="img-9"><img src="https://picsum.photos/200/300?random=10" height="150px" width="100%"></div>
    <div class="gallery" id="img-10"><img src="https://picsum.photos/200/300?random=9"height="150px" width="100%"></div>
</div>
