<div class="container">
    <h1 class="display-4">Window Height and width</h1>
    <p class="center lead">Try to change windows height and width using Windows object</p>
</div>
<form>
    <div class="form-group">
        <button class="btn btn-danger btn-block " onclick="myHeight()">Click Here Show  window the height</button>
        <button class="btn btn-info btn-block " onclick="mywidth()">Click Here Show window the width</button>

        <button class="btn btn-success btn-block " onclick="mywidth()">Click Here Show window the width</button>



    </div>
</form>
