<h1 style="text-align: center;">Report Card</h1>
<hr>
<br>
<div class="container">
    <table class="table table-bordered" style="table-layout:fixed;word-wrap: break-word;">
        <tr>
            <th colspan="6"> <img src="../../../../assets/img/college-logo.png" id="college-logo" alt="" height="150px" width="150px" style="display: inline-block"><h1 style="display: inline-block; height: 100px;margin-top: 40px;margin-left: 40px;">DA-IICT</h1></th>
        </tr>
        
        <tr>
            <td colspan="2">Student Name: </td>
            <td colspan="4">Milit Panchasara</td>
        </tr>
        <tr>
            <td colspan="2">Student ID:</td>
            <td colspan="4">201601166</td>
        </tr>

        <tr>
            <td style="text-align: right;">Date:</td>
            <td colspan="2">25, December, 2020</td>
            <td style="text-align: right;">Semester:</td>
            <td colspan="2">Semester VIII (2019-20 Winter)</td>
        </tr>
        <tr class="subjects_section" id="subjects_header">
            <th>No.</th>
            <th>Course Title</th>
            <th>Course Code</th>
            <th>Marks (out of 100)</th>
            <th>Grades</th>
            <th>Remarks</th>
        </tr>
        <tr class="subjects_section" >
            <td>1</td>
            <td>Data structures</td>
            <td>IT803</td>
            <td>100</td>
            <td>AA</td>
            <td></td>
        </tr>
        <tr class="subjects_section" >
            <td>2</td>
            <td>DBMS</td>
            <td>IT812</td>
            <td>87</td>
            <td>AB</td>
            <td></td>
        </tr>
        <tr class="subjects_section" >
            <td>3</td>
            <td>Operating Systems</td>
            <td>IT809</td>
            <td>83</td>
            <td>AB</td>
            <td></td>
        </tr>
        <tr>
            <th colspan="3" style="text-align: right;">Total Marks:</th>
            <th colspan="1" id="subjects_total">270</th>
            <th id="overall_grade_label">Overall Grade</th>
            <th id="overall_grade">AB</th>
        </tr>
    </table>
</div>
<br>
<hr>
<footer>
    <span >&copy; <i>DAIICT, Gandhinagar.</i></span>
</footer>

<hr>