<h1>Hirerachy of managers</h1>
<div class="manager">
    <ul style="list-style-type:circle;">
        <li>HR manager
            <ol type="A">
                <li>SR. HR manager
                    <ol type="1">
                        <li>MR. abhinav gupta</li>
                        <li>MRS. Shekha Patel</li>
                    </ol>

                </li>
                <li>Assistant HR manager
                    <ol type="1">
                        <li>MR. Rajesh pillai</li>
                        <li>MRS. Puja Patel</li>
                    </ol>
                </li>
            </ol>

        </li>
        <li>Finance Manager

            <ol type="A">
                <li>SR. Manager
                    <ol type="1">
                        <li>MR Rakesh Verma</li>
                    </ol>
                </li>
                <li>Assistant Finannce Employees
                    <ol type="1">
                        <li>MR. Jagdish parmar</li>
                        <li>MR. Navneet sardar</li>
                        <li>MR. jagraj lodha</li>
                    </ol>

                </li>

            </ol>

        </li>
        <li>Head of delivery
            <ul style="list-style-type: square;">
                <li>Mr. Varix Patel</li>
            </ul>
        </li>
        <li>Network maanger
            <ol type="A">
                <li>SR. Analyst
                    <ol type="1">
                        <li>MR. Sapan verma</li>
                        <li>MR. nehal Patel</li>
                    </ol>
                </li>
                <li>JR. Analyst
                    <ol type="1">
                        <li>MR. Dip Mistry</li>
                        <li>MR. Navneet Singha</li>
                        <li>MR. Tapan lodha</li>
                    </ol>

                </li>

            </ol>
        </li>


    </ul>
