
#logo{
    text-align: center;
    color: aqua;
}
.black{
    background-color: rgba(0, 0, 0, 0.863);
    text-align: center;
    padding-top: 25px;
}
.black a{
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-left: 30px;
}
a:hover{
    font-weight: bold;
}
nav{
    height: 50px;
}
.div1{
    padding-top: 20px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.863);
     text-align: center;
     color: white;
}
#btn1{
    background-color:rgb(78, 253, 244);
    border: none;
    color: white;
    margin-left: 15px;
    height: 30px;
    width: 100px;
}

.div2{
    float: left;
    height: 150px;
    width: 28%;
    margin-left: 2  5px;
    padding: 10px;
}
#html5{
    text-decoration: underline;
}
.ml{
    margin: 15px;
    padding: 5px;
    margin-left: 10% ;
}
.div2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center-align{
    text-align: center;
}
hr{
    background-color: grey;
    margin-left: 200px;
    margin-right: 200px;
    
}
.font-weight-light{
    font-weight: 300;
    color: grey;
    font-family: 'Times New Roman', Times, serif;
}
.bg-grey{
    background-color: rgba(242,242,242,242);
    display: block;
    height: 170px;
}
#font-family{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.fl{ float: left;}
.div3{
    width: 42%;
    padding: 40px;
}
.div3 img{ float: left; margin-right: 10px;}

.ml-div3{
    margin-left: 175px;
}
.div4{
    
    height: 200px;
    margin-left: 400px;
}
#inline{ 
    display: inline;
    text-align: center;
}
.section-1{
    height: 100px;
}
.section-2{
    height: 400px;
}
.section-3{
    height: 60px;   
}

.section-4{
    height: 300px;
    margin-top: 100px;
    padding-top: 100px;
}
.div5 {
    height: 100%;
    width: 40%;
    float: left;
    margin-left: 6%;
}
.div6 {
    float: left;
    margin-left: 13%;
}
.div7{
    float: left;
    margin-left: 13%;
}


#btn3{
    
    height: 40px;
    background-color: gray;
    border: none;
    border-radius: 6px;
    width: 200px;
    padding: 2px;
}
footer{
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}