<section>
    <div class="row">
        <div class="col-lg-3 pt-5 " style="background-color: coral;;">
         <ol class="ml-5">
         <li><i class="fas fa-folder-open"></i> Day-5
             <ul>
                 <li><i class="fas fa-folder-open"></i> Practice Exercise
                     <ol class="text-white"> 
                         <li><a class="text-white"  style="text-decoration: none;"  routerLink="floatProperty" routerLinkActive="text-dark">FLoat Propery</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="basiclayout" routerLinkActive="text-dark">Basic Layout</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="overflowwithscroll" routerLinkActive="text-dark">Overflow With scroll</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="overflowwithhidden" routerLinkActive="text-dark">Overflow With Hidden</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="overflowwithvisible" routerLinkActive="text-dark">Overflow With Visibe</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="positionproperty" routerLinkActive="text-dark">Position Property</a></li>
                         
                     </ol>
                 </li>
                 <li class="text-dark"><a class="text-dark" routerLink="Day5Assignment"      style="text-decoration: none;"><i class="fas fa-folder-open"></i>Assingment</a></li>
             </ul>
         </li>
         <li><i class="fas fa-folder-open"></i> Day-6
             <ul>
                 <li><i class="fas fa-folder-open"></i> Practice Exercise
                     <ol class="text-white"> 
                         <li><a class="text-white"  style="text-decoration: none;" routerLink="Day6Practice1" routerLinkActive="text-dark">Excerise-1</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="Day6Practice2" routerLinkActive="text-dark">Excerise-2</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="Day6Practice3" routerLinkActive="text-dark">Excerise-3</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="Day6Practice4" routerLinkActive="text-dark">Excerise-4</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="Day6Practice5" routerLinkActive="text-dark">Excerise-5</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="Day6Practice6" routerLinkActive="text-dark">Excerise-6</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="Day6Practice7" routerLinkActive="text-dark">Excerise-7</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="Day6Practice8" routerLinkActive="text-dark">Excerise-8</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="Day6Practice9" routerLinkActive="text-dark">Excerise-9</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="Day6Practice10" routerLinkActive="text-dark">Excerise-10</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="Day6Practice11" routerLinkActive="text-dark">Excerise-11</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="Day6Practice12" routerLinkActive="text-dark">Excerise-12</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="Day6Practice13" routerLinkActive="text-dark">Excerise-13</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="Day6Practice14" routerLinkActive="text-dark">Excerise-14</a></li>
                         
                     </ol>
                 </li>
                 <li class="text-dark"><a class="text-dark" routerLink="Day6Assignment" style="text-decoration: none;"><i class="fas fa-folder-open"></i>Assingment</a></li>
             </ul>
         </li>


         <li><i class="fas fa-folder-open"></i> Day-7
             <ul>
                 <li><i class="fas fa-folder-open"></i> Practice Exercise
                     <ol class="text-white"> 
                         <li><a class="text-white"  style="text-decoration: none;"  routerLink="Day7Practice1" routerLinkActive="text-dark">Excerise-1</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="Day7Practice2" routerLinkActive="text-dark">Excerise-2</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="Day7Practice3" routerLinkActive="text-dark">Excerise-3</a></li>
                         <li><a class="text-white" style="text-decoration: none;"  routerLink="Day7Practice4" routerLinkActive="text-dark">Excerise-4</a></li>                              
                     </ol>
                 </li>
                 <li class="text-dark"><a class="text-dark" routerLink="Day7Assignment" style="text-decoration: none;"><i class="fas fa-folder-open"></i>Responsoive Layout</a></li>
             </ul>
         </li>

         <li><i class="fas fa-folder-open"></i> Day-8
             <ul>
                 <li><i class="fas fa-folder-open"></i> Practice Exercise
                     <ol class="text-white"> 
                         <li><a class="text-white"  style="text-decoration: none;"  routerLink="Day8Practice1" routerLinkActive="text-dark">Excerise-1</a></li>                             
                     </ol>
                 </li>
                 <li class="text-dark"><a class="text-dark" routerLink="Day8Assignment" style="text-decoration: none;"><i class="fas fa-folder-open"></i>Grid  Layout</a></li>
             </ul>
         </li>
     </ol>
        </div>
        <div class="col-lg-9 pt-5">
           <router-outlet></router-outlet>
        </div>

    </div>
</section>

<footer style="background-color: coral; " class="text-white text-center py-4">
         <p>Copywrite &copy; All Write Reserved</p>
</footer>