body{
    margin: 0;
}
.Main-container{
    width: 100%;
}
.Main-container img{
width: 100%;
}
.first-article{
font-size: 1.2rem;
padding: 20px 30px;
}
.first-article button{
font-size: 1.2rem;
padding: 10px 5px;
}
.second-article{
font-size: 1.2rem;
}
.second-info{
padding: 10px 30px;
}
.third-article{
width: 100%;
font-size: 1.2rem;
text-align: center;
/* background-color: red; */
}
.third-article h1{
padding: 0px 30px;
}
.third-info
{
padding: 30px;
}
.fourth-article{
width: 100%;
font-size: 1rem;
}
.fourth-article h1{
padding:0px 30px;
}
.fourth-article hr{
width: 85%;
}
.fourth-article img{
height: 200px;
width: 315px;
}
.fourth-info{
font-size: 1.2rem;
padding: 0px 30px;
}
.fourth-info2{
font-size: 1.2rem;
padding: 0px 30px;
}
.fourth-article ul li{
margin: 3px 10px;
list-style-type:square;
}
.bor{
padding-left: 20px;
border-left: 5px solid gray;
}
.five-bar{
padding: 10px 30px;
font-size: 1.2rem;
}
.five-bar img{
height: 538;
width: 316px;
}
.six-bar{
padding: 10px 30px;
font-size: 1.2rem;
}
.six-bar img{
width: 20%;
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
body {
margin: 0%;
}
.first-article{
font-size: 1rem;
}
.first-article button{
font-size: 0.7rem;
padding : 10px 30px;
background-color: rgb(99, 160, 38);
color: white;
}
.second-article{
font-size: 1rem;
}
.third-article {

width: 100%;
font-size: 1rem;
text-align: left;

}
.third-info{
width: 39%;
float: left;
}
.fourth-article{
font-size: 1rem;
}
.fourth-article ul {
padding-left: 50px;
}
.fourth-info{
font-size: 1rem;
}
.fourth-info p{
padding: 10px 50px;
}
.fourth-info2{
font-size: 1rem;
}
.fourth-info img{
width: 315px;
height: 200px;
float: left;
}
.five-bar{
width: 100%;
}
.five-bar img{
width: 538px;
height: 316px;
}
.six-bar{
overflow: hidden;
}

}