html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    color: blue;
    text-align: center;
    width: 100%;
    height: 65px;
}

#ul1 {
    list-style-type: none;
    background-color: black;
    margin: auto;
    padding: 0px;
    width: 100%;
    height: 65px;
}

    #ul1 li {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 20px 30px;
        font-size: 15px;
        text-decoration: none;
    }

        #ul1 li:hover {
            color: blue;
        }

.img1 img {
    display: block;
}

.tag {
    width: 100%;
    height: 65px;
    background-color: black;
}
.tag_p p{
    padding-top: 30px;
    font-size: small;
    font-weight: bold;
    color: white;
    text-align: center;
}
.container {
    display: flex;
}

.imp {
    margin-top: 75px;
    width: 25%;
}

    .imp img {
        margin-left: 140px;
    }

.imp_header {
    margin: 10px;
    text-align: center;
    font-weight: bold;
}

.text {
    text-align: center;
}

.sub_conatiner {
    margin-top: 90px;
    background-color: lightgrey;
    height: 280px;
}

    .sub_conatiner hr {
        width: 68%;
    }

.sub_header {
    padding-top: 95px;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

.sub_subtitle {
    font-size: large;
    text-align: center;
}

.upper_products_container {
    margin-top: 70px;
}

.product1 {
    margin-left: 19%;
}

    .product1 img {
        float: left;
        margin-right: 25px;
    }

.product_desc_container1 {
    width: 125%;
    padding-bottom: 4px;
    margin-right: 200px;
}

.product_title1 {
    padding: 5px;
    font-weight: bold;
}

.product_desc1 {
    margin-left: 50px;
}

.product2 img {
    float: left;
    margin-right: 25px;
}

.product_desc_container2 {
    width: 150%;
    padding-bottom: 4px;
}

.product_title2 {
    padding: 5px;
    font-weight: bold;
}

.product_desc2 {
    margin-left: 50px;
}

.upper_products_container {
    display: flex;
}

.quest_div {
    background-color: cornflowerblue;
    width: 100%;
    height: 124px;
    margin-top: 70px;
}

.quest_header {
    padding-top: 40px;
    font-size: xx-large;
    font-weight: bold;
    color: white;
    text-align: center;
}

.footer_div {
    background-color: lightgray;
    width: 100%;
    display: inline-block;
}

.footer_list1 {
    font-size: 15px;
    float: left;
    /*background-color: lightpink;*/
    width: 25%;
}

.footer_list1_header {
    padding-top: 70px;
    font-weight: bold;
    margin-left: 25%;
}

.footer_list1 ul {
    list-style-type: none;
    margin-left: 13.35%;
    width: 85%;
}

    .footer_list1 ul li {
        padding: 5px 0;
    }

.footer_list2_header {
    padding-top: 70px;
    font-weight: bold;
    margin-left: 27.56%;
}

.footer_list2 ul {
    list-style-type: none;
    margin-left: 25%;
}

    .footer_list2 ul li {
        padding: 5px 0;
    }

.footer_lists {
    margin-left: 13.7%;
}

.footer_list2 {
    font-size: 15px;
    /*background-color: lightgreen;*/
    width: 46%;
}

.get_in_touch {
    background-color: lightsalmon;
    width: 30%;
    float: left;
}

.get_in_touch_header {
    padding-top: 70px;
    font-weight: bold;
    margin-left: 2px
}
