.theme-dark{
    margin: 0%;
    background-color: black;
}
.header{
    margin-top: 3%;
    /* background-color: brown; */
}
.header a{
    display: inline;
    padding: 15px;
    margin: 10px;
    color: white;
    float: right;
    font-family: cursive;
    font-weight: 500 bold;
    
}
.header img{
    padding: 1px 70px;
}