<div class="mx-2 my-3">
    <div class="card p-4 mb-4 shadow">
        <h6>Top Companies Hiring</h6>
        <hr>
        <div class="row">
            <div class="col">
                <img src="../../../assets/img/LoginHomePage/amazon-120X45.gif" alt="" class="py-1">
                <img src="../../../assets/img/LoginHomePage/tata--technologies_120X45_3152016.gif" alt="" class="py-1">
                <img src="../../../assets/img/LoginHomePage/89589.gif" alt="" class="py-1">
                <img src="../../../assets/img/LoginHomePage/cog-120X45-242015.gif" alt="" class="py-1"><br>
                <a href="" class="text-decoration-none">Accenture</a><br>
                <a href="" class="text-decoration-none">BMC Software India Pvt. Ltd.</a><br>
                <a href="" class="text-decoration-none">Brillio Technologies</a><br>
                <a href="" class="text-decoration-none">GlobalEdge Software</a><br>
                <a href="" class="text-decoration-none">Headstrong</a><br>
                <a href="" class="text-decoration-none">Hinduja Global Solutions (HGS)</a><br>
                <a href="" class="text-decoration-none">Ingram Micro (I) Pvt Ltd.</a><br>
                <a href="" class="text-decoration-none">RR Donnelley</a><br>
                <a href="" class="text-decoration-none">Synchrony Financial</a><br>
                <a href="" class="text-decoration-none">Visionary RCM Infotech (India) Private Limited</a>
            </div>
            <div class="col">
                <img src="../../../assets/img/LoginHomePage/ibm-120X45-882016.gif" alt="" class="py-1">
                <img src="../../../assets/img/LoginHomePage/shell_120X45_22122016.gif" alt="" class="py-1">
                <img src="../../../assets/img/LoginHomePage/schlumberger-120x45-24jan2017 (1).gif" alt="" class="py-1">
                <img src="../../../assets/img/LoginHomePage/infosys-120x45-03042015.gif" alt="" class="py-1"><br>
                <a href="" class="text-decoration-none">Aspire Systems</a><br>
                <a href="" class="text-decoration-none">BRAVURA SOLUTIONS INDIA LLP</a><br>
                <a href="" class="text-decoration-none">Espire Infolabs</a><br>
                <a href="" class="text-decoration-none">Harman Connected Services Corporation India Pvt. Ltd</a><br>
                <a href="" class="text-decoration-none">Ajuba Solutions India Pvt. Ltd.</a><br>
                <a href="" class="text-decoration-none">ienergizer</a><br>
                <a href="" class="text-decoration-none">McKinsey Business Presentation Design</a><br>
                <a href="" class="text-decoration-none">Scientific Publishing Services</a><br>
                <a href="" class="text-decoration-none">Tata Business Support Services</a><br>
                <a href="" class="text-decoration-none">Williams Lea</a>
            </div>
        </div>
        <a href="" class="text-end text-decoration-none">VIEW ALL</a>
    </div>
</div>
