<div class="container">
    <!--Rectangle Area-->
    <h3>Calculate Rectangle Area:</h3>
    <div class="form-group">
        <label for="exampleInputNum1">Number1</label>
        <!--Two way binding for number-->
        <input [(ngModel)] = "Num1" type = "number"  class="form-control">
    </div>
    <div class="form-group">
        <label for="exampleInputNum2">Number2</label>
        <!--Two way binding for number-->
        <input [(ngModel)] = "Num2" type="number" class="form-control">
    </div>
    <!--Event binding-->
    <button type="submit" class="btn btn-primary" (click)="calculate()">Calculate Area</button>
    <br><br>
    <!--String interpolation-->
    <h5>Area of Rectangle of sides {{Num1}} & {{Num2}} = {{Result}}</h5>

</div>
