<div class="mt-2">
    <div class="card p-4 shadow-sm">
        <h5 class="mb-4">Services for Recruiters</h5>
        <div class="font-weight-bold">Naukri Employer Zone</div>
        <p>End your hunt for the perfect employee</p>
        <div class="font-weight-bold">Search CVs for Free now</div>
        <p>Find the right candidate</p>
        <div class="font-weight-bold">Naukri Job Posting Services and Resume Database Access</div>
        <p>Call 1800-102-2558 for Employer products</p>
        <div class="font-weight-bold">Campus Hiring Solutions</div>
        <p>Optimize your Fresher Hiring</p>
        <div class="font-weight-bold">Naukri RMS</div>
        <p>Automate your end to end hiring proces</p>
    </div>
</div>
