<p class="h3 font-weight-normal pl-3">Similar Products</p>


<div class="table-responsive my-3 text-secondary">
    <tr>
       <td *ngFor= "let l of  products" class="imgShadow">
            <a>
                <img *ngIf="l.productId!=product.productId" class="mx-2 imgHeight" src="../../../{{l.imgPath}}" (click)='productClick(l.productId)' alt="">
            </a>
       </td> 
    </tr>
    <tr>
        <td *ngFor = 'let l of products' class="text-center">
            <span *ngIf="l.productId!=product.productId" >{{l.productName}}</span>
        </td>
    </tr>
</div>