<div class="wrapper">
    <!-- Page Content -->
    <div id="content" class="w-100">
       
        <div class="container">
            <h1 class="h4">Check Whether string is blank or not?</h1>
            <form>
                <div class="form-group">
                    <label for="str">Enter your string</label>
                    <input type="text" id="str">
                </div>
                <button class="btn btn-primary" type="submit" onclick="return checkString()">Check</button>
            </form>
            <p id="demo"></p>

            <h1 class="h4">Split a string into array of words</h1>
            <form>
                <div class="form-group">
                    <label for="str">Enter your Address</label>
                    <textarea name="" id="address" cols="50" rows="4"></textarea>
                </div>
                <button class="btn btn-primary" type="submit" onclick="return splitWords()">Split</button>
            </form>
            <p id="demo1"></p>
            
            <h1 class="h4">Extract specified number of characters from a string</h1>
            <form>
                <div class="form-group">
                    <label for="userstr">Enter your String</label>
                    <input type="text" name="" id="userStr">
                </div>
                <button class="btn btn-primary" type="submit" onclick="return specifiedChar()">Click to get 6 chars</button>
            </form>
            <p id="demo2"></p>

            <h1 class="h4">Click here to get current date</h1>
            <button class="btn btn-primary" type="submit" onclick="return clickForDate()">Date?</button>
            <p id="demo3"></p>
        </div>
    </div>
</div>