<div class="mt-5">
    <div class="card shadow-sm">
        <div class="row">
            <div class="col-9" id="CardBody">
            <h4 id="FindJobHeading" class="pt-5 pl-5 pb-4">Find A Job at India's No.1 Job Site</h4>
                <div class="card-body">
                    <form class="form-inline pl-4 pb-4">
                                <div class="input-group px-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-white"><i class="fas fa-search px-2"></i></span>
                                    </div>
                                    <input #searchBox type="text" class="form-control py-4" placeholder="Skills, Designation, Companies" (input)="search(searchBox.value)">
                                </div>
                                <div class="input-group px-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-white"><i class="fas fa-map-marker-alt px-2"></i></span>
                                    </div>
                                    <input type="text" class="form-control py-4" placeholder="Enter Locations...">
                                </div>
                                <button class="search btn btn-primary mx-2 px-5" (click)="searchJobs()">Search</button>
                    </form>
                </div>
            </div>
            <div class="col vertical px-3" id="PersonalisedJob"> 
                <h5 class="pt-5">Get Personalised Jobs !!</h5>
                <p>Tell us what kind of a job you are looking out for and stay updated with latest opportunities.</p>
                        <button class="btn register p-2 mr-2">Register For Free</button>
                        <button class="btn border border-primary bg-light text-primary px-4 p-2" (click)="openFile()">Upload CV
                            <input type="file" style="display:none" (change)="handle($event)" id="upload">
                        </button>
                <p class="tab">Max 2MB, doc, docx, rtf, pdf</p>
            </div>
        </div>
    </div>
</div>
