<html>

<head>

    <title>Practice</title>
    <!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
   


</head>

<body>

    <div class="container-fluid">
        <div class="row py-3">
            <div class="col-lg-8">
    <button class = "bg-primary" onclick="result()" >Result</button>
</div>
</div>
</div>
    <script type="text/javascript">
        var num1 = parseInt(prompt("Enter Number1 : "));
        var num2 = parseInt(prompt("Enter Number2 : "));
        var num3 = parseInt(prompt("Enter Number3 : "));
        var total = 0;
        function result() {
            if (num1 > 40) {
                total = total + num1;
            }
            if (num2 > 40) {
                total = total + num2;
            }
            if (num3 > 40) {
                total = total + num3;
            }
            document.write("Sum is:" + total);
        
            if (num1 > num2 && num1 > num3) {
                document.write("<br>Number1 is greater");
            }
            else if (num2 > num1 && num2 > num3) {
                document.write("<br>Number2 is greater");
            }
            else {
                document.write("<br>Number3 is greater");
            }
        }

    </script>

</body>


</html>