
<app-carousel-index></app-carousel-index>
<app-section3></app-section3>
<app-section4></app-section4>
<app-section5 [Description]='"Amazon Top Seller"'></app-section5>
<app-section6></app-section6>
<app-section5 [Description]='"Amazon Top Seller"'></app-section5>

<app-section5 [Description]='"Amazon Top Seller"'></app-section5>

<app-section5 [Description]='"Amazon Top Seller"'></app-section5>
<!-- <p *ngFor='let l of productAr'>
    {{l.productId}}
    {{l.productName}}
    <img height="100px" src="../../../{{l.imgPath}}" alt="">

    {{l.productPrice}}
</p> -->
<app-footer></app-footer>
