html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: dimgray;
}
.grid-container_menubar
{
    display: grid;
    padding: 10px;
    grid-template-columns: auto;
    gap: 5px;
}
.logo
{
    color: limegreen;
    font-size: 30px;
    height: 40px;
}
.menu
{   
    height: 50px;
    text-align : right;
    font-size: 10px;
    color: dimgray;
    text-align: left;
    border-top: 1px solid dimgray;
    border-bottom: 1px solid dimgray;
}
nav a{
    text-decoration: none;
    font-size: 9px;
    color: dimgray;
}
.mainimg{
    padding: 10px;
}
.data01, .data02 ,.data03, .data04{
    padding: 10px 30px;
    margin: 10px 10px;
    border-bottom: 1px solid dimgray ;
}
.download{
    background-color: green;
    height: 30px;
    width: 150px;
    border-radius: 1mm;
}

.alldata{
    display: grid;
    grid-template-columns: auto;
 
}
.recent{
    border-bottom: 1px dotted dimgray;
    margin: 100px 0px 0px 10px;  
}
.allwork{
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    gap: 30px;
}
.works01, .works02, .works03, .works04{
    padding: 10px;
    text-align: center;
}
.workimg , .shotimg{
    width: 100%;
}
.welcome{
    display: grid;
    padding: 10px;
    grid-template-columns: auto;
    
}
.shots{
    padding-top: 20px;
}
.welcomeboth{
    display: grid;
    gap: 10px;
    grid-template-columns: auto;
}

.welcome_shot{
    display: grid;
    padding: 10px;
    grid-template-columns: auto;
}
.client{
    padding: 10px;
}
.cliimg{
    height: 50px;
    background-image: url("logo9.png");
}
.footer{
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    grid: 10px;
    background-color: rgb(44, 44, 44);
    color: whitesmoke;
}
.post,.aboutus{
    padding: 15px;
}
.contact{
    text-align: center;
    padding: 15px;
}
.contact p{
    font-size: 20px;
}
.footerlogo{
    margin-top: 30px;
}
.footerlogo h1{
    color: forestgreen;
}
.social{
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    background-color: black;
}
.text{
    text-align: center;
}
.icons{
    text-align: center;
}
.icons > span{
    margin-left: 20px;
} 
@media only screen and (min-width: 768px)
{
    .grid-container_menubar
    {
        grid-template-columns: auto auto;
    }
    .menu
    {
        text-align: right;
        border: none;
    }
    .allwork{
        grid-template-columns: auto auto ;
    }
    
    .welcomeboth{
        grid-template-columns: auto auto;
    }
    .welcomehead{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .footer{
        grid-template-columns: auto auto;
    }
    .footerlogo{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .post{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
}
@media only screen and (min-width: 991px)
{
    .logo{
        font-size: 40px;
        height: 60px;
        padding-top: 25px;
    }
    .menu a{
        font-size: 20px;
    }
    .menu{
        font-size: 20px;
        height: 100px;
    }
    .alldata{
        grid-template-columns: auto auto auto;
        
    }
    .data02 ,.data03, .data04{
        border: none;
    }
    .allwork{
        grid-template-columns: auto auto auto auto;
    }
    .welcome_shot{
        grid-template-columns:60% auto;
    }
    
    .welcomeimg{
        height: 250px;
    }
    .footer{
        grid-template-columns: 25% auto auto auto;
    }
    .footerlogo{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .post{
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .social{
        grid-template-columns: auto auto;
    }
    .text{
        padding-left: 50px;
        text-align: left;
    }
    .icons{
        padding-right: 50px;
        text-align: right;
    }
}