
    <div class="ml-5 mb-2 container">
    <form action="#"  method="POST">
        <label >Employee Name :</label>
        <input type="text" name="name" id="" required> <br><br> 
        <label>Age :</label>
        <input type="number" name="age" id="" required max="100" min="0"><br><br> 
        <label >Gender :</label>
        <input type="radio" name="gender" required><span>Male</span>
        <input type="radio" name="gender" required><span>Female</span><br><br>
        <label>Designation :</label>
        <input type="text" name="name" id="" required> <br><br>
        <label>Salary :</label>
        <input type="number"  required><br><br>
        <label>Location :</label>
        <select required>
            <option value="1">Gujarat</option>
            <option value="2">kolkata</option>
            <option value="3">Maharastra</option>
            <option value="4">Rajestan</option>
            <option value="5">Channai</option>
        </select><br><br>
        <label >Email :</label>
        <input type="email"  required><br><br>
        <label>Date of Joining : </label>
        <input type="date" required><br><br>
        <label>Contact Number :</label>
        <input type="tel" required maxlength="10"><br><br>
        
        <input type="submit" value="submit">
        <br>
    </form>
</div>
