<div class="wrapper">
    <!-- Page Content -->
    <div id="content" class="w-100">
        
        <div class="px-5 pt-2">
            <div class="navbarNew">
                <a href="#">About</a>
                <a href="#">Places</a>
                <a href="#">Images</a>
                <a href="#">More</a>
            </div>
            <div>
                <img src="../../assets/images/img1.jpg" alt="nature img" style="width: 100%;">
            </div>
            <footer class="mt-0">
                <h5>this is footer area</h5>
            </footer>
        </div>
    </div>
</div>
