<div class="mt-5 pt-3 mx-4" id="displayUpdateProfile">
    <div class="row">
        <div class="col-8">
            <app-find-job></app-find-job>
        </div>
        <div class="col">
            <div class="mt-5">
                <div class="card text-center px-4 pb-4">
                    <img src="" alt=""><i class="fas fa-user-alt fa-3x mx-auto p-3 text-white rounded-circle"></i>
                    <ng-container *ngFor="let js of jobSeeker">
                       <h5>{{ js.data.jobSeekerFirstName }} {{ js.data.jobSeekerLastName }}</h5> 
                       <ng-container *ngFor="let i of js.data.jobSeekerEducations">
                            <p>{{ i.jobSeekerField }} at {{ i.jobSeekerCollege }}</p> 
                       </ng-container>
                    </ng-container>
                    <button class="btn btn-primary" (click)="updateProfile()">Update Profile</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <app-jobs></app-jobs>
            <app-recruiters></app-recruiters>
        </div>
        <div class="col">
            <app-top-companies-hiring></app-top-companies-hiring>
            <app-fast-forward></app-fast-forward>
        </div>
    </div>
</div>

<router-outlet></router-outlet>