<div class="wrapper">
    <!-- Page Content -->
    <div id="content">
        
        <div class="px-5 pt-2">
            <div class="main-container1">
                <header>
                    <h3>This is the header part</h3>
                </header>
                <div class="left-section">
                    <h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi voluptas dicta assumenda suscipit repellat, placeat quisquam fugit inventore eligendi numquam nam alias, magnam iste animi neque. Libero sunt tenetur sapiente?</h5>
                </div>
                <div class="middle-section">
                    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. In necessitatibus nemo excepturi dolorum quos ab atque delectus incidunt. Neque temporibus consequuntur quam quis, ipsa alias accusantium incidunt pariatur ducimus labore.</h5>
                    <div class="absolute-section-1">
                        <h5>This is the position:absolute section </h5>
                        <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, esse voluptas? Cumque, perspiciatis, magni vero laudantium nostrum iste illum odit tempore est possimus amet voluptatibus sequi illo qui distinctio dolor.Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quia ab, beatae sed veniam laboriosam odit ratione unde laborum, non iste quod eos. Praesentium harum aliquam quia impedit adipisci tempora?</h6>
                    </div>
                    <div class="absolute-section-2">
                        <h5>This is the position:absolute section </h5>
                        <h6>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae non asperiores enim quibusdam vel accusantium quasi voluptate? Aspernatur sapiente, iure earum reiciendis ipsam quas, vel aut quasi repellat incidunt rem.Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quia ab, beatae sed veniam laboriosam odit ratione unde laborum, non iste quod eos. Praesentium harum aliquam quia impedit adipisci tempora?</h6>
                    </div>
                </div>
                <div class="right-section">
                    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ut deserunt molestiae laudantium tenetur quos repellendus quo eaque esse, expedita optio ea perspiciatis maxime eveniet, reiciendis obcaecati. Maiores, quam nostrum!</h5>
                </div>
                
                <div class="fixed-section">
                    <h5>This is the position:fixed section</h5>
                </div>
                <img src="assets/images/css3.png" alt="CSS img" class="pimg" height="100" width="100">

            </div>
        </div>
    </div>

</div>
