*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 100%;
                
}
.header{
    width: 100%;
    /* height: 11%; */
}
.logo_title{
    float: left;
    padding-top: 25px;
    padding-left: 6px;
    color: darkgreen;
    font-size: 25px;
}
.main .nav{
    padding-top: 25px;
    float: right;
    font-size: 30px;
}
label{
    display: block;
    cursor: pointer;
}
.menu{
    text-align: center;
    width: 100%;
    display: none;

}
#toggle{
    display: none;
    font-size: 40px;
}
.menu a{
        display: block;
        border-bottom: 1px solid;
        margin: 0;
} 
#toggle:checked + .menu{
    display: block;
}
.slider{
    width: 100%;
    /* height: 70%; */
    border: 2px solid black;
}
.slider_img{
    width: 100%;
}
.download-section{
    width: 100%;
    /* height: 5%; */
    padding-top: 2%;
    background-color: white;
    padding-left: 2%;
    color: gray;
    border-bottom: 2px solid gray;
}
.download-section .download-content{
    width: 70%;
}

p{
    padding-right: 2%;
}
input{
    background-color: green;
    height: 45px;
    width: 130px;
    color: white;
    border: 2px solid green;
}
.content{
    width: 100%;
    
    /* height: 220px; */
    padding-top: 40px;
    background-color: white;
    padding-left: 14px;
    color: gray;
    border-bottom: 2px solid gray;
}
.work{
    color: gray;
    width: 100%;
    background-color: white;
    border: 2px solid white;
}
.work #title{
    padding-top: 40px;
    color: gray;
    padding-left: 14px;
    border-bottom:1px dashed gray ;
}
.box{
    /* height: 150px; */
    width: 300px;
    margin: 0px 15px 25px 30px;
    text-align: center;
    background-color: gray;
}
.box p{
    padding-top: 65px;
    color: black;
}
.work_content {
    color: gray;
    margin-left: 20px;
}
.work_content h1{
   text-align: center;
} 
#tmp{
   margin-left: 30px;
}
.work ul {
list-style: none;   
font-size: 20px;   
margin-left: 30px;
}
.work ul li span{
   color: green;
   font-size: 25px;
   font-weight: bolder;
}
#ceo{
   border-left: 2px solid gray;
   padding-left: 20px;
}
.client ul li {
   display: inline;
   margin-left: 20px;
}
.client ul li img{
    height: 50px;
    width: 55px;
    

}
.footer{
   background-color: black;
   width: 100%;
   opacity: 0.8; 
    color: white;
    padding-left:14px; 
    
}
.footer h1 {
   padding-top:10px;
   color: green;
   
}
.footer h2 {
   color: white;
   font-weight: bolder;
   border-bottom: 2px dashed white;
}
.footer ul li{
list-style: none;   
border-bottom: 2px solid white;
}
.contact_us{
   text-align: center;
}
.contact_us #contact{
   text-align: center;
}
#phone {
   color: rgb(35, 179, 35);
}
.social{
   background-color: black;
   text-align: center;
}
.social ul li {
   display: inline;

}